{% extends "model/view.html" %}

{% block fields %}
    {{fields.field(form.name)}}
    {{fields.field(form.is_biocidal, checkbox_label="Product type numbers and active ingredients required on schedule when selected")}}
    {{fields.field(form.is_biocidal_claim, checkbox_label="An additional biocidal claims question is displayed when selected")}}
    {{fields.field(form.is_eu_cosmetics_regulation, checkbox_label="Applicant may add 'responsible person' statement to the issued schedule when selected")}}
{% endblock %}
