{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
  {% include "partial/case/import/sanctions/sidebar.html" %}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('import:sanctions:edit', kwargs={'application_pk': process.pk}) }}"
          class="prev-link">
          Application Details
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block form_content %}
  <h4>Sanctions and Adhoc License</h4>
  {{ fields.field(form.commodity) }}
  {{ fields.field(form.goods_description) }}
  {{ fields.field(form.quantity_amount) }}
  {{ fields.field(form.value) }}

{% endblock form_content %}

{% block task_actions %}
  <input type="submit" name="save" class="primary-button button" value="Save"/>
{% endblock task_actions %}
