{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block content_actions %}
    <div class="content-actions">
        <ul class="menu-out flow-across">
            <li>
                <a
                        href="{{ icms_url('import:sanctions:edit', kwargs={'application_pk': process.pk}) }}"
                        class="prev-link">
                    Application Details
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block main_content %}
    {% include "partial/case/save-info-box.html" %}
    <h4>Sanctions and Adhoc Licence</h4>

    {% call forms.form(action='', method='post', csrf_input=csrf_input, enctype='multipart/form-data') -%}

    {{ fields.field(form.document) }}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                name="action"
                class="primary-button button"
                value="Save" />
            </li>
          </ul>
        </div>
      </div>
    </div>

  {%- endcall %}

{% endblock main_content %}
