{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}


{% block form_content %}

  {% include "partial/case/application-contact-details.html" %}

    <h4>Sanctions and Adhoc License</h4>
    {{ fields.field(form.applicant_reference) }}
    {{ fields.field(form.origin_country) }}
    {{ fields.field(form.consignment_country) }}
    {{ fields.field(form.exporter_name) }}
    {{ fields.field(form.exporter_address) }}

{% endblock form_content %}

{% block task_actions %}

    <input type="submit" name="save" class="primary-button button" value="Save"/>

{% endblock task_actions %}

{% block subtasks %}

        <h4>Goods</h4>

        {% if goods_list %}

            <table responsiveList class="setoutList" id="tbl-search-results">
                <thead>
                <tr>
                    <th>
                        Commodity Code
                    </th>
                    <th>Goods Descriptions</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Value (GBP CIF)</th>
                    <th>Actions</th>
                </tr>
                </thead>

                {% for row in goods_list %}
                    <tr class="result-row">
                        <td>{{ row.commodity }}</td>
                        <td>{{ row.goods_description }}</td>
                        <td>{{ row.quantity_amount }}</td>
                        <td>{{ row.unit_description }}</td>
                        <td>{{ row.value }}</td>
                        <td>
                          <a class="link-button button icon-pencil" data-input_action="edit"
                             href="{{ icms_url('import:sanctions:edit-goods', kwargs={'application_pk': process.pk, 'goods_pk': row.pk}) }}"
                          >Edit</a>

                            <form action="{{ icms_url('import:sanctions:delete-goods', kwargs={'application_pk': process.pk, 'goods_pk': row.pk}) }}", method="POST">
                                {{ csrf_input }}
                              <button
                                type="submit"
                                class="link-button icon-bin button tooltipstered"
                                aria-label="Delete"
                                data-confirm="Are you sure you want to delete this record?">Delete
                              </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </table>

        {% else %}
            <div class="info-box info-box-info">
                There are no goods attached
            </div>
        {% endif %}

        {% if show_add_goods %}
          <a class="button small-button" href="{{ icms_url('import:sanctions:add-goods', kwargs={'application_pk': process.pk}) }}">Add Goods</a>
        {% else %}
          <p>Please complete above section before adding goods.</p>
        {% endif %}

        <h4>Supporting Documents</h4>

   {% if supporting_documents %}
     <table class="setoutList">
       <thead>
         <tr>
           <th>Document type</th>
           <th>Uploaded by</th>
           <th>File (size)</th>
           <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         {% for file in supporting_documents %}
         <tr>
           <td>Supporting documents</td>
           <td>
             {{ file.created_by.full_name }}<br>
             {{ file.created_datetime.strftime('%d-%b-%Y %H:%M')}}
           </td>
           <td><a href="{{ icms_url('import:sanctions:view-supporting-document', kwargs={'application_pk': process.pk, 'document_pk': file.pk}) }}">
           {{ file.filename }}</a> {{ file.human_readable_file_size() }}</td>
           <td>
             <form method="post"
                 action="{{ icms_url('import:sanctions:delete-document', kwargs={'application_pk': process.pk, 'document_pk': file.pk}) }}">
               {{ csrf_input }}
               <button
                  type="submit"
                  class="link-button icon-bin button tooltipstered"
                  aria-label="Delete"
                  data-confirm="Are you sure you want to delete this record?">Delete
                </button>
              </form>
           </td>
         </tr>
         {% endfor %}
      </tbody>
     </table>
   {% else %}
     <div class="info-box info-box-info">
         There are no supporting documents attached
     </div>
   {% endif %}

        <a class="button small-button" href="{{ icms_url('import:sanctions:add-document', kwargs={'application_pk': process.pk}) }}">Add Supporting Document</a>

{% endblock subtasks %}
