<ul class="menu-out">

  <h5>Sanctions and Adhoc</h5>

  <li>
    <a href="{{ url('import:create-sanctions') }}">Sanctions and Adhoc License Application</a>
  </li>

  <h5>Firearms and Ammunition</h5>
  <li>
    <a href="#">Deactivated Firearms Licence</a>
  </li>

  <li>
    <a href="{{ url('import:create-oil') }}">Open Individual Licence (OIL)</a>
  </li>

  <li>
    <a href="#">Specific Individual Licence (SIL)</a>
  </li>

  <h5>Wood (Quota)</h5>

  <li>
    <a href="{{ url('import:create-wood-quota') }}">Wood (Quota)</a>
  </li>

</ul>
