<ul class="menu-out">
  {% if fa_application_types %}
    <h5>Firearms and Ammunition</h5>
    {% for application_type in fa_application_types %}
      {{ icms_link(request, application_type.create_application_url, application_type.get_sub_type_display() ) }}
    {% endfor %}
  {% endif %}

  {% if other_application_types %}
    <h5>Other</h5>
    {% for application_type in other_application_types %}
        {{ icms_link(request, application_type.create_application_url, application_type.name ) }}
    {% endfor %}
  {% endif %}
</ul>
