<h4>Case</h4>
<ul class="menu-out">
  <li>
    <a
      class="current-page"
      href="{{ icms_url('import:case-management', args=[process.pk]) }}">
      {{ process.reference or process.pk }}
    </a>
  </li>
  {% if process.process_type == "OpenIndividualLicenceApplication" %}
    <li>
      <a
        href="{{ icms_url('import:fa-oil:manage-checklist', args=[process.pk]) }}">
        Checklist
      </a>
    </li>
    <li>
      <a
        href="{{ icms_url('import:fa-oil:manage-constabulary-emails', args=[process.pk]) }}">
        Constabulary Emails
      </a>
    </li>
  {% elif process.process_type == "SanctionsAndAdhocApplication" %}
    <li>
      <a
        href="{{ icms_url('import:sanctions:manage-sanction-emails', args=[process.pk]) }}">
        Sanction Emails
      </a>
    </li>
  {% elif process.process_type == "WoodQuotaApplication" %}
    <li>
      <a
        href="{{ icms_url('import:wood:manage-checklist', args=[process.pk]) }}">
        Checklist
      </a>
    </li>
  {% elif process.process_type == "DerogationsApplication" %}
    <li>
      <a
        href="{{ icms_url('import:derogations:manage-checklist', args=[process.pk]) }}">
        Checklist
      </a>
    </li>
  {% endif %}
  <li>
    {% with total = process.withdrawals.count(),
            processed = process.withdrawals.exclude(status="open").count() %}
      <a
        href="{{ icms_url('import:manage-withdrawals', args=[process.pk]) }}">
        Application Withdrawals ({{ processed }}/{{ total }})
      </a>
    {% endwith %}
  </li>
  <li>
    {% with total = process.update_requests.count(),
    processed = process.update_requests.exclude(status="OPEN").count() %}
      <a
        href="{{ icms_url('import:manage-update-requests', args=[process.pk]) }}">
        Application Updates ({{ processed }}/{{ total }})
      </a>
    {% endwith %}
  </li>
  <li>
    <a href="{{ icms_url('import:manage-firs', args=[process.pk]) }}">
      {% with
        completed=process.further_information_requests.completed().count(),
        total=process.further_information_requests.exclude(status="DELETED").count() %}

        Further Information Requests ({{ completed }}/{{ total }})
      {% endwith %}
    </a>
  </li>
  <li>
    <a href="{{ icms_url('import:list-notes', args=[process.pk]) }}">
      Case Notes ({{ process.case_notes.completed().count() }}/{{process.case_notes.active().count()}})
    </a>
  </li>
  <li>
    <a href="{{ icms_url('import:prepare-response', args=[process.pk]) }}">Response Preparation</a>
  </li>
  <li>
    <a href="{{ icms_url('import:authorisation', args=[process.pk]) }}">Authorisation</a>
  </li>
</ul>

<h4>Application</h4>
<ul class="menu-out">
  <li>
    <a href="{{ icms_url('import:view-case', args=[process.pk]) }}">
      View Application
    </a>
  </li>
  <li>
    <a href="#">Responses</a>
  </li>
</ul>
