<h4>Case</h4>
<ul class="menu-out">
  <li>
    <a
      class="current-page"
      href="{{ icms_url('case:manage', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}">
      {{ process.reference or process.pk }}
    </a>
  </li>

  {# Specific import application links #}
  {% if process.process_type == "OpenIndividualLicenceApplication" %}
    <li>
      <a
        href="{{ icms_url('import:fa-oil:manage-checklist', kwargs={'application_pk': process.pk}) }}">
        Checklist
      </a>
    </li>
    <li>
      <a
        href="{{ icms_url('import:fa:manage-constabulary-emails', kwargs={'application_pk': process.pk}) }}">
        Constabulary Emails
      </a>
    </li>
  {% elif process.process_type == "SanctionsAndAdhocApplication" %}
    <li>
      <a
        href="{{ icms_url('import:sanctions:manage-sanction-emails', args=[process.pk]) }}">
        Sanction Emails
      </a>
    </li>
  {% elif process.process_type == "WoodQuotaApplication" %}
    <li>
      <a
        href="{{ icms_url('import:wood:manage-checklist', kwargs={'application_pk': process.pk}) }}">
        Checklist
      </a>
    </li>
  {% elif process.process_type == "DerogationsApplication" %}
    <li>
      <a
        href="{{ icms_url('import:derogations:manage-checklist', kwargs={"application_pk": process.pk}) }}">
        Checklist
      </a>
    </li>
  {% elif process.process_type == "DFLApplication" %}
    <li>
      <a
        href="{{ icms_url('import:fa-dfl:manage-checklist', kwargs={"application_pk": process.pk}) }}">
        Checklist
      </a>
    </li>
    <li>
      <a
        href="{{ icms_url('import:fa:manage-constabulary-emails', kwargs={'application_pk': process.pk}) }}">
        Constabulary Emails
      </a>
    </li>
  {% elif process.process_type == "SILApplication" %}
    <li>
      <a
        href="{{ icms_url('import:fa-sil:manage-checklist', kwargs={"application_pk": process.pk}) }}">
        Checklist
      </a>
    </li>
    <li>
      <a
        href="{{ icms_url('import:fa:manage-constabulary-emails', kwargs={"application_pk": process.pk}) }}">
        Constabulary Emails
      </a>
    </li>
  {% elif process.process_type == "OutwardProcessingTradeApplication" %}
    <li>
      <a
        href="{{ icms_url('import:opt:manage-checklist', kwargs={"application_pk": process.pk}) }}">
        Checklist
      </a>
    </li>
  {% endif %}

  {# Common import application links #}
  <li>
    {% with total = process.withdrawals.count(),
            processed = process.withdrawals.exclude(status="open").count() %}
      <a
        href="{{ icms_url('case:manage-withdrawals', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}">
        Application Withdrawals ({{ processed }}/{{ total }})
      </a>
    {% endwith %}
  </li>
  <li>
    {% with total = process.update_requests.count(),
    processed = process.update_requests.exclude(status="OPEN").count() %}
      <a
        href="{{ icms_url('case:manage-update-requests', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}">
        Application Updates ({{ processed }}/{{ total }})
      </a>
    {% endwith %}
  </li>
  <li>
    <a href="{{ icms_url('case:manage-firs', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}">
      {% with
        completed=process.further_information_requests.completed().count(),
        total=process.further_information_requests.exclude(status="DELETED").count() %}

        Further Information Requests ({{ completed }}/{{ total }})
      {% endwith %}
    </a>
  </li>
  <li>
    <a href="{{ icms_url('case:list-notes', kwargs={'case_type': 'import', 'application_pk': process.pk}) }}">
      Case Notes ({{ process.case_notes.completed().count() }}/{{process.case_notes.active().count()}})
    </a>
  </li>
  <li>
    <a href="{{ icms_url('case:prepare-response', kwargs={'case_type': 'import', 'application_pk': process.pk}) }}">Response Preparation</a>
  </li>
  <li>
    <a href="{{ icms_url('case:start-authorisation', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}">Authorisation</a>
  </li>
</ul>

<h4>Application</h4>
<ul class="menu-out">
  <li>
    <a href="{{ icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}">
      View Application
    </a>
  </li>
  <li>
    <a href="#">Responses</a>
  </li>
</ul>
