<h4>Case</h4>

<ul class="menu-out">
  {{ icms_link(request, icms_url('case:manage', kwargs={'application_pk': process.pk, 'case_type': 'import'}), process.get_reference()) }}

  {# Specific import application links #}
  {% if process.process_type == "OpenIndividualLicenceApplication" %}
    {{ icms_link(request, icms_url('import:fa-oil:manage-checklist', kwargs={'application_pk': process.pk}), 'Checklist') }}

    {{ icms_link(request, icms_url('case:manage-case-emails', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'Constabulary Emails') }}

  {% elif process.process_type == "SanctionsAndAdhocApplication" %}
    {{ icms_link(request, icms_url('case:manage-case-emails', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'Sanction Emails') }}

  {% elif process.process_type == "WoodQuotaApplication" %}
    {{ icms_link(request, icms_url('import:wood:manage-checklist', kwargs={'application_pk': process.pk}), 'Checklist') }}

  {% elif process.process_type == "DerogationsApplication" %}
    {{ icms_link(request, icms_url('import:derogations:manage-checklist', kwargs={"application_pk": process.pk}), 'Checklist') }}

  {% elif process.process_type == "DFLApplication" %}
    {{ icms_link(request, icms_url('import:fa-dfl:manage-checklist', kwargs={"application_pk": process.pk}), 'Checklist') }}

    {{ icms_link(request, icms_url('case:manage-case-emails', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'Constabulary Emails') }}

  {% elif process.process_type == "SILApplication" %}
    {{ icms_link(request, icms_url('import:fa-sil:manage-checklist', kwargs={"application_pk": process.pk}), 'Checklist') }}

    {{ icms_link(request, icms_url('case:manage-case-emails', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'Constabulary Emails') }}

  {% elif process.process_type == "OutwardProcessingTradeApplication" %}
    {{ icms_link(request, icms_url('import:opt:manage-checklist', kwargs={"application_pk": process.pk}), 'Checklist') }}

  {% elif process.process_type == "TextilesApplication" %}
    {{ icms_link(request, icms_url('import:textiles:manage-checklist', kwargs={"application_pk": process.pk}), 'Checklist') }}

  {% elif process.process_type == "ISQuotaApplication" %}
    {{ icms_link(request, icms_url('import:ironsteel:manage-checklist', kwargs={"application_pk": process.pk}), 'Checklist') }}

  {% endif %}

  {% set all_vr = process.variation_requests.all() %}
  {% set all_vt_count = all_vr.count() %}
  {% if all_vt_count > 0 %}
    {% set open_vr_count = all_vr.filter(status="OPEN").count() %}
    {% set vr_label = "Variations (" + open_vr_count|string + "/" + all_vt_count|string + ")" %}
    {{ icms_link(request, icms_url('case:variation-request-manage', kwargs={'application_pk': process.pk, 'case_type': 'import'}), vr_label) }}
  {% endif %}

  {# Common import application links #}
  {% with total = process.withdrawals.count(),
          processed = process.withdrawals.exclude(status=process.withdrawals.model.Statuses.OPEN).count() %}
    {{ icms_link(request, icms_url('case:manage-withdrawals', kwargs={'application_pk': process.pk, 'case_type': 'import'}),
                  'Application Withdrawals (' + processed|string + '/' + total|string + ')') }}
  {% endwith %}

  {% with total = process.update_requests.filter(is_active=True).count(),
          processed = process.update_requests.filter(is_active=True).exclude(status="OPEN").count() %}
    {{ icms_link(request, icms_url('case:list-update-requests', kwargs={'application_pk': process.pk, 'case_type': 'import'}),
        'Application Updates (' + processed|string + '/' + total|string + ')') }}
  {% endwith %}

  {% with completed=process.further_information_requests.completed().count(),
          total=process.further_information_requests.exclude(status="DELETED").count() %}
    {{ icms_link(request, icms_url('case:manage-firs', kwargs={'application_pk': process.pk, 'case_type': 'import'}),
        'Further Information Requests (' + completed|string + '/' + total|string + ')') }}
  {% endwith %}

  {{ icms_link(request, icms_url('case:list-notes', kwargs={'case_type': 'import', 'application_pk': process.pk}),
      'Case Notes (' + process.case_notes.active().count()|string + ')') }}

  {{ icms_link(request, icms_url('case:prepare-response', kwargs={'case_type': 'import', 'application_pk': process.pk}), 'Response Preparation') }}

  {% set show_imi_historical = process.status == "COMPLETED" and process.process_type == "SILApplication" and process.imi_submit_datetime %}
  {% if show_imi_detail or show_imi_historical %}
    {{ icms_link(request, icms_url('import:imi-case-detail', kwargs={'application_pk': process.pk}), 'IMI Summary') }}
  {% endif %}

  {% set show_revocation_link = process.status == "REVOKED" or show_revocation %}
  {% if show_revocation_link %}
    {{ icms_link(request, icms_url('case:search-revoke-case', kwargs={'case_type': 'import', 'application_pk': process.pk}), 'Revocations') }}
  {% endif %}

  {% if not readonly_view %}
    {{ icms_link(request, icms_url('case:start-authorisation', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'Authorisation') }}
  {% endif %}

  {# Use to add extra sidebar items in files extending this sidebar #}
  {% block sidebar_extra %}{% endblock %}
</ul>

<h4>Application</h4>
<ul class="menu-out">
  {{ icms_link(request, icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'View Application', "_blank") }}

  {% if process.status in ["COMPLETED", "REVOKED"] %}
    {{ icms_link(request, icms_url('case:ilb-case-history', kwargs={'application_pk': process.pk, 'case_type': 'import'}), "Responses" ) }}
  {% endif %}
</ul>
