{% if not contacts %}
  <div class="info-box info-box-warning">
    There were no details provided on this application of who you bought the items from. Please add at least one person
  </div>
{% else %}
  <table  class="setoutList">
    <thead>
      <tr>
        <th scope="col">Details of who bought from</th>
        <th scope="col">Address</th>
        <th scope="col">Is Dealer?</th>
        {% if not read_only %}
          <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <td>
          {{ contact.get_entity_display() }}<br />
          {{ contact.first_name }}<br />
          {{ contact.last_name or contact.registration_number or "" }}
        </td>
        <td>
          {{ contact.street }}<br />
          {{ contact.city }}
          {% if contact.postcode %}<br />{{ contact.postcode }}{% endif %}
          {% if contact.region %}<br />{{ contact.region }}{% endif %}
          <br />{{ contact.country}}
        </td>
        <td>{{ contact.get_dealer_display() }}</td>
        {% if not read_only %}
          <td>
            <ul class="menu-out">
              <li>
                <a
                  href="{{ icms_url(
                            'import:fa:edit-import-contact',
                            kwargs={'application_pk': process.pk, 'entity': contact.entity, 'contact_pk': contact.pk}) }}"
                  class="button link-button icon-pencil">
                  Edit
                </a>
              </li>
              {% if can_delete %}
              <li>
                <form
                  method="post"
                  action="{{ icms_url(
                            'import:fa:delete-import-contact',
                            kwargs={'application_pk': process.pk, 'entity': contact.entity, 'contact_pk': contact.pk}) }}"
                  class="form-inline">
                  {{ csrf_input }}
                  <button
                    type="submit" class="button link-button icon-bin"
                    data-confirm="Are you sure you want to delete these details of who you bought the items from?"
                  >
                    Delete
                  </button>
                </form>
              </li>
              {% endif %}
            </ul>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if not read_only %}
  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('import:fa:create-import-contact', kwargs={'application_pk': process.pk, 'entity': 'legal'}) }}"
          class="button small-button icon-plus">
        Add Who Bought From (Legal Person)
        </a>
        <a
          href="{{ icms_url('import:fa:create-import-contact', kwargs={'application_pk': process.pk, 'entity': 'natural'}) }}"
          class="button small-button icon-plus">
        Add Who Bought From (Natural Person)
        </a>
      </li>
    </ul>
  </div>
{% endif %}
