<div class="tab-content big-tabs" aria-hidden="false">
    {% if not members %}
    <div class="info-box info-box-info">
        There isn't anyone in this team
    </div>
    {% endif %}
    <table class="setoutList">
        <thead>
            <tr>
                <th>Central Contact Details</th>

                {% for role in roles %}
                <th>
                    <div class="individual-input input-group">
                        <div class="eleven-column-input">
                            <span class="text-widget tight-field" aria-describedby="hint{{role.id}}-content">{{role.short_name}}</span>
                        </div>
                        <div class="input-group-addon hint-addon">
                            <div id="hint{{role.id}}-content" role="tooltip" class="hint-content">{{role.description}}</div>
                            <div id="hint{{role.id}}" aria-describedby="hint{{role.id}}-content" class="hint icon-info"></div>
                        </div>
                    </div>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in members %}
            <tr>
                <input type="hidden" name="members" value="{{user.id}}" />
                <td style="white-space: nowrap">
                    <div class="container setoutForm">
                        <div class="row">
                            <div class="twelve columns bold">
                                <span class="text-widget ">{{user.first_name}} {{user.last_name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <span class="text-widget ">{{user.email or ''}}
                                    <br />
                                    {{user.organisation}}
                                    <br />
                                    {{user.department or ''}}
                                    <br>
                                    {{user.job_title or ''}}
                                    <br>
                                    {{user.phone_number or ''}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns"><span class="text-widget "></span></div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <span class="text-widget"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <button type="button" class="icon-user-minus link-button inline-link-button button no-prompt-action" aria-describedby="remove_from_team_hint" aria-label="Remove">
                                </button>
                                <div id="remove_from_team_hint" role="tooltip" class="hint-content">Remove from this team</div>
                            </div>
                        </div>
                    </div>

                </td>
                {% for role in roles %}
                {% set role_id=role.id|string %}
                {% set has_role=True if user.id in role_members[role.id]  %}
                <td>
                    <div class="individual-input">
                        <label for="role{{role.id}}-input" class="radio-label">
                            <input id="role{{role.id}}-input" name="role_members_{{role.id}}" value="{{user.id}}" type="checkbox" {% if has_role %}checked="checked"{% endif %} />
                        </label>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="list-actions">
        <ul class="menu-out flow-across">
            <li>
                <button name="action" type="submit" value="add_member" class="small-button icon-user-plus button">
                    Add someone to this team </button>
            </li>
        </ul>
    </div>
</div>
