{% for role in contacts.roles %}
<h3>{{role.short_name}}</h3>
<div class="container setoutForm">
    <div class="row">
        <div class="twelve columns">
            <span class="text-widget ">{{role.description}}</span>
        </div>
    </div>
</div>
<table class="setoutList">
    <thead>
        <tr>
            <th>Central Contact Details</th>
            <th>Qualifying Comment</th>
        </tr>
    </thead>
    <tbody>
        {% set role_id=role.id|string %}
        {% for user in contacts.role_members[role_id] %}
        <tr>
            <td>
                <input type="hidden" name="members" value="{{user.id}}" />
                <input
                    id="role{{role.id}}-input"
                    name="role_members_{{role.id}}"
                    value="{{user.id}}"
                    type="checkbox"
                    checked="checked"
                   style="visibility:hidden"
                />
                <div class="individual-input">
                    <a href="">{{user.first_name}} {{user.last_name}}</a>
                </div>
                <div class="individual-input">
                    <span  class="text-widget ">
                        {{user.email or ''}}
                        <br />
                        {{user.organisation}}
                        <br />
                        {{user.department or ''}}
                        <br>
                        {{user.job_title or ''}}
                        <br>
                        {{user.phone_number or ''}}
                    </span>
                </div>
                <div class="individual-input"><span  class="text-widget "></span></div>
                <div class="individual-input" ><span  class="text-widget "></span></div>

                <div class="container setoutForm">
                    <div class="row">
                        <div class="twelve columns">
                            <ul class="menu-out grouped big-menu-out flow-across">
                                <li>
                                    <button  type="button" class="icon-user-minus link-button button no-prompt-action" aria-label="Remove from this role">
                                    </button>
                                </li>
                                <li>
                                    <button  type="button" class="icon-copy link-button button no-prompt-action" aria-describedby="hint189-content" aria-label="Copy to another role">
                                    </button>
                                    <div id="hint189-content" role="tooltip" class="hint-content">Copy to another role</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container setoutForm" >
                    <div class="row">
                        <div class="twelve columns" > <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-list-add-qual-comment&quot;,&quot;ctxt&quot;:&quot;s16dZTf_plrnqVW43&quot;}, this);" class="icon-bubble link-button inline-link-button button">
                                Add qualifying comment </button></div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="list-actions">
    <div class="container setoutForm noBottomMargin">
        <div class="row">
            <div class="twelve columns">
                <ul class="menu-out small-menu-out noBottomMargin flow-across">
                    <li>
                        <button name="action" type="submit" data-role="{{role.id}}" value="add_member" class="small-button icon-user-plus button add-person">
                            Add  person
                        </button>
                    </li>
                    <li>
                        <button type="button" onclick="" class="icon-office button">
                            Add address </button>
                    </li>
                    <li>
                        <button type="button" onclick="" class="icon-paste button">
                            Paste person </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
