{% extends "web/domains/commodity/create.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
  {{ form.media.css }}
  {{ super() }}
{% endblock %}


{% block context_header %}
  Create Commodity Group
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('commodity-group-list') }}" class="prev-link">
          Maintain Commodity Groups
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% block fields %}
      {% for field in form %}
        {% if field.name in ["commodities", "unit"] %}
          {{ fields.field(field, show_optional_indicator=False) }}
        {% else %}
          {{ fields.field(field) }}
        {% endif %}
      {% endfor %}
    {% endblock %}

    <div class="container setoutList borderedList">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                name="action"
                class="primary-button button"
                value="Save" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}

{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  {{ super() }}
  <script src="{{ static('web/js/pages/create-commodity-group.js') }}" type="text/javascript"></script>
{% endblock %}
