<table id="{{ widget.attrs.id}}" class="setoutList">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>File</th>
      <th>Title</th>
      <th>Certificate Reference</th>
      <th>Certificate Type</th>
      <th>Issuing Constabulary</th>
    </tr>
  </thead>
  <tbody>
    {% for _, options, index in widget.optgroups %}
      {% for widget in options %}
        {% with
            file = qs[index],
            verified = qs[index].firearmsauthority_set.first(),
            user = qs[index].userimportcertificate,
            dfl_certificate = qs[index].dflgoodscertificate
        %}
          <tr>
            <td>
              {% include widget.template_name %}
            </td>
            {% if verified %}
              <td>
                <a
                  href="{{ icms_url(
                             'import:fa:view-authority-document',
                             kwargs={'application_pk': process.pk, 'authority_pk': verified.pk, 'document_pk': file.pk}) }}">
                  {{ file.filename }}
                </a>
                <span class="filesize">{{ file.human_readable_file_size() }}</span>
              </td>
              <td>
                Verified Firearms Authority
              </td>
              <td>
                {{ verified.reference }}
              </td>
              <td>
                {{ verified.get_certificate_type_display() }}
              </td>
              <td>
                {{ verified.issuing_constabulary }}
              </td>
            {% elif user %}
              <td>
                <a
                  href="{{ icms_url('import:fa:view-certificate-document', kwargs={'application_pk': process.pk, 'certificate_pk': file.pk}) }}">
                  {{ file.filename }}
                </a>
              </td>
              <td>
                Firearms Authority
              </td>
              <td>
                {{ user.reference }}
              </td>
              <td>
                {{ user.get_certificate_type_display() }}
              </td>
              <td>
                {{ user.constabulary }}
              </td>
            {% elif dfl_certificate %}
              <td>
                <a
                  href="{{ icms_url('import:fa-dfl:view-goods', kwargs={'application_pk': process.pk, 'document_pk': file.pk}) }}"
                >
                  {{ file.filename }}
                </a>
                <span class="filesize">{{ file.human_readable_file_size() }}</span>
              </td>
              <td>
                Firearms Certificate
              </td>
              <td>
                {{ dfl_certificate.deactivated_certificate_reference }}
              </td>
              <td>
                Deactivation Certificate
              </td>
              <td>
                {{ dfl_certificate.dfl_application.first().constabulary.name }}
              </td>
            {% endif %}
        </tr>
        {% endwith %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
