{% extends "model/edit.html" %}


{% block page_js %}
    {{ super() }}

    <script>
        var buttons = [
            'bold',
            'strikethrough',
            'underline',
            'italic',
            'eraser',
            '|',
            'ul',
            'ol',
            '|',
            'outdent',
            'indent',
            '|',
            'font',
            'fontsize',
            'brush',
            'paragraph',
            '|',
            'align',
            '|',
            'hr',
            'symbol',
        ]

        if($('textarea[lang=html]').length) {
            new Jodit('textarea[lang=html]', {
                buttons: buttons,
                buttonsMD: buttons,
                buttonsSM: buttons,
                buttonsXS: buttons,
            });
        }
    </script>


{% endblock %}