<script nonce="{{ request.csp_nonce }}" id="office-postcode-lookup-ui" type="text/html">
  <div class="modal-popover-container">
    <div class="modal-popover small-popover modal-alert-confirm">
      <div class="modal-popover-content" role="alertdialog">
        <div class="modal-popover-icon icon-question"></div>
        <div class="modal-popover-text">
          <label class="prompt north">Select Address:</label>
          <select id="address_list">
            <option>please wait, fetching addresses ...</option>
          </select>
        </div>
        <ul class="modal-popover-actions">
          <li>
            <button class="primary-button alert-dismiss approve">OK</button>
          </li>
          <li>
            <button class="link-button abort" >Cancel</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</script>

<script nonce="{{ request.csp_nonce }}">
  $('#lookup_postcode').on('click', '.icon-search', function (evt) {
    evt.preventDefault();

    let data = {
      postcode: $('#lookup_postcode').find('input[name=postcode]').val(),
      csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
    }
    let $ui = $($('#office-postcode-lookup-ui').html()).clone();

    $('body').append($ui);
    $ui.show()

    $ui.find('.abort').on('click', function () {
      $ui.remove()
    })
    $ui.find('.approve').on('click', function () {
      const address = JSON.parse($('#address_list :selected').val());
      let addressTextArea = document.querySelector("#id_address");

      if (addressTextArea !== null) {
        addressTextArea.value = address.filter(line => line !== "").join("\n");
      } else {
        document.querySelector("#id_address_1").value = address[0];
        document.querySelector("#id_address_2").value = address[1];
        document.querySelector("#id_address_3").value = address[2];
        document.querySelector("#id_address_4").value = address[3];
        document.querySelector("#id_address_5").value = address[4];
      }

      $ui.remove()
    })

    $.ajax({
      method: 'POST',
      url: '{{ icms_url("misc:postcode-lookup") }}',
      data: data,
      success: function (data, status, xhr) {
        const $addrList = $('#address_list')
        $addrList.empty();

        for (let row of data) {
          let address = row['formatted_address'];
          let address_json = JSON.stringify(address);
          let address_joined = address.join(' ');

          $addrList.append(
            `<option value='${address_json}'>${address_joined}</option>`
          );
        }
      },
      error: function () {
        $ui.remove()
        alert('Invalid Postcode')
      }
    })
  });
</script>
