<div class="row">
    <div class="three columns">
        <label class="prompt west">Documents</label>
    </div>
    <div class="six columns">
        <table class="file-list" role="file-list" x-data-id="{{ fir.id }}">
            <thead>
                <tr>
                    <th scope="col">File </th>
                    <th scope="col">Created By </th>
                    <th scope="col">Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td colspan="3">
                    {% include "web/domains/case/fir/partials/file-upload-button.html" %}
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="three columns"></div>
</div>

<script id="file-upload-row-template" type="text/template">
  {% include "web/domains/case/fir/partials/file-upload-row.html" %}
</script>
