{% import "forms/files.html" as files %}

{% set fir = process.fir %}

<fieldset>
    <legend><strong>FIR {{ idx }} </strong></legend>

      {% set edit_task = process.complete_request() %}
      {% set review_task = process.review() %}
      {% set cancel_url=flowurl(request, process, namespace='fir', url_name='action_cancel') %}

      {% if fir.is_draft() %}
        <ul class="menu-out case-item-title-actions flow-across">

          {% if edit_task %}
          <li>
            <a 
              href="{{flowurl(request, edit_task, url_name='execute', namespace='fir')}}" 
              class="small-button button icon-pencil">
              Edit
            </a>
          </li>
          {% endif %}
          
          {% if review_task %}
          <li>
            <a 
              href="{{flowurl(request, edit_task, url_name='execute', namespace='fir')}}" 
              class="small-button button">
              Review
            </a>
          </li>
          {% endif %}

          {% if cancel_url %}
          <li>
            <a 
              href="{{cancel_url}}" 
              class="small-button button icon-bin">Delete</a>
          </li>
          {% endif %}

        </ul>
      {% endif %}

    <div class="container setoutForm">

      {% include "web/domains/case/fir/partials/process.html" %}

      <div class="section-break"></div>

      {{ files.uploader(files=fir.files.all(), readonly=True) }}

    </div>
</fieldset>
