{% import "forms/files.html" as files %}

{% set fir = process.fir %}
{% set edit_task = process.send_request_task() %}
{% set review_task = process.review_task() %}
{% set respond_task = process.respond_task() %}
{% set cancel_url=flowurl(request, process, namespace='fir', url_name='action_cancel') %}

<fieldset>
    <legend><strong>FIR {{ idx }} </strong></legend>

      <ul class="menu-out case-item-title-actions flow-across">

        {% if edit_task %}
          <li>
            <a 
            href="{{flowurl(request, edit_task, url_name='execute', namespace='fir')}}" 
            class="small-button button icon-pencil">
              Edit
            </a>
          </li>
        {% endif %}

        {% if respond_task %}
          <form method="post">
            {{csrf_input}}
            <input type="hidden" name="_withdraw">
            <input type="hidden" name="_process_id" value="{{process.pk}}">
            <li>
              <button
                type="submit"
                data-confirm="Are you sure you want to withdraw this further information request?"
                class="small-button button">
                Withdraw Request
              </button>
            </li>
          </form>
        {% endif %}

        {% if review_task %}
        <li>
          <a
          href="{{flowurl(request, review_task, url_name='execute', namespace='fir')}}" 
          class="small-button button">
            Review
          </a>
        </li>
        {% endif %}

        {% if fir.is_draft() and cancel_url %}
        <li>
          <form action="{{cancel_url}}?back={{request.path}}" method="post">
          {{csrf_input}}
          <input type="hidden" name="_cancel_process">
          <button
            type="submit"
            data-confirm="Are you sure you want to delete this further information request?"
            class="small-button button icon-bin">Delete
          </button>
          </form>
        </li>
        {% endif %}

      </ul>

    <div class="container setoutForm">

      {% include "web/domains/case/fir/partials/process.html" %}

      <div class="section-break"></div>

      {{ files.uploader(files=fir.files.all(), readonly=True) }}

    </div>
</fieldset>
