{% set active_parent_task = parent_process.active_tasks().filter(owner=request.user).last() %}

<ul class="menu-out">
    {% set firs = parent_process.fir_processes.filter(fir__is_active=True)  %}
    <li>
      {% set total_fir = firs.count() %}
      {% set open_fir = firs.exclude(fir__status="CLOSED").count() %}
      <a href=""
         class="current-page">
        Further Information Requests ({{ "%s/%s" % (open_fir, total_fir) }})
      </a>
      {% if active_parent_task %}
        <li>
          {% set task_url = flowurl(request, active_parent_task) %}
          <a href="{{task_url}}"> 
            &lt Back to Task
          </a>
        </li>
      {% endif %}
</ul>
