<ul class="menu-out">
  {% set process = parent_process %}
  {% set current_task = process.active_tasks().filter(owner=request.user).last() %}
  {% set task_url = flowurl(request, current_task) %}
  {% set firs = parent_process.fir_processes.exclude(fir__status="DELETED")  %}
  <li>
    {% set total_ifr = firs.count() %}
    {% set open_fir = firs.filter(status="OPEN").count() %}
    <a href=""
       class="current-page">
      Further Information Requests ({{ "%s/%s" % (open_fir, total_ifr) }})
    </a>
    <li>
      <a href="{{task_url}}"> 
        &lt Back to Task
      </a>
    </li>
</ul>
