{% extends "layout/sidebar.html" %}
{% import "forms/form.html" as forms %}
{% import "forms/list.html" as lists %}
{% import "messages/message.html" as messages %}

{% block page_title %}Edit Constabulary{% endblock %}
{% block context_header %}Edit Constabulary{% endblock %}

{% block main_content %}

{% call forms.form(form, fields=form.fields, csrf_input=csrf_input) -%}
    <h3>Contacts</h3>
    {% include "web/contacts/tabs.html" %}
    <div class="content-actions"></div>
    </div>
{%- endcall %}

{% endblock %}
