{% if not certificates %}
  <div class="info-box info-box-info">
    If you have certificates from a firearms authorities that have not yet been verified,
    you may attach them below.
  </div>
{% else %}
  <table class="setoutList">
    <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Type</th>
        <th scope="col">Constabulary</th>
        <th scope="col">Date Issued</th>
        <th scope="col">Expiry Date</th>
        <th scope="col">File (size)</th>
        {% if not read_only %}
          <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for certificate in certificates %}
      <tr>
        <td>{{ certificate.reference }}</td>
        <td>{{ certificate.get_certificate_type_display() }}</td>
        <td>{{ certificate.constabulary.name }}</td>
        <td>{{ certificate.date_issued.strftime('%d-%b-%Y') }}</td>
        <td>{{ certificate.expiry_date.strftime('%d-%b-%Y') }}</td>
        <td>
            <a
              href="{{ icms_url('import:fa:view-certificate-document', kwargs={'application_pk': process.pk, 'certificate_pk': certificate.pk}) }}">
              {{ certificate.filename }}</a>
            <span class="extra-info">{{ certificate.human_readable_file_size() }}</span>
        </td>
        {% if not read_only %}
          <td>
            <a href="{{ icms_url('import:fa:edit-certificate', kwargs={'application_pk': process.pk, 'certificate_pk': certificate.pk}) }}"
                class="link-button button icon-pencil">
              Edit</a>
            <form
              method="post"
              action="{{ icms_url('import:fa:archive-certificate', kwargs={'application_pk': process.pk, 'certificate_pk': certificate.pk}) }}"
              class="form-inline">
             {{ csrf_input }}
             <button type="submit" class="link-button button icon-bin">Delete</button>
            </form>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if not read_only %}
  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('import:fa:create-certificate', kwargs={'application_pk': process.pk}) }}"
          class="button small-button icon-plus">
        Add Certificate
        </a>
      </li>
    </ul>
  </div>
{% endif %}
