{% if not certificates %}
  <div class="info-box info-box-info">
    If you have certificates from a firearms authorities that have not yet been verified,
    you may attach them below.
  </div>
{% else %}
  <table class="setoutList">
    <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Type</th>
        <th scope="col">Constabulary</th>
        <th scope="col">Date Issued</th>
        <th scope="col">Expiry Date</th>
        <th scope="col">File (size)</th>
        {% if not read_only %}
          <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for certificate in certificates %}
      <tr>
        <td>{{ certificate.reference }}</td>
        <td>{{ certificate.get_certificate_type_display() }}</td>
        <td>{{ certificate.constabulary.name }}</td>
        <td>{{ certificate.date_issued.strftime('%d-%b-%Y') }}</td>
        <td>{{ certificate.expiry_date.strftime('%d-%b-%Y') }}</td>
        <td>
            <a
              href="{{ icms_url('import:fa-oil:view-user-import-certificate-file', kwargs={'application_pk': process.pk, 'certificate_pk': certificate.pk}) }}">
              {{ certificate.filename }}
            </a> {{ certificate.human_readable_file_size() }}
        </td>
        {% if not read_only %}
          <td>
            <form method="post"
               action="{{ icms_url('import:fa-oil:delete-user-import-certificate', kwargs={'application_pk': process.pk, 'certificate_pk': certificate.pk}) }}">
             {{ csrf_input }}
             <button type="submit" class="link-button icon-bin button">Delete</button>
            </form>
            <p>
              <a href="{{ icms_url('import:fa-oil:edit-user-import-certificate', kwargs={'application_pk': process.pk, 'certificate_pk': certificate.pk}) }}"
                 class="link-button icon-pencil button">
                Edit</a>
            </p>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if not read_only %}
  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('import:fa-oil:create-user-import-certificate', kwargs={'pk': process.pk}) }}"
          class="button small-button icon-plus">
        Add Certificate
        </a>
      </li>
    </ul>
  </div>
{% endif %}
