{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
    {% include "partial/case/import/textiles/sidebar.html" %}
{% endblock %}

{% block content_actions %}
<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a
        href="{{ icms_url('import:textiles:edit', kwargs={'application_pk': process.pk }) }}"
        class="prev-link">
        Edit application
      </a>
    </li>
  </ul>
</div>

{% endblock %}

{% block main_content %}
  <h4>Add supporting document</h4>
  {% call forms.form(action='', method='post', csrf_input=csrf_input, enctype='multipart/form-data') -%}
    {{ fields.field(form.document) }}
    <input type="submit" name="action" class="primary-button button" value="Add" />
  {% endcall %}

{% endblock %}
