{% from "web/domains/signature/macros.html" import dbt_logo %}
{% from "web/domains/signature/macros.html" import not_signed_image %}
{% from "web/domains/signature/macros.html" import document_signature_placeholder %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        {{ get_css_rules_as_string("web/css/pdfs/shared/fonts.css")|safe }}
        {{ get_css_rules_as_string("web/css/pdfs/shared/constants.css")|safe }}
        {{ get_css_rules_as_string("web/css/pdfs/import/cover-letter.css")|safe }}
        {% if preview %}
          {{ get_css_rules_as_string("web/css/pdfs/shared/preview.css")|safe }}
        {% endif %}
    </style>
  </head>

  <body>
    <div class="flex-row header-row">
      <div class="flex-column half">
        {{ dbt_logo() }}
      </div>
      <div class="flex-column quarter">
      </div>
      <div class="flex-column quarter">
        <span class="url" id="gov-uk-url">www.gov.uk</span>
      </div>
    </div>

    <div class="address-block page-margin">
      <p class="address-line">{{ process.contact.full_name }}</p>
      <p class="address-line">{{ process.importer.display_name }}</p>
      {% for address_line in process.importer_office.address.split('\n') %}
        <p class="address-line">{{ address_line }}</p>
      {% endfor %}
      <p class="address-line">{{ process.importer_office.postcode }}</p>
    </div>

    <div class="content-block page-margin">
      <p class="issue-date small-text">{{ issue_date }}</p>
      <div class="letter-content">{{ content|safe }}</div>
    </div>

    {% if process.endorsements.exists() %}
      <div class="endorsements-block page-margin">
        {% for endorsement in process.endorsements.values_list("content", flat=True) %}
          <p>{{ endorsement }}</p>
        {% endfor %}
      </div>
    {% elif preview %}
      <div class="endorsements-block page-margin">
        <p class="additional-remarks">[[ ADDITIONAL_REMARKS ]]</p>
      </div>
    {% endif %}


    <div class="signature-block page-margin no-print-break">
      <p>Yours sincerely</p>
      <div class="signature">
        {% if preview %}
          {{ not_signed_image() }}
        {% else %}
          {{ document_signature_placeholder(signature_file, signature.content_type, signature.signatory)  }}
        {% endif %}
      </div>
      <div>
        <p>{{ process.case_owner.full_name }}</p>
        {% if process.case_owner.job_title %}
          <p>{{ process.case_owner.job_title|upper }}</p>
        {% endif %}
        <p>E {{ ilb_contact_email }}</p>
      </div>
    </div>
  </body>
</html>
