{% extends "pdf/import/fa-licence-base.html" %}

{% block css %}
  <link href="{{ static("web/css/pdfs/fa-paper-licence-quantity-table-style.css") }}" rel="stylesheet">
{% endblock %}

{% block goods_section %}
  <p class="content">Description of goods</p>
  {% for goods_description in goods %}
    <p class="content">{{ goods_description }}</p>
    <p class="content">Unlimited</p>
    {% if not loop.last %}<br/>{% endif %}
  {% endfor %}
{% endblock %}

{% block extra_section %}
  {% if paper_licence_only %}
      {% include 'pdf/import/fa-paper-licence-quantity-table.html' %}
  {% endif %}
{% endblock %}
