<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="ICMS import licence">
  <title>{{ page_title }}</title>
  <link href="{{ static("web/css/pdfs/fa-oil-licence-style.css") }}" rel="stylesheet">
  {% if preview_licence %}
    <link href="{{ static("web/css/pdfs/import-licence-preview-style.css") }}" rel="stylesheet">
  {% endif %}
</head>
<body>
<header>
  <p><strong>ELECTRONIC LICENCE</strong> issued on {{ licence_start_date }} and sent to HM Revenue and Customs.</p>

  <div class="flex-row" id="reference-and-licence">
    <div></div>
    <div class="bordered">
      <p class="content">Applicant's own reference</p>
      <p class="content">{{ applicant_reference }}</p>
    </div>

    <div>
      <p class="content">Quote both references in all correspondence</p>
    </div>

    <div class="bordered">
      <p class="content">Licence No.</p>
      <p class="content" id="licence-number">{{ licence_number }}</p>
    </div>
  </div>

  <p>Name of importer and address for licence.</p>
  <div class="flex-row" id="address-and-logo">
    <div>
      <div class="bordered">
        <p class="content">{{ importer_name }}</p>
        {% for line in importer_address %}
          <p class="content">{{ line }}</p>
        {% endfor %}
        <p class="content">{{ importer_postcode }}</p>
        {% for number in eori_numbers %}
          <p class="content text-right">{{ number }}</p>
        {% endfor %}
      </div>
    </div>
    <div>
      <img alt="DIT Logo" src="{{ static('web/img/dit_logo.png') }}"/>
    </div>
  </div>

</header>
<main>
  <p class="content">is hereby authorised by the Secretary of State to import into the United Kingdom in accordance with
    the conditions set out below</p>
  <div class="flex-row" id="commodities">
    <div class="bordered">
      <p class="content">Commodity Code<br/>ex Chapter 93</p>
    </div>
    <div class="bordered">
      <p class="content">Country from which consigned<br/>Any Country</p>
    </div>
    <div class="bordered">
      <p class="content">Country of origin<br/>Any Country</p>
    </div>
  </div>
  <div class="flex-row">
    <div class="bordered">
      <p class="content">Description of goods</p>
      <p class="content">{{ goods_description }}</p>
      <p class="content">Unlimited</p>
      <br/>
      {% for endorsement in endorsements %}
        {% for line in endorsement %}
          <p class="content">{{ line }}</p>
        {% endfor %}
        <br/>
      {% endfor %}
      {# TODO: Revisit this #}
      <br/><br/><br/>
      <br/><br/><br/>
      <p class="content">This licence will cease to be valid for importations after {{ licence_end_date }}.</p>
      <div class="flex-row" id="signature-and-date-issued">
        <div id="signature">
          {% block signature %}
            <p class="content bold">Signed by Import Licensing Branch</p>
            <img alt="DIT Signature" src="{{ static('web/img/dit-dummy-signature.png') }}"/>
            <p class="content bold">On behalf of the Secretary of State</p>
            <p class="content bold">Department for International Trade</p>
          {% endblock %}
        </div>
        <div>
          <p class="content text-right">Date Issued: {{ licence_start_date }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <p class="content">
    The issue of this licence does not provide any guarantee that any additional Government permit or approval which may
    be necessary to effect importation will be granted.
  </p>
  <br/>
  <p class="content">This licence</p>
  <ul>
    <li>is not transferrable and may be used only for importations by the holder named above.</li>
    <li>may be revoked at any time without reason given.</li>
    <li>may be altered only by the Department for International Trade.</li>
  </ul>
</footer>
</body>
</html>
