{% extends "pdf/shared/fa-licence-base.html" %}

{% block css %}
  <style>
      {{ get_css_rules_as_string("web/css/pdfs/fa-paper-licence-quantity-table-style.css")|safe }}
  </style>
{% endblock %}

{% block goods_section %}
  <p class="content">Description of goods</p>

  {% for description, quantity in goods %}
    <p class="content">{{ description }}</p>
    <p class="content">
      {{ quantity }} {% if quantity != "Unlimited" %} units {% endif %}
    </p>
    {% if not loop.last %}<br/>{% endif %}
  {% endfor %}
{% endblock %}


{% block post_endorsement_statement %}
  <p class="content">This licence is only valid for section 5 goods when they are imported using a carrier authorised to carry Section 5 goods.</p>
  <div class="post_endorsement_statement">
    {{ markings_text | safe }}
  </div>
{% endblock %}


{% block extra_section %}
  {% if paper_licence_only %}
      {% include 'pdf/shared/fa-paper-licence-quantity-table.html' %}
  {% endif %}
{% endblock %}
