{% from "web/domains/signature/macros.html" import document_signature_placeholder %}
{% from "web/domains/signature/macros.html" import not_signed_image %}
{% from "web/domains/signature/macros.html" import dbt_logo %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ importer_site_name }} import licence">
    <style>
      {{ get_css_rules_as_string('web/css/pdfs/fonts.css')|safe }}
      {{ get_css_rules_as_string('web/css/pdfs/constants.css')|safe }}
      {{ get_css_rules_as_string("web/css/pdfs/sanctions-licence-style.css")|safe }}
      {% if preview_licence %}
        {{ get_css_rules_as_string("web/css/pdfs/preview.css")|safe }}
      {% endif %}
    </style>
  </head>
  <body>
    <main class="bordered flex-row wrap">
      <div class="flex-row row b-bottom">
        <div class="half content-block b-right">
          <p class="title"><strong>1. </strong>Consignee (name, full address, country, VAT number)</p>
          <p class="content">{{ importer_name | upper }}</p>
          {% for line in importer_address %}
            <p class="content">{{ line | upper }}</p>
          {% endfor %}
          <p class="content">{{ importer_postcode | upper }}</p>
            <div class="flex-row flex-end">
              <div class="flex-column">
                {% for eori in eori_numbers %}
                  <p class="content text-right">{{ eori }}</p>
                {% endfor %}
              </div>
            </div>
        </div>
        <div>
          <div class="content-block b-bottom row">
            <p class="title"><strong>2. </strong>Issue number</p>
            <p class="{{ 'preview-orange' if preview_licence }}">{{ licence_number }}</p>
          </div>
          <div class="content-block b-bottom row">
            <p class="title"><strong>3. </strong>Proposed place and date of import</p>
            
          <div class="flex-row space-between">
               <p class="flex-start">Any UK Port</p>
               <p id="licence-start-date">{{ licence_start_date }}</p>
          </div>
          </div>
          <div class="content-block row flex-row wrap">
            <p class="row title"><strong>4. </strong>Authority responsible for issue</p>
            <p class="row min-height-40">Email: {{ sanctions_contact_email }}</p>
          </div>
        </div>
      </div>
      <div class="flex-row row b-bottom">
        <div class="half content-block b-right">
          <p class="title"><strong>5. </strong>Declarant/representative as applicable (name and full address)</p>
          <p class="content">{{ importer_name | upper }}</p>
          {% for line in importer_address %}
            <p class="content">{{ line | upper }}</p>
          {% endfor %}
          <p class="content">{{ importer_postcode | upper }}</p>
            <div class="flex-row flex-end">
              <div class="flex-column">
                {% for eori in eori_numbers %}
                  <p class="content text-right">{{ eori }}</p>
                {% endfor %}
              </div>
            </div>
        </div>
        <div class="half">
          <div class="content-block b-bottom row">
            <p class="title"><strong>6. </strong>Country of manufacture (and geonomeclature code)</p>
            <p>{{ country_of_manufacture }}</p>
          </div>
          <div class="content-block b-bottom row">
            <p class="title"><strong>7. </strong>Country of shipment (and geonomenclature code)</p>
             <p>{{ country_of_shipment }}</p>
          </div>
          <div class="content-block row">
            <p class="title"><strong>8. </strong>Last day of validity</p>
            <p>{{ licence_end_date }}</p>
          </div>
        </div>
      </div>
      <div class="flex-row row">
        <div class="large-text-box content-block row">
          <p class="title"><strong>9. </strong>Description of goods, commodity code and category, quantity, and value in GBP (cif at UK frontier)</p>
          {% for goods in goods_list %}
            {% for goods_line in goods %}
              <p>{{ goods_line }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div class="flex-row row b-top">
          <div class="large-text-box min-height-150 content-block row">
            <p class="title"><strong>10. </strong>Additional remarks</p>
            {% if endorsements %}
              {% for endorsement in endorsements %}
                {% for endorsement_line in endorsement %}
                  <p>{{ endorsement_line }}</p>
                {% endfor %}
              {% endfor %}
            {% elif preview_licence %}
              <p class="preview-green">[[ADDITIONAL_REMARKS]]</p>
            {% endif %}
          </div>
        </div>
      <div class="signature-block content-block flex-row row b-top">
        <div class="flex-row row wrap">
          <p class="row title"><strong>11. </strong>Competent authority's endorsement</p>
          <div class="digital-signature half">
              {% if preview_licence %}
                  {{ not_signed_image() }}
              {% else %}
                  {{ document_signature_placeholder(signature_file, signature.content_type, signature.signatory)  }}
              {% endif %}
          </div>
          <div class="half">
              {{ dbt_logo(classes="header-block") }}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
