{% from "web/domains/signature/macros.html" import document_signature_placeholder %}
{% from "web/domains/signature/macros.html" import not_signed_image %}
{% from "web/domains/signature/macros.html" import dbt_logo %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ importer_site_name }} import licence">
    <style>
      {{ get_css_rules_as_string('web/css/pdfs/shared/fonts.css')|safe }}
      {{ get_css_rules_as_string('web/css/pdfs/shared/constants.css')|safe }}
      {{ get_css_rules_as_string("web/css/pdfs/import/wood-licence-style.css")|safe }}
      {% if preview_licence %}
        {{ get_css_rules_as_string("web/css/pdfs/shared/preview.css")|safe }}
      {% endif %}
    </style>
  </head>
  <body class="bordered">
    <main class="bordered flex-row wrap">
      <div class="flex-row row b-bottom">
        <div class="half content-block b-right">
          <p><strong>1. </strong>Importer (name, full address, country, VAT No)</p>
          <p class="content">{{ importer_name | upper }}</p>
          {% for line in importer_address %}
            <p class="content">{{ line | upper }}</p>
          {% endfor %}
          <p class="content">{{ importer_postcode | upper }}</p>
          {% if ref %}
            <div class="flex-row space-between">
              <p class="content applicant-reference">Your ref: {{ ref }}</p>
          {% else %}
            <div class="flex-row flex-end">
          {% endif %}
              <div class="flex-column">
                {% for eori in eori_numbers %}
                  <p class="content text-right">{{ eori }}</p>
                {% endfor %}
              </div>
            </div>
        </div>
        <div class="">
          <div class="content-block b-bottom row">
            <p><strong>2. </strong>Issue No</p>
            <p class="{{ 'preview-orange' if preview_licence }}">{{ licence_number }}</p>
          </div>
          <div class="content-block b-bottom row">
            <p><strong>3. </strong>Exporter (name, full address, VAT No)</p>
              <p>{{ exporter_name | upper }}</p>
              {% for line in exporter_address %}
                <p>{{ line | upper }}</p>
              {% endfor %}
              <p>{{ exporter_vat_number }}</p>
          </div>
          <div class="content-block row flex-row wrap">
            <p class="row"><strong>4. </strong>Authority responsible for issue (name, address and telephone No)</p>
            <p class="address-line row">Department for Business and Trade</p>
            <p class="address-line row">Queensway House, West Precinct</p>
            <p class="address-line row">Billingham, United Kingdom, TS23 2NF</p>  <!-- /PS-IGNORE -->
            <p class="row">Email: {{ ilb_contact_email }}</p>
          </div>
        </div>
      </div>
      </div>
      <div class="flex-row row b-bottom-extended">
        <div class="half content-block b-right">
          <p><strong>5. </strong>Declarant/representative as applicable (name and full address)</p>
          <p class="content">{{ importer_name | upper }}</p>
          {% for line in importer_address %}
            <p>{{ line | upper}}</p>
          {% endfor %}
          <p class="content">{{ importer_postcode | upper }}</p>
          <div class="flex-row flex-end">
            <div class="flex-column">
              {% for eori in eori_numbers %}
                <p class="content text-right">{{ eori }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="content-block half min-height-150">
          <p><strong>6. </strong>Last day of validity</p>
          <p>{{ licence_end_date }}</p>
        </div>
      </div>
      <div class="flex-row row b-bottom">
        <div class="two-third content-block b-right">
          <p><strong>7. </strong>Description of goods</p>
          <p>{{ goods }}</p>
        </div>
        <div class="third third-block">
          <div class="content-block b-bottom row">
            <p><strong>8. </strong>CN code</p>
            <p>{{ commodity_code }}</p>
          </div>
          <div class="flex-row wrap quantity">
            <div class="content-block row">
              <p><strong>9. </strong>Quantity in m³</p>
              <p>{{ quantity }}</p>
            </div>
          </div> 
        </div>
      </div>
      <div class="flex-row row">
        <div class="endorsements content-block row">
          <p><strong>10. </strong>Additional remarks</p>
          {% if endorsements %}
            {% for endorsement in endorsements %}
              {% for endorsement_line in endorsement %}
                <p>{{ endorsement_line }}</p>
              {% endfor %}
            {% endfor %}
          {% elif preview_licence %}
            <p class="preview-green">[[ADDITIONAL_REMARKS]]</p>
          {% endif %}
        </div>
      </div>
      <div class="signature-block content-block b-top flex-row row">
        <div class="flex-row row wrap">
          <p class="row"><strong>11. </strong>Competent authority's endorsement</p>
          <div class="digital-signature half">
              {% if preview_licence %}
                  {{ not_signed_image() }}
              {% else %}
                  {{ document_signature_placeholder(signature_file, signature.content_type, signature.signatory)  }}
              {% endif %}
          </div>
          <div class="dbt-logo-block half">
              {{ dbt_logo(classes="header-block") }}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
