{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}

{% block css %}
  {{ form.media.css }}
  {{ super() }}
{% endblock %}

{% block main_content %}
  {% block task_details %}
    {{ super() }}
  {% endblock %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}

  {% include "partial/case/application-contact-details.html" %}

    <h4>Iron and Steel (Quota)</h4>
    {{ fields.field(form.applicant_reference) }}
    {{ fields.field(form.goods_cleared) }}
    {{ fields.field(form.shipping_year) }}
    {{ fields.field(form.origin_country) }}
    {{ fields.field(form.consignment_country) }}

    <h4>Goods</h4>
    {{ fields.field(form.category_commodity_group) }}
    <div class="row">
      <div class="three columns"></div>
      <div class="six columns">
        <p id="category_commodity_group_description">{{ commodity_group_label }}</p>
      </div>
      <div class="three columns"></div>
    </div>

    {{ fields.field(form.commodity) }}
    {{ fields.field(form.goods_description) }}
    {{ fields.field(form.quantity) }}
    <div class="row">
      <div class="three columns bold">
        <div class="float-right">Units</div>
      </div>
      <div class="six columns">
        <p id="commodity_units">kilos</p>
      </div>
      <div class="three columns"></div>
    </div>

    <input type="submit" name="action" class="primary-button button" value="Save"/>
  {% endcall %}

  <h4>Certificates/Documents</h4>
  <p class="bold">Export certificates.</p>

  <div class="info-box info-box-info">
    Please upload a copy of your certificate. You will be contacted by ILB if the original is required.
  </div>

  {% with read_only = false, manage_case = false %}
    {% include "web/domains/case/import/partials/ironsteel/certificates_list.html" %}
  {% endwith %}

  <h4>Supporting documents</h4>
  <p class="bold">Please provide any further supporting documents regarding this application.</p>

  <p>This may include invoices, evidence of past trade, or contracts.</p>

  {% with read_only = false %}
    {% include "web/domains/case/import/partials/ironsteel/documents_list.html" %}
  {% endwith %}

{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  {{ super() }}
  <script id="category_commodity_groups" type="application/json">{{ category_commodity_groups|tojson }}</script>
  <script src="{{ static('web/js/pages/iron-steel-goods.js') }}" type="text/javascript"></script>
{% endblock %}
