{% extends "web/domains/case/view_case.html" %}

{% block main_content %}
  {% block application_contact %}
    {{ super() }}
  {% endblock %}

  {% call application_section("Iron and Steel (Quota)") %}
    {{ application_field(process.applicant_reference, "Application Reference", "N/a") }}
    {{ application_field(process.shipping_year, "Shipping Year") }}
    {{ application_field(process.origin_country, "Country Of Origin") }}
    {{ application_field(process.consignment_country, "Country Of Consignment") }}
  {% endcall %}

  {% call application_section("Goods") %}
    {{ application_field(process.category_commodity_group.group_code, "Category") }}
    {{ application_field(process.category_commodity_group.group_description, "") }}
    {{ application_field(commodity_link(process.commodity), "Commodity Code") }}
    {{ application_field(process.goods_description, "Goods Description") }}
    {{ application_field(process.quantity, "Quantity") }}
    <div class="row">
        <div class="three columns bold">
          <div class="float-right">Unit</div>
        </div>
        <div class="six columns"><p>kilos</p></div>
        <div class="three columns"></div>
      </div>
  {% endcall %}

  <h4>Certificates/Documents</h4>
  {% with read_only = true, manage_case = false %}
    {% include "web/domains/case/import/partials/ironsteel/certificates_list.html" %}
  {% endwith %}

  <h4>Supporting Documents</h4>
  {% with read_only = true %}
    {% include "web/domains/case/import/partials/ironsteel/documents_list.html" %}
  {% endwith %}

{% endblock %}
