<html>

  <body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #001777;">

  <h4>ICMS System Message</h4>

  {% block main_content %}

    {% block subject %}
      <h5>
        Subject: {{ subject }}
      </h5>
    {% endblock %}

    {% block message %}<p>{{ body }}</p>{% endblock %}

    {% block footer %}
      <p>
      If this email has been copied to you, you may click <a href="{{ url }}">Import Case Management System</a> to logon as yourself.
      </p>
      <p>
      For assistance or support email:
      <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>

      {% if contact_phone %}
      or telephone: {{ contact_phone }}
      {% endif %}
      .
      </p>
    {% endblock %}

  {% endblock %}
  </body>

</html>
