<p class="helptext">
  It is the responsibility of the applicant to ensure that the commodity code in
  this box is correct. If you are unsure of the correct commodity code,
  consult the HM Revenue and Customs Integrated Tariff Book, Volume 2,
  which is available from the Stationery Office. If you are still in doubt, contact the 
  <a class="inline-link-button" target="_blank" rel="noopener noreferrer"
     href="https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods"
  >Classification Advisory Service
  </a>.
</p>
