{% block sidebar %}
  <h4>Commodity</h4>
  <h5>Search</h5>
  <ul class="menu-out">
    <li>
      <a href="{{ icms_url('commodity-list') }}">Commodities</a>
    </li>
    <li>
      <a href="{{ icms_url('commodity-group-list') }}">Groups</a>
    </li>
  </ul>

  <h5>Create</h5>
  <ul class="menu-out">
    <li>
      <a href="{{ icms_url('commodity-new') }}">
        Commodity
      </a>
    </li>
    <li>
      <a href="{{ icms_url('commodity-group-new') }}">
        Group
      </a>
    </li>
  </ul>
{% endblock %}
