{% from "web/domains/signature/macros.html" import document_signature_placeholder %}
{% from "web/domains/signature/macros.html" import not_signed_image %}
{% from "web/domains/signature/macros.html" import dbt_logo %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="ICMS import licence">
  <title>{{ page_title }}</title>
  <style>
    {{ get_css_rules_as_string("web/css/pdfs/licence-and-certificate-common-style.css")|safe }}
    {{ get_css_rules_as_string("web/css/pdfs/fa-common-licence-style.css")|safe }}
    {{ get_css_rules_as_string("web/css/components/signature.css")|safe }}
    {% if preview_licence %}
        {{ get_css_rules_as_string("web/css/pdfs/preview.css")|safe }}
    {% endif %}
  </style>
  {% block css %} {% endblock css %}
</head>
<body>
<header>
  {% if paper_licence_only %}
    <h3>DIT IMPORT LICENCE</h3>
    <p class="content">under Article 2, Import of Goods (Control) Order 1954</p>
  {% else %}
    <p><strong>ELECTRONIC LICENCE</strong> issued on {{ licence_start_date }} and sent to HM Revenue and Customs.</p>
  {% endif %}

  <div class="flex-row" id="reference-and-licence">
    <div></div>
    <div class="bordered">
      <p class="content">Applicant's own reference</p>
      {% if applicant_reference %}
        <p class="content">{{ applicant_reference }}</p>
      {% elif preview_licence %}
        <p class="content {{ 'preview-green' if preview_licence }}" id="applicant-reference">[[APPLICANT_REFERENCE]]</p>
      {% endif %}
    </div>

    <div>
      <p class="content">Quote both references in all correspondence</p>
    </div>

    <div class="bordered">
      <p class="content">Licence No.</p>
      <p class="content {{ 'preview-orange' if preview_licence }}" id="licence-number">{{ licence_number }}</p>
    </div>
  </div>

  <p>Name of importer and address for licence.</p>
  <div class="flex-row" id="address-and-logo">
    <div>
      <div class="bordered">
        <p class="content">{{ importer_name|upper }}</p>
        {% for line in importer_address %}
          <p class="content">{{ line|upper }}</p>
        {% endfor %}
        <p class="content">{{ importer_postcode|upper }}</p>
        {% for number in eori_numbers %}
          <p class="content text-right">{{ number|upper }}</p>
        {% endfor %}
      </div>
    </div>
    <div>
      {{ dbt_logo(classes="header-block ml-1") }}
    </div>
  </div>

</header>
{# TODO: ICMSLST-1430 Revisit how sections are grouped #}
<main>
  <p class="content">is hereby authorised by the Secretary of State to import into the United Kingdom in accordance with
    the conditions set out below</p>
  <div class="flex-row" id="commodities">
    <div class="bordered">
      <p class="content">Commodity Code<br/>ex Chapter 93</p>
    </div>
    <div class="bordered">
      <p class="content">Country from which consigned<br/>{{ consignment_country }}</p>
    </div>
    <div class="bordered">
      <p class="content">Country of origin<br/>{{ origin_country }}</p>
    </div>
  </div>
  <div class="flex-row">
    <div class="bordered">
      {% block goods_section %} {% endblock %}
      <br/>
      {% if endorsements %}
        {% for endorsement in endorsements %}
          {% for line in endorsement %}
            <p class="content">{{ line }}</p>
          {% endfor %}
          {% if not loop.last %}<br/>{% endif %}
        {% endfor %}
      {% elif preview_licence %}
        <p class="content" id="additional-remarks">[[ADDITIONAL_REMARKS]]</p>
      {% endif %}

      {# Extra fixed text that can appear after the endorsements #}
      {% block post_endorsement_statement %}
      {# TODO: ICMSLST-1430 Revisit how sections are grouped #}
      <br/><br/><br/>
      <br/><br/><br/>
      {% endblock %}
      <br/>

      <p class="content">This licence will cease to be valid for importations after {{ licence_end_date }}.</p>
      <div class="flex-row" id="signature-and-date-issued">
        <div id="signature">
            {% if preview_licence %}
                {{ not_signed_image() }}
            {% else %}
                {{ document_signature_placeholder(signature_file, signature.content_type, signature.signatory)  }}
            {% endif %}
        </div>
        <div>
          <p class="content text-right">Date Issued: {{ licence_start_date }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  {% if paper_licence_only %}
    <p class="content">ENQUIRIES TO IMPORT LICENSING BRANCH, DETAILS OVERLEAF.</p>
  {% endif %}
  <p class="content">
    The issue of this licence does not provide any guarantee that any additional Government permit or approval which may
    be necessary to effect importation will be granted.
  </p>
  <br/>
  <p class="content">This licence</p>
  <ul>
    <li>is not transferable and may be used only for importations by the holder named above.</li>
    <li>may be revoked at any time without reason given.</li>
    <li>may be altered only by the Department for International Trade.</li>
  </ul>
</footer>

{% block extra_section %}

{% endblock %}
</body>
</html>
