<div id="quantity-section" class="mt-1">
  <table id="quantity-table" class="mt-2">
    <tbody>
      <tr>
        <td>Quantity or value imported</td>
        <td>Balance outstanding*</td>
        <td colspan="2">Collector's No. and Date</td>
      </tr>
      <tr>
        <td>1.</td>
        <td></td>
        <td rowspan="2">1.</td>
        <td rowspan="2">2.</td>
      </tr>
      <tr>
        <td>2.</td>
        <td></td>
      </tr>
      <tr>
        <td>3.</td>
        <td></td>
        <td rowspan="2">3.</td>
        <td rowspan="2">4.</td>
      </tr>
      <tr>
        <td>4.</td>
        <td></td>
      </tr>
      <tr>
        <td>5.</td>
        <td></td>
        <td rowspan="2">5.</td>
        <td rowspan="2">6.</td>
      </tr>
      <tr>
        <td>6.</td>
        <td></td>
      </tr>
      <tr>
        <td>7.</td>
        <td></td>
        <td rowspan="2">7.</td>
        <td rowspan="2">8.</td>
      </tr>
      <tr>
        <td>8.</td>
        <td></td>
      </tr>
      <tr>
        <td>9.</td>
        <td></td>
        <td rowspan="2">9.</td>
        <td rowspan="2">10.</td>
      </tr>
      <tr>
        <td>10.</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <footer>
    <p>* When exhausted, this licence will be returned by H.M. Revenue and Customs to the Import Licensing Branch at
      the address below.</p>
    <p class="bold">NOTES FOR IMPORTERS</p>
    <ol id="paper-importer-notes">
      <li>If 10 consignments have been imported but the licence is not exhausted, the importer or his agent should
        return it to Import Licensing Branch with a request for issue of a new licence for the outstanding balance.
      </li>
      <li class="mt-1">When the licence is no longer required (whether it has expired or not), or if it is revoked, then
        return
        it to<br/>
        Department for Business and Trade<br/>
        Queensway House, West Precinct<br/>
        Billingham, United Kingdom TS23 2NF<br/>{# /PS-IGNORE #}
        Email: {{ ilb_contact_email }}
      </li>
    </ol>
  </footer>
</div>
