{% extends "web/domains/country/country-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
<div class="modal-popover-container {% if not form.errors %} hidden {% endif %}">
  <div class="modal-popover regular-popover " tabindex="0">
    <div class="modal-popover-content">
      <h2 id="engine-modal-popover-title">Edit translation set name</h2>

      {%- call forms.form(method='post', csrf_input=csrf_input) %}
      {{ fields.field(form.name) }}
      <ul class="menu-out modal-popover-actions flow-across">
        <li>
          <button type="submit" class="primary-button button">
            Save
          </button>
        </li>
        <li>
          <button type="button" onclick="$('.modal-popover-container').hide()" class="link-button button">
            Cancel
          </button>
        </li>
      </ul>
      {% endcall -%}
    </div>
  </div>
</div>

{% set archive_confirm_message %}
  <p>
    Are you sure you would like to archive this translation set?
  </p>

  <p>
    All country name translations in this set will also be archived 
    and you will no longer be able to select this translation set 
    for document translation templates.
  </p>
{% endset %}


<div class="list-actions">
  <ul class="menu-out small-menu-out flow-across">
    <li>
      <button type="button" onclick="$('.modal-popover-container').show()" class="icon-pencil button">
        Rename translation set
      </button>
    </li>
    <li>
      <form method="post" action="">
        {{csrf_input}}
        <button 
              role="action-button" 
              data-input_action="archive" 
              data-confirm="{{archive_confirm_message}}"
              type="submit" 
              class="icon-drawer button"
            >
              Archive translation set
        </button>
      </form>
    </li>
  </ul>
</div>


{% if missing_translations.countries %}
<div class="info-box info-box-warning">
  {%- for country in missing_translations.countries %}
  <a href="#{{country.name_slug}}" class="link-button inline-link-button button">
    {{country.name}}
  </a>,
  {% endfor -%}
  {% if missing_translations.remaining %}
  and {{missing_translations.remaining}} other countries
  {% endif %}
  do not have a {{object.name}} translation.

</div>
{% endif %}

<div class="container">
  <div class="row">
    {% set batch_size=(country_list.count()/4)|round(0, 'ceil') %}
    {%- for countries in country_list|batch(batch_size) %}
    <div class="three columns">
      {% for country in countries %}
      {% set translated = country.id in translations  %}
      <div id="{{country.name_slug}}" class="container setoutForm">
        <div class="row">
          <div class="twelve columns">
            <div class="container setoutForm">
              <div class="row">
                <div class="twelve columns">
                  {% set target=icms_url('country:translation-edit', args=[object.id, country.id]) %}
                  <a href="{{target}}" class="truncate-ellipsis country-name link-button inline-link-button button">
                    {{country.name}}
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="twelve columns">
                  {% if translated %}
                  <span class="text-widget truncate-ellipsis translated-country-name">{{translations[country.id]}}</span>
                  {% else %}
                  <span class="yellow-label label small-label tooltipstered">Awaiting translation</span>
                  {% endif %}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor -%}

  </div>
</div>

{% endblock %}
