{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
{% include "web/domains/country/sidebar.html" %}
{% endblock %}

{% block main_content %}

<div class="modal-popover-container  {% if not form.errors %} hidden {% endif %}">
    <div class="modal-popover regular-popover " tabindex="0">
        <div class="modal-popover-content">
        <h2 id="engine-modal-popover-title">Create New Country Translation Set</h2>
            {%- call forms.form(method='post', csrf_input=csrf_input) %}
                {{fields.field(form.name)}}
                <ul class="menu-out modal-popover-actions flow-across">
                    <li>
                        <button type="submit" name="action" value="save" class="primary-button button">
                            Save
                        </button>
                    </li>
                    <li>
                        <button type="button" onclick="$('.modal-popover-container').hide()" class="link-button button">
                            Cancel
                        </button>
                    </li>
                </ul>
            {% endcall -%}
        </div>
    </div>
</div>


<div class="info-box info-box-info">
    Select a translation set to view or edit the country name translations within it.
</div>
<ul class="menu-out flow-across">
    <li>
        <button type="button" onclick="$('.modal-popover-container').show()" class="primary-button button">
        Create new translation set
        </button>
    </li>
</ul>
<form method="post" action="">
    {{csrf_input}}
    <table class="setoutList">
        <caption class="screen-reader-only">List of existing country name translation sets, archived and active.</caption>
        <thead>
            <tr>
                <th scope="col">Translation Set Name
                </th>
                <th scope="col">Actions
                </th>
            </tr>
        </thead>
        {% for set in object_list %}
            <tr >
                <td >
                    <span class="text-widget ">{{set.name}}</span>
                </td>
                <td>
                    <ul class="menu-out">
                        {% if set.is_active %}
                        <li>
                            <a href="{{url('country-translation-set-edit', args=[set.id])}}" class="link-button icon-pencil button">
                                Edit
                            </a>
                        </li>
                        <li>
                            <button name="action" type="submit" value="archive" class="link-button icon-drawer button">
                                Archive
                                <input type="hidden" name="item" value="{{set.id}}" />
                            </button>
                        </li>
                        {% else %}
                        <li>
                            <button name="action" type="submit" value="unarchive" class="link-button icon-box-remove button">
                                Unarchive
                                <input type="hidden" name="item" value="{{set.id}}" />
                            </button>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}
