[run]
branch = True
source = web

omit =
    *migrations*
    *test*
    *manage.py
    *__init__.py
    *apps.py
    data_migration/queries/*
    web/end_to_end/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Exclude type checking blocks
    if TYPE_CHECKING:
