# This docker-compose configuration is for ICMS development and CI environment.
# Production deployment does not use this configuration.
#
# see https://hub.docker.com/ for the images used here
version: "3"
services:
    db:
        image: postgres:11.11
        volumes:
            - pgdata:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=password
        ports:
            - "6000:5432"

    web:
        restart: unless-stopped
        build:
            context: .
        # user: ${UID}
        entrypoint: dockerize -wait tcp://db:5432 -timeout 20s
        command: scripts/entry.sh
        environment:
            - PYTHONUNBUFFERED=1
            - ICMS_WEB_PORT
            - ICMS_DEBUG
            - ICMS_NUM_WORKERS # Gunicorn workers number
            - ICMS_MIGRATE
            - ICMS_ADDRESS_API_KEY # getAddress.io api key for post code search
            - COMPANIES_HOUSE_TOKEN # https://developer.company-information.service.gov.uk/api/docs/
            # DATABASE_URL not namespaced due to GOV PaaS setting DATABASE_URL env var
            - DATABASE_URL
            - ICMS_ALLOWED_HOSTS
            - ICMS_RECAPTCHA_PUBLIC_KEY
            - ICMS_RECAPTCHA_PRIVATE_KEY
            - ICMS_SILENCED_SYSTEM_CHECKS
            - ICMS_SECRET_KEY
            - ICMS_EMAIL_FROM
            - AWS_SES_ACCESS_KEY_ID
            - AWS_SES_SECRET_ACCESS_KEY
            - DJANGO_SETTINGS_MODULE
            - ELASTIC_APM_SECRET_TOKEN
            - ELASTIC_APM_ENVIRONMENT
            - ELASTIC_APM_URL
            - DISABLE_DEBUG_TOOLBAR
            - CLAM_AV_USERNAME
            - CLAM_AV_PASSWORD
            - CLAM_AV_URL
            - APP_ENV
            - ALLOW_DISASTROUS_DATA_DROPS_NEVER_ENABLE_IN_PROD
            - ALLOW_BYPASS_CHIEF_NEVER_ENABLE_IN_PROD
            - DEBUG_SHOW_ALL_WORKBASKET_ROWS
            - SHOW_DB_QUERIES
        # stdin_open: true
        # tty: true
        ports:
            - "8080:8080"
        depends_on:
            - db
            - redis
        volumes:
            - ./test-reports:/code/test-reports # needed for ci
            - .:/code

    redis:
        # NOTE: Match what we currently have deployed in cloud foundry (Upgrade when needed).
        image: redis:5.0.6
        volumes:
            - redis_data:/data
        ports:
            - "6379:6379"

    celery:
        build:
            context: .
        command: celery --app=config.celery:app worker --loglevel=debug
        environment:
            - DJANGO_SETTINGS_MODULE
            - AWS_SES_ACCESS_KEY_ID
            - AWS_SES_SECRET_ACCESS_KEY
        depends_on:
            - redis
        volumes:
            - .:/code

    localstack:
        # https://github.com/localstack/localstack says that the web UI has been
        # deprecated (PORT_WEB_UI / START_WEB), and needs a different image
        # (localstack-full), so stick with this version.
        image: localstack/localstack:0.11.3
        ports:
            - "4567-4599:4567-4599"
            - "8081:8080"
        environment:
            - SERVICES=s3
            - DEBUG=1
            - DATA_DIR=/tmp/localstack/data
        volumes:
            - ls_data:/tmp/localstack
            - "/var/run/docker.sock:/var/run/docker.sock"

    # selenium-hub:
    #     image: selenium/hub:3.141.59-vanadium
    #     container_name: selenium-hub
    #     ports:
    #         - "4444:4444"
    #         - "49154:49154"
    #     depends_on:
    #         - web

    # chrome:
    #     image: selenium/node-chrome-debug:3.141.59-vanadium
    #     volumes:
    #         - /dev/shm:/dev/shm
    #     depends_on:
    #         - selenium-hub
    #     environment:
    #         - HUB_HOST=selenium-hub
    #         - HUB_PORT=4444
    #     ports:
    #         - "5900:5900"

volumes:
    pgdata:
    ls_data:
    redis_data:
