[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "viewflow"
url = "https://pypi.viewflow.io/${ICMS_VIEWFLOW_LICENSE}/simple/"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-sugar = "*"
flake8 = "*"
pytest-xdist = "*"
pytest-mock = "*"
pytest-flake8 = "*"
pyparsing = ">2.4.1"
factory-boy = "*"
faker = "*"
selenium = "*"
behave-django = "*"

[packages]
django = "==2.2.13"
django-environ = "*"
django-recaptcha = "*"
django-ses = "*"
gunicorn = "*"
html2text = "*"
psycopg2 = "*"
whitenoise = "*"
django-filter = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
jinja2 = "*"
requests = "*"
django-compressor = "*"
django-viewflow-pro = {version = "*",index = "viewflow"}
django-material-pro = {version = "*",index = "viewflow"}
elastic-apm = "*"
s3chunkuploader = "*"
humanize = "*"
django-structlog = "*"
django-celery-results = "*"
celery = "*"
redis = "*"
django-htmlmin = "*"
django-redis = "*"

[requires]
python_version = "3.7.6"
