# NOTE: you have to use single-quoted strings in TOML for regular expressions.
# It's the equivalent of r-strings in Python. Multiline strings are treated as
# verbose regular expressions by Black. Use [ ] to denote a significant space
# character.

[tool.black]
line-length = 100
target-version = ['py311']
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.venv
  | _build
  | .venv
  | tests-reports
)/
'''

# see https://pycqa.github.io/isort/docs/configuration/black_compatibility.html
[tool.isort]
profile = "black"

#
# Global mypy config
#
[tool.mypy]
python_version = "3.11"
exclude = [
    "web/tests/",
    "web/migrations/",
    "data_migration/tests/",
    "data_migration/migrations/",
]
show_error_codes = true
check_untyped_defs = true
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
# TODO: Add back in.
#disallow_incomplete_defs = true

#
# Modules to ignore missing imports
#
[[tool.mypy.overrides]]
module = [
    "django.*",
    "django_select2.*",
    "django_filters.*",
    "guardian.*",
    "debug_toolbar.*",
    "gunicorn.*",
    "psycogreen.*",
    "celery.*",
    "xlsxwriter.*",
    "sqlparse.*",
    "django_celery_results.*",
    "phonenumber_field.*",
    "humanize.*",
    "environ.*",
    "compressor.*",
    "django_ratelimit.*",
    "django_chunk_upload_handlers.*",
    "storages.*",
    "mohawk.*",
    "lxml.*",
    "playwright.*",
    "authbroker_client.*",
    "authlib.*",
    "qrcode.*",
    "dbt_copilot_python.*",
    "django_log_formatter_asim.*",
    "dbt_copilot_python.*",
    "fitz.*",
    "endesive.*",
    "PIL.*",
]
ignore_missing_imports = true


#
# Modules to have extra typing checks (equivalent to --strict).
# Extend as needed - modules added below as an example.
# https://mypy.readthedocs.io/en/stable/existing_code.html#introduce-stricter-options
#
[[tool.mypy.overrides]]
module = [
    "web.utils.*",
    "web.domains.case.services.*",
]
disallow_subclassing_any = true
disallow_untyped_decorators = true
disallow_any_generics = true
disallow_untyped_calls = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
no_implicit_reexport = true
