--extra-index-url https://pypi.viewflow.io/${ICMS_VIEWFLOW_LICENSE}/simple/
celery==4.4.7
django-celery-results==1.2.1
django-compressor==2.4
django-environ==0.4.5
django-filter==2.3.0
django-guardian==2.3.0
django-htmlmin==0.11.0
django-material-pro==1.6.7
django-phonenumber-field==5.0.0
django-recaptcha==2.0.6
django-redis==4.12.1
django-select2==7.4.2
django-ses==1.0.2
django-structlog==1.6.1
django-viewflow-pro==1.6.2
Django==3.1.2
elastic-apm==5.8.1
gevent==20.9.0
gunicorn==20.0.4
html2text==2020.1.16
humanize==2.6.0
Jinja2==2.11.2
phonenumbers==8.12.8
psycogreen==1.0.2
psycopg2==2.8.5
redis==3.5.3
requests==2.24.0
s3chunkuploader==0.14
sentry-sdk==0.10.2
whitenoise==5.2.0
