-r requirements-base.txt

# add packages needed only for development

behave-django==1.4.0
black==22.10.0
boto3-stubs[essential]
django-debug-toolbar==3.7
django-extensions==3.2.1
factory-boy==3.0.1
faker==4.1.2
flake8==5.0.4
ipdb==0.13.3
isort==5.10.1
mypy==0.991
pip-check==2.7
Pygments==2.8.1
pyparsing==2.4.7
pytest==7.1.3
pytest-base-url==2.0.0
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-flake8==1.1.1
pytest-mock==3.10.0
pytest-xdist==2.5.0
# What is this for?
PyYAML==5.4.1
requests-mock==1.10.0
selenium==3.141.0
sqlparse==0.4.3
types-pytz==2021.1.0
types-requests==2.25.0
pre-commit==2.20.0
types-python-dateutil
