pytest==7.4.3
pytest-playwright==0.4.4
pytest-xdist==3.5.0
# phonenumber imports required due to this import:
# from web.forms.fields import JQUERY_DATE_FORMAT
django-phonenumber-field==7.2.0
phonenumbers==8.12.12
pydantic==2.5.2
pydantic-settings==2.1.0
