boto3==1.21.29
celery[redis]==5.2.3
cx-Oracle==8.2.1
django-celery-results==2.3.0
django-chunk-upload-handlers==0.0.11
django-compressor==2.4
django-environ==0.4.5
django-filter==2.4.0
django-guardian==2.3.0
django-htmlmin==0.11.0
django-phonenumber-field==5.0.0
django-recaptcha==2.0.6
django-redis==5.2.0
django-select2==7.4.2
django-ses==1.0.3
django-structlog==1.6.2
Django==3.2.12
elastic-apm==5.9.0
gevent==20.9.0
gunicorn==20.1.0
html2text==2020.1.16
humanize==3.1.0
Jinja2==3.0.3
lxml==4.8.0
mohawk==1.1.0
openpyxl==3.0.7
phonenumbers==8.12.12
psycogreen==1.0.2
psycopg2-binary==2.8.6
python-dateutil==2.8.2
requests==2.24.0
sentry-sdk==0.19.2
structlog==20.1.0
WeasyPrint==52.4
whitenoise==5.2.0
xlsxwriter==3.0.1
