Authlib==1.2.1
boto3==1.21.29
celery[redis]==5.3.1
django-celery-results==2.4.0
django-chunk-upload-handlers==0.0.11
django-compressor==4.1
django-environ==0.4.5
django-filter==23.3
django-guardian==2.4.0
django-htmlmin==0.11.0
django-phonenumber-field==5.0.0
django-ratelimit==3.0.1
django-redis==5.2.0
django-select2==7.10.1
django-staff-sso-client==4.2.0
django-structlog==1.6.2
Django==4.1.10
elastic-apm==6.15.1
gevent==23.9.1
gunicorn==20.1.0
html2text==2020.1.16
humanize==3.1.0
Jinja2==3.0.3
lxml==4.9.1
mohawk==1.1.0
notifications-python-client==8.0.1
openpyxl==3.0.7
oracledb==1.2.0
phonenumbers==8.12.12
pytz==2023.3
psycogreen==1.0.2
psycopg2-binary==2.9.3
pydantic==1.10.2
python-dateutil==2.8.2
requests==2.31.0
sentry-sdk[django]==1.17.0
structlog==20.1.0
tqdm==4.65
WeasyPrint==59.0
whitenoise==5.2.0
xlsxwriter==3.0.1
