{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/list.html" as lists %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
    {% block filters %}
        {% call forms.form() -%}
          {% for field in filter.form.fields %}
            {{fields.field(filter.form[field])}}
          {% endfor %}

          <div class="clearBoth"></div>
          <div class="container">
            <div class="row">
              <div class="three columns"></div>
              <div class="six columns">
                <ul class="menu-out flow-across">
                  <button type="submit" name="" value="" class="primary-button button">
                    Search
                  </button>
                  </li>
                </ul>
              </div>
              <div class="three columns"></div>
            </div>
          </div>

          {% include "partial/paginator.html" %}
        {%- endcall %}

    {% endblock %}

    {% block results %}
        {% set empty_message %}
            {% block empty_message %}
                There aren't any records that match your search
            {% endblock %}
        {% endset %}

        {% set hide_empty_message = not(request.POST or request.GET) %}

        {{lists.filter_results(
            page,
            display_config,
            csrf_input=csrf_input,
            hide_empty_message=hide_empty_message,
            empty_message=empty_message
        )}}
    {% endblock %}
    <div class=content-actions></div>
{% endblock %}
