{% extends "base.html" %}

<!-- Simple html layout with GDS styling pieces,
     DIT large logo and footer with no navigation or sidebars.
     Serves as a base for publicly accessible pages like login and registration.
-->
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static('web/css/icms-login-style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static('web/css/icms-login-fonts.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <img alt="DBT Logo" width="21%" id="logo" src="{{ static('web/img/dbt_logo.png') }}">
    {% include "partial/mainstart.html" %}
    {% block main_content %}
    {% endblock %}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    <div id="footer-content">
        © <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">Crown Copyright</a>. All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated. <a href="https://www.ilb.trade.gov.uk/docs/DIT_DDaT_Fair_Processing_Notice_ICMS.pdf">Fair Processing Notice</a>
    </div>
</div>
{% endblock %}
