{% extends "base.html" %}

{% block header %}
  <header id="menu-bar">
    {% include "web/menu/menu.html" %}
  </header>

  <div class="" id="context-header">
    <h2>
      {% block context_header %}
        {{ title }} {# same as page title if not specified see web/templates/base.html #}
      {% endblock %}
    </h2>
    {% block extra_header %}{% endblock %}
  </div>

{% endblock %}

{% block content %}
    <div id="sidebar-substitute"></div>
    <div id="sidebar">
      {% block sidebar %}{% endblock %}
    </div>
    <div id="sidebar-background"></div>
    <div id="content">
      <div class="content-ie8-float">
        {% block content_actions %}{%endblock%}
        {% include "partial/mainstart.html" %}
        {% block main_content %}{%endblock%}
      </div>
    </div>
{% endblock %}
