{% extends "layout/sidebar.html" %}
{% import "forms/errors.html" as errors %}
{% import "forms/form.html" as forms %}
{# {% import "forms/list.html" as lists %} #}
{% import "messages/message.html" as messages %}

{% block page_title %}Edit Obsolete Calibre Group{% endblock %}
{% block context_header %}Edit Obsolete Calibre Group{% endblock %}

{% block main_content %}

<h3>Group</h3>
{% call forms.form(form, fields=form.fields, csrf_input=csrf_input) -%}

<h3>Obsolete Calibres</h3>

<div id="calibre_display_archived_checkbox" class="container setoutForm">
    <div class="row">
    {# {{forms.field(form.display_archived, opts=form.config)}} #}
        <div class="three columns">
           <label class="prompt west">Display Archived</label>
        </div>
        <div class="nine columns" >
            <input  id="calibre_display_archived_checkbox" type="checkbox"
                    {%- if request.GET.get('display_archived') %}
                    checked="checked"
                    {% endif -%} />
        </div>
    </div>
</div>

{{errors.formset_errors(formset) }}
<table id="obsolete-calibres-table" responsiveList class="setoutList">
    <thead>
        <tr>
            <th scope="col">Obsolete Calibre Name</th>
            <th scope="col">Status </th>
            <th scope="col">Actions </th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
        <tr>
            {{form.id}}
            {% with field=form.name %}
              {% include 'forms/inline-field.html' %}
            {% endwith %}
            <td>{{form.instance.status}}</td>
            <td>{{form.instance.order}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ formset.management_form }}

<script type="text/javascript">
    $(function() {
        $('#obsolete-calibres-table tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            formCssClass: 'calibres-form',
            addCssClass: 'small-button icon-plus button',
            addText: 'Add Obsoloete Calibre',
            deleteText: ''
        });
    })
</script>
{%- endcall %}

{% endblock %}
