{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include 'web/domains/case/import/partials/process.html' %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('import:prepare-response', args=[process.pk]) }}" class="prev-link">
          Response Preparation
        </a>
      </li>
    </ul>
  </div>

  <form
    method="post"
    action="{{ icms_url('import:release-ownership', args=[process.pk]) }}"
    class="form-inline">
      {{ csrf_input }}
      <button type="submit">Release Ownership</button>
  </form>
  <a href="#" class="button">Reassign</a>
  <a href="#" class="button primary-button" disabled=disabled>Quick Issue</a>
{% endblock %}

{% block sidebar %}
  {% include 'partial/case/import/sidebar-management.html' %}
{% endblock %}

{% block main_content %}
  <h3>Edit Endorsement</h3>
  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% for field in form %}
      {{ fields.field(field, show_optional_indicator=False) }}
    {% endfor %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                class="primary-button button"
                value="Save" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
