{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block main_content %}

  {% if errors %}
    <h3>Error</h3>

    <p>Please resolve the errors below before submitting the application.</p>

    {% include "web/utils/validation.html" %}
  {% else %}

  <h3>Declaration of Truth</h3>

  <div class="info-box info-box-warning">
    DIT does not accept responsibility for loss or expense which might arise
    from refusal of an application or from any delay, however caused, in a
    licence being granted or received. Goods for which an individual import
    licence is required is required but which are imported without a licence are
    liable to forfeiture. There are penalties for making false statements or
    giving false information.
  </div>

  <p class="bold">
    By filling in the field below and clicking Submit, you agree to the following:
  </p>

  <p>
    {{ declaration.template_content|nl2br }}
  </p>

  {% include "web/domains/case/partials/case-submit-form.html" %}

  {% endif %}

{% endblock %}
