{% extends "web/domains/case/import/view_case.html" %}


{% block main_content %}
  {% block application_contact %}
    {{ super() }}
  {% endblock %}

  <h4>Firearms and Ammunition</h4>
  <div class="container">
    <dl>
      <dt class="bold">Applicant Reference</dt>
      <dd>{{ process.applicant_reference or 'N/A' }}</dd>
      <dt class="bold">Firearms Licence for</dt>
      <dd>Section 1, Section 2</dd>
      <dt class="bold">Country Of Origin</dt>
      <dd>{{ process.origin_country.name }}</dd>
      <dt class="bold">Country Of Consignment</dt>
      <dd>{{ process.consignment_country.name }}</dd>
    </dl>
  </div>

  <h4>Goods</h4>
  <div class="container">
    <dl>
      <dt class="bold">Commodity Code</dt>
      <dd>{{ process.commodity_group }}</dd>
    </dl>
  </div>

  <table class="setoutList">
    <thead>
      <tr>
        <th style="width: 400px"> Goods Description </th>
        <th> Quantity </th>
        <th> Unit </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="individual-input">
            <span class="text-widget">
              Firearms, component parts thereof, or ammunition of any applicable commodity code,
              other than those falling under Section 5 of the Firearms Act 1968 as amended.
            </span>
          </div>
        </td>
        <td>
          <div class="individual-input">
            <span class="text-widget">Unlimited</span>
          </div>
        </td>
        <td>
          <div class="individual-input">
            <span class="text-widget">units</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Certificates/Documents</h4>
  <h5>Verified Firearms Authorities</h5>
  {% with read_only=True %}
    {% include "partial/certificates/list-verified.html" %}
  {% endwith %}

  <h5>Other Certificates</h5>
  {% with read_only = True %}
    {% include "partial/certificates/list.html" %}
  {% endwith %}

  <h4>Details of who bought from</h4>
  {% with read_only = True %}
    {% include "partial/import-contacts/list.html" %}
  {% endwith %}

{% endblock %}
