{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_js %}
  {{ super() }}
  <script src="{{ static('web/js/pages/obsolete-calibre-utils.js') }}" type="text/javascript"></script>
{% endblock %}

{% block context_header %}
  Edit Obsolete Calibre Group
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('obsolete-calibre-group-list') }}" class="prev-link">
          Maintain Obsolete Calibre
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
    {% include "partial/firearms/sidebar.html" %}
{% endblock %}

{% block main_content %}
  {% call forms.form(method='post', csrf_input=csrf_input) -%}
    <h3>Group</h3>
    {% for field in form %}
        {{fields.field(field)}}
    {% endfor %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                name="action"
                class="primary-button button"
                value="Save" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {%- endcall %}

  {% with calibres = object.calibres.all() %}
  {% if not calibres %}
    <div class="info-box info-box-info">
      <h5 class="mt-0">No current obsolete calibres are added to this group.</h5>
      Use 'Create Obsolete Calibre' to add an obsolete calibre to this group.
    </div>
  {% else %}
    <div id="calibre_display_archived_checkbox" class="container setoutForm">
      <div class="row">
        <div class="three columns">
          <label class="prompt west">Display Archived</label>
        </div>
        <div class="eight columns radio-or-tickbox-group">
          <label class="radio-label" for="calibre_display_archived_checkbox">
            <input id="calibre_display_archived_checkbox" type="checkbox" {%- if request.GET.get('display_archived') %} checked="checked" {% endif -%} />
          </label>
        </div>
        <div class="one columns"></div>
      </div>
    </div>

    <table id="obsolete-calibres-table" class="setoutList">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="grabbable grabbable-calibre">
      {% for calibre in calibres %}
        {% if not display_archived and not calibre.is_active %}
          <tr class="hidden" id="{{ calibre.pk }}">
        {% else %}
          <tr id="{{ calibre.pk }}">
        {% endif %}
          <td>
            &#x2B0D;
            {{ calibre.name }}
          </td>
          <td>
            {% if calibre.is_active %}
              Current
            {% else %}
              Archived
            {% endif %}
          </td>
          <td>
            {% if calibre.is_active %}
              <a href="{{ icms_url('obsolete-calibre-edit', args=[object.pk, calibre.pk]) }}"
                 class="button small-button icon-pencil">
                 Edit
              </a>
              <form method="post"
                action="{{ icms_url('obsolete-calibre-archive', args=[object.pk, calibre.pk]) }}"
                class="form-inline">

                {{ csrf_input }}
                <button type="submit" class="button small-button icon-bin">Archive</button>
              </form>
            {% else %}
              <form method="post"
                action="{{ icms_url('obsolete-calibre-unarchive', args=[object.pk, calibre.pk]) }}"
                class="form-inline">

                {{ csrf_input }}
                <button type="submit" class="button small-button icon-undo2">Restore</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% endwith %}

  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('obsolete-calibre-create', kwargs={'calibre_group_pk': object.pk}) }}"
          class="button small-button icon-office">
          Create Obsolete Calibre</a>
      </li>
    </ul>
  </div>

{% endblock %}
