{% extends "model/list.html" %}
{% block empty_message %}There aren't any obsolete calibres that match your search{% endblock %}
{% set filtered = request.GET.get('group_name') or request.GET.get('calibre_name')  %}


{% block sidebar %}
    {% include "partial/firearms/sidebar.html" %}
{% endblock %}

{% block results %}
  <table responsiveList id="obsolete-calibres-table" class="setoutList">
    <thead>
      <tr>
        {{tables.headers(display)}}
        {% if filter.data.get("calibre_name") %}
          <th>Matching Matching Obsolete Calibres</th>
        {% endif %}
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="{{ 'grabbable grabbable-group' if not filtered else '' }}">
    {% for item in results %}
      {% if not 'display_archived' in filter.data and not item.is_active %}
        <tr class="hidden" id="{{ item.pk }}">
      {% else %}
        <tr id="{{ item.pk }}">
      {% endif %}
        <td>
          {% if not filtered %}
            &#x2B0D;
          {% endif %}
          <a href="{{ icms_url('obsolete-calibre-group-view', args=[item.pk]) }}">
            {{ item.name }}
          </a>
        </td>
        <td>
          {{ item.calibres.filter(is_active=True).count() }}
          (archived: {{ item.calibres.filter(is_active=False).count() }})
        </td>
        {% if filter.data.get("calibre_name") %}
          <td>
            {% for calibre in item.calibres.filter(name__icontains=filter.data.get("calibre_name")) %}
              {{ calibre }}<br />
            {% endfor %}
          </td>
        {% endif %}
        <td>
          {% if item.is_active %}
            <a href="{{ icms_url('obsolete-calibre-group-edit', args=[item.pk]) }}"
               class="button small-button icon-pencil">
               Edit
            </a>
            <form method="post"
              action="{{ icms_url('obsolete-calibre-group-archive', args=[item.pk]) }}"
              class="form-inline">

              {{ csrf_input }}
              <button type="submit" class="button small-button icon-bin">Archive</button>
            </form>
          {% else %}
            <form method="post"
              action="{{ icms_url('obsolete-calibre-group-unarchive', args=[item.pk]) }}"
              class="form-inline">

              {{ csrf_input }}
              <button type="submit" class="button small-button icon-undo2">Restore</button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
