{% extends "layout/sidebar.html" %}

{% block page_title %}Obsolete Calibre Group{% endblock %}
{% block context_header %}Obsolete Calibre Group{% endblock %}

{% block content_actions %}
    <div class="content-actions">
        <ul class="menu-out flow-across">
          <a href="{{ icms_url('obsolete-calibre-group-list') }}" class="prev-link">
            Maintain Obsolete Calibre
          </a>
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "partial/firearms/sidebar.html" %}
{% endblock %}

{% block main_content %}
  <h3>Group</h3>

  <div class="container">
    <div class="row">
      <dl>
        <dt class="bold">Group Name</dt>
        <dd>{{ object.name }}</dd>
        <dt class="bold">Status</dt>
        <dd class="status {{ object.is_active}}">
          {% if object.is_active %}
            Currrent
          {% else %}
            Archived
          {% endif %}
        </dd>
      </dl>
    </div>
  </div>

  <h3>Obsolete Calibres</h3>

  {% with calibres = object.calibres.all() %}
  {% if not calibres %}
    <div class="info-box info-box-info">
      There are no calibres attached.
    </div>
  {% else %}
    <table responsiveList class="setoutList">
      <thead>
        <tr>
          <th scope="col">Obsolete Calibre Name</th>
          <th scope="col">Status </th>
        </tr>
      </thead>
      <tbody>
        {% for calibre in calibres %}
        <tr>
          <td class="calibre-status">
            {{ calibre.name }}
          </td>
          <td class="calibre-status">{{calibre.status}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% endwith %}
{% endblock %}
