{% extends "layout/filtered-list.html" %}
{% import "messages/message.html" as messages %}

{% block page_title %}Maintain Importers{% endblock %}
{% block context_header %}Maintain Importers{% endblock %}
{% block empty_message %}There aren't any importers that match your search{% endblock %}

{% block sidebar %}
<ul class="menu-out">
    <li>
      <a href="{{url('importer-new')}}">Create Main Importer</a>
    </li>
</ul>
<ul class="menu-out">
    <li>
      <a href="">Search Access Requests</a>
    </li>
</ul>
{% endblock %}
