{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}

{% block css %}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ previous_link }}" class="prev-link">Edit schedule</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% block main_content_intro %}{% endblock %}
  <h4>{{ page_title }}</h4>
  <sub>Add any products leaving unused extra rows blank.</sub>
  {% call forms.form(method='post', csrf_input=csrf_input) -%}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.id }}
        <div class="row">
          {{ fields.inline_field_with_label(form.product_name, prompt="north", label_cols='two', padding='zero', input_cols='four') }}
          {% if form.instance.pk and formset.can_delete %}
            {{ fields.inline_field_with_label(form.DELETE, prompt="north", show_optional_indicator=False, label_cols='zero', padding='zero', input_cols='one') }}
          {% endif %}
        </div>
    {% endfor %}
    {{ forms.submit_button(padding_cols="two") }}
  {% endcall %}
{% endblock %}

{% block page_js %}
{% endblock %}
