{% extends "flow/task-base.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block content_actions %}

<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a href="{{ icms_url(process.get_edit_view_name(), kwargs={'application_pk': process.pk}) }}" class="prev-link">
        Edit application
        {% if process.applicant_reference %}
          '{{ process.applicant_reference }}'
        {% endif %}
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
  <h3>Details of who bought from</h3>
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
      {% for field in form %}
        {{fields.field(field, show_optional_indicator=False)}}
      {% endfor %}
      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="six columns">
            <ul class="menu-out flow-across"><li><input type="submit" name="action" class="primary-button button" value="Save" /></li></ul>
          </div>
          <div class="three columns"></div>
        </div>
      </div>
    {%- endcall %}

  {% include "partial/know-bought-from.html" %}

  {% if process.know_bought_from %}
    {% with can_delete = True %}
      {% include "partial/import-contacts/list.html" %}
    {% endwith %}
  {% endif %}

{% endblock %}


{% block page_js %}
  {{ super() }}
  <script src="{{ static('web/js/pages/bought-from.js') }}" type="text/javascript"></script>
{% endblock %}
