{% extends "flow/task-base.html" %}


{% block content_actions %}

<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a href="{{ icms_url(process.get_edit_view_name(), kwargs={'application_pk': process.pk}) }}" class="prev-link">
        Edit application
        {% if process.applicant_reference %}
          '{{ process.applicant_reference }}'
        {% endif %}
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
  <h3>Details of who bought from</h3>
  {% include "partial/know-bought-from.html" %}
  {% with can_delete = True %}
    {% include "partial/import-contacts/list.html" %}
  {% endwith %}
{% endblock %}
