{% macro document_signature_placeholder(image_base64, content_type, signatory) -%}
    <div name="signature-widget">
        <span id="signature-widget-signatory">Signed by {{ signatory }}</span>
        <div id="signature-widget-image-container">
            <img id="signature-widget-image" alt="signature" src="data:{{ content_type }};base64, {{ image_base64 }}">
        </div>
        <span>On behalf of the Secretary of State</span>
        <span>Department for Business and Trade</span>
    </div>
{%- endmacro %}

{% macro not_signed_image(classes) -%}
    <div name="no-signature-widget">
        <div id="signature-widget-image-container">
            <img id="not_signed_image" class="{% if classes %}{{ classes }}{% endif %}" src="data:jpg;base64,{{ get_file_base64('web/img/dit-no-signature.jpg') }}">
        </div>
    </div>
{%- endmacro %}

{% macro dbt_logo(classes) -%}
    <img alt="DBT Logo" class="{% if classes %}{{ classes }}{% endif %}" src="data:image/png;base64,{{ get_file_base64('web/img/dbt_logo.png') }}"/>
{%- endmacro %}
