{% extends "flow/task-base.html" %}


{% block sidebar %}
  {% include "web/domains/case/import/fa-import-contacts/sidebar.html" %}
{% endblock %}

{% block content_actions %}

{% if process.process_type == "OpenIndividualLicenceApplication" %}
  {% set url = 'import:fa-oil:edit' %}
  {% set label = 'Edit Open Individual Licence' %}
{% elif process.process_type == "DFLApplication" %}
  {% set url = 'import:fa-dfl:edit' %}
  {% set label = 'Edit Deactivated Firearms Licence' %}
{% elif process.process_type == "SILApplication" %}
  {% set url = 'import:fa-sil:edit' %}
  {% set label = 'Edit Specific Import Licence' %}
{% else %}
  {% set url = 'import:UNKNOWN-EDIT-ACTION' %}
  {% set label = 'Unknown application type' %}
{% endif %}

<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a href="{{ icms_url(url, kwargs={'application_pk': process.pk}) }}" class="prev-link">
        {{ label }}
        {% if process.applicant_reference %}
          '{{ process.applicant_reference }}'
        {% endif %}
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
  <h3>Details of who bought from</h3>
  {% include "partial/import-contacts/list.html" %}
{% endblock %}
