{% macro _header(field, config) -%}
  {{config.header}}
  {% if config.tooltip %}
    <div id="{{field}}-hint"  class="hint-content" role="tooltup" aria-hidden="true">
      {{config.tooltip}}
    </div>
    <div id="{{field}}" aria_describedby="{{field}}-hint" class="hint icon-info tooltipstered"></div>
  {% endif %}
{%- endmacro %}

{% macro _field_value(text, config) -%}
  {% if config and config.bold %}<strong>{% endif -%}
      {{ text }}
  {% if config and config.bold %}</strong>{% endif -%}
{% endmacro %}

{% macro _field(object, field, config) -%}
  {% if config and config.label %}
    {{config.label | safe}}
  {% endif %}
  {% if config and config.link %}
    <a href={{object.id}} role="model-link">{{object[field]}}</a>
  {% elif config and config.show_all %}
    {% for entry in object[field].all() %}
      {{ _field_value(entry, config)|nl2br }}
    {% endfor %}
  {% else %}
    {{_field_value(object[field], config)}}
  {% endif %}
{% endmacro %}

{% macro headers(display) -%}
  {% for f in display.fields %}
    <th scope="col">
      {% if f is string %}
        {{_header(f, display.fields_config[f])}}
      {% else %}
        {% for field in f if not display.fields_config[field].no_header %}
          {{_header(field, display.fields_config[field])}}
          {% if not loop.last %}
            / </br>
          {% endif %}
        {% endfor %}
      {% endif %}
    </th>
  {% endfor %}
{%- endmacro %}

{% macro fields(object, display) -%}
  {% for f in display.fields %}
    <td>
      {% if f is string %}
        {% set current_value = _field(object, f,display.fields_config[f]) %}
        {% if not 'None' in current_value %}
          {{ current_value }}
        {% endif %}
      {% else %}
        {% for field in f %}
          {% set current_value = _field(object, field, display.fields_config[field]) %}
          {% if not 'None' in current_value %}
            {{ current_value }}
            {% if not loop.last %}
              </br>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </td>
  {% endfor %}
{%- endmacro %}
