{% extends "web/domains/offices/create.html" %}

{% block context_header %}
  {% if object.is_agent() %}
    Create Office for Agent '{{ object.name }}'
  {% else %}
    Create Office for Exporter '{{ object.name }}'
  {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "partial/exporter/sidebar.html" %}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ url('exporter-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
          Exporter {{ object.name }}
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <div class="info-box info-box-info">
    {% if object.is_agent() %}
      Create Office for Agent '{{ object.name }}'
    {% else %}
      Create Office for Exporter '{{ object.name }}'
    {% endif %}
  </div>
  {{ super() }}
{% endblock %}
