{% extends "web/domains/offices/create.html" %}

{% block context_header %}
  {% if object.is_agent() %}
    Edit Office for Agent '{{ object.name }}'
  {% else %}
    Edit Office for Importer '{{ object.name }}'
  {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "partial/exporter/sidebar.html" %}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        {% if object.is_agent() %}
          <a href="{{ icms_url('exporter-agent-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
            Agent {{ object.name }}
          </a>
        {% else %}
          <a href="{{ icms_url('exporter-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
            Exporter {{ object.name }}
          </a>
        {% endif %}
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <div class="info-box info-box-info">
    {% if object.is_agent() %}
      Edit office for the exporter {{ object.name }}.
    {% else %}
      Edit office for the agent {{ object.name }}.
    {% endif %}
  </div>
  {{ super() }}
{% endblock %}

{% block submit_button %}Save{% endblock %}
