{% extends base_template %}
{% include 'web/domains/exporter/exclusive_correspondence_tooltip.html' %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
  {{ contact_form.media.css }}
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li><a href="{{ parent_url }}" class="prev-link">Exporters</a></li>
    </ul>
  </div>
{% endblock %}

{% block context_header %}
  Editing Exporter '{{ object.name }}'
{% endblock %}

{% block sidebar %}
  {% include "partial/exporter/sidebar.html" %}
{% endblock %}

{% block main_content %}
  {% include "web/company_list.html" %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input, id='edit-form') -%}
    {% block fields %}
        {{ fields.field(form.name, lookup=True) }}
        {{ fields.field(form.registered_number, lookup=True) }}
        {{ fields.field(form.comments) }}
        {{ fields.field(form.exclusive_correspondence, checkbox_label="Send application correspondence to the nominated application contact only", tooltip_msg_id="correspondence-exclusive-tooltip", input_cols='five') }}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" name="action" value="save" class="primary-button button" id="save-button">
                Save
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}

  {% with
    offices = object.offices.all(),
    office_create_url_name = 'exporter-office-create',
    office_archive_url_name = 'exporter-office-archive',
    office_unarchive_url_name = 'exporter-office-unarchive',
    office_edit_url_name = 'exporter-office-edit' %}

    {% include "partial/offices.html" %}
  {% endwith %}

  {% with 
    agents = object.agents,
    agent_view_url_name = "exporter-view",
    agent_edit_url_name = "exporter-agent-edit",
    agent_archive_url_name = "exporter-agent-archive",
    agent_unarchive_url_name = "exporter-agent-unarchive",
    is_ilb_admin = "web.ilb_admin" in perms
  %}

    {% include "partial/agents.html" %}
  {% endwith %}

  {% with read_only = False %}
    {% include "partial/contacts/contacts.html" %}
  {% endwith %}
{% endblock %}

{% block page_js %}
  {% include "web/search-companies.html" %}

  {{ contact_form.media.js }}
  {{ form.media.js }}
  {{ super() }}
{% endblock %}
