{% extends base_template %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
  {{ contact_form.media.css }}
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('exporter-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
          Exporter {{ object.name }}
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block context_header %}
  Editing Agent '{{ form.instance.name }}' for Exporter '{{ object.name }}'
{% endblock %}

{% block sidebar %}
  {% include "partial/exporter/sidebar.html" %}
{% endblock %}

{% block main_content %}

  <div class="info-box info-box-info">
    This exporter is an agent of exporter '{{ object.name }}'.
  </div>

  {% include "web/company_list.html" %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% block fields %}
      {% for field in form %}
      {% with lookup = field.name in ['name', 'registered_number'] %}
        {{ fields.field(field, lookup=lookup) }}
      {% endwith %}
      {% endfor %}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" name="action" value="save" class="primary-button button">Save</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}

  {% with
    object = form.instance,
    offices = form.instance.offices.all(),
    office_create_url_name = 'exporter-office-create',
    office_archive_url_name = 'exporter-office-archive',
    office_unarchive_url_name = 'exporter-office-unarchive',
    office_edit_url_name = 'exporter-office-edit' %}

    {% include "partial/offices.html" %}
  {% endwith %}

  {% with object = form.instance, read_only = False %}
    {% include "partial/contacts/contacts.html" %}
  {% endwith %}
{% endblock %}

{% block page_js %}
  {% include "web/search-companies.html" %}

  {{ contact_form.media.js }}
  {{ super() }}
{% endblock %}
