{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url(prev_link, kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'case_type': case_type}) }}"
          class="prev-link">
          Edit FIR
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}

<h4>Add document</h4>

{% call forms.form(action='', method='post', csrf_input=csrf_input, enctype='multipart/form-data') -%}
  {{ fields.field(form.document) }}
  <input type="submit" name="action" class="primary-button button" value="Save" />
{% endcall %}

{% endblock %}
