{% extends "web/domains/case/fir/base/fir-task.html" %}

{% import "forms/fields.html" as fields %}
{% import "forms/files.html" as _files %}


{% block process_details %}
  {# do not show process details on this page #}
{% endblock %}

{% block form_content %}
  <h3>Further Information Request</h3>
  {{ fields.field(form.request_subject) }}
  {{ fields.field(form.email_cc_address_list) }}
  {{ fields.field(form.request_detail) }}
  {# 
    can not use `form.files` as it clashes with form's files attribute 
    instead use `form.fields.files`
  #}
  {{ _files.uploader(files, field=form.fields.files, readonly=False) }}
{% endblock %}


{% block task_actions %}
  <li>
    <button 
      type="submit" 
      role="action-button" 
      data-confirm="Are you sure you want to send this further information request?" 
      class="primary-button button">
      Send Request
    </button>
  </li>
  <li>
    <button type="submit" name="_save_draft" class="button">
      Save Draft
    </button>
  </li>
{% endblock %}
