{% extends "web/domains/case/fir/base/fir-task.html" %}

{% import "forms/fields.html" as fields %}
{% import "forms/files.html" as _files %}


{% block main_content %}
  {{super()}}
{% endblock %}

{% block form_content %}
    {{super()}}
    {{fields.field(form.response_detail)}}
    {{ _files.uploader(files, field=form.fields.files, readonly=False) }}
{% endblock %}


{% block task_actions %}
  <li>
    <button 
      type="submit" 
      role="action-button" 
      data-confirm="Are you sure you would like to submit this further information response?"
      class="primary-button button">
        Submit Response
    </button>
  </li>
{% endblock %}
