{% extends "web/domains/case/fir/base/fir-task.html" %}

{% import "forms/fields.html" as fields %}
{% import "forms/files.html" as _files %}


{% block form_content %}
    <div class="section-break"></div>
    {{ _files.uploader(files, field=form.fields.files, readonly=False) }}
{% endblock %}

{% block task_actions %}
  <li>
    <button 
      type="submit" 
      role="action-button" 
      data-confirm="Are you sure you want to close this further information request?"
      class="primary-button button">
        Close Request
    </button>
  </li>
{% endblock %}
