
#quantity-section {
    display: flex;
    flex-direction: column;
    page-break-before: always;
}

#quantity-section > main {
    flex: 4;
}

#quantity-section > footer {
    flex: 1
}

#quantity-table {
    width: 100%;
    height: 750px;

}

#quantity-table tr:first-child {
    height: 5%;
}

#quantity-table tr:nth-child(n+2) {
    height: 9.5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 4px;
}

#quantity-table td {
  font-size: 12px;
  padding-top: 4px;
  text-align: left;
  vertical-align: top;
  width: 25%;
}

#paper-importer-notes {
    margin-block-start: 8px;
    padding-inline-start: 20px;
}
