{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
    {% include "partial/case/import/fa-dfl/sidebar.html" %}
{% endblock %}

{% block form_content %}
  <h4>Contact</h4>
  {{ fields.field(form.contact) }}

  <h4>Firearms and Ammunition</h4>
  {{ fields.field(form.applicant_reference) }}
  {{ fields.field(form.deactivated_firearm, checkbox_label="Deactivated Firearm") }}
  {{ fields.field(form.proof_checked, checkbox_label="I confirm that this firearm has been proof marked as required by UK or EU law where applicable") }}
  {{ fields.field(form.origin_country) }}
  {{ fields.field(form.consignment_country) }}

  <h4>Goods</h4>
  <p>Placeholder</p>

  <h4>Details of who bought from</h4>
  <p>Placeholder</p>
  {{ fields.field(form.know_bought_from) }}

{% endblock %}

{% block task_actions %}
  <input type="submit" name="action" class="primary-button button" value="Save" />
{% endblock %}
