{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_field %}

{% block sidebar %}{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="four columns">
        <label class="prompt west">Reference</label>
      </div>
      <div class="eight columns">
        TODO ICMSLST-836 Set Licence Reference
      </div>
    </div>

    <br />

    <div class="row">
      <div class="four columns">
        <label class="prompt west">Issued To</label>
      </div>
      <div class="eight columns">
        {{ org }}
      </div>
    </div>

    <br />

    <div class="row">
      <div class="four columns">
        <label class="prompt west">Primary Recipients</label>
      </div>
      <div class="eight columns">
        {% for contact in contacts %}
          {{ contact }}
          {% if not loop.last %}<br />{% endif %}
        {% endfor %}
      </div>
    </div>

    <br />

    <div class="row">
      <div class="four columns">
        <label class="prompt west">Followup contact</label>
      </div>
      <div class="eight columns">
        {{ process.contact }}
      </div>
    </div>

  </div>

  <h3>Notification List</h3>
  <p>You have been issued with the following documents. Please view them and take any appropriate action.</p>

  {% with show_generation_status = False %}
    {% include "web/domains/case/document-list.html" %}
  {% endwith %}

  <h3>Acknowledgement of Receipt</h3>

  {% if acknowledged %}
    <p>This notification has been acknowledged. Details below.</p>

    <div class="container">
      <div class="row">
        <div class="three columns">
        <label class="prompt west">Acknowledgement By</label>
        </div>
        <div class="three columns">
          {{ process.acknowledged_by }}
        </div>
        <div class="three columns">
        <label class="prompt west">Acknowledgement Date</label>
        </div>
        <div class="three columns">
          {{ process.acknowledged_datetime.strftime("%d-%b-%Y %H:%M:%S") }}
        </div>
      </div>
    </div>

  {% else %}
    <div class="info-box info-box-info">
    <h4>Please note</h4>
    <ul>
      <li>Once you have acknowledged receipt you will be able to remove this entry from your workbasket.</li>
      <li>Once removed you will be able to view this notification using the Search Notifications option in the main menu.</li>
      <li>Only Authorised Contacts may acknowledge receipt of notifications. Information Contacts can only view the notifications.</li>
    </ul>
    </div>

    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}

      {{ fields.field(form.confirmation, padding='one', input_cols='one', label_cols='eight') }}

      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li>
                <input
                  type="submit"
                  name="action"
                  class="primary-button button"
                  value="Acknowledge Receipt" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endcall %}
  {% endif %}

{% endblock %}
