{% extends 'layout/sidebar.html' %}
{% import 'forms/forms.html' as forms %}


{% block sidebar %}
  {% include "partial/case/sidebar.html" %}
{% endblock %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include "web/domains/case/" + case_type + "/partials/process.html" %}
  </div>
{% endblock %}

{% block main_content %}
  {% block before_form %}{% endblock %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input, class="prevent-data-loss") -%}

    {% block form_content %}{% endblock %}

    <div class="list-actions">
      <div class="container">
        <div class="row">
          <div class="eight columns">
            <ul class="menu-out flow-across">
              {% block task_actions %}
              {% endblock %}
            </ul>
          </div>
          <div class="four columns"></div>
        </div>

      </div>
    </div>
  {% endcall %}

  <div class="container">
    <div class="row">
      <div class="four columns"></div>
      {% block subtasks %}
      {% endblock subtasks %}
    </div>
  </div>

  {% block after_form %}{% endblock %}

{% endblock %}
