{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/forms.html" as forms %}
{% from "display/fields.html" import application_field %}

{% block sidebar %}{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {{ application_field(process.get_reference() + " Response Documents", "Document Set Title") }}
  {% include "web/domains/case/manage/document-packs-list.html" %}

  <h3>Sign & Authorise</h3>
  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    <input
      type="submit"
      name="action"
      class="primary-button button"
      value="Sign and Authorise"
      data-confirm="Are you sure you want to authorise these documents?"
    />
  {% endcall %}
{% endblock %}
