<table class="setoutList">
  <thead>
  <tr>
    <th>Document Title</th>
    {% if show_generation_status %}
      <th>Generation Status</th>
    {% endif %}
    <th>Document</th>
  </tr>
  </thead>
  <tbody>
      {% if show_name_change_notification_document %}
        <tr>
            <td>DIT to DBT Notification Document</td>
            <td>
              <a class="inline-link-button pdf icon-file-pdf button link-button"
                 href="{{ static('web/docs/DIT-DBT-NameChangeNotification.pdf') }}"
                 target="_blank"
                 rel="noopener noreferrer">
                View PDF
              </a>
            </td>
        </tr>
      {% endif %}
      {% if cover_letter_flag %}
        <tr>
            <td>{{ type_label }} Cover Letter</td>
            {% if show_generation_status %}
              <td>COMPLETE</td>
            {% endif %}
            <td>
                <a href="{{ cover_letter_url }}" target="_blank" rel="noopener noreferrer" class="link-button inline-link-button icon-file-pdf button">
                  View PDF
                </a>
            </td>
        </tr>
      {% endif %}
      {% if case_type == "import" %}
        <tr>
            <td>{{ type_label }} Licence{{" (Holders Copy)" if customs_copy else ""}}</td>
            {% if show_generation_status %}
              <td>COMPLETE</td>
            {% endif %}
            <td>
                <a href="{{ licence_url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="link-button inline-link-button icon-file-pdf button">
                    View PDF
                </a>
            </td>
        </tr>
        {% if customs_copy %}
            <tr>
                <td>{{ type_label }} Licence (Custom's Copy)</td>
                {% if show_generation_status %}
                  <td>COMPLETE</td>
                {% endif %}
                <td>
                    <a href="{{ licence_url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="link-button inline-link-button icon-file-pdf button">
                        View PDF
                    </a>
                </td>
            </tr>
        {% endif %}
      {% elif case_type == "export" %}
        {% if is_cfs and cfs_cover_letter_pk %}
            <tr>
                <td>Certificates of Free Sale (CFS) issued by the United Kingdom (UK)</td>
                {% if show_generation_status %}
                  <td>COMPLETE</td>
                {% endif %}
                <td>
                    <a
                        href="{{ icms_url('case:view-static-document', kwargs={'application_pk': process.pk, 'case_type':'export', 'file_pk': cfs_cover_letter_pk}) }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="link-button inline-link-button icon-file-pdf button">
                          View PDF
                    </a>
                </td>
            </tr>
        {% endif %}
        {% for document in certificate_docs %}
            {% set country = document.reference_data.country %}
            <tr>
                <td>{{ document.reference }} - {{ type_label }} ({{ country.name }})</td>
                {% if show_generation_status %}
                  <td>COMPLETE</td>
                {% endif %}
                {% if is_issued %}
                  <td>
                      <a
                          href="{{ icms_url('case:view-case-document', kwargs={'application_pk': process.pk, 'case_type':'export', 'object_pk': certificate_pk, 'casedocumentreference_pk': document.pk}) }}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="link-button inline-link-button icon-file-pdf button">
                            View PDF
                      </a>
                  </td>
                {% else %}
                  <td>
                      <a
                          href="{{ icms_url('case:certificate-pre-sign', kwargs={'application_pk': process.pk, 'case_type':'export', 'country_pk': country.pk}) }}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="link-button inline-link-button icon-file-pdf button">
                            View PDF
                      </a>
                  </td>
                {% endif %}
            </tr>
        {% endfor %}
      {% endif %}
    </tbody>
</table>
