<table class="setoutList">
  <thead>
  <tr>
    <th>Document Title</th>
    {% if show_generation_status %}
      <th>Generation Status</th>
    {% endif %}
    <th>Document</th>
  </tr>
  </thead>
  <tbody>
      {% if cover_letter_flag %}
        <tr>
            <td>{{ type_label }} Cover Letter</td>
            {% if show_generation_status %}
              <td>COMPLETE</td>
            {% endif %}
            <td>
                <a href="{{ cover_letter_url }}" target="blank" class="link-button inline-link-button icon-file-pdf button">
                  View PDF
                </a>
            </td>
        </tr>
      {% endif %}
      {% if case_type == "import" %}
        <tr>
            <td>{{ type_label }} Licence{{" (Holders Copy)" if customs_copy else ""}}</td>
            {% if show_generation_status %}
              <td>COMPLETE</td>
            {% endif %}
            <td>
                <a href="{{ licence_url }}" target="blank" class="link-button inline-link-button icon-file-pdf button">
                  View PDF
                </a>
            </td>
        </tr>
        {% if customs_copy %}
            <tr>
                <td>{{ type_label }} Licence (Custom's Copy)</td>
                {% if show_generation_status %}
                  <td>COMPLETE</td>
                {% endif %}
                <td>
                    <a href="{{ licence_url }}" target="blank" class="link-button inline-link-button icon-file-pdf button">
                        View PDF
                    </a>
                </td>
            </tr>
        {% endif %}
      {% elif case_type == "export" %}
        {# TODO: Revisit when we can generate an export certificate: #}
        {# https://uktrade.atlassian.net/browse/ICMSLST-1406 #}
        {# https://uktrade.atlassian.net/browse/ICMSLST-1407 #}
        {# https://uktrade.atlassian.net/browse/ICMSLST-1408 #}
        {# TODO: Use `certificate_links` to show all pdf links #}
        {% if is_cfs %}
            <tr>
                <td>Certificates of Free Sale (CFS) issued by the United Kingdom (UK)</td>
                {% if show_generation_status %}
                  <td>COMPLETE</td>
                {% endif %}
                <td>
                    <a
                        href="#"
                        target="blank"
                        class="link-button inline-link-button icon-file-pdf button">
                        View PDF
                    </a>
                </td>
            </tr>
        {% endif %}
        {% for country in process.countries.all() %}
            <tr>
                <td>{{ type_label }} ({{ country.name }})</td>
                {% if show_generation_status %}
                  <td>COMPLETE</td>
                {% endif %}
                <td>
                    <a
                        href="#"
                        target="blank"
                        class="link-button inline-link-button icon-file-pdf button">
                        View PDF
                    </a>
                </td>
            </tr>
        {% endfor %}
      {% endif %}
    </tbody>
</table>
