{% extends "layout/sidebar.html" %}

{% block context_header %}
  Edit Note
{% endblock %}

{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
  {{ super() }}
{% endblock %}

{% block sidebar %}
  {% if url_namespace == "export" %}
    {% with object = process %}
      {% include 'partial/case/export/sidebar.html' %}
    {% endwith %}
  {% else %}
    {% include 'partial/case/import/sidebar-management.html' %}
  {% endif %}
{% endblock %}

{% block content_actions %}
  <form method="post" action="{{ url(url_namespace + ':release-ownership', args=[process.pk]) }}" class="form-inline">
    {{ csrf_input }}
    <button type="submit">Release Ownership</button>
  </form>
  <a href="#" class="button">Reassign</a>
  <a href="#" class="button primary-button" disabled=disabled>Quick Issue</a>
{% endblock %}

{% block main_content %}
  <h3>Edit Case Note</h3>
    <fieldset>
      <legend class="bold">
        Case Note created by {{ note.created_by }} on {{ note.create_datetime.strftime('%d-%b-%Y %H:%M:%S') }}
      </legend>

      {% if note.is_active %}
        <form method="post" action="{{ url(url_namespace + ':archive-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk }) }}" class="form-inline">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          <button type="submit" class="small-button icon-bin">Delete</button>
        </form>
      {% else %}
        <form method="post" action="{{ url(url_namespace + ':unarchive-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk }) }}" class="form-inline">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          <button type="submit" class="small-button icon-bin">Restore</button>
        </form>
      {% endif %}

      <div class="row">
        <div class="three columns"></div>
        <div class="six columns">
          <form method="post" 
                action="{{ url(url_namespace + ':edit-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk}) }}"
                enctype="multipart/form-data">
            {{ csrf_input }}
            {{ note_form.as_p() }}
            <p>Selected files:</p>
            <p>
              <label>Documents</label>
            </p>
            <div id="fileList"></div>
            <button type="submit" class="button primary-button">Save</button>
          </form>
          {% if note.files.exists() %}
          <table class="setoutList">
            <thead>
              <tr>
                <th scope="col">File</th>
                <th scope="col">Created By</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for document in note.files.active() %}
              <tr>
                <td>
                  {{ document.filename }}<br />
                  <span class="extra-info">{{ document.file_size|filesizeformat }}</span>
                </td>
                <td>
                  {{ document.created_by }}<br />
                  <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
                </td>
                <td>
                  <form method="post"
                        action={{ url(url_namespace + ':archive-note-file', kwargs={'application_pk': process.pk, 'note_pk': note.pk, 'file_pk': document.pk}) }}>
                    {{ csrf_input }}
                    <button type="submit" class="button link-button-no-padding">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% endif %}

        </div>
        <div class="three columns"></div>
      </div>
    </fieldset>
{% endblock %}
