{% extends "layout/sidebar.html" %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ url(url_namespace + ':manage-firs', args=[process.pk]) }}" class="prev-link">
          Manage Further Information Requests
        </a>
      </li>
    </ul>
  </div>

  {% if url_namespace == "import" %}
    <form
      method="post"
      action="{{ url(url_namespace + ':release-ownership', args=[process.pk]) }}"
      class="form-inline">
        {{ csrf_input }}
        <button type="submit">Release Ownership</button>
    </form>
    <a href="#" class="button">Reassign</a>
    <a href="#" class="button primary-button" disabled=disabled>Quick Issue</a>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% if url_namespace == "import" %}
    {% include 'partial/case/import/sidebar-management.html' %}
  {% elif url_namespace == "access" %}
    {% include 'partial/case/access/sidebar.html' %}
  {% endif %}
{% endblock %}

{% block main_content %}
  <h3>Edit FIR</h3>
  {% include "partial/case/edit-fir.html" %}
{% endblock %}

