{% extends "layout/sidebar.html" %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
<h4>Case {{ process.pk }}</h4>
<ul class="menu-out">
  {% if url_namespace == "access" %}
    <li>
      {% with entity = "exporter" if process.process_type == "ExporterAccessRequest" else "importer" %}
        <a href="{{ icms_url('access:case-view', args=[process.pk, entity]) }}">
          Case {{ process.pk }}
        </a>
      {% endwith %}
    </li>
  {% endif %}
    <li>
      <a href="{{ icms_url('case:list-firs', kwargs={'application_pk': process.pk, 'case_type': url_namespace}) }}">
        {% with
          closed = process.further_information_requests.closed().count(),
          total = process.further_information_requests.submitted().count()
        %}
          Further Information Requests ({{ closed }}/{{ total }})
        {% endwith %}
      </a>
  </li>
</ul>
{% endblock %}

{% block main_content %}
  {% for fir in firs %}
    {% include "partial/case/case-fir-box-user.html" %}
  {% endfor %}
{% endblock %}
