{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_field %}

{% block sidebar %}{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <h3>Details of who bought from</h3>
  {# TODO ICMSLST-953 Add who bought from section #}

  {# TODO ICMS-954 Add supplemntary reports section #}

  <h3>Complete Supplementary Reporting</h3>
  {# TODO ICMSLST-962 Complete supplementary report #}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    <input type="submit" class="button primary-button" value="Confirm Reporting Complete" />
  {% endcall %}
{% endblock %}
