{% extends "layout/sidebar.html" %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
<h4>Case {{ process.pk }}</h4>
<ul class="menu-out">
  {% if url_namespace == "access" %}
    <li>
      {% with entity = "exporter" if process.process_type == "ExporterAccessRequest" else "importer" %}
        <a href="{{ url('access:case-view', args=[process.pk, entity]) }}">
          Case {{ process.pk }}
        </a>
      {% endwith %}
    </li>
  {% endif %}
    <li>
      <a href="{{ url(url_namespace + ':list-firs', args=[process.pk]) }}">
        {% with
          closed = process.further_information_requests.closed().count(),
          total = process.further_information_requests.submitted().count()
        %}
          Further Information Requests ({{ closed }}/{{ total }})
        {% endwith %}
      </a>
  </li>
</ul>
{% endblock %}

{% block main_content %}
  {% include "partial/case/fir.html" %}
  <div class="row">
    <div class="three columns"></div>
    <div class="six columns">
      <form method="post"
            action="."
            enctype="multipart/form-data">
        {{ csrf_input }}
 
        {{ form.as_p() }}
        <p>Selected files:</p>
        <p>
          <label>Documents</label>
        </p>
        <div id="fileList"></div>

        <button type="submit" name="action" value="save" class="primary-button button">
          Submit Response
        </button>
      </form>
      {% if fir.files.exists() %}
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Created By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for document in fir.files.active() %}
          <tr>
            <td>
              {{ document.filename }}<br />
              <span class="extra-info">{{ document.file_size|filesizeformat }}</span>
            </td>
            <td>
              {{ document.created_by }}<br />
              <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
            </td>
            <td>
              {% if document.created_by == request.user %}
              <form method="post"
                    action={{ url(
                                url_namespace + ':case-management-fir-files-archive',
                                kwargs={'application_pk': object.pk, 'entity':entity, 'fir_pk': fir.pk, 'file_pk': document.pk}) }}>
                {{ csrf_input }}
                <button type="submit" class="button link-button-no-padding">Delete</button>
              </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="three columns"></div>
  </div>
{% endblock %}
