{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include "web/domains/case/" + case_type + "/partials/process.html" %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
<h4>Case {{ process.pk }}</h4>
<ul class="menu-out">
  {% if case_type == "access" %}
    <li>
      <a href="{{ icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': 'access'}) }}">
        Case {{ process.pk }}
      </a>
    </li>
  {% endif %}
    <li>
      <a href="{{ icms_url('case:list-firs', kwargs={'application_pk': process.pk, 'case_type': case_type}) }}">
        {% with
          closed = process.further_information_requests.closed().count(),
          total = process.further_information_requests.submitted().count()
        %}
          Further Information Requests ({{ closed }}/{{ total }})
        {% endwith %}
      </a>
  </li>
</ul>
{% endblock %}

{% block main_content %}
  {% include "partial/case/fir.html" %}
  <div class="row">
    <div class="three columns"></div>
    <div class="six columns">
      <p><label>Attach documents then add an explanation in the response detail box before submitting.</label></p>
      {% if fir.files.active().exists() %}
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Created By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for document in fir.files.active() %}
          <tr>
            <td>
              <a
                href="{{ icms_url('case:view-fir-file', kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'file_pk': document.pk, 'case_type': case_type}) }}">
                {{ document.filename }}
              </a>
              <br />{{ document.human_readable_file_size() }}
            </td>
            <td>
              {{ document.created_by }}<br />
              <span class="extra-info">{{ document.created_datetime|datetime_format }}</span>
            </td>
            <td>
              {% if document.created_by == request.user %}
              <form method="post"
                    action={{ icms_url(
                                'case:delete-fir-response-file',
                                kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'file_pk': document.pk, 'case_type': case_type}) }}>
                {{ csrf_input }}
                <button type="submit" class="button link-button-no-padding">Delete</button>
              </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="info-box info-box-info">
          There are no documents attached
        </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <a class="button small-button" href="{{ icms_url('case:add-fir-response-file', kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'case_type': case_type}) }}">
            Add document
          </a>
        </div>
      </div>
      <form method="post"
            action="."
            enctype="multipart/form-data"
            novalidate
      >
        {{ csrf_input }}
        {% for field in form %}
            {{fields.field(field)}}
        {% endfor %}
        <button type="submit" name="action" value="save" class="primary-button button">
          Submit Response
        </button>
      </form>
    </div>
    <div class="three columns"></div>
  </div>
{% endblock %}
