{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_field %}

{% from "web/domains/case/variations/macros.html" import get_status_widget, variation_request_fieldset %}

{% block extra_header %}
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ search_results_url }}" class="prev-link">Search Results</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
  <ul class="menu-out">
    {{ icms_link(request, icms_url('case:search-request-variation', kwargs={'application_pk': process.pk, 'case_type': case_type}), 'Variations') }}
    {{ icms_link(request, icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': 'import'}), 'View Application', "_blank") }}
    <li><a href="#" target="_blank">Sent Responses</a></li>
  </ul>
{% endblock %}

{% block main_content %}
  <table style="width: 100%">
    <tbody>
      <tr>
        <td><h3>Variation Requests</h3></td>
      </tr>

      <tr>
        <td colspan="2">
          <fieldset>
            <legend>
              <strong>
                Variation Request {{ object.variation_requests.count() + 1 }}
              </strong>
            </legend>
            To request a variation, enter the required fields, then click 'Submit Variation Request'.

            {% call forms.form(method='post', csrf_input=csrf_input) -%}
              {{ application_field(get_status_widget("DRAFT", "Draft"), "Status", is_safe_html=True) }}
              {% for field in form %}
                {{ fields.field(field) }}
              {% endfor %}

              <div class="container">
                <div class="row">
                  <div class="three columns"></div>
                  <div class="eight columns">
                    <ul class="menu-out flow-across">
                      <li>
                        <input type="submit" name="action" class="primary-button button"
                               value="Submit Variation Request"/>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            {% endcall %}
          </fieldset>
        </td>
      </tr>
      {% for vr in variation_requests %}
        <tr>
          <td>{{ variation_request_fieldset(process, vr, True, case_type, vr.vr_num) }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
