{% extends "layout/sidebar.html" %}
{% from "display/fields.html" import application_section, application_field, commodity_link %}

{% set case_type = "import" if process.is_import_application() else "export" %}

{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include "web/domains/case/" + case_type + "/partials/process.html" %}
  </div>
{% endblock %}

{% block sidebar %}
    <ul class="menu-out">
      {% set view_url = icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': case_type}) %}
      {{ icms_link(request, view_url, 'View Application') }}

      {% if request.path == view_url %}
        {% block view_subsections %} {% endblock %}
      {% endif %}

      {% if process.status == "COMPLETED" %}
        {% set response_label = 'Sent Responses' if process.is_import_application() else 'Issued Certificates' %}
        {{ icms_link(request, icms_url('case:applicant-case-history', kwargs={'application_pk': process.pk, 'case_type': case_type}), response_label ) }}
      {% endif %}

      {% if process.status in ["COMPLETED", "REVOKED"] %}
        {% if process.application_type.type == "FA" and process.decision == process.APPROVE %}
          {{ icms_link(request, icms_url('import:fa:provide-report', kwargs={'application_pk': process.pk}), 'Firearms Supplementary Information') }}
        {% endif %}
      {% endif %}

    </ul>
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% block application_contact %}
    <h4 id="view-contact">Contact</h4>
    {% if not process.contact %}
      <div class="info-box info-box-info">
        There is no contact attached.
      </div>
    {% else %}
      <div class="container">
        <div class="row">
          <div class="three columns">
            <label class="prompt west">Contact Name</label>
          </div>
          <div class="six columns">
            <span>{{ process.contact }}</span>
          </div>
          <div class="three columns"></div>
        </div>

        <div class="row">
          <div class="three columns">
            <label class="prompt west">Telephone(s)</label>
          </div>
          <div class="six columns">
            {% for phone_number in process.contact.phone_numbers.all() %}
              {{ phone_number.get_type_display() }} - {{ phone_number.phone }}
              {% if not loop.last %}<br />{% endif %}
            {% else %}
              N/A
            {% endfor %}
          </div>
          <div class="three columns"></div>
        </div>

        <div class="row">
          <div class="three columns">
            <label class="prompt west">Email</label>
          </div>
          <div class="six columns">
            <span>{{ process.contact.email }}</span>
          </div>
          <div class="three columns"></div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
