{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_field %}

{% block sidebar %}{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <div class="container setoutForm">
    {% if is_import %}
      {{ application_field(document_reference, "Reference") }}
    {% endif %}
    {{ application_field(org, "Issued to") }}

    {% for contact in primary_recipients %}
      {{ application_field(contact.full_name, "Primary Recipients" if loop.index == 1 else "") }}
    {% endfor %}

    {% for contact in copy_recipients %}
      {{ application_field(contact.full_name, "Copy Recipients" if loop.index == 1 else "") }}
    {% endfor %}

    {{ application_field(process.contact, "Follow-up contact") }}
  </div>

  <h3>Issued documents ({{ issue_date.strftime('%d-%b-%Y %H:%M') }})</h3>
  <p>You have been issued with the following documents. Please view them and take any appropriate action.</p>

  {% with show_generation_status = False %}
    {% include "web/domains/case/document-list.html" %}
  {% endwith %}

{% endblock %}
