{% extends "layout/sidebar.html" %}
{% from "display/fields.html" import application_section, application_field, commodity_link %}

{% set case_type = "import" if process.is_import_application() else "export" %}

{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include "web/domains/case/" + case_type + "/partials/process.html" %}
  </div>
{% endblock %}

{% block sidebar %}
    <ul class="menu-out">
      {{ icms_link(request, icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': case_type}), 'View Application') }}

      {% if process.status == "COMPLETED" %}
        {% if process.is_import_application() %}
          {{ icms_link(request, icms_url('case:history', kwargs={'application_pk': process.pk, 'case_type': case_type}), 'Sent Responses' ) }}

          {% if process.application_type.type == "FA" %}
            {{ icms_link(request, icms_url('import:fa:provide-report', kwargs={'application_pk': process.pk}), 'Firearms Supplementary Information') }}
          {% endif %}
        {% else %}
          {{ icms_link(request, icms_url('case:history', kwargs={'application_pk': process.pk, 'case_type': case_type}), "Issued Certificates" ) }}
        {% endif %}
      {% endif %}
    </ul>
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% block application_contact %}
    <h4 id="view-contact">Contact</h4>
    {% if not process.contact %}
      <div class="info-box info-box-info">
        There is no contact attached.
      </div>
    {% else %}
      <div class="container">
        <div class="row">
          <div class="three columns">
            <label class="prompt west">Contact Name</label>
          </div>
          <div class="six columns">
            <span>{{ process.contact }}</span>
          </div>
          <div class="three columns"></div>
        </div>

        <div class="row">
          <div class="three columns">
            <label class="prompt west">Telephone(s)</label>
          </div>
          <div class="six columns">
            {% for phone_number in process.contact.phone_numbers.all() %}
              {{ phone_number.get_type_display() }} - {{ phone_number.phone }}
              {% if not loop.last %}<br />{% endif %}
            {% else %}
              N/A
            {% endfor %}
          </div>
          <div class="three columns"></div>
        </div>

        <div class="row">
          <div class="three columns">
            <label class="prompt west">Email</label>
          </div>
          <div class="six columns">
            <span>{{ process.contact.email }}</span>
          </div>
          <div class="three columns"></div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
