{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block sidebar %}{% endblock %}

{% block main_content %}
  <h3>Application Withdrawals</h3>
  {% for withdrawal in withdrawals.filter(status=withdrawals.model.Statuses.OPEN) %}
    {% include "partial/withdrawal/box.html" %}
  {% else %}
    <div class="info-box info-box-info">
      You can use this screen to withdraw an application or variation. Please enter a reason
      for withdrawal in the text field below. Your withdrawal request will be sent to ILB.
    </div>

    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    <fieldset>
      <legend class="bold">Withdrawal</legend>
      <div class="row">
        <div class="three columns">
          <label class="prompt west">
            Status
          </label>
        </div>
        <div class="six columns">
          <div class="status draft">
            <div>
              <span class="text-widget">draft</span>
            </div>
          </div>
        </div>
        <div class="three columns"></div>
      </div>
      {% for field in form %}
        {{ fields.field(field) }}
      {% endfor %}
      {{ forms.submit_button(btn_label="Withdraw", data_confirm="Are you sure you want to send this withdrawal request?") }}
    </fieldset>
    {% endcall %}
  {% endfor %}

  {% if previous_withdrawals.exists() %}
    <h3>Previous withdrawals</h3>
    {% for withdrawal in previous_withdrawals %}
      {% include "partial/withdrawal/box.html" %}
    {% endfor %}
  {% endif %}

{% endblock %}
