{% extends "web/domains/case/manage/base.html" %}
{% import "forms/fields.html" as fields %}
{% import "forms/fieldsets.html" as fieldsets %}
{% import "forms/forms.html" as forms %}

{% block main_content %}
  <h3>Application Updates</h3>
  {% include "partial/update-request-info-banner.html" %}

  {% if update_request %}
    {% set request_datetime = (" - " + update_request.request_datetime|datetime_format) if update_request.request_datetime else "" %}
    {% call fieldsets.fieldset("Application Update" + request_datetime) %}
      {% if not readonly_view and update_request.status == "DRAFT" %}
        <a href="{{ icms_url('case:edit-update-request', kwargs={'application_pk': process.pk, 'update_request_pk': update_request.pk, 'case_type': case_type }) }}"
          class="button small-button icon-pencil">
          Edit
        </a>
        <form
          method="post" class="form-inline"
          action="{{ icms_url('case:delete-update-request', kwargs={'application_pk': process.pk, 'update_request_pk': update_request.pk, 'case_type': case_type }) }}"
        >
          {{ csrf_input }}
          <button type="submit" class="small-button icon-bin">Delete</button>
        </form>
      {% endif %}
      {% include "partial/update-request-detail.html" %}
      <div class="row">
        <div class="three columns"></div>
        <div class="six columns">
          {% if not readonly_view and update_request.status in ["OPEN", "RESPONDED"] %}
            <br/>
            <form
              method="POST"
              action="{{ icms_url('case:close-update-request', kwargs={'application_pk': process.pk, 'update_request_pk': update_request.pk, 'case_type': case_type}) }}">
              {{ csrf_input }}
              {# Change style of button depending on status #}
              {% if update_request.status == "OPEN" %}
                <input
                  type="submit" class="button" value="Withdraw Request"
                  data-confirm="Are you sure you want to withdraw this update?"
                >
              {% elif update_request.status == "RESPONDED" %}
                <input
                  type="submit" class="button primary-button" value="Close Request"
                  data-confirm="Are you sure you want to close this update?"
                >
              {% endif %}
            </form>
          {% endif %}
        </div>
        <div class="three columns"></div>
      </div>
    {% endcall %}
  {% else %}
    {% if not readonly_view %}
      <div class="list-actions">
        <ul class="menu-out flow-across">
          <li>
            <form
            method="post"
            action="{{ icms_url('case:add-update-request', kwargs={'application_pk': process.pk, 'case_type': case_type}) }}"
            class="form-inline"
          >
            {{ csrf_input }}
            <button type="submit" class="small-button icon-plus">New Application Update</button>
          </form>
          </li>
        </ul>
      </div>
    {% endif %}
  {% endif %}
  {% for update_request in previous_update_requests %}
    {% set request_datetime = (" - " + update_request.request_datetime|datetime_format) if update_request.request_datetime else "" %}
    {% call fieldsets.fieldset("Application Update" + request_datetime) %}
      {% include "partial/update-request-detail.html" %}
    {% endcall %}
  {% endfor %}

  {% if not has_any_update_requests %}
    <div class="info-box info-box-info">There aren't any application updates.</div>
  {% endif %}
{% endblock %}
