{% extends "layout/sidebar.html" %}


{% block page_title %}Importer/Exporter Access Request{% endblock %}


{% block context_header %}Importer/Exporter Access Request{% endblock %}


{% block sidebar%}
    {% with process_id=activation.process.access_request.id, task_id=3   %}
        {% include "web/case-fir-sidebar.html" %}
    {% endwith %}
{% endblock %}


{% block content_actions %}
   {% include "web/access-request/partials/back-to-workbasket.html" %}
{% endblock %}


{% block main_content %}
   <div class="info-box info-box-info">
        <p>This screen is used to send a request to the access request applicant for further information.</p>
        <p>An email will be sent to the person who submitted the access request, who will need to log in and supply further information. When they submit their response, ILB admins will be notified via email.</p>
    </div>

    <div class="list-actions">
        <ul class="menu-out flow-across">
            <li>
                {% with action="new", css="icon-plus", label="New FIR", class="small-button" %}
                    <form method="POST" >
                        {{ csrf_input }}
                        {% include 'web/access-request/partials/fields/fir-action-button.html' %}
                    </form>
                {% endwith %}
            </li>
        </ul>
    </div>

    {% for fir in fir_list %}
        {% with idx=loop.index %}
            {% include "web/access-request/partials/fir-item.html" %}
        {% endwith %}
    {% endfor%}

    {% include "web/access-request/partials/back-to-workbasket.html" %}


{% endblock %}
