{% extends "layout/no-sidebar.html" %}
{% from "display/fields.html" import application_field %}


{% block main_content %}
  <!-------------------->
  <!-- Access Request -->
  <!-------------------->
  {% with acc_req = access_request %}
    {% include "web/domains/case/access/partials/access-request-section.html" %}
  {% endwith %}

  {# Extra access request fields to show when viewing a historical record. #}
  {{ application_field(access_request.get_response_display(), "Response") }}
  {% if access_request.response == access_request.REFUSED %}
    {{ application_field(access_request.response_reason, "Refuse Reason") }}
  {% endif %}

  <!---------------------->
  <!-- Approval Request -->
  <!---------------------->
  {% with process = access_request, readonly_view = True %}
    {% include "web/domains/case/access/partials/approval-request-section.html" %}
  {% endwith %}

  <!----------------------------------------->
  <!-- Linked Further Information Requests -->
  <!----------------------------------------->
  <h4>Further Information Requests</h4>
  {% with process = access_request, case_type = "access", readonly_view = True %}
    {% for fir in firs %}
      {% include 'partial/case/case-fir-box.html' %}
    {% else %}
      <div class="info-box info-box-info">There aren't any further information requests.</div>
    {% endfor %}
  {% endwith %}
{% endblock %}
