{% extends "layout/sidebar.html" %}

{% block header %}
  <header id="menu-bar">
    {% include "web/menu/menu.html" %}
  </header>
  <div class="has-context-header-grid" id="context-header">
    {% if process.process_type == "ExporterAccessRequest" %}
      <h2>Exporter Access Request</h2>
    {% else %}
      <h2>Importer Access Request</h2>
    {% endif %}
  </div>
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
    {% with acc_req = process %}
      {% include "web/domains/case/access/partials/access-request-section.html" %}
    {% endwith %}
{% endblock %}

{% block sidebar %}
<h4>Access Request</h4>
<ul class="menu-out">
  <li>
    <a href="{{ icms_url('case:view', kwargs={'application_pk': process.pk, 'case_type': 'access'}) }}">
      Case {{ process.reference or process.pk|string }}
    </a>
  </li>
  <li>
    <a href="{{ icms_url('case:list-firs', kwargs={'application_pk': process.pk, 'case_type': 'access'}) }}">
      {% with
        closed = process.further_information_requests.closed().count(),
        total = process.further_information_requests.submitted().count()
      %}
        Further Information Requests ({{ closed }}/{{ total }})
      {% endwith %}
    </a>
  </li>
</ul>
{% endblock %}
