{% extends "web/domains/case/access/case-user-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
  {% include "partial/case/fir.html" %}
  <div class="row">
    <div class="three columns"></div>
    <div class="six columns">
      <form method="post"
            action="."
            enctype="multipart/form-data">
        {{ csrf_input }}
 
        {{ form.as_p() }}
        <p>Selected files:</p>
        <p>
          <label>Documents</label>
        </p>
        <div id="fileList"></div>

        <button type="submit" name="action" value="save" class="primary-button button">
          Submit Response
        </button>
      </form>
      {% if fir.files.exists() %}
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Created By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for document in fir.files.active() %}
          <tr>
            <td>
              {{ document.filename }}<br />
              <span class="extra-info">{{ document.file_size|filesizeformat }}</span>
            </td>
            <td>
              {{ document.created_by }}<br />
              <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
            </td>
            <td>
              {% if document.created_by == request.user %}
              <form method="post"
                    action={{ url(
                                'access:case-management-fir-files-archive',
                                kwargs={'application_pk': object.pk, 'entity':entity, 'fir_pk': fir.pk, 'file_pk': document.pk}) }}>
                {{ csrf_input }}
                <button type="submit" class="button link-button-no-padding">Delete</button>
              </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="three columns"></div>
  </div>
{% endblock %}
