{% with route=request.resolver_match.url_name %}
    <ul class="menu-out">
        <li>
            <a href="{{ url('access:review', args=(process_id,task_id)) }}"
               class="{% if route == 'review' %}current-page{% endif %}"
            >
                Access Request
            </a>
        </li>
        <li>
            {% set total_ifr = activation.process.access_request.further_information_requests.exclude(status="DELETED")|length %}
            {% set open_ifr = activation.process.access_request.further_information_requests.filter(status="OPEN")|length %}
            <a href="{{ url('access:fir', args=(process_id,)) }}"
               class="{% if route == 'fir' %}current-page{% endif %}">
                Further Information Requests ({{ "%s/%s" % (open_ifr, total_ifr) }})
            </a>
    </ul>
{% endwith %}
