{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
  <h3>Close Access Request</h3>
  {% if has_open_approval_request %}
    <div class="info-box info-box-info">
      You cannot close this Access Request because you have already started the Approval Process. To close this Access Request you must first withdraw the Approval Request.
    </div>
  {% else %}
    <div class="container setOutForm">
      {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
        {% for field in form %}
          {{ fields.field(field) }}
        {% endfor %}
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <button type="submit" class="button primary-button">Close Access Request</button>
          </div>
        </div>
      {% endcall %}
    </div>
  {% endif %}
{% endblock %}

{% block page_js %}
  {{ super() }}
  <script src="{{ static('web/js/pages/review-request-access.js') }}" type="text/javascript"></script>
{% endblock %}
