{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
  <h3>Close Access Request</h3>
  {% if not process.link %}
    <div class="info-box info-box-warning">
    NOTE: If approving an access request without linking to an Importer/Exporter, you will have to manually
    add the user to the relevant Importer/Exporter.
    </div>
  {% endif %}

  <div class="container setOutForm">
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
      {% for field in form %}
        {{ fields.field(field) }}
      {% endfor %}
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <button type="submit" class="button primary-button">Close Access Request</button>
        </div>
      </div>
    {% endcall %}
  </div>
{% endblock %}

{% block page_js %}
  {{ super() }}
  <script src="{{ static('web/js/pages/review-request-access.js') }}" type="text/javascript"></script>
{% endblock %}
