{% extends "layout/no-sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}Importer/Exporter Access Request{% endblock %}
{% block context_header %}Importer/Exporter Access Request{% endblock %}

{% block main_content %}
    {% set  access_request =  activation.process.access_request %}
    {% include "web/domains/case/access/partials/access-request-display.html" %}

  {% call forms.form(method='post', csrf_input=csrf_input) %}
    {{fields.field(form.response)}}
    {{fields.field(form.response_reason)}}
    {{activation.management_form}}
    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" class="secondary-button button" name="_continue">Close Request</button>
            </li>
          </ul>
        </div>
        <div class="one columns"></div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
