{% extends "viewflow/flow/task.html" %}

{% import "forms/fields.html" as fields %}

{% block process_details %}
  {% if approval_process %}
    {% with process=approval_process %}
      {% include process.flow_class.process_template  %}
    {% endwith %}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% block form_content %}
    {{super()}}
    {{fields.field(form.response)}}
    {{fields.field(form.response_reason)}}
{% endblock %}

{% block task_actions %}
  <li>
    <button 
      type="submit" 
      role="action-button"
      data-confirm="Are you sure you want to close this Access Request? This will email the requester with the status below."
      class="primary-button button" 
      name="_continue">
        Close Request 
    </button>
  </li>
  <li>
    <button name="_restart_approval" class="button capitalize">
      Restart {{activation.process.access_request.requester_type}} Access Approval
    </button>
  </li>
{% endblock %}
