{% extends "web/domains/exporter/list.html" %}

{% block main_content %}

  <div class="info-box info-box-info">
    <p>
      The user specified below has requested access to act as an exporter/agent. 
      If you already know that this user should have these access rights you can
      simply add them to the appropriate exporter/agent team 
      (note - you may need to create the exporter/agent entity first). 
    </p>
    <p>
      You will need to link the exporter on the access request to an exporter
      within the ICMS system first. Use the "Link Exporter" button below
    </p>
  </div>


  {% with process=activation.process %}
    {% include "web/domains/case/access/partials/process.html" %}
  {% endwith %}

  <h3>Link Exporter</h3>

  {{super()}}
{% endblock %}


{% block results %}
  <form method="post" action="" autocomplete="off" accept-charset="UTF-8" novalidate>
    {{activation.management_form}}
    <input type="hidden" name="_continue"></input>
    {{super()}}
  </form>
{% endblock %}


{% block sidebar %}

  {# exporter list sidebar#}

  {{super()}}

  {% include "web/domains/case/access/partials/sidebar.html" %}

  {% set manage_url = flowurl(request, activation.task, url_name='detail') %}
  {% if manage_url %}
    </br>
    <h4>Task</h4>
    <ul class="menu-out">
      <li>
        <a href="{{manage_url}}">Manage Task</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
