{% extends "web/domains/importer/list.html" %}

{% block main_content %}
  {% with process=activation.process %}
    {% include "web/domains/case/access/partials/access-request-display.html" %}
  {% endwith %}

  <h3>Link Importer</h3>

  {{super()}}
{%endblock %}

{% block results %}
  <form method="post" action="" autocomplete="off" accept-charset="UTF-8" novalidate>
    {{activation.management_form}}
    <input type="hidden" name="_continue"></input>
    {{super()}}
  </form>
{% endblock %}

{% block sidebar %}
  {{super()}}
  {% set manage_url = flowurl(request, activation.task, url_name='detail') %}
  {% if manage_url %}
    </br>
    <h4>Task</h4>
    <ul class="menu-out">
      <li>
        <a href="{{manage_url}}">Manage Task</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
