{% extends "web/domains/importer/list.html" %}

{% import "forms/fields.html" as fields %}
{% import "forms/forms.html" as forms %}

{% block main_content %}

<div class="info-box info-box-info">
  Import Access Request Details

  {% with access_request=activation.process.access_request %}
    {% include "web/domains/case/access/partials/access-request-display.html" %}
  {% endwith %}
</div>

{{super()}}
{%endblock %}

{% block results %}
  <form method="post" action="" autocomplete="off" accept-charset="UTF-8" novalidate>
    {{activation.management_form}}
    <input type="hidden" name="_continue"></input>
    {{super()}}
  </form>
{% endblock %}
