{% extends "web/domains/importer/list.html" %}

{% import "forms/fields.html" as fields %}
{% import "forms/forms.html" as forms %}

{% block main_content %}

  <fieldset>
    {% with process=activation.process %}
      {% include "web/domains/case/access/partials/access-request-display.html" %}
    {% endwith %}
  </fieldset>

  {{super()}}
{%endblock %}

{% block results %}
  <form method="post" action="" autocomplete="off" accept-charset="UTF-8" novalidate>
    {{activation.management_form}}
    <input type="hidden" name="_continue"></input>
    {{super()}}
  </form>
{% endblock %}
