{% extends "model/list.html" %}

{% block sidebar %}
  {% include "partial/importer/sidebar.html" %}
{% endblock %}

{% block empty_message %}
  There aren't any Importer Access Requests that match your search.
{% endblock %}

{% block results %}
  <table responsiveList class="setoutList" id="tbl-search-results">
    <thead>
      <tr>
        {{tables.headers(display)}}

        <th scope="col">Actions</th>
      </tr>
    </thead>

    {% for item in (page.object_list if page else results) %}
      <tr class="result-row">
        {{tables.fields(item, display)}}

        <td>
          <a href="{{ icms_url('access:request-history', kwargs={'access_request_pk': item.pk}) }}"
            class="button small-button icon-eye"
            target="_blank"
            rel="noopener noreferrer">
              View
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
