{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
<div class="row">
  {% if process.process_type == "ExporterAccessRequest" %}
    <h3>Exporter Access Approval</h3>
  {% else %}
    <h3>Importer Access Approval</h3>
  {% endif %}
  <div class="eight columns">
    {% if not process.link %}
      {% if process.process_type == "ExporterAccessRequest" %}
        <div class="info-box info-box-info">
          You must first <a href="{{ icms_url('access:link-request', kwargs={'access_request_pk': process.pk, 'entity': 'exporter'}) }}">
          link an exporter</a> to the access request if you wish to start exporter access approval.
        </div>
      {% else %}
        <div class="info-box info-box-info">
          You must first <a href="{{ icms_url('access:link-request', kwargs={'access_request_pk': process.pk, 'entity': 'importer'}) }}">
          link an importer</a> to the access request if you wish to start importer access approval.
        </div>
      {% endif %}
    {% else %}
      <!---------------------->
      <!-- Approval Request -->
      <!---------------------->
      {% include "web/domains/case/access/partials/approval-request-section.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
