{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
  {{ form.media.css }}
  {{ super() }}
{% endblock %}

{% block main_content %}
  {% if process.process_type == "ExporterAccessRequest" %}
    <div class="info-box info-box-info">
      <p>
      The user '{{ process.submitted_by }}' has made a '{{ process.get_request_type_display() }}'.
      </p>
      <p>
        If you already know that this user should have these access rights you can
        simply add them to the appropriate exporter/agent team
        (note - you may need to create the exporter/agent entity first).
      </p>
      <p>
        You will need to link the importer on the access request to an exporter
        within the ICMS system first. Use the "Link Exporter" form below.
      </p>
      <p>
        Once the Access Request has been actioned you should close the request using
        the Close section. An email will be sent to the requester stating the
        outcome of their request.
      </p>
    </div>
  {% else %}
    <div class="info-box info-box-info">
      <p>
      The user '{{ process.submitted_by }}' has made a '{{ process.get_request_type_display() }}'.
      </p>
      <p>
        If you already know that this user should have these access rights you can
        simply add them to the appropriate importer/agent team
        (note - you may need to create the importer/agent entity first).
      </p>
      <p>
        You will need to link the importer on the access request to an importer
        within the ICMS system first. Use the "Link Importer" form below.
      </p>
      <p>
        Once the Access Request has been actioned you should close the request using
        the Close section. An email will be sent to the requester stating the
        outcome of their request.
      </p>
    </div>
  {% endif %}

    {% with acc_req = process %}
      {% include "web/domains/case/access/partials/access-request-section.html" %}
    {% endwith %}

<div class="row">
  {% if process.process_type == "ExporterAccessRequest" %}
    <h3>Link Exporter to Access Request</h3>
  {% else %}
    <h3>Link Importer to Access Request</h3>
  {% endif %}

  <div class="eight columns">
    {% call forms.form(method='post', csrf_input=csrf_input) -%}
      {{ fields.field(form.link) }}
      {% if show_agent_link %}
        {{ fields.field(form.agent_link, show_optional_indicator=False) }}
      {% endif %}
      <button type="submit" class="button primary-button">Link</button>
    {% endcall %}
  </div>
</div>
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  {{ super() }}
{% endblock %}
