{% extends "web/domains/case/access/management-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
<div class="row">
  {% if object.process_type == "ExporterAccessRequest" %}
    <h3>Exporter Access Approval</h3>
  {% else %}
    <h3>Importer Access Approval</h3>
  {% endif %}
  <div class="eight columns">
    {% if not task.process.link %}
      {% if object.process_type == "ExporterAccessRequest" %}
        <div class="info-box info-box-info">
          You must first <a href=" {{ url('access:case-management', args=[object.pk, 'exporter']) }}">
          link an exporter</a> to the access request if you wish to start exporter access approval.
        </div>
      {% else %}
        <div class="info-box info-box-info">
          You must first <a href=" {{ url('access:case-management', args=[object.pk, 'importer']) }}">
          link an importer</a> to the access request if you wish to start importer access approval.
        </div>
      {% endif %}
    {% else %}
      {% if approval_request %}
      <h4>Request</h4>
        <dl>
          <dt class="bold">Status</dt>
          <dd class="status {{ approval_request.status.lower() }}">
            <span class="text-widget">
              {{ approval_request.status }}
            </span>
          </dd>
          <dt class="bold">Contact</dt>
          <dd>{{ approval_request.requested_from|default('All', True) }}</dd>
          <dt class="bold">Approval Request Date</dt>
          <dd>{{ approval_request.request_date.strftime('%d-%b-%Y %H:%M:%S') }}</dd>
          <dt class="bold">Sent By</dt>
          <dd>{{ approval_request.requested_by }}</dd>
        </dl>

          {% if approval_request.response %}
          <h4>Response</h4>
            <dl>
              <dt class="bold">Response Date</dt>
              <dd>{{ approval_request.response_date.strftime('%d-%b-%Y %H:%M:%S') }}</dd>
              <dt class="bold">Response By</dt>
              <dd>{{ approval_request.response_by }}</dd>
              <dt class="bold">Response</dt>
              <dd>{{ approval_request.get_response_display() }}</dd>
              <dt class="bold">Response Reason</dt>
              <dd>{{ approval_request.response_reason|default('N/A', True) }}</dd>
            </dl>
          {% endif %}
        <form
          method="post"
          action="{{ url(
                       'access:case-management-approval-request-withdraw',
                       kwargs={
                         'application_pk': object.pk,
                         'entity': entity,
                         'approval_request_pk': approval_request.pk}) }}">
          {{ csrf_input }}
          <div class="container">
            <div class="row">
              <div class="three columns"></div>
              <div class="eight columns">
                <ul class="menu-out flow-across">
                  <li>
                    {% if approval_request.status == "OPEN" %}
                      <input type="submit" class="button" value="Withdraw Approval Request" />
                    {% else %}
                      <input type="submit" class="button" value="Restart Approval Request" />
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </form>
      {% else %}
        {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
          {% block fields %}
            {% for field in form %}
              {{ fields.field(field, show_optional_indicator=False) }}
            {% endfor %}
          {% endblock %}

          <div class="container">
            <div class="row">
              <div class="three columns"></div>
              <div class="eight columns">
                <ul class="menu-out flow-across">
                  <li>
                    <button type="submit" name="action" value="save" class="primary-button button">
                      Request Approval
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endcall %}
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
