{% extends "layout/sidebar.html" %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('workbasket') }}" class="prev-link">
          Workbasket
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block header %}
  <header id="menu-bar">
    {% include "web/menu/menu.html" %}
  </header>
  <div class="has-context-header-grid" id="context-header">
    {% if process.process_type == "ExporterAccessRequest" %}
      <h2>Manage Exporter Access Request</h2>
    {% else %}
      <h2>Manage Importer Access Request</h2>
    {% endif %}

    <div class="container contextHeaderGrid">
        <div class="row">
          <div class="six columns">
            <dt class="bold">Access Requested By</dt>
            <dd>{{ process.submitted_by }}</dd>

            {% if process.process_type == "ExporterAccessRequest" %}
              <dt class="bold">Access Request Type</dt>
              <dd>{{ process.exporteraccessrequest.get_request_type_display() }}</dd>
              <dt class="bold">Exporter Name</dt>
              <dd>{{ process.organisation_name }}</dd>
              <dt class="bold">Exporter Address</dt>
              <dd>{{ process.organisation_address }}</dd>
              <dt class="bold">Linked Exporter</dt>
              <dd>{{ process.exporteraccessrequest.link|default('Not Linked', True)}}</dd>
            {% else %}
              <dt class="bold">Access Request Type</dt>
              <dd>{{ process.importeraccessrequest.get_request_type_display() }}</dd>
              <dt class="bold">Importer Name</dt>
              <dd>{{ process.organisation_name }}</dd>
              <dt class="bold">Importer Address</dt>
              <dd>{{ process.organisation_address }}</dd>
              <dt class="bold">Linked Importer</dt>
              <dd>{{ process.importeraccessrequest.link|default('Not Linked', True)}}</dd>
            {% endif %}
          </div>
          <div class="six columns">
            <dt class="bold">Registered Number</dt>
            <dd>{{ process.organisation_registered_number|default("N/A", True) }}</dd>
            {% if process.process_type == "ImporterAccessRequest" %}
              <dt class="bold">EORI Number</dt>
              <dd>{{ process.eori_number|default("N/A", True) }}</dd>
              <dt class="bold">NI EORI Number</dt>
              <dd>{{ process.eori_number_ni|default("N/A", True) }}</dd>
            {% endif %}

            <dt class="bold">Request date</dt>
            <dd>
              {% if process.submit_datetime %}
                {{ process.submit_datetime.strftime('%d-%b-%Y %H:%M:%S') }}
              {% endif %}
            </dd>
          </div>
        </div>


    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'partial/case/access/sidebar.html' %}
{% endblock %}
