{% extends "web/domains/case/access/management-base.html" %}

{% block main_content %}
  <h3>Further Information Requests</h3>
  {% if object.link %}
    {% include "partial/case/firs.html" %}
  {% else %}
    {% if object.process_type == "ExporterAccessRequest" %}
      <div class="info-box info-box-info">
        You must first <a href=" {{ url('access:case-management', args=[object.pk, 'exporter']) }}">
        link an exporter</a> to the access request if you wish to start exporter access approval.
      </div>
    {% else %}
      <div class="info-box info-box-info">
        You must first <a href=" {{ url('access:case-management', args=[object.pk, 'importer']) }}">
        link an importer</a> to the access request if you wish to start importer access approval.
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
