{% extends 'viewflow/flow/task.html' %}

{% import "forms/fields.html" as fields %}

{% set access_request = activation.process.access_request %}

{% block form_content %}
  <h3>
    {{access_request.requester_type}} Access Approval
  </h3>

  {{ fields.field(form.requested_from) }}
{% endblock %}

{% block form_actions %}
  <input type="hidden" name="_continue">
  <li>
    <button type="submit" class="primary-button button">Request Approval</button>
  </li>
  <li>
    <button type="submit" class="secondary-button button" name="_re_link">Re-link</button>
  </li>
{% endblock %}
