{% extends "layout/sidebar.html" %}

{% block page_title %}Importer/Exporter Access Request{% endblock %}
{% block context_header %}Importer/Exporter Access Request{% endblock %}


{% block main_content %}
    <div class="no-sidebar" id="content">
        <div id="content-ie8-float">

            <div class="content-actions"></div>

            <div class="info-box info-box-success">

                <p>Your access request has been submitted to ILB. You will receive an email notification when your request has been processed (usually within 1 working day).</p>
                <p>You may submit another access request if you require access to multiple importers/exporters, or otherwise you may exit by logging out below.</p>

            </div>
            <ul class="menu-out flow-across">
                <li><a href="{{ icms_url('access:importer-request')}}"  class="link-button button">Submit Another Importer Access Request </a></li>
                <li><a href="{{ icms_url('access:exporter-request')}}"  class="link-button button">Submit Another Exporter Access Request </a></li>
                <li>
                  <form method="post" action="{{ logout_url }}">
                    {{ csrf_input }}
                    <button class="button link-button" type="submit">Log out</button>
                  </form>
                </li>
            </ul>

            <div class="content-actions"></div>

        </div>
    </div>
{% endblock %}
