{% extends "layout/no-sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% block page_title %}Request Importer/Exporter Access{% endblock %}
{% block context_header %}Request Importer/Exporter Access{% endblock %}

{% block main_content %}
<div class="no-sidebar" id="content">
    <div id="content-ie8-float">
        <div class="content-actions"></div>

        <h3>
            <div class="info-box info-box-info">

                You are not currently associated with any importers/exporters. Please complete an access request below to begin using the system. You may
                complete further access requests after submission if you require access to multiple importers/exporters.

            </div>
            <div class="list-secondary-actions">
                <ul class="menu-out flow-across">
                    <li> <a  name="g28" href="" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-get-open-access-requests&quot;,&quot;ctxt&quot;:&quot;s6JNe_plrnqWp1W&quot;}, this);" class="link-button icon-spinner11 button">
                            Refresh </a></li>
                </ul>
            </div>
            Pending Access Requests

        </h3>
        <p>Below are any pending access requests you have made. You will receive an email notification when your request has been processed (usually within 1 working day).</p>

        <h4>Importer Access Requests</h4>

        <table responsiveList class="setoutList">
            <thead>
                <tr>
                    <th scope="col">Reference
                    </th>
                    <th scope="col">Requested Date
                    </th>
                    <th scope="col">Request Type
                    </th>
                    <th scope="col">Importer Name / Address
                    </th>
                    <th scope="col">Agent Name / Address
                    </th>
                    <th scope="col">Further Information Requests
                    </th>
                </tr>
            </thead>
            {% for request in request.user.submitted_access_requests.importer_requests().filter(accessrequestprocess__access_request__status="SUBMITTED") %}
            <tr >
                <td data-title="Reference" ><span  class="text-widget ">IAR/785</span></td>
                <td data-title="Requested Date" ><span  class="text-widget ">{{request.submit_datetime}}</span></td>
                <td data-title="Request Type" ><span  class="text-widget ">{{request.request_type_verbose}}</span></td>
                <td data-title="Importer Name / Address" ><span  class="text-widget ">{{request.organisation_name}}<br><br>{{request.organisation_address}}</span></td>
                <td data-title="Agent Name / Address" ><span  class="text-widget ">{{request.agent_name}}<br><br>{{request.agent_address}}</span></td>
                <td data-title="Further Information Requests" >
                    <table class="setoutList nestedList">
                        <thead>
                            <tr>
                                <th colspan="2" class="listPrompt">Further Information Requests</th>
                            </tr>
                            <tr>
                                <th scope="col">Requested
                                </th>
                                <th scope="col">Respond
                                </th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            {% endfor %}

        </table>

        <h4>Exporter Access Requests</h4>

        <table responsiveList class="setoutList">
            <thead>
                <tr>
                    <th scope="col">Reference
                    </th>
                    <th scope="col">Requested Date
                    </th>
                    <th scope="col">Request Type
                    </th>
                    <th scope="col">Exporter Name / Address
                    </th>
                    <th scope="col">Agent Name / Address
                    </th>
                    <th scope="col">Further Information Requests
                    </th>
                </tr>
            </thead>
            {% for request in request.user.submitted_access_requests.exporter_requests().filter(accessrequestprocess__access_request__status="SUBMITTED") %}
            <tr >
                <td data-title="Reference" ><span  class="text-widget ">EAR/379</span></td>
                <td data-title="Requested Date" ><span  class="text-widget ">15-APR-2019 12:53</span></td>
                <td data-title="Request Type" ><span  class="text-widget ">{{request.request_type_verbose}}</span></td>
                <td data-title="Exporter Name / Address" ><span  class="text-widget ">{{request.organisation_name}}<br><br>{{request.organisation_address}}</span></td>
                <td data-title="Agent Name / Address" ><span  class="text-widget ">{{request.agent_name}}<br><br>{{request.agent_address}}</span></td>
                <td data-title="Further Information Requests" >
                    <table class="setoutList nestedList">
                        <thead>
                            <tr>
                                <th colspan="2" class="listPrompt">Further Information Requests</th>
                            </tr>
                            <tr>
                                <th scope="col">Requested
                                </th>
                                <th scope="col">Respond
                                </th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>New Access Request</h3>
        <div class="info-box info-box-info">

            <p>Enter the details below and submit your request to ILB. You will receive an email notification when your request has been processed (usually within 1 working day).</p>
            <p>When you are requesting access as an agent, the importer/exporter will be asked to approve your access.</p>

        </div>
        <div class="hidden" id="form-container">
            {% call forms.form(method='post', csrf_input=csrf_input) %}
              {{fields.field(form.request_type)}}
              {{fields.field(form.organisation_name)}}
              {{fields.field(form.organisation_address)}}
              {{fields.field(form.request_reason)}}
              {{fields.field(form.agent_name)}}
              {{fields.field(form.agent_address)}}
              {{activation.management_form}}
              <div class="clearBoth"></div>
              <div class="container">
                <div class="row">
                  <div class="four columns"> </div>
                  <div class="four columns">
                    <ul class="menu-out flow-across">
                      <li>
                        <button type="submit" class="primary-button button">
                          Save
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="four columns"> </div>
                </div>
              </div>
            {% endcall %}
        </div>
        <div class="content-actions"></div>

    </div>
</div>
{% endblock %}

{% block page_js %}
    {{ super() }}
    <script src="{{ static('web/js/pages/request-access.js') }}" type="text/javascript"></script>
{% endblock %}
