{% extends "web/domains/case/access/base/access-request-task.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% set access_request = activation.process.access_request %}
{% set requester_type = access_request.requester_type %}

{% block main_content %}
    <div class="info-box info-box-info">
      <p>
        If this is a new access request then you can request approval from 
        the main {{requester_type}} using the form below. 
      </p>
    </div>

    {{super()}}
{% endblock %}

{% block form_content %}
  {{super()}}
  <h4>
    {{access_request.requester_type}} Access Approval
  </h4>

  {{ fields.field(form.requested_from) }}
{% endblock %}

{% block task_actions %}
  <li>
    <button 
      type="submit" 
      role="action-button"
      data-confirm="Are you sure you want to open this Approval Request?" 
      name="start_approval" 
      class="primary-button button capitalize">
        Start {{requester_type}} Access Approval
    </button>
  </li>
  <li>
    <button 
      type="submit" 
      role="action-button" 
      data-confirm="Are you sure you want to close this Access Request?"
      name="_close_request" 
      class="secondary-button button">
        Proceed to Close
    </button>
  </li>
  <li>
    <button 
      type="submit" 
      role="action-button" 
      name="_re_link" 
      class="secondary-button button capitalize">
        Relink {{requester_type}}
    </button>
  </li>
{% endblock %}
