{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}Importer/Exporter Access Request{% endblock %}
{% block context_header %}Importer/Exporter Access Request{% endblock %}

{% block sidebar%}
    {% with process_id=activation.process.access_request.id,
            task_id=activation.task.id
    %}
        {% include "web/domains/case/access/case-fir-sidebar.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    {% set process, task, access_request = activation.process, activation.task, activation.process.access_request %}
    {% set requester_type = activation.process.access_request.requester_type %}
    <div class="info-box info-box-info">
      <p>
      The user specified below has requested access to act as an {{requester_type}}/agent. If you already know that this user should have these access rights you can
      simply add them to the appropriate {{requester_type}}/agent team (note - you may need to create the {{requester_type}}/agent entity first). Use the Link/Maintain link
      below.
      </p>
      <p>If on the other hand this is a new access request then you can request approval from the main {{requester_type}} using the form below. Note - you will need to
      link the {{requester_type}} on the access request to an {{requester_type}} within the ICMS system first.</p>
      <p>Once the Access Request has been actioned you should close the request using the Close section below. An email will be sent to the requester stating
      the outcome of their request.</p>
    </div>

    {% include "web/domains/case/access/partials/access-request-display.html" %}

    <div class="container setoutForm" >
      <div class="row">

        <h3>{{requester_type|capitalize}} Access Approval</h3>
        {% call forms.form(method='post', csrf_input=csrf_input) %}
          {{activation.management_form}}
          <input type='hidden' name='_continue'>
          <ul class="menu-out flow-across">
            <li>
              <button name="start_approval" class="button">Start {{requester_type|capitalize}} Access Approval</button>
            </li>
          </ul>
          <h3>Close Access Request</h3>
          <div class="info-box info-box-success">
            <button type="submit" name="close_request" />Close Access Request</button>
          </div>
        {% endcall %}
      </div>
    </div>
{% endblock %}
