{% extends "viewflow/flow/task.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block process_details %}
  {% with process=approval_process %}
    {% include process.flow_class.process_template  %}
  {% endwith %}
{% endblock %}

{% block task_actions %}
  <li>
    <button type="submit" name="close_request" class="primary-button button" >Close Access Request</button>
  </li>
  <li>
    <button name="start_approval" class="button capitalize">
      Restart {{activation.process.access_request.requester_type}} Access Approval
    </button>
  </li>
{% endblock %}
