{% extends "layout/sidebar.html" %}
{% block page_title %}Reset Password{% endblock %}
{% block context_header %}Reset Password{% endblock %}
{% import "forms/form.html" as forms %}

{% block main_content %}
<div class="info-box info-box-info">
    Please enter the requested security information below
</div>

{% if form.errors %}
<div class="info-box info-box-danger">
  <p>One or more of the details entered were incorrect.</p>
  <p>
    If you require any assistance, please contact us on - or email us at enquiries.ilb@trade.gsi.gov.uk.
  </p>
</div>
{% endif %}


{% set username %}
<input type="hidden" name="login_id" value="{{login_id}}" />
{% endset %}

{{forms.form(
form,
action='',
padding='four',
button_label='Reset password',
submit_action='reset_password',
extra_fields=username,
csrf_input=csrf_input
)}}


<div class="section-break"></div>

{% endblock %}
