{% extends "layout/sidebar.html" %}
{% block page_title %}Reset Password{% endblock %}
{% block context_header %}Reset Password{% endblock %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
<div class="info-box info-box-info">
    Please enter the requested security information below
</div>

{% if form.errors %}
<div class="info-box info-box-danger">
  <p>One or more of the details entered were incorrect.</p>
  <p>
    If you require any assistance, please contact us on - or email us at enquiries.ilb@trade.gsi.gov.uk.
  </p>
</div>
{% endif %}

{% call forms.form(action=url('reset-password'), method='post', csrf_input=csrf_input) -%}
  <input type="hidden" name="login_id" value="{{login_id}}" />
  {{fields.field(form.question)}}
  {{fields.field(form.security_answer)}}
  {{fields.field(form.date_of_birth)}}
  <div class="container">
    <div class="row">
      <div class="four columns"></div>
      <div class="six columns">
        <ul class="menu-out flow-across">
          <li>
            <button type="submit" name='action' value='reset_password' class="primary-button button">
              Reset password
            </button>
          </li>
        </ul>
      </div>
      <div class="two columns"></div>
    </div>
  </div>
{%- endcall %}

<div class="section-break"></div>

{% endblock %}
