{% extends "layout/sidebar.html" %}
{% block page_title %}Reset Password{% endblock %}
{% block context_header %}Reset Password{% endblock %}
{% import "forms/form.html" as forms %}

{% block main_content %}
<div class="info-box info-box-info">
    Please enter the requested security information below
</div>

{% if form.errors %}
<div class="info-box info-box-danger">
  <p>One or more of the details entered were incorrect.</p>
  <p>
    If you require any assistance, please contact us on - or email us at enquiries.ilb@trade.gsi.gov.uk.
  </p>
</div>
{% endif %}

{% call forms.form(form, fields=form.fields, csrf_input=csrf_input) -%}
<input type="hidden" name="login_id" value="{{login_id}}" />
{%- endcall %}


<div class="section-break"></div>

{% endblock %}
