{% extends "layout/sidebar.html" %}
{% block page_title %}Reset Password{% endblock %}
{% block context_header %}Reset Password{% endblock %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
<div class="info-box info-box-info">
    Please enter your Import Case Management System Login ID and complete the security checks
</div>

{% if form.errors %}
<div class="info-box info-box-danger">
  <p>One or more of the details entered were incorrect.</p>
  <p>
    If you require any assistance, please contact us on - or email us at enquiries.ilb@trade.gsi.gov.uk.
  </p>
</div>
{% endif %}


{% call forms.form(action=url('reset-password'), method='post', csrf_input=csrf_input)%}
  {{fields.field(form.login_id)}}
  {{fields.field(form.captcha)}}
  <div class="clearBoth"></div>
  <div class="container">
    <div class="row">
      <div class="four columns"></div>
      <div class="six columns">
        <ul class="menu-out flow-across">
          <li>
            <button type="submit" class="primary-button button">
              Next
            </button>
          </li>
        </ul>
      </div>
      <div class="two columns"></div>
    </div>
  </div>
{% endcall %}

<div class="section-break"></div>


{%endblock%}
