{% extends "email/base.html" %}

{% block message %}
  <p>
    {% if access_request.process_type == "ExporterAccessRequest" %}
      Your Exporter Access Request
      (requested for '{{ access_request.organisation_name }}')
      {% if access_request.request_type == "AGENT_EXPORTER_ACCESS" %}
        to act as an Agent Exporter has now been actioned.
      {% else %}
        to act as an Exporter has now been actioned.
      {% endif %}
    {% else %}
      Your Importer Access Request
      (requested for '{{ access_request.organisation_name }}')
      {% if access_request.request_type == "AGENT_IMPORTER_ACCESS" %}
        to act as an Agent Importer has now been actioned.
      {% else %}
        to act as an Importer has now been actioned.
      {% endif %}
    {% endif %}
  </p>

  <p>Request Outcome: {{ access_request.response }}</p>
  {% if access_request.response_reason is not none %}
    <p>Reason:<br/><br/>{{ access_request.response_reason }}</p>
  {% endif %}
{% endblock %}
