<html>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #001777;">
<p><h4>ICMS System Message</h4></p> <p>   <h5>
    Subject: {{ access_request.request_type_short }} Closed (requested exporter: {{ access_request.organisation_name }}) </h5> </p>
<p>Your {{ access_request.request_type_short }} (requested {{ access_request.requester_type }}: {{ access_request.organisation_name }}) to act as an
    {{ access_request.requester_type }} has now been actioned.<br/><br/>Request Outcome: {{ access_request.response }}
    {% if access_request.response_reason is not none %}
        <br/><br/>Reason:<br/><br/>{{ access_request.response_reason }}
    {% endif %}
</p>
<p/>If this email has been copied to you, you may click <a href="https://www.ilbtest.trade.gov.uk/icmsfox5uat12c/fox/icms/IMP_LOGIN/login">Import Case
    Management System</a> to logon as yourself.<br/>
    For assistance or support email: <a href="mailto:enquiries.ilb@trade.gsi.gov.uk">enquiries.ilb@trade.gsi.gov.uk</a>.
</body>
</html>
