<h4>Access Request</h4>
{% with entity = "exporter" if process.process_type == "ExporterAccessRequest" else "importer" %}
<ul class="menu-out">
  {{ icms_link(request, icms_url('access:link-request', kwargs={'access_request_pk': process.pk, 'entity': entity}), 'Case ' + process.pk|string) }}

  {% with completed=process.further_information_requests.completed().count(),
          total=process.further_information_requests.exclude(status="DELETED").count() %}
    {{ icms_link(request, icms_url('case:manage-firs', kwargs={'application_pk': process.pk, 'case_type': 'access'}),
                 'Further Information Requests (' + completed|string + '/' + total|string + ')') }}
  {% endwith %}

  {{ icms_link(request, icms_url('access:case-management-access-approval', kwargs={'access_request_pk': process.pk, 'entity': entity}), 'Access Approval') }}
  {{ icms_link(request, icms_url('access:close-request', kwargs={'access_request_pk': process.pk, 'entity': entity}), 'Close Access Request') }}
</ul>
{% endwith %}
