{% macro application_section(section_title=None, section_id=None) -%}
  {% if section_title %}
    {% if section_id %}
      <h4 id="{{ section_id }}">{{ section_title }}</h4>
    {% else %}
      <h4>{{ section_title }}</h4>
    {% endif %}
  {% endif %}
  <div class="container">
    {% if caller %}{{ caller() }}{% endif %}
  </div>
{%- endmacro %}

{# TODO: maybe we should use this technique
(https://stackoverflow.com/questions/7432142/django-template-display-model-verbose-names-objects)
to get verbose_name from the model field, and have a special macro that just
takes a model field like this:

  {{ xxx_field(process.whatever) }}
#}

{% macro application_field(field, label, default="", extra="", is_safe_html=False, field_span_classes="") -%}
  <div class="row">
    <div class="three columns">
      <label class="prompt west">{{ label }}</label>
    </div>
    <div class="six columns">
        <span class="text-widget {% if field_span_classes %}{{ field_span_classes }}{% endif %}">
          {% if is_safe_html %}
            {{ field | safe}}
          {% else %}
            {{ field | nl2br or default }}
          {% endif %}
        </span>
    </div>
    <div class="three columns"></div>
  </div>
  {% if extra %}
  <div class="row">
    <div class="three columns"></div>
    <div class="six columns list-extra-info">
      <span class="text-widget">{{ extra }}</span>
    </div>
    <div class="three columns"></div>
  </div>
  {% endif %}
{%- endmacro %}

{% macro commodity_link(commodity) -%}
  <a href="https://www.trade-tariff.service.gov.uk/commodities/{{ commodity.commodity_code }}" target="_blank" rel="noopener noreferrer">
    {{ commodity.commodity_code }}
  </a>
{%- endmacro %}
