<div class="row">
    <div class="{{ label_cols|default:'four' }} columns">
        <label for="{{ field.id_for_label }}" class="prompt {{label_direction|default:'west'}}">
            {{field.label}}
        </label>
    </div>
    <div class="{{input_cols}} columns {% if field.errors %}input-error{% endif %}">
        {{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="error-message">{{error}}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% if extra_cols %}
    <div class="{{extra_cols}} columns"></div>
    {% endif %}
</div>
