<table class="setoutList" id="tbl-section5-authorities">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Address</th>
      <th scope="col">Postcode</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      {% if not read_only %}
        <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for section5 in section5_list %}
    <tr>
      <td>
        <a
          href="{{ icms_url('importer-section5-view',args=[section5.pk]) }}">
          {{ section5.reference }}
        </a>
      </td>
      <td>{{ section5.address|nl2br() or '' }}</td>
      <td>{{ section5.postcode }}</td>
      <td>{{ section5.start_date }}</td>
      <td>{{ section5.end_date }}</td>
      {% if not read_only %}
        <td>
          <a
            href="{{ icms_url('importer-section5-edit', args=[section5.pk]) }}"
            class="button small-button icon-pencil">
            Edit
          </a>
          {% if section5.is_active %}
            <a
              href="{{ icms_url('importer-section5-archive', args=[section5.pk]) }}"
              class="button small-button icon-bin">
              Archive
            </a>
          {% else %}
            <form method="post"
                  action="{{ icms_url('importer-section5-unarchive', args=[section5.pk]) }}"
                  class="form-inline">
              {{ csrf_input }}
              <button type="submit" class="button small-button icon-bin">Restore</button>
            </form>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
