{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}

{% block css %}
  {{ form.media.css }}
  {{ super() }}
{% endblock %}

{% block sidebar %}
  <ul class="menu-out">
    {% for url, link_text in sidebar_links %}
      {{ icms_link(request, url, link_text) }}
    {% endfor %}
  </ul>
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('cat:list') }}" class="prev-link">
          Certificate Application Templates
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% block main_content_intro %}{% endblock %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% block extra_main_content_form %}{% endblock %}
    {% if step != "initial" %}
      {% if application_type == "Certificate of Good Manufacturing Practice" %}
        {% with include_contact = False, process = form.instance, country = "China" %}
          {% include "partial/case/export/gmp-form-content.html" %}
        {% endwith %}
      {% else %}
        {# Default form render #}
        {% for field in form %}
          {{ fields.field(field) }}
        {% endfor %}
      {% endif %}
    {% else %}
      {# Default form render #}
      {% for field in form %}
        {{ fields.field(field) }}
      {% endfor %}
    {% endif %}
    <div class="section-break"></div>

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
          <div class="eight columns">
            {% if not read_only %}
            <ul class="menu-out flow-across">
              <li>
                <button id="btn-submit" type="submit" class="primary-button button">
                  {% if form.instance %}
                    Save
                  {% else %}
                    Create
                  {% endif %}
                </button>
              </li>
            </ul>
            {% endif %}
          </div>
          <div class="one columns"></div>
        </div>
      </div>
    </div>
  {% endcall %}


  {# Next/previous links below the form #}
  <div class="content-actions">
    <ul class="menu-out flow-across">
    {% for url, link_text in sidebar_links %}
      {% if url == request.path %}

        {% if loop.previtem %}
          <li><a href="{{ loop.previtem.0 }}" class="prev-double-link">Previous</a></li>
        {% endif %}

        {% if loop.nextitem %}
          <li><a href="{{ loop.nextitem.0 }}" class="next-double-link">Next</a></li>
        {% endif %}

        {% endif %}
    {% endfor %}
    </ul>
  </div>

  {% endblock %}

{% block page_js %}
  {{ form.media.js }}
  {% if step != "initial" and application_type == "Certificate of Good Manufacturing Practice" %}
    <script src="{{ static('web/js/api/postcode-lookup.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/components/address-input.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/pages/gmp-edit.js') }}" type="text/javascript"></script>
  {% endif %}
  {{ super() }}
{% endblock %}
