{% extends "layout/no-sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('cat:list') }}" class="prev-link">
          Certificate Application Templates
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% block main_content_intro %}{% endblock %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% block extra_main_content_form %}{% endblock %}
    {% for field in form %}
      {{ fields.field(field) }}
    {% endfor %}

    <div class="section-break"></div>

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li>
                <button id="btn-submit" type="submit" class="primary-button button">
                  {% if form.instance %}
                    Save
                  {% else %}
                    Create
                  {% endif %}
                </button>
              </li>
            </ul>
          </div>
          <div class="one columns"></div>
        </div>
      </div>
    </div>
  {% endcall %}

{% endblock %}
