{% extends "web/domains/cat/base_form.html" %}
{% from "display/fields.html" import application_field %}

{% block main_content_intro %}
  {% if application_type|lower == "certificate of manufacture" %}
    <div class="info-box info-box-info">
      This form is in respect of the Exporting Company. Please provide all the information
      requested. The information will be used to create a Certificate of Manufacture and a legal
      declaration in the form of a Schedule.
    </div>
  {% endif %}
{% endblock %}

{% block extra_main_content_form %}
  {{ application_field(application_type, "Application Type") }}
{% endblock %}
