{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
    <ul class="menu-out flow-across">
        <li><a href="{{ icms_url('cat:create') }}">Create Template</a></li>
    </ul>

    <h4>Filter</h4>
    {% call forms.form(action="", method='GET') -%}
        {% for field in filter.form %}
            {{ fields.field(field, show_optional_indicator=false, prompt='north', label_cols='twelve', input_cols='twelve') }}
        {% endfor %}

        <div class="clearBoth"></div>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                <ul class="menu-out flow-across">
                    <li>
                    <button type="submit" class="primary-button small-button button">
                        Apply filter
                    </button>
                    </li>
                    <li>
                        <a href="{{ request.path }}" class="small-button link-button button">Clear Filter</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    {%- endcall %}

{% endblock %}

{% block main_content %}
  <h3>My Templates</h3>

  {% if not templates %}
      <div class="info-box info-box-warning"><div class="screen-reader-only">Warning information box,</div>
          There aren't any templates that match your current filters.
      </div>
  {% else %}
    {% include('web/domains/cat/partials/table.html') %}
  {% endif %}
{% endblock %}
