{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block sidebar %}
    <ul class="menu-out flow-across">
        <li><a href="#TODO: ICMSLST-1027 Create Template">Create Template</a></li>
    </ul>

    <h4>Filter</h4>
    {% call forms.form(action="#TODO: ICMSLST-1043 Filter templates", method='post', csrf_input=csrf_input) -%}
        {% for field in form %}
            {{ fields.field(field, show_optional_indicator=false, prompt='north', label_cols='twelve', input_cols='twelve') }}
        {% endfor %}

        <div class="clearBoth"></div>
        <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="six columns">
            <ul class="menu-out flow-across">
                <li>
                <button type="submit" class="primary-button small-button button">
                    Apply filter
                </button>
                </li>
            </ul>
            </div>
            <div class="two columns"></div>
        </div>
        </div>
    {%- endcall %}

{% endblock %}

{% block main_content %}
    {# TODO: ICMSLST-1028 List of existing Certificate Application Templates #}
    <ul class="tabs big-tabs " role="tablist">
        <li class="current-tab" data-tab-key="USER" role="presentation">
            <a href="javascript:FOXtabs.switchTab('a7TbRC_p2sKVptRa/tg-templates', 'USER');" aria-selected="true" aria-controls="tca7TbRC_p2sKVptRa-tg-templatesUSER" role="tab">
                My Templates
            </a>
        </li>
        <li class="" data-tab-key="OTHER" role="presentation">
            <a href="javascript:FOXtabs.switchTab('a7TbRC_p2sKVptRa/tg-templates', 'OTHER');" aria-selected="false" aria-controls="tca7TbRC_p2sKVptRa-tg-templatesOTHER" role="tab">
                Templates Shared by Others
            </a>
        </li>
    </ul>

    <div role="tabpanel" class="tab-content " style="" data-tab-group="a7TbRC_p2sKVptRa/tg-templates" data-tab-key="USER" aria-hidden="false">
        <div class="info-box info-box-warning"><div class="screen-reader-only">Warning information box,</div>
            There aren't any templates that match your current filters.
        </div>
    </div>
{% endblock %}

