{% extends "layout/public.html" %}

{% block main_content %}
  {% if validlink %}
    <div id="header">
      <h1>Password Reset</h1>
      <p class="subheading">Import Case Management System</p>
    </div>
    <div class="clearBoth"></div>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    {% call forms.form(method='post', csrf_input=csrf_input) %}
      {% for field in form %}
        {% if field.name == "new_password1" %}
          {{ fields.field(field, mark_safe=True) }}
        {% else %}
          {{ fields.field(field) }}
        {% endif %}
      {% endfor %}
      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li><button type="submit" value="save" class="primary-button button">Change My Password</button></li>
            </ul>
          </div>
          <div class="one columns"></div>
        </div>
      </div>
    {% endcall %}
  {% else %}

    <div id="header">
      <h1>Password Reset</h1>
      <p class="subheading">Import Case Management System</p>
    </div>
    <div class="clearBoth"></div>
    <p>The password reset link was invalid, possibly because it has already been used.</p>
    <p>Please request a new password reset.</p>
  {% endif %}

{% endblock %}
