{% extends "layout/public.html" %}

{% block main_content %}

  <div id="header">
    <h1>Account Recovery</h1>
    <p class="subheading">{{ request.site.name }}</p>
  </div>
  <div class="clearBoth"></div>
  <p>Please enter the email address and password you used in the old version of {{ request.site.name }} (This was previously called ICMS).</p>
  <p>Doing this will link all your old data to your GOV.UK One Login user.</p>
  <p>If successful you will be logged out of {{ request.site.name }}, when you log in again you will be linked to all your old data.</p>
  <div class="info-box info-box-warning">Any data currently linked to your user will be replaced by the old data</div>

  {% call forms.form(method='post', csrf_input=csrf_input) %}
    {% for field in form %}
      {{ fields.field(field) }}
    {% endfor %}

    {{ forms.form_errors(form) }}
    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" value="save" class="primary-button button">Recover Account
              </button>
            </li>
          </ul>
        </div>
        <div class="one columns"></div>
      </div>
    </div>
  {% endcall %}

{% endblock %}
