{% extends "layout/public.html" %}

{% block main_content %}

  <div id="header">
    <h1>Link your existing account</h1>
    <p class="subheading">{{ request.site.name }}</p>
  </div>
  <div class="clearBoth"></div>
  <p>To link all your existing data to your new account, use the email address and password you used for ICMS.</p>
  <p>You will be automatically signed out. When you sign back in, you will be able to see all your old information.</p>
  {% call forms.form(method='post', csrf_input=csrf_input) %}
    {% for field in form %}
      {{ fields.field(field) }}
    {% endfor %}

    {{ forms.form_errors(form) }}
    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" value="save" class="primary-button button">Link existing account</button>
            </li>
          </ul>
        </div>
        <div class="one columns"></div>
      </div>
    </div>
  {% endcall %}

{% endblock %}
