{% if cover_letter_flag %}
  <h5>Cover Letter</h5>

  <hr />
  {{ process.cover_letter|safe }}
  <hr />

  <a
    href="{{ icms_url('import:edit-cover-letter', args=[process.pk]) }}"
    class="button small-button">
    Edit Cover Letter
  </a>
{% endif %}

{% if electronic_licence_flag %}
  <h5>Licence</h5>

  <h5>Licence</h5>

  <table class="setoutList">
    <thead>
      <tr>
        <th>
          Start Date
        </th>
        <th>
          End Date
        </th>
        <th>
          Issue paper licence only?
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% if process.licence_start_date %}
            {{ process.licence_start_date.strftime('%d-%b-%Y') }}
          {% endif %}
        </td>
        <td>
          {% if process.licence_end_date %}
            {{ process.licence_end_date.strftime('%d-%b-%Y') }}
          {% endif %}
        </td>
        <td>
          No
        </td>
        <td>
          <a
            href="{{ icms_url('import:edit-licence', args=[process.pk]) }}"
            class="button small-button">
            Edit
          </a>
      </tr>
    </tbody>
  </table>
{% endif %}
