{% extends "web/domains/case/view_case.html" %}


{% block main_content %}
  {{ super() }}

  {% call application_section("Firearms and Ammunition") %}
    {{ application_field(process.applicant_reference, "Applicant Reference", "N/a") }}

    <div class="row">
      <div class="three columns">
        <label class="prompt west">Firearms Licence For</label>
      </div>
      <div class="six columns">
        <p>Section 1, Section 2</p>
      </div>
      <div class="three columns"></div>
    </div>

    {{ application_field(process.origin_country, "Country Of Origin") }}
    {{ application_field(process.consignment_country, "Country Of Consignment") }}

  {% endcall %}

  {% call application_section("Goods") %}
    {{ application_field(process.commodity_code, "Commodity Code") }}

    <table class="setoutList">
      <thead>
        <tr>
          <th style="width: 400px"> Goods Description </th>
          <th> Quantity </th>
          <th> Unit </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="individual-input">
              <span class="text-widget">
                {{ process.goods_description() }}
              </span>
            </div>
          </td>
          <td>
            <div class="individual-input">
              <span class="text-widget">Unlimited</span>
            </div>
          </td>
          <td>
            <div class="individual-input">
              <span class="text-widget">units</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  {% endcall %}

  {% call application_section("Certificates/Documents") %}
    <h5>Verified Firearms Authorities</h5>
    {% with read_only=True %}
      {% include "partial/certificates/list-verified.html" %}
    {% endwith %}

    <h5>Other Certificates</h5>
    {% with read_only = True %}
      {% include "partial/certificates/list.html" %}
    {% endwith %}
  {% endcall %}

  {% call application_section("Details of who bought from") %}
    {% with read_only = True %}
      {% include "partial/import-contacts/list.html" %}
    {% endwith %}
  {% endcall %}

{% endblock %}
