{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
    {% include "partial/case/import/fa-sil/sidebar.html" %}
{% endblock %}

{% block form_content %}
  <h4>Contact</h4>
  {{ fields.field(form.contact) }}

  <h4>Firearms and Ammunition</h4>
  {{ fields.field(form.applicant_reference) }}

  <div class="label-grouped">
    {{ fields.field(form.section1, checkbox_label="Section 1", show_optional_indicator=False) }}
    {{ fields.field(form.section2, checkbox_label="Section 2", show_optional_indicator=False) }}
    {{ fields.field(form.section5, checkbox_label="Section 5", show_optional_indicator=False) }}
    {{ fields.field(form.section58_obsolete, checkbox_label="Section 58(2) - Obsolete Calibre", show_optional_indicator=False) }}
    {{ fields.field(form.section58_other, checkbox_label="Section 58(2) - Other", show_optional_indicator=False) }}
    {{ fields.field(form.other_description) }}
  </div>

  {{ fields.field(form.origin_country) }}
  {{ fields.field(form.consignment_country) }}

  {{ fields.field(form.military_police) }}
  {{ fields.field(form.eu_single_market) }}
  {{ fields.field(form.manufactured) }}

  <h4>Details of who bought from</h4>
  {{ fields.field(form.know_bought_from) }}

  <h4>Misc</h4>
  {{ fields.field(form.additional_comments) }}
{% endblock %}

{% block task_actions %}
  <input type="submit" name="action" class="primary-button button" value="Save" />
{% endblock %}

{% block after_form %}
  <h4>Goods - Licence for</h4>
  {% include "web/domains/case/import/fa-sil/goods/section1-boxes.html" %}
  {% include "web/domains/case/import/fa-sil/goods/section2-boxes.html" %}
  {% include "web/domains/case/import/fa-sil/goods/section5-boxes.html" %}
  {% include "web/domains/case/import/fa-sil/goods/section582-obsolete-boxes.html" %}
  {% include "web/domains/case/import/fa-sil/goods/section582-other-boxes.html" %}

  <p>
    <a
      href="{{ icms_url('import:fa-sil:choose-goods-section', kwargs={'pk': process.pk}) }}"
      class="button button-small">
      Add Goods Item
    </a>
  </p>

{% endblock %}
