{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}


{% block form_content %}

  {% include "partial/case/application-contact-details.html" %}

  <h4>Firearms and Ammunition</h4>
  {{ fields.field(form.applicant_reference) }}

  <h4>Licence For</h4>
  {{ fields.field(form.section1, show_optional_indicator=False) }}
  {{ fields.field(form.section2, show_optional_indicator=False) }}
  {{ fields.field(form.section5, show_optional_indicator=False) }}
  {{ fields.field(form.section58_obsolete, show_optional_indicator=False) }}
  {{ fields.field(form.section58_other, show_optional_indicator=False) }}
  {{ fields.field(form.other_description) }}

  <hr />

  {{ fields.field(form.origin_country) }}
  {{ fields.field(form.consignment_country) }}

  {{ fields.field(form.military_police) }}
  {{ fields.field(form.eu_single_market) }}
  {{ fields.field(form.manufactured) }}

  <h4>Goods</h4>
  {{ fields.field(form.commodity_code) }}

  {% include "partial/know-bought-from.html" %}

  <h4>Misc</h4>
  {{ fields.field(form.additional_comments) }}
{% endblock %}

{% block task_actions %}
  <input type="submit" name="action" class="primary-button button" value="Save" />
{% endblock %}

{% block after_form %}
  <h4>Goods - Licence for</h4>
  {% with read_only = False %}
    {% include "web/domains/case/import/fa-sil/goods/section1-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section2-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section5-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section582-obsolete-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section582-other-boxes.html" %}
  {% endwith %}

  <p>
    <a
      href="{{ icms_url('import:fa-sil:choose-goods-section', kwargs={'application_pk': process.pk}) }}"
      class="button small-button">
      Add Goods Item
    </a>
  </p>
{% endblock %}

{% block page_js %}
  {{ super() }}
  <script src="{{ static('web/js/pages/bought-from.js') }}" type="text/javascript"></script>
{% endblock %}
