{% extends 'layout/no-sidebar.html' %}
{% from "display/fields.html" import application_section, application_field %}

{% block main_content %}
  {% call application_section("Verified Section 5 Authority") %}
    {{ application_field(section5.reference or "", "Reference") }}
    {{ application_field(section5.address, "Address") }}
    {{ application_field(section5.postcode, "Postcode") }}
    {{ application_field(section5.start_date.strftime('%d-%b-%Y'), "Start Date") }}
    {{ application_field(section5.end_date.strftime('%d-%b-%Y'), "End Date") }}
  {% endcall %}

  {% call application_section("Authority Details") %}
    {% with clause_quantities = section5.clausequantity_set.all() %}
      {% if clause_quantities %}
        <table class="setoutList">
          <thead>
          <tr>
            <th>Category</th>
            <th>Quantity</th>
          </thead>
          <tbody>
          {% for clause in clause_quantities %}
            <tr>
              <td>{{ clause.section5clause.clause }}</td>
              <td>
                {% if clause.infinity %}
                  Unlimited
                {% else %}
                  {{ clause.quantity }}
                {% endif %}
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="2">
                <div class="info-box info-box-info">
                  There are no section 5 clause attached
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="info-box info-box-info">There are no section 5 clause attached</div>
      {% endif %}
    {% endwith %}
  {% endcall %}

  {% call application_section("Documents") %}
    {% with documents = section5.files.active() %}
      {% if documents %}
        <table class="setoutList">
          <thead>
          <tr>
            <th scope="col">Document Type</th>
            <th scope="col">Uploaded By</th>
            <th scope="col">File (Size)</th>
          </tr>
          </thead>
          <tbody>
          {% for document in section5.files.active() %}
            <tr>
              <td>
                Verified Section 5 Authority
              </td>
              <td>
                {{ document.created_by }}<br/>
                <span class="extra-info">{{ document.created_datetime|datetime_format }}</span>
              </td>
              <td>
                <a href="{{ icms_url('import:fa-sil:view-verified-section5-document', kwargs={'application_pk': process.pk, 'document_pk': document.pk}) }}">
                  {{ document.filename }}
                </a>
                <br/>
                <span class="extra-info">{{ document.human_readable_file_size() }}</span>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="info-box info-box-info">There are no documents attached</div>
      {% endif %}
    {% endwith %}
  {% endcall %}
{% endblock %}
