# Circleci 2.0 config:
# https://circleci.com/docs/2.0/configuration-reference

# Available machine images:
# https://circleci.com/docs/2.0/configuration-reference/#available-machine-images

version: 2
jobs:
    build:
        machine:
            image: ubuntu-2004:202104-01

        steps:
            - checkout

            - run:
                name: build containers
                command:  make build

            - run:
                name: run black (code formatting check)
                command: make docker_black

            - run:
                name: run flake8 (coding standards compliance test)
                command: make docker_flake8

            - run:
                name: run isort (import formatter check)
                command: make docker_isort

            - run:
                name: run mypy
                command: make docker_mypy

            - run:
                name: run unit tests
                command: make test

            - run:
                  name: Publish unit test coverage
                  command: |
                      wget -O codecov.sh https://codecov.io/bash
                      bash ./codecov.sh -s test-reports -f "*.xml"
