{% extends "model/edit.html" %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
  {% include "web/country/sidebar.html" %}
{% endblock %}

{% block fields %}

  {{fields.field(form.name)}}
  {{fields.field(form.type)}}

  <div class="container">
    <div class="row">
      <div class="three columns"> </div>
      <div class="six columns">
        <h3>Attributes</h3>
      </div>
      <div class="three columns"> </div>
    </div>
  </div>

  <div class="container setoutForm noBottomMargin">
    <div class="row">
      {{fields.field(form.commission_code)}}
      {{fields.field(form.hmrc_code)}}
    </div>
  </div>
{% endblock %}
