{% extends "web/country/country-base.html" %}
{% block page_title %}Editing All Countries{% endblock %}
{% block context_header %}Editing All Countries{% endblock %}


{% block main_content %}

<div class="filter-bar">
    <div class="container setoutForm noBottomMargin">
        <div class="row">
            <div class="four columns">
                <label id="pg48" for="g48" class="prompt west">Country Set</label>
            </div>
            <div class="four columns setoutForm">
                <select name="country-set" aria-required="true">
                    <option value="all-countries" selected="selected">All Countries</option>
                </select>
            </div>
            <div class="four columns"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% set batch_size=(object_list.count()/4)|round(0, 'ceil') %}
        {%- for countries in object_list|batch(batch_size) %}
        <div class="three columns">
        {% for country in countries %}
                <div class="container setoutForm">
                    <div class="row">
                        <div class="ten columns input-group">
                            <div class="eleven-column-input">
                                <a href="{{url('country-edit', args=[country.id])}}" aria-describedby="hint{{country.id}}-content">{{country.name}}</a>
                                <div id="hint{{country.id}}-content" role="tooltip" class="hint-content">
                                    <h4>{{country.name}}</h4>In Group(s) Certificate of Free Sale Country of Manufacture Countries, Firearms and Ammunition (Deactivated) Issuing Countries, Firearms and Ammunition (SIL) COCs, Firearms and Ammunition (SIL) COOs
                                </div>
                            </div>
                            <div class="input-group-addon hint-addon">
                                <div id="hint{{country.id}}-content" role="tooltip" class="hint-content">
                                    <h4>{{country.name}}</h4>In Group(s) Certificate of Free Sale Country of Manufacture Countries, Firearms and Ammunition (Deactivated) Issuing Countries, Firearms and Ammunition (SIL) COCs, Firearms and Ammunition (SIL) COOs
                                </div>
                                <div id="hint{{country.id}}" aria-describedby="hint{{country.id}}-content" class="hint icon-info"></div>
                            </div>
                        </div>
                        <div class="two columns"></div>
                    </div>
                </div>
        {% endfor %}
        </div>
        {% endfor -%}
    </div>

</div>





{% endblock %}
