{% block sidebar %}
  <h4>Exporter</h4>
  <h5>Search</h5>
  <ul class="menu-out">
    <li>
        <a href="{{ icms_url('exporter-list') }}">Exporter</a>
    </li>
    <li>
      {% if request.resolver_match.url_name == "exporter-edit" %}
        {# we want to pass the current exporter ID into the URL so it can be prefilled in the exporter-list view #}
        <a href="{{ icms_url('access:exporter-list') }}?exporter_name={{ form.instance.name }}">Exporter Access Requests</a>
      {% else %}
        <a href="{{ icms_url('access:exporter-list') }}">Exporter Access Requests</a>
      {% endif %}
    </li>
  </ul>
  <h5>Create</h5>
  <ul class="menu-out">
    <li>
      <a href="{{ icms_url('exporter-create') }}">Exporter</a>
    </li>
  </ul>
{% endblock %}
