{% extends "flow/task-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block content_actions %}
<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a
        href="{{ prev_link }}" class="prev-link">Edit application</a>
    </li>
  </ul>
</div>

{% endblock %}

{% block main_content %}
  <h4>{{ page_subtitle or "Add supporting document" }}</h4>
  {% call forms.form(action='', method='post', csrf_input=csrf_input, enctype='multipart/form-data') -%}
    {{ fields.field(form.document) }}
    <input type="submit" name="action" class="primary-button button" value="Save" />
  {% endcall %}

{% endblock %}
