{% extends "web/domains/case/view_case.html" %}

{% block css %}
  {{ super() }}
  <style>
      /** Override the default styling for the checkbox */
      input[type='checkbox'].disabled-cb {
          position: relative;
          top: 0;
          margin: 0 1.3em 0 0;
      }
  </style>
{% endblock %}

{% block view_subsections %}
  <ul>
    {% for schedule in schedules %}
      <li><a href="#view-schedule-{{ loop.index }}">Schedule {{ loop.index }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block main_content %}
  {{ super() }}

  {% call application_section("Certificate of Free Sale") %}
    {{ application_field(application_countries, "Countries") }}
  {% endcall %}

  {% for schedule in schedules %}
    {% set schedule_legislations = schedule.legislations.all() %}
    {% set schedule_legislation_names = schedule_legislations.values_list("name", flat=True) %}
    {% set has_cosmetics = schedule_legislations.filter(is_eu_cosmetics_regulation=True).exists() %}
    {% set not_export_only = schedule.goods_export_only == "no" %}
    {% set show_schedule_statements_is_responsible_person = has_cosmetics and not_export_only %}

    {% call application_section("Schedule " + loop.index|string, "view-schedule-" + loop.index|string) %}
      {{ application_field(schedule.get_exporter_status_display(), labels["exporter_status"]) }}
      {{ application_field(schedule.get_brand_name_holder_display(), labels["brand_name_holder"]) }}
      {{ application_field(schedule_legislation_names|join("\n"), labels["legislations"]) }}
      {% if schedule.is_biocidal_claim() and schedule.biocidal_claim %}
        {{ application_field(schedule.get_biocidal_claim_display(), labels["biocidal_claim"]) }}
      {% endif %}
      {% if show_eu_fields %}
        {{ application_field(schedule.get_product_eligibility_display().replace(" UK ", " EU ") , labels["product_eligibility"]) }}
        {{ application_field(schedule.get_goods_placed_on_uk_market_display(), "Have you placed the goods on the EU market or intend to place on EU market in future?") }}
        {{ application_field(schedule.get_goods_export_only_display(), "Are these goods for export only and will never be placed by you on the EU market?") }}
      {% else %}
        {{ application_field(schedule.get_product_eligibility_display(), labels["product_eligibility"]) }}
        {{ application_field(schedule.get_goods_placed_on_uk_market_display(), labels["goods_placed_on_uk_market"]) }}
        {{ application_field(schedule.get_goods_export_only_display(), labels["goods_export_only"]) }}
      {% endif %}
      {{ application_field(schedule.get_any_raw_materials_display(), labels["any_raw_materials"]) }}

      {% if schedule.final_product_end_use %}
        {{ application_field(schedule.final_product_end_use, labels["final_product_end_use"]) }}
      {% endif %}

      {{ application_field(schedule.country_of_manufacture, labels["country_of_manufacture"]) }}

      <div class="row">
        <div class="three columns">
          <label class="prompt west">{{ labels["schedule_statements_accordance_with_standards"] }}</label>
        </div>
        <div class="nine columns">
          <input
            class="disabled-cb" type="checkbox" aria-label="These products are manufactured in accordance with the Good Manufacturing Practice standards set out in UK law" disabled="disabled"
            {{ 'checked="checked"' if schedule.schedule_statements_accordance_with_standards else "" }}
          >
          These products are manufactured in accordance with the Good Manufacturing Practice standards set out in UK law
        </div>
      </div>

      {% if show_schedule_statements_is_responsible_person %}
        <div class="row">
          <div class="three columns">
            <label class="prompt west">{{ labels["schedule_statements_is_responsible_person"] }}</label>
          </div>
          <div class="nine columns">
            <input
              class="disabled-cb" type="checkbox" aria-label="I am the responsible person as defined by Cosmetic Regulation No 1223/2009 as applicable in GB. I am the person responsible for ensuring that the products listed in this schedule meet the safety requirements set out in that Regulation." disabled="disabled"
              {{ 'checked="checked"' if schedule.schedule_statements_is_responsible_person else "" }}
            >
            I am the responsible person as defined by Cosmetic Regulation No 1223/2009 as applicable in GB. I am the person responsible for ensuring that the products listed in this schedule meet the safety requirements set out in that Regulation.
          </div>
        </div>
      {% endif %}
    {% endcall %}

    {% call application_section("Manufactured At") %}
      {% if schedule.manufacturer_name %}
        {{ application_field(schedule.manufacturer_name, "Name") }}
        {{ application_field(schedule.manufacturer_postcode, "Postcode") }}
        {{ application_field(schedule.manufacturer_address or "", "Address") }}
      {% else %}
        <p>No manufacturer details included</p>
      {% endif %}
    {% endcall %}

    {% call application_section("Products") %}
      {% with
        products = schedule.products.all().order_by("pk"),
        is_biocidal = schedule.is_biocidal() %}
        {% include "web/domains/case/export/partials/cfs/schedule-product-list.html" %}
      {% endwith %}
    {% endcall %}

  {% endfor %}
{% endblock %}
