{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/fields.html" as fields %}


{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('export:cfs-schedule-edit', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}"
          class="prev-link">
          Edit schedule
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block form_content %}
  {{ fields.address_fields(
    form,
    'manufacturer_name',
    'manufacturer_address_entry_type',
    'manufacturer_postcode',
    'manufacturer_address'
  ) }}
{% endblock %}

{% block task_actions %}
  <li>
    <button type="submit" name="add_manufacturer_address" class="primary-button button">
      Save
    </button>
  </li>
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  <script src="{{ static('web/js/api/postcode-lookup.js') }}" type="text/javascript"></script>
  <script src="{{ static('web/js/components/address-input.js') }}" type="text/javascript"></script>
{% endblock %}
