{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_section, application_field %}


{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('export:cfs-edit', kwargs={'application_pk': process.pk}) }}"
          class="prev-link">
          Edit application
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block form_content %}
  {{ fields.field(form.exporter_status) }}
  {{ fields.field(form.brand_name_holder) }}
  {{ fields.field(form.legislations) }}
  {{ fields.field(form.product_eligibility) }}
  {{ fields.field(form.goods_placed_on_uk_market) }}
  {{ fields.field(form.goods_export_only) }}
  {{ fields.field(form.any_raw_materials) }}

  <div id="final-product-end-use-wrapper">
    {{ fields.field(form.final_product_end_use, show_optional_indicator=False) }}
  </div>

  {{ fields.field(form.country_of_manufacture) }}
  {{ fields.field(form.schedule_statements_accordance_with_standards, checkbox_label="These products are manufactured in accordance with the Good Manufacturing Practice standards set out in UK law") }}

  <div id="schedule-statements-is-responsible-person-wrapper" {% if not show_schedule_statements_is_responsible_person %} style="display: none"{% endif %}>
    {{ fields.field(
          form.schedule_statements_is_responsible_person,
          show_optional_indicator=False,
          checkbox_label="I am the responsible person as defined by Cosmetic Regulation No 1223/2009 as applicable in GB. I am the person responsible for ensuring that the products listed in this schedule meet the safety requirements set out in that Regulation."
       )
    }}
  </div>
{% endblock %}


{% block task_actions %}
  <li>
    <button type="submit" name="edit_schedule" class="primary-button button">
      Save
    </button>
  </li>
{% endblock %}

{% block subtasks %}
  <h4>Manufactured At</h4>
  <div class="info-box info-box-info">
    If you have chosen the 'Exporter Status' 'I am the manufacturer' then you should not complete this information
    unless you wish to include details of your contract manufacturer. Applicants who have chosen
    'I am not the manufacturer' may enter details of the manufacturer in this section.
  </div>

  {% if not schedule.manufacturer_name %}
    <p>Include Manufacturer Information?</p>
    <a class="button small-button icon-plus"
       href="{{ icms_url('export:cfs-schedule-set-manufacturer', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}">Add
      Manufacturer</a>
  {% else %}
    {% call application_section("Manufacturer Address") %}
      {{ application_field(schedule.manufacturer_name, "Name") }}
      {{ application_field(schedule.manufacturer_postcode or "" , "Postcode") }}
      {{ application_field(schedule.manufacturer_address or "", "Address") }}
    {% endcall %}
    <a class="button small-button icon-pencil"
       href="{{ icms_url('export:cfs-schedule-set-manufacturer', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}">Edit
      Manufacturer</a>
    <form
      method="post"
      action="{{ icms_url('export:cfs-schedule-delete-manufacturer', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}"
      class="form-inline">
      {{ csrf_input }}
      <button
        type="submit"
        class="button small-button icon-bin"
      >Remove Manufacturer
      </button>
    </form>
  {% endif %}

  {% if has_legislation %}
    <h4>Products</h4>
    <div class="info-box info-box-info">
      <p>Please add product information below. A separate line is required for each product.</p>
      <p><strong>
        If any of the information given on this schedule does not apply to all of the products below,
        a separate schedule must be added for the products where the information is different.
      </strong></p>
      <p>
        To upload products in bulk, download and complete the template provided below.
        Once uploaded the products list will be filled out automatically.
      </p>
    </div>
    <div class="container setoutForm">
      <div class="row">
        <div class="two columns"></div>
        <div class="six columns">
          <a class="icon icon-download button"
            href="{{ icms_url('export:cfs-schedule-product-download-template', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}">
            Download Template Spreadsheet
          </a>
        </div>
        <div class="four columns"></div>
      </div>
      <br>
      <div class="row">
        <div class="two columns">
          <label class="prompt west">
            Upload Spreadsheet
            <span class="mand-label">optional</span>
          </label>
        </div>
        <div class="six columns input-group">
          <form action="{{ icms_url('export:cfs-schedule-product-spreadsheet-upload', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}" method="post" enctype="multipart/form-data" id="id_upload-product-data">
            {{ csrf_input }}
            {{ product_upload_form.file }}
            <button type="submit" class="button link-button inline-link-button icon-upload" form="id_upload-product-data">Upload</button>
            </label>
          </form>
        </div>
        <div class="four columns"></div>
      </div>
    </div>
    {% if products %}
      {% include "web/domains/case/export/partials/cfs/schedule-product-list.html" %}
    {% endif %}
    <a
      href="{{ icms_url('export:cfs-schedule-add-product', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk }) }}"
      class="button small-button icon-plus">
      Add Product
    </a>
  {% endif %}
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  <script id="legislation_config" type="application/json">{{ legislation_config|tojson }}</script>
  <script src="{{ static('web/js/pages/cfs-schedule-edit.js') }}" type="text/javascript"></script>
{% endblock %}
