{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/fields.html" as fields %}
{% import "forms/forms.html" as forms %}


{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('export:cfs-schedule-edit', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk }) }}"
          class="prev-link">
          Edit schedule
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <h4>{{ page_title }}</h4>

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {{ children_formset.management_form }}
    {{ children_formset.non_form_errors() }}

    {% for child_form in children_formset.forms %}
        {{ child_form }}
        {% if child_form.nested %}
            {{ child_form.nested.management_form }}
            {{ child_form.nested.non_form_errors() }}

            {% for nested_form in child_form.nested.forms %}
                {{ nested_form }}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {{ forms.submit_button(btn_label="Save") }}
  {% endcall %}
{% endblock %}
