{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_section, application_field %}


{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('export:cfs-edit', kwargs={'application_pk': process.pk}) }}"
          class="prev-link">
          Edit application
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block form_content %}
  {% include "web/domains/case/export/partials/cfs/edit-schedule-form-content.html" %}
{% endblock %}


{% block task_actions %}
  <li>
    <button type="submit" name="edit_schedule" class="primary-button button">
      Save
    </button>
  </li>
{% endblock %}

{% block subtasks %}
  {# Manufactured At Section #}
  {% include "web/domains/case/export/partials/cfs/edit-manufactured-at.html" %}

  {# Products Section #}
  {% if has_legislation %}
    <h4>Products</h4>
    <div class="info-box info-box-info">
      <p>Please add product information below. A separate line is required for each product.</p>
      <p><strong>
        If any of the information given on this schedule does not apply to all of the products below,
        a separate schedule must be added for the products where the information is different.
      </strong></p>
      <p>
        To upload products in bulk, download and complete the template provided below.
        Once uploaded the products list will be filled out automatically.
      </p>
    </div>
    <div class="container setoutForm">
      <div class="row">
        <div class="two columns"></div>
        <div class="six columns">
          <a class="icon icon-download button"
            href="{{ icms_url('export:cfs-schedule-product-download-template', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}">
            Download Template Spreadsheet
          </a>
        </div>
        <div class="four columns"></div>
      </div>
      <br>
      <div class="row">
        <div class="two columns">
          <label class="prompt west">
            Upload Spreadsheet
            <span class="mand-label">optional</span>
          </label>
        </div>
        <div class="six columns input-group">
          <form action="{{ icms_url('export:cfs-schedule-product-spreadsheet-upload', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}" method="post" enctype="multipart/form-data" id="id_upload-product-data">
            {{ csrf_input }}
            {{ product_upload_form.file }}
            <button type="submit" class="button link-button inline-link-button icon-upload" form="id_upload-product-data">Upload</button>
            </label>
          </form>
        </div>
        <div class="four columns"></div>
      </div>
    </div>
    {% if products %}
      {% include "web/domains/case/export/partials/cfs/schedule-product-list.html" %}
    {% endif %}
    <a
      href="{{ icms_url('export:cfs-schedule-add-product', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk }) }}"
      class="button small-button icon-plus">
      Add Product
    </a>
  {% endif %}
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  <script id="legislation_config" type="application/json">{{ legislation_config|tojson }}</script>
  <script src="{{ static('web/js/pages/cfs-schedule-edit.js') }}" type="text/javascript"></script>
{% endblock %}
