{% extends "flow/task-base.html" %}
{% import "forms/fields.html" as fields %}

{% block sidebar %}
  {% include "partial/case/export/cfs/sidebar.html" %}
{% endblock %}

{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
{% endblock %}

{% block form_content %}
  <div class="info-box info-box-info">
    This form is in respect of the Exporting Company. Please provide all the
    information requested. The information will be used to create a Certificate
    of Free Sale and a legal declaration in the form of a Schedule.
  </div>

  {{ super() }}

  <h4>Contact</h4>
  {# TODO: show contact telephone/email; do we need to reload the form on contact change...? #}
  {{ fields.field(form.contact) }}

  <h4>Countries</h4>
  {{ fields.field(form.countries) }}
{% endblock %}

{% block task_actions %}
  <li>
    <button type="submit" role="action-button" name="close_request" class="primary-button button">
      Save
    </button>
  </li>
{% endblock %}

{% block subtasks %}

  <h4>Schedules</h4>
  {% if schedules.exists() %}
    <table class="setoutList">
      <thead>
      <tr>
        <th>Schedule</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for schedule in schedules %}
        <tr>
          <td>Schedule ({{ loop.index }}/{{ loop.length }})</td>
          <td>
            <a
              class="link-button button icon-pencil" data-input_action="edit"
              href="{{ icms_url('export:cfs-schedule-edit', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}"
            >Edit</a>
            <form
              method="post"
              action="{{ icms_url('export:cfs-schedule-delete', kwargs={'application_pk': process.pk, 'schedule_pk': schedule.pk}) }}"
              class="form-inline">
              {{ csrf_input }}
              <button
                type="submit"
                class="link-button icon-bin button tooltipstered"
                aria-label="Delete"
                data-confirm="Are you sure you want to delete this record?">Delete
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="info-box info-box-info">There are no schedules attached.</div>
  {% endif %}
  <hr>
  <form
    method="post"
    action="{{ icms_url('export:cfs-schedule-add', kwargs={'application_pk': process.pk}) }}"
    class="form-inline">
    {{ csrf_input }}
    <button
      type="submit"
      class="button small-button icon-plus"
    >Add Schedule
    </button>
  </form>
{% endblock %}
