{% extends "flow/task-base.html" %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_field %}


{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block before_form %}
  <div class="info-box info-box-info">
    This form is in respect of the Exporting Company. Please provide all
    the information requested. The information will be used to create a
    Certificate of Good Manufacturing Practice.
  </div>

  <h4>Countries</h4>
  {{ application_field(country, "Country") }}

  <h4>Brands</h4>
  {% with read_only = False, brands = process.brands.all() %}
    {% include "web/domains/case/export/partials/gmp/brands_list.html" %}
  {% endwith %}
{% endblock %}

{% block form_content %}
  <h4>Contact</h4>
  {{ fields.field(form.contact) }}

  <h4>Responsible Person</h4>
  {{ fields.field(form.is_responsible_person) }}
  {{ fields.address_fields(
    form,
    'responsible_person_name',
    'responsible_person_address_entry_type',
    'responsible_person_postcode',
    'responsible_person_address',
    'responsible_person'
  ) }}
  {{ fields.field(form.responsible_person_country) }}

  <h4>Manufacturer</h4>
  {{ fields.field(form.is_manufacturer) }}
  {{ fields.address_fields(
    form,
    'manufacturer_name',
    'manufacturer_address_entry_type',
    'manufacturer_postcode',
    'manufacturer_address',
    'manufacturer'
  ) }}
  {{ fields.field(form.manufacturer_country) }}

  <h4>Manufacturing certificates</h4>
  {{ fields.field(form.gmp_certificate_issued) }}
  <div id="iso-fields-wrapper" {% if not process.gmp_certificate_issued == process.CertificateTypes.ISO_22716 %}
       style="display: none"{% endif %}>
    {{ fields.field(form.auditor_accredited, show_optional_indicator=False) }}
    {{ fields.field(form.auditor_certified, show_optional_indicator=False) }}
  </div>
{% endblock %}

{% block task_actions %}
  <li>
    <button type="submit" role="action-button" name="close_request" class="primary-button button">
      Save
    </button>
  </li>
{% endblock %}

{% block subtasks %}
  <div class="info-box info-box-info" id="application-not-finished-warning">
    <div class="screen-reader-only">Information box,</div>
    Please save main form before uploading documents
  </div>

  {% if show_iso_table %}
    <div class="info-box info-box-info">
      <div class="screen-reader-only">Information box,</div>
      In order to submit the application you must upload an ISO 22716 certificate. You must also upload a valid ISO
      17021 or ISO 17065 certificate in order to submit.
    </div>
    {% with read_only = False, mandatory_files = ["ISO_22716"], optional_files = ["ISO_17021", "ISO_17065"] %}
      {% include "web/domains/case/export/partials/gmp/documents_list.html" %}
    {% endwith %}

  {% elif show_brc_table %}
    <div class="info-box info-box-info">
      <div class="screen-reader-only">Information box,</div>
      In order to submit the application you must upload a BRC Global Standard for Consumer Products certificate.
    </div>
    {% with read_only = False, mandatory_files = ["BRC_GSOCP"] %}
      {% include "web/domains/case/export/partials/gmp/documents_list.html" %}
    {% endwith %}

  {% endif %}
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  <script src="{{ static('web/js/api/postcode-lookup.js') }}" type="text/javascript"></script>
  <script src="{{ static('web/js/pages/address-input.js') }}" type="text/javascript"></script>
  <script src="{{ static('web/js/pages/gmp-edit.js') }}" type="text/javascript"></script>
{% endblock %}
