{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}

{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block before_form %}
  <div class="info-box info-box-info">
    This form is in respect of the Exporting Company. Please provide all
    the information requested. The information will be used to create a
    Certificate of Good Manufacturing Practice.
  </div>
{% endblock %}

{% block form_content %}
  {% with include_contact = True %}
    {% include "web/domains/case/export/partials/gmp/edit-form-content.html" %}
  {% endwith %}
{% endblock %}

{% block task_actions %}
  <li>
    <button type="submit" name="close_request" class="primary-button button">
      Save
    </button>
  </li>
{% endblock %}

{% block subtasks %}
  <div id="gmp-document-list"></div>
  {% if show_iso_table %}
    <div class="info-box info-box-info">
      <div class="screen-reader-only">Information box,</div>
      In order to submit the application you must upload an ISO 22716 certificate. You must also upload a valid ISO
      17021 or ISO 17065 certificate in order to submit.
    </div>
    {% with read_only = False, mandatory_files = ["ISO_22716"], optional_files = ["ISO_17021", "ISO_17065"] %}
      {% include "web/domains/case/export/partials/gmp/documents_list.html" %}
    {% endwith %}

  {% elif show_brc_table %}
    <div class="info-box info-box-info">
      <div class="screen-reader-only">Information box,</div>
      In order to submit the application you must upload a BRC Global Standard for Consumer Products certificate.
    </div>
    {% with read_only = False, mandatory_files = ["BRC_GSOCP"] %}
      {% include "web/domains/case/export/partials/gmp/documents_list.html" %}
    {% endwith %}

  {% endif %}
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
  <script src="{{ static('web/js/api/postcode-lookup.js') }}" type="text/javascript"></script>
  <script src="{{ static('web/js/components/address-input.js') }}" type="text/javascript"></script>
  <script src="{{ static('web/js/pages/gmp-edit.js') }}" type="text/javascript"></script>
{% endblock %}
