{% extends "layout/sidebar.html" %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% with process=object %}
      {% include 'web/domains/case/export/partials/process.html' %}
    {% endwith %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <form method="post" action="{{ url('export:release-ownership', args=[object.pk]) }}" class="form-inline">
      {{ csrf_input }}
      <button type="submit">Release Ownership</button>
  </form>
  <a href="#" class="button">Reassign</a>
  <a href="#" class="button primary-button" disabled=disabled>Quick Issue</a>
{% endblock %}

{% block sidebar %}
  {% include 'partial/case/export/sidebar.html' %}
{% endblock %}
