{% extends "viewflow/flow/task.html" %}

{% import "forms/fields.html" as fields %}

{% block css %}
  {{ form.media.css }}
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
{% endblock %}

{% block form_content %}
    <div class="info-box info-box-info">
        This form is in respect of the Exporting Company. Please provide all the information requested. The information will be used to create a Certificate of Manufacture and a legal declaration in the form of a Schedule.
    </div>

    {{super()}}

    {# TODO: put in some h3 fields to group these a bit more #}
    <h4>Contact</h4>
    {{fields.field(form.contact)}}
    {# TODO: show contact telephone/email; do we need to reload the form on contact change...? #}

    <h4>Application details</h4>
    {{fields.field(form.countries)}}<br>
    {{fields.field(form.is_pesticide_on_free_sale_uk)}}
    {{fields.field(form.is_manufacturer)}}
    {{fields.field(form.product_name)}}
    {{fields.field(form.chemical_name)}}
    {{fields.field(form.manufacturing_process)}}
{% endblock %}


{% block task_actions %}
  <li>
    <button
      type="submit"
      role="action-button"
      name="close_request"
      class="primary-button button">
        Save
    </button>
  </li>
{% endblock %}
