{% macro task_link(label, url_name) %}
  {% set url=flowurl(request, activation.task, url_name=url_name)%}
  {% if url %}
    <li>
      <a href={{url}}>{{label}}</a>
    </li>
  {% endif %}
{% endmacro %}

<h4>Manage Task</h4>
<ul class="menu-out">
  {{task_link('Take Ownership', url_name='assign')}}
  {{task_link('Release Ownership', url_name='unassign')}}
  {{task_link('Reassign Task', url_name='reassign')}}
</ul>
</br>
<ul class="menu-out">
  {{task_link('< Back to task', url_name='execute')}}
</ul>
