{% set access_request=process.access_request %}

<legend>
  <h3 class="capitalize">{{access_request.requester_type}} Access Request</h3>
</legend>

<div class="container setoutForm noBottomMargin" >

  <div class="row">
    <div class="three columns" >
      <label id="pg55" for="g55" class="prompt west">Access Requested By</label>
    </div>
  <div class="three columns" >
    <span  class="text-widget noBottomMargin">{{ access_request.submitted_by}}</span>
  </div>
  <div class="one columns" >
    <label id="pg56" for="g56" class="prompt west">Request Date</label>
  </div>
  <div class="two columns" >
    <span  class="text-widget noBottomMargin">
      {{ access_request.submit_datetime.strftime('%d-%b-%Y %H:%M:%S') }}
    </span>
  </div>
  <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns" >
      <label id="pg58" for="g58" class="prompt west">Access Request Type</label>
    </div>
    <div class="six columns" >
      <span  class="text-widget ">{{ access_request.request_type_verbose }}</span>
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns" >
      <label id="pg60" for="g60" class="prompt west">Organisation Name</label>
    </div>
    <div class="six columns" >
      <span  class="text-widget ">{{ access_request.organisation_name }}</span>
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns" >
      <label id="pg61" for="g61" class="prompt west">Organisation Address</label>
    </div>
    <div class="six columns" >
      <span  class="text-widget ">{{ access_request.organisation_address|nl2br }}</span>
    </div>
    <div class="three columns"></div>
  </div>

  {% if access_request.request_reason is not none %}
  <div class="row">
    <div class="three columns" >
      <label id="pg62" for="g62" class="prompt west">What are you importing and where are you importing it from?
      </label>
    </div>
    <div class="six columns" ><span  class="text-widget ">{{ access_request.request_reason|nl2br }}</span></div>
    <div class="three columns"></div>
  </div>
  {% endif %}

  {% if access_request.agent_name is not none %}
  <div class="row">
    <div class="twelve columns" >
      <div class="container setoutForm" >
        <div class="row">
          <div class="three columns" ><label id="pg65" for="g65" class="prompt west">Agent Name
            </label>
          </div>
        <div class="six columns" ><span  class="text-widget ">{{ access_request.agent_name }}</span></div>
        <div class="three columns"></div>
        </div>
        <div class="row">
          <div class="three columns" ><label id="pg66" for="g66" class="prompt west">Agent Address
            </label>
          </div>
          <div class="six columns" ><span  class="text-widget ">{{ access_request.agent_address|nl2br }}</span></div>
          <div class="three columns"></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

