<table responsiveList class="setoutList">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Requested Date</th>
      <th scope="col">Request Type</th>
      <th scope="col">Organisation Name / Address</th>
      <th scope="col">Agent Name / Address</th>
      <th scope="col">Further Information Requests</th>
    </tr>
  </thead>
  {% for request in requests %}
  <tr class="main-entry">
    <td>
      <span class="text-widget ">{{request.reference or request.pk}}</span>
    </td>
    <td>
      <span class="text-widget ">{{request.submit_datetime|datetime_format }}</span>
    </td>
    <td>
      <span class="text-widget ">{{request.get_request_type_display()}}</span>
    </td>
    <td>
      <p class="text-widget">{{request.organisation_name}}</p>
      <p class="test-widget">{{request.organisation_address}}</p>
    </td>
    <td>
      <p class="text-widget"> {{request.agent_name}}</p>
      <p class="test-widget">{{request.agent_address}}</p>
    </td>
    <td>
      {% set firs = request.further_information_requests.filter(is_active=True, status="OPEN").order_by("requested_datetime") %}
      {% for fir in firs %}
        {% set url = icms_url("case:respond-fir", kwargs={"application_pk": request.pk, "case_type": "access", "fir_pk": fir.pk}) %}
        <p>Requested {{ fir.requested_datetime|datetime_format }} <a class="respond-to-fir" href="{{ url }}">Respond</a></p>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
