<h3>
  {{type}} Approval Request
</h3>
<div class="container setoutForm noBottomMargin" >
  <div class="row">
    <div class="three columns" >
      <label id="pg55" for="g55" class="prompt west">Status</label>
    </div>
    <div class="three columns" >
      <span  class="text-widget noBottomMargin">
        {{ approval_request.status}}
      </span>
    </div>
    <div class="one columns" >
      <label id="pg56" for="g56" class="prompt west">Approval Request Date</label>
    </div>
    <div class="two columns" >
      <span  class="text-widget noBottomMargin">
      {{ approval_request.request_date}}
      </span>
    </div>
    <div class="three columns"></div>
  </div>
  <div class="row">
    <div class="three columns" >
      <label id="pg58" for="g58" class="prompt west capitalize">
        {{type}} Contact
      </label>
    </div>
    <div class="six columns" >
      <span  class="text-widget ">
      {{ approval_request.requested_from or 'All' }}
      </span>
    </div>
    <div class="three columns"></div>
  </div>
  <div class="row">
    <div class="three columns" >
      <label id="pg60" for="g60" class="prompt west">Sent By
      </label>
    </div>
    <div class="six columns" >
      <span  class="text-widget ">{{ approval_request.requested_by }}</span></div>
    <div class="three columns"> </div>
  </div>
</div>
