{% if not (request.user.is_importer() or request.user.is_exporter() ) %}
    <h3>
      <div class="info-box info-box-info">
        <p>
        You are not currently associated with any importers/exporters. 
        Please complete an access request below to begin using the system. 
        You may complete further access requests after submission if you require access to 
        multiple importers/exporters.
        </p>
      </div>
      <div class="list-secondary-actions">
        <ul class="menu-out flow-across">
          <li> 
            <a  href="" class="link-button icon-spinner11 button">
              Refresh 
            </a>
          </li>
        </ul>
      </div>

      Pending Access Requests
    </h3>

    <p>
      Below are any pending access requests you have made. You will receive an email 
      notification when your request has been processed (usually within 1 working day).
    </p>

    <h4>Importer Access Requests</h4>

    <div class="pending-import-requests">
      {% with requests = request.user.submitted_access_requests.importer_requests().filter(importeraccessrequestprocess__access_request__status="SUBMITTED") %}
        {% include "web/domains/case/access/partials/access-request-list.html" %}
      {% endwith %}
    </div>

    <h4>Exporter Access Requests</h4>

    <div class="pending-export-requests">
      {% with requests = request.user.submitted_access_requests.exporter_requests().filter(exporteraccessrequestprocess__access_request__status="SUBMITTED") %}
        {% include "web/domains/case/access/partials/access-request-list.html" %}
      {% endwith %}
    </div>
{% endif %}


