{% extends "email/base.html" %}

{% block message %}
  <p>
    Commission Delegated Regulation (EU) 2019/686 introduced arrangements under Council Directive 91/477/EEC for the electronic exchange
    of information relating to transfer of firearms across the EU. ILB must now provide additional information on this system in order
    that the Member State of supply can authorise dispatch. This does not affect the issue of import licences.
    The additional information requirement is not limited to just EU transfers. This is because, the information will confirm compliance
    with firearms legislation and will also be used by the National Crime Agency, in their routine monitoring of firearms imports as set
    out in Chapter 16 of the
    <a href="https://www.gov.uk/government/publications/firearms-law-guidance-to-the-police-2012">
        Home Office - Guide on Firearms Licensing Law
    </a>. Compliance with this requirement should allow authorities to conduct activities whilst potentially reducing the frequency of
    disruption from direct information requests and inland visits.
    The NCA have statutory powers under the Customs &amp; Excise Management Act 1979 which enable them to require importers to provide this
    information directly to them if this information is not uploaded to DIT.
  </p>
{% endblock %}
