{% extends "web/domains/case/view_case.html" %}


{% block main_content %}
  {% block application_contact %}
    {{ super() }}
  {% endblock %}

  {% call application_section("Derogation from Sanctions Import Ban") %}
    {{ application_field(process.applicant_reference, "Applicant Reference", "N/a") }}
    {{ application_field(process.origin_country, "Country Of Origin") }}
    {{ application_field(process.consignment_country, "Country Of Consignment") }}

    {{ application_field(process.contract_sign_date.strftime('%d-%b-%Y'), "Contract Sign Date") }}
    {{ application_field(process.explanation, "Provide details of why this is a pre-existing contract", "N/a") }}
  {% endcall %}

  {% if process.entity_consulted_name %}
    {% call application_section("Further Details") %}
      {{ application_field(process.entity_consulted_name, "Provide the name of the person, entity or body designated by the Syrian National Coalition for Opposition and Revolutionary Forces that was consulted") }}
      {{ application_field(process.activity_benefit_anyone, "Do the activities concerned benefit anyone listed in Article 2 of EU Regulations 2580/2001 and 881/2002 or Article 14 of EU Regulation 36/2012?") }}
      {{ application_field(process.get_purpose_of_request_display(), "Purpose of the request and how it provides assistance to the Syrian civilian population") }}
      {% if process.civilian_purpose_details %}
        {{ application_field(process.civilian_purpose_details, "Details of the civilian purpose") }}
      {% endif %}
    {% endcall %}
  {% endif %}

  {% call application_section("Goods") %}
    {{ application_field(commodity_link(process.commodity), "Commodity Code") }}
    {{ application_field(process.goods_description, "Goods Descriptions") }}
    {{ application_field(process.quantity, "Quantity") }}
    {{ application_field(process.unit, "Unit") }}
    {{ application_field(process.value, "Value (GBP)") }}
  {% endcall %}

  {% call application_section("Supporting Documents") %}
    {% if supporting_documents %}
      <table class="setoutList">
        <thead>
          <tr>
            <th>Document type</th>
            <th>Uploaded by</th>
            <th>File (size)</th>
          </tr>
      </thead>
      <tbody>
          {% for file in supporting_documents %}
          <tr>
            <td>Supporting documents</td>
            <td>
              {{ file.created_by.full_name }}<br>
              {{ file.created_datetime|datetime_format('%d-%b-%Y %H:%M')}}
            </td>
            <td><a href="{{ icms_url('import:derogations:view-supporting-document', kwargs={'application_pk': process.pk, 'document_pk': file.pk}) }}">
            {{ file.filename }}</a> {{ file.human_readable_file_size() }}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    {% else %}
      <div class="info-box info-box-info">
          There are no supporting documents attached.
      </div>
    {% endif %}
  {% endcall %}

{% endblock %}
