{% extends "web/internal/base.html" %}
{% load static %}

{% block title %}Workbasket{% endblock %}

{% block sidebar %}
<div id="sidebar-substitute"></div>
<div id="sidebar">
    <h4>
        Filter
    </h4>

    <div class="container setoutForm tightForm" data-xfid="f25">
        <div class="row">
            <div class="twelve columns" data-xfid="g26"><label id="pg26" for="g26" class="prompt north">Transaction / Ref
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g26"><input id="g26" name="g26" type="text" value="" size="10" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g27"><label id="pg27" for="g27" class="prompt north">Subject
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g27"><select id="g27" name="g27" class="tightForm" aria-required="false">
                    <option value="g27/__FX_N" selected="selected">All</option>
                    <option value="g27/0">Account successfully created</option>
                    <option value="g27/1">Certificate Application</option>
                    <option value="g27/2">Exporter Access Request</option>
                    <option value="g27/3">Importer Access Request</option>
                </select></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g28"><label id="pg28" for="g28" class="prompt north">Topic
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g28"><input id="g28" name="g28" type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g29"><label id="pg29" for="g29" class="prompt north">Company
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g29"><input id="g29" name="g29" type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g30"><label id="pg30" for="g30" class="prompt north">Status
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g30"><input id="g30" name="g30" type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g31"><label id="pg31" for="g31" class="prompt north">Information
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g31"><input id="g31" name="g31" type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g32"><label id="pg32" for="g32" class="prompt north">Filter Tag
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="g32"><select id="g32" name="g32" class="tightForm" aria-required="true">
                    <option value="g32/0">All</option>
                    <option value="g32/1" selected="selected">For Attention</option>
                </select></div>
        </div>
    </div>
    <ul class="menu-out flow-across">
        <li> <button id="g33" name="g33" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-filter-workbasket&quot;,&quot;ctxt&quot;:&quot;s9tVC_plrnqWp1W&quot;}, this);" class="primary-button small-button button">
                Apply Filter </button></li>
        <li> <button id="g34" name="g34" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-reset-filter&quot;,&quot;ctxt&quot;:&quot;s9tVC_plrnqWp1W&quot;}, this);" class="small-button link-button button">
                Clear Filter </button></li>
    </ul>

</div>
<div id="sidebar-background"></div>
{% endblock %}

{% block main-content %}

<div class="" id="content">
    <div id="content-ie8-float">


        <div class="content-actions"></div>

        <a id="b37" class="skipTarget" tabindex="-1">Main content</a></li>

        <div class="list-secondary-actions">
            <ul class="menu-out grouped small-menu-out flow-across">
                <li> <button id="g43" name="g43" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-sort-wb-asc&quot;,&quot;ctxt&quot;:&quot;s9tVC_plrnqWp1W&quot;}, this);" class="icon-sort-alpha-asc button no-prompt-action" aria-describedby="hint159-content" aria-label="Sort by selected column, ascending">
                    </button>
                    <div id="hint159-content" role="tooltip" class="hint-content">Sorts the workbasket by the selected column in ascending order</div>
                </li>
                <li> <button id="g42" name="g42" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-sort-wb-desc&quot;,&quot;ctxt&quot;:&quot;s9tVC_plrnqWp1W&quot;}, this);" class="icon-sort-alpha-desc button no-prompt-action" aria-describedby="hint160-content" aria-label="Sort by selected column, descending">
                    </button>
                    <div id="hint160-content" role="tooltip" class="hint-content">Sorts the workbasket by the selected column in descending order</div>
                </li>
                <li> <button id="g41" name="g41" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-clear-sort&quot;,&quot;ctxt&quot;:&quot;s9tVC_plrnqWp1W&quot;}, this);" class="icon-loop2 button no-prompt-action" aria-describedby="hint161-content" aria-label="Clear sorting">
                    </button>
                    <div id="hint161-content" role="tooltip" class="hint-content">Clear sorting</div>
                </li>
            </ul>
        </div>
        <table class="setoutList">
            <thead>


                <tr>
                    <th>
                        Transaction <label id="pg45/0" for="g45/0" class="radio-label"><input id="g45/0" name="g46" value="g45/0" type="radio" /> </label> /
                        Ref
                        <label id="pg47/0" for="g47/0" class="radio-label"><input id="g47/0" name="g46" value="g47/0" type="radio" /> </label>
                    </th>
                    <th>
                        Subject <label id="pg48/0" for="g48/0" class="radio-label"><input id="g48/0" name="g46" value="g48/0" type="radio" /> </label> /
                        Topic <label id="pg49/0" for="g49/0" class="radio-label"><input id="g49/0" name="g46" value="g49/0" type="radio" /> </label>
                    </th>
                    <th>
                        Company <label id="pg50/0" for="g50/0" class="radio-label"><input id="g50/0" name="g46" value="g50/0" type="radio" /> </label>
                    </th>
                    <th>
                        Status <label id="pg51/0" for="g51/0" class="radio-label"><input id="g51/0" name="g46" value="g51/0" type="radio" /> </label> /
                        Date <label id="pg52/0" for="g52/0" class="radio-label"><input id="g52/0" name="g46" value="g52/0" type="radio" /> </label>
                    </th>
                    <th>
                        <div class="container">

                            <div class="row">


                                <div class="six columns break-word">
                                    Information
                                </div>
                                <div class="six columns">
                                    Actions
                                </div>


                            </div>

                        </div>
                    </th>
                </tr>


            </thead>
            {% for process in process_list %}
           {% with request=process.access_request %}

            <tr>
                <td>
                    IAR/788
                </td>
                <td>
                    {{request.request_type_short}}
                    <br>

                </td>
                <td>
                    {{request.organisation_name}}<br />{{request.organisation_address}}
                </td>
                <td>
                    Submitted
                    <br>
                    18 APR 2019 13:04:25
                </td>
                <td>
                    <div class="container">


                        <div class="row">


                            <div class="six columns break-word">

                                <div class="individual-input" data-xfid="g53"><span id="g53" class="text-widget ">Access Request</span></div>

                            </div>
                            <div class="six columns">

                                <table class="nestedList setoutList">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                            </th>
                                            <th scope="col">
                                            </th>
                                            <th scope="col">
                                            </th>
                                            <th scope="col">
                                            </th>
                                            <th scope="col">
                                            </th>
                                            <th scope="col">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr data-xfid="f55">
                                        <td data-xfid="g56"> <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-execute-dynamic-action&quot;,&quot;ctxt&quot;:&quot;s9tEP_plrnqWp1W&quot;}, this);">View</a></td>
                                        <td data-xfid="g57"> <button id="g57" name="g57" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-remove-new-indicator&quot;,&quot;ctxt&quot;:&quot;s9tEP_plrnqWp1W&quot;}, this);" class="label small-label green-label button" style="float: right" aria-describedby="hint164-content">
                                                New </button>
                                            <div id="hint164-content" role="tooltip" class="hint-content">This item is new or updated. Click to remove this indicator.</div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td data-xfid="g58"><span id="g58" class="text-widget "></span></td>
                                    </tr>
                                    <tr data-xfid="f59">
                                        <td data-xfid="g60"> <a href="javascript:FOXjs.action({&quot;confirm&quot;:&quot;Are you sure you want to clear this access request from your workbasket? Note - the access request will still be processed by ILB even if it is cleared.&quot;,&quot;ref&quot;:&quot;action-execute-dynamic-action&quot;,&quot;ctxt&quot;:&quot;s9tF1_plrnqWp1W&quot;}, this);">Clear</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td data-xfid="g61"><span id="g61" class="text-widget "></span></td>
                                    </tr>
                                </table>

                            </div>

                        </div>



                    </div>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}

        </table>



        <div class="result-count">
            12 workbasket items
        </div>

        <div class="content-actions"></div>

    </div>
</div>
{% endblock %}
