{% extends 'layout/sidebar.html' %}
{% import "forms/forms.html" as forms %}

{% set page_title=process %}
{% set cancel_url=flowurl(request, process, url_name='action_cancel') %}

{% block main_content %}
    {% block process_detail %}
      {% include process.flow_class.process_template %}
    {% endblock %}

    {% if cancel_url and process.status != 'CANCELED' %}
      <div class="list-actions">
        <div class="container">
          <div class="row">
            <div class="eight columns">
              <ul class="menu-out flow-across">
                {% call forms.form(action=cancel_url, method='post', csrf_input=csrf_input) -%}
                <button 
                  type="submit"
                  role="action-button"
                  data-confirm="Are you sure?"
                  class="secondary-button button"
                  name="_cancel_process">
                  Cancel Process
                </button>
                {% endcall %}
              </ul>
            </div>
            <div class="four columns"></div>
          </div>
        </div>
      </div>
    {% endif %}

    <h3>Active Tasks</h3>
    <table class="setoutList">
      <thead>
        <tr>
          <th>Task</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      {% for task in process.active_tasks() %}
      <tr class="result-row">
        <td>
          {{task.flow_task}}
        </td>
        <td>
          <div class="status {{task.status|lower}}">
            <span class="text-widget">{{task.status}}</span>
          </div>
        </td>
        <td>
          <a href="{{flowurl(request, task)}}">View</a>
        </td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
