{% extends 'layout/sidebar.html' %}

{% block main_content %}
<table class="setoutList">
  <thead>
    <tr>
      <th>
        Reference ID
      </th>
      <th>
        Summary
      </th>
      <th>
        Created
      </th>
      <th>
        Finished
      </th>
      <th></th>
    </tr>
  </thead>
  {% for process in object_list %}
    <tr>
      <td>
        {{process.id}}
      </td>
      <td>
        {{process.summary()}}
      </td>
      <td>
        {{process.created}}
      </td>
      <td>
        {{process.finished}}
      </td>
      <td>
        <a href="{{flowurl(request, process, 'detail')}}">View</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
