{% extends 'layout/sidebar.html' %}

{% set page_title=(activation.process ~ ' - ' ~ activation.task.flow_task ) %}

{% import 'viewflow/links.html' as links with context %}

{% block main_content %}
    {% with process=activation.process %}
      {% include activation.process.flow_class.process_template  %}
    {% endwith %}

    {% block task_actions %}
      {% include "viewflow/partials/task_actions.html" %}
    {% endblock %}
{% endblock %}

{% block sidebar %}
  {{links.task_execute(activation.task)}}
{% endblock %}
