{% extends 'viewflow/base/task.html' %}

{% import 'forms/forms.html' as forms %}
{% import 'forms/fields.html' as fields %}

{% block main_content %}

  {{super()}}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {{fields.field(form.user)}}

    <div class="list-actions">
      <div class="container">
        <div class="row">
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li>
                <button 
                type="submit"
                class="primary-button button"
                name="run_action">
                  Reassign
                </button>
              </li>
            </ul>
          </div>
          <div class="four columns"></div>
        </div>
      </div>
    </div>

  {% endcall %}

{% endblock %}
