{% include "partial/agents-base.html" %}

{% block agent_edit %}
  {% if not read_only %}
    <div class="list-actions">
      <ul class="menu-out flow-across">
        {% if is_importer %}
          <li>
            <a
              href="{{ url('importer-agent-create', kwargs={'importer_pk': object.pk, 'entity': 'individual'}) }}"
              class="small-button icon-user-plus button">
              Create Individual Agent
            </a>
            <a
              href="{{ url('importer-agent-create', kwargs={'importer_pk': object.pk, 'entity': 'organisation'}) }}"
              class="small-button icon-user-plus button">
              Create Organisation Agent
            </a>
          </li>
        {% else %}
          <li>
            <a
              href="{{ url('exporter-agent-create', kwargs={'exporter_pk': object.pk}) }}"
              class="small-button icon-user-plus button">
              Create Agent
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  <div class="section-break"></div>
{% endblock %}
