<h3>
  Agents
</h3>
<ul class="tabs -tabs " data-tab-group="s1Kzx6c_plrnqVW43/tg-agents" role="tablist">
  <li id="tks1Kzx6c_plrnqVW43-tg-agentsCURRENT" class="current-tab" aria-selected="true" data-tab-key="CURRENT" role="tab" aria-controls="tcs1Kzx6c_plrnqVW43-tg-agentsCURRENT"><a href="javascript:FOXtabs.switchTab('s1Kzx6c_plrnqVW43/tg-agents', 'CURRENT');">Current</a></li>
  <li id="tks1Kzx6c_plrnqVW43-tg-agentsARCHIVED" class="disabled-tab" aria-selected="false" data-tab-key="ARCHIVED" role="tab" aria-controls="tcs1Kzx6c_plrnqVW43-tg-agentsARCHIVED">Archived</li>
</ul>
<div id="tcs1Kzx6c_plrnqVW43-tg-agentsCURRENT" arial-labelledby="tks1Kzx6c_plrnqVW43-tg-agentsCURRENT" class="tab-content " style="" data-tab-group="s1Kzx6c_plrnqVW43/tg-agents" data-tab-key="CURRENT" aria-hidden="false">

  <div class="info-box info-box-info">
    There aren't any agents.
  </div>


  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li> <button type="button" role="action-button" data-csrf="{{ csrf_token }}" data-action="action-create-agent" class="small-button icon-user-plus button"> Create Agent </button></li>
    </ul>
  </div>

</div>
<div id="tcs1Kzx6c_plrnqVW43-tg-agentsARCHIVED" arial-labelledby="tks1Kzx6c_plrnqVW43-tg-agentsARCHIVED" class="tab-content " style="display: none;" data-tab-group="s1Kzx6c_plrnqVW43/tg-agents" data-tab-key="ARCHIVED" aria-hidden="true">

  <div class="info-box info-box-info">
    There aren't any agents.
  </div>

</div><input type="hidden" data-tab-group="s1Kzx6c_plrnqVW43/tg-agents" name="_int_tab_s1Kzx6c_plrnqVW43/tg-agents" value="CURRENT" />

<div class="section-break"></div>
