<h3> Agents </h3>

<ul class="tabs -tabs " data-tab-group="tg-agents" role="tablist">
    <li id="tg-agents-CURRENT" class="current-tab" aria-selected="true" data-tab-key="CURRENT" role="tab" aria-controls="tg-agents-CURRENT">
        <a href="javascript:FOXtabs.switchTab('tg-agents', 'CURRENT')">Current</a>
    </li>
    <li id="tg-agents-ARCHIVED" class="disabled-tab" aria-selected="false" data-tab-key="ARCHIVED" role="tab" aria-controls="tg-agents-archived">
        <a href="javascript:FOXtabs.switchTab('tg-agents', 'ARCHIVED')">Archived</a>
    </li>
</ul>

<div aria-labelledby="agents-current" class="tab-content " style="" data-tab-group="tg-agents" data-tab-key="CURRENT" aria-hidden="false">
    {% with agent_list = agents.filter(is_active=True).order_by('pk') %}
            {% include 'partial/agents/agent-list-display.html' %}
    {% endwith %}
</div>

{% block agent_edit %}{% endblock %}

<div id="tg-agentsARCHIVED" aria-labelledby="tg-agentsARCHIVED" class="tab-content " style="display: none;"
     data-tab-group="tg-agents" data-tab-key="ARCHIVED" aria-hidden="true">
    {% with agent_list = agents.filter(is_active=False).order_by('pk') %}
            {% include 'partial/agents/agent-list-display.html' %}
    {% endwith %}
</div>

<div class="section-break"></div>
