{% include "partial/agents-base.html" %}

{% block agent_edit %}
<div class="list-actions">
  <ul class="menu-out flow-across">
    <li>
      <a
        href="{{ url('importer-agent-individual-create', args=[view.kwargs.pk])  }}"
        class="small-button icon-user-plus button">
        Create Individual Agent
      </a>
      <a
        href="{{ url('importer-agent-organisation-create', args=[view.kwargs.pk])  }}"
        class="small-button icon-user-plus button">
        Create Organisation Agent
      </a>
    </li>
  </ul>
</div>
{% endblock %}
