<h3>
  {{title}}
</h3>

{% if formset.non_form_errors %}
{% for error in formset.non_form_errors %}
<div class="error-message">
  {{error}}
</div>
{% endfor%}
{% endif %}

<table id="{{id}}" responsiveList class="setoutList">
    <thead>
        <tr>
            <th scope="col">Email Address
            </th>
            <th scope="col">Type
            </th>
            <th scope="col">Portal Notifications
            </th>
            <th scope="col">Comment
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
          {% include 'forms/email-form.html' with form=form %}
        {% endfor %}
      {% if formset.total_form_count == 0 %}
      {% include 'forms/email-form.html' with form=formset.empty_form hide=True %}
      {% endif %}
    </tbody>
</table>
{{ formset.management_form }}
<script type="text/javascript">
    $(function() {
        $('#{{id}} tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            formCssClass: '{{ form_item_class }}',
            addCssClass: 'icon-mail2 small-button button',
            addText: 'Add Email Address',
            deleteText: 'Remove',
        });
    })
</script>
