{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

<h3>
  {{title}}
</h3>

{{forms.errors(formset)}}
<table id="{{id}}"
       responsiveList
       class="setoutList"
       role="formset"
       data-formset-prefix="{{formset.prefix}}"
       data-formset-form-css-class="form_item_class"
       data-formset-add-text="Add Email Address"
       data-formset-add-css-class="icon-mail2 small-button button"
>
    <thead>
        <tr>
            <th scope="col">Email Address
            </th>
            <th scope="col">Type
            </th>
            <th scope="col">Portal Notifications
            </th>
            <th scope="col">Comment
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
      {% for form in formset %}
        {% with form=form %}{% include 'forms/email-form.html' %}{% endwith %}
      {% endfor %}
      {% if formset.total_form_count() == 0 %}
      {% with form=formset.empty_form, hide=True %}
        {% include 'forms/email-form.html' %}
      {% endwith %}
      {% endif %}
    </tbody>
</table>
{{ formset.management_form }}
