<h3> Verified Firearms Authorities</h3>

{% if not firearms_authorities %}
  <div class="info-box info-box-info">
    There are no Firearms Authorities attached
  </div>
{% else %}
  <ul class="tabs -tabs " data-tab-group="tg-authorities" role="tablist">
    <li id="tg-authorities-CURRENT" class="current-tab" aria-selected="true" data-tab-key="CURRENT" role="tab" aria-controls="tg-authorities-CURRENT">
      <a href="javascript:FOXtabs.switchTab('tg-authorities', 'CURRENT')">Current</a>
    </li>
    <li id="tg-authorities-ARCHIVED" class="disabled-tab" aria-selected="false" data-tab-key="ARCHIVED" role="tab" aria-controls="tg-authorities-archived">
      <a href="javascript:FOXtabs.switchTab('tg-authorities', 'ARCHIVED')">Archived</a>
    </li>
  </ul>

  <div aria-labelledby="authorities-current" class="tab-content " style="" data-tab-group="tg-authorities" data-tab-key="CURRENT" aria-hidden="false">
    {% with firearms_authorities_list = firearms_authorities.filter(is_active=True) %}
      {% include 'partial/firearms-authorities/list.html' %}
    {% endwith %}
  </div>

  <div id="tcs1Kzx6n_plrnqVW43-tg-authoritiesARCHIVED" aria-labelledby="tks1Kzx6n_plrnqVW43-tg-authoritiesARCHIVED" class="tab-content " style="display: none;" data-tab-group="tg-authorities" data-tab-key="ARCHIVED" aria-hidden="true">
    {% with firearms_authorities_list = firearms_authorities.filter(is_active=False) %}
      {% include 'partial/firearms-authorities/list.html' %}
    {% endwith %}
  </div>
{% endif %}

{% if not read_only %}
  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ url('importer-firearms-authorities-create', kwargs={'pk': object.pk}) }}"
          class="button small-button icon-plus">
          Create Firearms Authority</a>
      </li>
    </ul>
  </div>
{% endif %}
<div class="section-break"></div>
