{% if process.know_bought_from == False %}
  <div class="info-box info-box-warning">
    You will be asked to provide this information after the import licence has been issued.
    An export authority cannot issue a firearms export licence until this information has been provided
  </div>
{% elif process.know_bought_from == True %}
  <div class="info-box info-box-warning">
    You must provide details of who you plan to buy/obtain these items from using one of the Add Who Bought From buttons below.
  </div>
{% endif %}
