<h3> Offices </h3>

<ul class="tabs -tabs " data-tab-group="tg-offices" role="tablist">
    <li id="tg-offices-CURRENT" class="current-tab" aria-selected="true" data-tab-key="CURRENT" role="tab" aria-controls="tg-offices-CURRENT">
        <a href="javascript:FOXtabs.switchTab('tg-offices', 'CURRENT')">Current</a>
    </li>
    <li id="tg-offices-ARCHIVED" class="disabled-tab" aria-selected="false" data-tab-key="ARCHIVED" role="tab" aria-controls="tg-offices-archived">
        <a href="javascript:FOXtabs.switchTab('tg-offices', 'ARCHIVED')">Archived</a>
    </li>
</ul>

<div arial-labelledby="offices-current" class="tab-content " style="" data-tab-group="tg-offices" data-tab-key="CURRENT" aria-hidden="false">
    {% with office_list = offices.filter(is_active=True) %}
            {% include 'partial/offices/office-list-display.html' %}
    {% endwith %}
</div>

<div id="tcs1Kzx6n_plrnqVW43-tg-officesARCHIVED" arial-labelledby="tks1Kzx6n_plrnqVW43-tg-officesARCHIVED" class="tab-content " style="display: none;" data-tab-group="tg-offices" data-tab-key="ARCHIVED" aria-hidden="true">
    {% with office_list = offices.filter(is_active=False) %}
            {% include 'partial/offices/office-list-display.html' %}
    {% endwith %}
</div>

<div class="section-break"></div>
