 <h3>
   Offices
 </h3>

 <ul class="tabs -tabs " data-tab-group="tg-offices" role="tablist">
   <li id="tg-offices-CURRENT" class="current-tab" aria-selected="true" data-tab-key="CURRENT" role="tab" aria-controls="tg-offices-CURRENT">
     <a href="">Current/Pending</a>
   </li>
   <li id="tg-offices-ARCHIVED" class="disabled-tab" aria-selected="false" data-tab-key="ARCHIVED" role="tab" aria-controls="tg-offices-archived">
     Archived
   </li>
 </ul>
 <div arial-labelledby="offices-current" class="tab-content " style="" data-tab-group="s1Kzx6n_plrnqVW43/tg-offices" data-tab-key="CURRENT" aria-hidden="false">
   <table class="setoutList">
     <thead>
       <tr>
         <th scope="col">Status
         </th>
         <th scope="col">Address
         </th>
         <th scope="col">Postcode
         </th>
         <th scope="col">Override EORI Number
           <div id="hint146-content" role="tooltip" class="hint-content">Optionally enter an EORI number to be used in licences for this office. When no override EORI is entered the main EORI number will be used. The EORI number should include the GB or GBN prefix.</div>
           <div id="hint146" aria-describedby="hint146-content" class="hint icon-info"></div>
         </th>
         <th scope="col">Actions
         </th>
       </tr>
     </thead>
     <tr >
       <td ><span  class="text-widget ">Current</span></td>
       <td ><textarea  name="g63" cols="80" rows="6" maxlength="300" aria-required="true">xhkjhdkjfghjkdfhdjfhjksd</textarea></td>
       <td ><input  name="g64" type="text" value="" size="30" maxlength="30" aria-required="false" /></td>
       <td ><input  name="g65" type="text" value="" size="16" maxlength="16" aria-required="false" aria-describedby="hint147-content" /></td>
       <td >
         <ul class="menu-out grouped flow-across">
           <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-IMP_SHARED_LIB_OFFICES-search-address-by-postcode&quot;,&quot;ctxt&quot;:&quot;s1Kzx6o_plrnqVW43&quot;}, this);" class="link-button icon-search button no-prompt-action" aria-describedby="hint148-content" aria-label="Find Address">
             </button>
             <div id="hint148-content" role="tooltip" class="hint-content">Find Address</div>
           </li>
           <li> <button type="button" onclick="javascript:FOXjs.action({&quot;confirm&quot;:&quot;Are you sure you want to archive this office?&quot;,&quot;ref&quot;:&quot;action-IMP_SHARED_LIB_OFFICES-archive-office&quot;,&quot;ctxt&quot;:&quot;s1Kzx6o_plrnqVW43&quot;}, this);" class="link-button icon-bin button no-prompt-action" aria-describedby="hint149-content" aria-label="Archive">
             </button>
             <div id="hint149-content" role="tooltip" class="hint-content">Archive</div>
           </li>
         </ul>
       </td>
     </tr>
     <tr >
       <td ><span  class="text-widget ">Current</span></td>
       <td ><span  class="text-widget ">WINDSOR HOUSE 42-50<br>VICTORIA STREET<br>LONDON</span></td>
       <td ><span  class="text-widget ">SW1H 0TL</span></td>
       <td ><input  name="g73" type="text" value="" size="16" maxlength="16" aria-required="false" aria-describedby="hint150-content" /></td>
       <td >
         <ul class="menu-out grouped flow-across">
           <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-IMP_SHARED_LIB_OFFICES-reset-search-address&quot;,&quot;ctxt&quot;:&quot;s1Kzx6v_plrnqVW43&quot;}, this);" class="link-button icon-binoculars button no-prompt-action" aria-describedby="hint151-content" aria-label="Start Search Again">
             </button>
             <div id="hint151-content" role="tooltip" class="hint-content">Start Search Again</div>
           </li>
           <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-IMP_SHARED_LIB_OFFICES-manually-enter-address&quot;,&quot;ctxt&quot;:&quot;s1Kzx6v_plrnqVW43&quot;}, this);" class="link-button icon-pencil button no-prompt-action" aria-describedby="hint152-content" aria-label="Manually Enter Address">
             </button>
             <div id="hint152-content" role="tooltip" class="hint-content">Manually Enter Address</div>
           </li>
           <li> <button type="button" onclick="javascript:FOXjs.action({&quot;confirm&quot;:&quot;Are you sure you want to archive this office?&quot;,&quot;ref&quot;:&quot;action-IMP_SHARED_LIB_OFFICES-archive-office&quot;,&quot;ctxt&quot;:&quot;s1Kzx6v_plrnqVW43&quot;}, this);" class="link-button icon-bin button no-prompt-action" aria-describedby="hint153-content" aria-label="Archive">
             </button>
             <div id="hint153-content" role="tooltip" class="hint-content">Archive</div>
           </li>
         </ul>
       </td>
     </tr>
   </table>

   <div class="list-actions">
     <ul class="menu-out flow-across">
       <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-IMP_SHARED_LIB_OFFICES-add-office&quot;,&quot;ctxt&quot;:&quot;s1Kzx6n_plrnqVW43&quot;}, this);" class="small-button icon-office button">
           Add Office </button></li>
     </ul>
   </div>

 </div>
 <div id="tcs1Kzx6n_plrnqVW43-tg-officesARCHIVED" arial-labelledby="tks1Kzx6n_plrnqVW43-tg-officesARCHIVED" class="tab-content " style="display: none;" data-tab-group="s1Kzx6n_plrnqVW43/tg-offices" data-tab-key="ARCHIVED" aria-hidden="true">

   <div class="info-box info-box-info">
     There aren't any offices.
   </div>

 </div><input type="hidden" data-tab-group="s1Kzx6n_plrnqVW43/tg-offices" name="_int_tab_s1Kzx6n_plrnqVW43/tg-offices" value="CURRENT" />

 <div class="section-break"></div>
