{% import "forms/errors.html" as errors %}

<h3>
    Telephone Number
</h3>

{{errors.formset_errors(phones_formset) }}
<table id="phone-numbers-table" responsiveList class="setoutList">
    <thead>
        <tr>
            <th scope="col">Telephone Number
              <div id="hint75-content" role="tooltip" class="hint-content">
                Customary input formats:<br/>- FOR United Kingdom:<br />FORMAT: STD NUMBER<br />U.Kingdom: 020 12345678<br />- FOR Mobiles:<br />FORMAT: STD NUMBER<br />U.Kingdom: 07654 123456<br />- FOR International:<br />FORMAT: +CC (NDD)STD NUMBER<br />Netherlands: +31 (0)20 12345678<br />Hungary: +36 (06)1 12345678<br />U.Kingdom: +44 (0)20 12345678<br />- FOR International without NDD:<br />FORMAT: +CC STD NUMBER<br />Norway: +47 123 4568900<br />Spain: +34 911 12345678<br />America: +1 123 4568900
              </div>
                <div id="hint75" aria-describedby="hint75-content" class="hint icon-info"></div>
            </th>
            <th scope="col">Type
            </th>
            <th scope="col">Comment
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
        <tr>
            {{form.id}}
            {% with field=form.telephone_number %}
              {% include 'forms/inline-field.html' %}
            {% endwith %}
            {% with field=form.type %}
            {% include 'forms/inline-field.html' %}
            {% endwith %}
            {% with field=form.comment %}
            {% include 'forms/inline-field.html' %}
            {% endwith %}
            <td class="phone-remove">
              {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ formset.management_form }}

<script type="text/javascript">
    $(function() {
        $('#phone-numbers-table tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            formCssClass: 'phone-form',
            addCssClass: 'icon-phone small-button button',
            addText: 'Add Telephone Number',
            deleteText: 'Remove',
        });
    })
</script>
