{% extends "layout/sidebar.html" %}
{% import "forms/form.html" as forms %}
{% block page_title %}Contact Details{% endblock %}
{% block context_header %}Contact Details{% endblock %}

{% block sidebar %}
<h4>My details</h4>
<ul class="menu-out">
    <li> <a href="{{ url('user-details') }}">Contact Details</a></li>
    <li> <a href="{{ url('change-password') }}">Change Password</a></li>
</ul>
{% endblock %}

{% block main_content %}

<h3>
    General Details
</h3>

<div class="info-box info-box-info">
    These details will be used throughout the system and might be visible to other users. Please make sure they're accurate and up to date.
</div>


{% set extra_fields %}

{% set edit_address %}
<button name="action" value="edit_address" type="submit" class="link-button inline-link-button icon-pencil button no-prompt-action tooltipstered" aria-describedby="edit-address-hint" aria-label="Click here to edit Work Address">
</button>
<div id="edit-address-hint" role="tooltip" class="hint-content" >Edit work address</div>

{% endset %}

{{forms.row(details_form.work_address, padding='four', row_actions=edit_address)}}

<h3>
    Share Contact Details
</h3>

<div class="info-box info-box-info">
    Non-DIT ILB users may want to add you to one of their work groups so you can have access to their organisation's work processes and data.
</div>


{{forms.row(details_form.share_contact_details, padding='four')}}

<p>Sharing your contact details will enable non-DIT ILB users to search for you and to easily and confirm your address and contact details. If you do not share your contact details, they will have to know your email address in advance and will not have access to the address or contact telephone numbers recorded here.</p>

<h3>
    Security Information
</h3>

<div class="info-box info-box-info">
    These details help us to verify your identity. We'll use them if you have problems logging in to your account. You'll need to enter these details to reset your password if you forget it.
</div>


{{forms.row(details_form.date_of_birth, padding='four')}}
{{forms.row(details_form.security_question, padding='four')}}
{{forms.row(details_form.security_answer, padding='four')}}
{{forms.row(details_form.security_answer_repeat, padding='four')}}


<!-- Phone numbers -->
{% with formset = phones_formset %}
{% include 'partial/phone-numbers.html' %}
{% endwith %}

<!-- Personal email addresses -->
{% with formset=personal_emails_formset,
        title="Personal Email Addresses",
        id="personal_emails",
        form_item_class="person_email"
%}
{% include 'partial/email-addresses.html' %}
{% endwith %}

<!-- Alternative email addresses -->
{% with formset=alternative_emails_formset,
        title="Alternative Email Addresses",
        id="alternative_emails",
        form_item_class="alt_email"
%}
{% include 'partial/email-addresses.html' %}
{% endwith %}

{% endset %}

{% set extra_buttons %}
<li>
    <a class="link-button button">
        Cancel
    </a>
</li>
{% endset %}


{{forms.form(
details_form,
action=url('user-details'),
button_label='Save',
no_buttons_padding=True,
padding='four',
extra_fields=extra_fields,
extra_buttons=extra_buttons,
exclude=[
'security_question',
'security_answer',
'work_address',
'security_answer_repeat',
'share_contact_details',
'date_of_birth'],
csrf_input=csrf_input
)}}

<div class="content-actions">
    <ul class="menu-out flow-across">
        <li> <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-prev-module&quot;,&quot;ctxt&quot;:&quot;sIZNK_plrnqWp1W&quot;}, this);" class="prev-link">Importer/Exporter Access Request</a></li>
    </ul>
</div>
{% endblock %}
