{% extends "layout/sidebar.html" %}
{% import "auth/forms.html" as forms %}
{% block page_title %}Change Password{% endblock %}
{% block context_header %}Change Password{% endblock %}

{% block sidebar %}
<h4>My details</h4>
<ul class="menu-out">
  <li> <a href="{{ url('user-details') }}">Contact Details</a></li>
  <li> <a href="{{ url('change-password') }}">Change Password</a></li>
</ul>
{% endblock %}

{% block main_content %}
<div class="info-box info-box-info">
    <p>Passwords are case sensitive. They must be at least 8 characters long and contain at least one number. You can't reuse a password you've used before.</p>
</div>


{{forms.password_update(form,
                        action=url('change-password'), 
                        csrf_input=csrf_input) }}

{% endblock %}
