{% extends "layout/sidebar.html" %}

{% block title %}Change Password{% endblock %}
{% block context_header %}Change Password{% endblock %}

{% block main_content %}

<p>Thank you for registering, {{user.first_name}}. We've sent you an email with a temporary password. Once you've received this email you can activate your account by setting a new password below.</p>
<p>If you don't want to activate your account yet, you can close this page. When you next log in with your temporary password, you'll be asked to set your new password.</p>
<div class="info-box info-box-info">
    <p>Passwords are case sensitive. They must be at least 8 characters long and contain at least one number. You can't reuse a password you've used before.</p>
</div>
<div class="container setoutForm" data-xfid="f8">

    <form method="post" name="changePasswordForm" action="{{ url('change-password') }}" autocomplete="off" accept-charset="UTF-8" novalidate>
        {{ csrf_token }}
        {% include 'forms/form.html' with padding='four' %}

        <div class="row">
            <div class="four columns"></div>
            <div class="four columns" data-xfid="g14">
                <ul class="menu-out flow-across">
                    <li> <button id="g15" name="g15" type="submit" class="primary-button button">
                            Set password </button></li>
                </ul>
            </div>
            <div class="four columns"></div>
        </div>
    </form>
</div>

{% endblock %}
