{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "forms/list.html" as lists %}
{% import "messages/message.html" as message %}

{% block main_content %}

    {% set empty_message %}
       There aren't any people that match your search. You can change your search terms and try again, or <a href="">create a new person</a>
    {% endset %}

    {{message.info('To search for a person, please fill in at least one field below.')}}

    {% call forms.form(method='post', csrf_input=csrf_input) %}
      <input type="hidden" name="action" value="search_people"/>
      {{fields.field(filter.form.email_address)}}
      {{fields.field(filter.form.forename)}}
      {{fields.field(filter.form.surname)}}
      {{fields.field(filter.form.organisation)}}
      {{fields.field(filter.form.department)}}
      {{fields.field(filter.form.job)}}
      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li>
                <button type="submit" class="primary-button button">
                  Search
                </button>
              </li>
            </ul>
          </div>
          <div class="one columns"></div>
        </div>
      </div>
      {% include "partial/paginator.html" %}
    {% endcall %}
    <form method="post" action="">
        {{csrf_input}}
        {% if page.paginator.count > 0 %}
            <div class="list-actions">
                <ul class="menu-out small-menu-out flow-across">
                    <li>
                        <button id="id_add_people" name="action" value="add_people" type="submit" class="primary-button icon-user-plus button">
                            Add Selected People
                        </button>
                    </li>
                    <li>
                        <button id="id_select_none" type="button" class="icon-checkbox-unchecked button">
                            Select None
                        </button>
                    </li>
                    <li>
                        <button id="id_select_all" type="button" class="icon-checkbox-checked button">
                            Select All
                        </button>
                    </li>
                </ul>
            </div>
        {% endif %}
        {{lists.filter_results(page, display_config, csrf_input=csrf_input, hide_empty_message=first_load,  empty_message=empty_message)}}
    </form>
{% endblock %}
