{% from "web/domains/signature/macros.html" import document_signature %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{{ static('web/img/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ static('web/css/pdfs/certificate-style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/components/signature.css') }}">
    {% block stylesheet %}
    {% endblock %}
    {% if preview %}
      <link rel="stylesheet" href="{{ static('web/css/pdfs/preview.css') }}"/>
    {% endif %}
    <title>{% block page_title %}{{ page_title }}{% endblock %} - ICMS</title>
  </head>

  <body>
    <header>
        <span class="page-margin reference {{ 'preview-orange' if preview }}">{{ reference }}</span>
    </header>
    {% block footer %}
    {% endblock %}
    <div class="certificate-header">
      <img
        id="dbt-logo"
        alt="DBT Logo"
        class="header-block"
        src="{{ static('web/img/dbt_red_transparent_bg.png') }}" />
    </div>
    <hr>

    <div class="title-page">
      <div class="title-block page-margin">
          <h3 class="title centre">
              <p class="title-line">CERTIFICATE</p>
              <p class="title-line">BY</p>
              <p class="title-line">DEPARTMENT FOR BUSINESS AND TRADE</p>
          </h3>
          <h4 class="country centre">{{ country }}</h4>
          {% block certificate_statement %}
          {% endblock %}
      </div>

      <div class="title-footer">
        <div class="signature-block page-margin">
          {{ document_signature(signature_file, signature.content_type, signature.signatory) }}
          {% if preview %}
            <div class="qr-code">
              <span class="qr-placeholder">[[QR_PLACEHOLDER]]</span>
            </div>
            <div class="qr-text-block">
              <span class="qr-text">QR code will be genrated when documents are authorised.</span>
            </div>
          {% else %}
            <div class="qr-code">
              <img class="qr-img" src="data:image/png;base64, {{ qr_img_base64 }}" />
            </div>
            <div class="qr-text-block">
              <p class="qr-text">
                Scan this QR code to check this certificate's validity.
                <strong>Certificate Code: {{ certificate_code }}</strong>
              </p>
              <p class="qr-text">
                Alternatively you can go to <strong>{{ qr_check_url }}</strong>
                and enter the certificate reference and code.
              </p>
            </div>
          {% endif %}
        </div>
        <div class="date-block page-margin">
          <span>Date issued:</span>
          <span>{{ issue_date }}</span>
        </div>
      </div>
    </div>

    {% block schedules %}
    {% endblock %}
  </body>
</html>
