{% extends "pdf/export/certificate-base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ static('web/css/pdfs/cfs-certificate-style.css') }}"/>
{% endblock %}

{% block footer %}
  <footer>
    <p>
      This schedule is only valid with Certificate
      <span class="footer-reference {{ 'preview-orange' if preview }}">{{ reference }}</span>
    </p>
    <p>Date Issued: {{ issue_date }}</p>
  </footer>
{% endblock %}

{% block certificate_statement %}
  <p>
    It is hereby certified for the purposes of the laws of the above mentioned country that the product(s)
    named in the Schedule which forms part of this certificate may lawfully be sold in the United Kingdom
    if it meets the statutory requirements.
  </p>
{% endblock %}

{% block schedules %}
  {% for schedule in process.schedules.order_by('created_at') %}
    <div class="schedule-block page-margin">
      <p class="schedule-index">Schedule {{ loop.index }} of {{ loop.length }}</p>
      <h4 class="schedule-header">SCHEDULE TO CERTIFICATE OF FREE SALE</h4>
      <p>{{ exporter_name }}, of {{ exporter_address }} has made the following legal declaration in relation to the products listed in this schedule:</p>
      <p>{{ schedule_paragraphs[schedule.pk] }}</p>
      <h4 class="product-header">PRODUCTS</h4>
      <div class="products-block">
        {% for product_name in schedule.products.values_list("product_name", flat=True).order_by('pk') %}
          <p class="product-name">{{ product_name }}</p>
        {% endfor %}
      </div>
    </div>
    </div>
  {% endfor %}
{% endblock %}
