{% from "web/domains/signature/macros.html" import dbt_logo %}
{% from "web/domains/signature/macros.html" import not_signed_image %}
{% from "web/domains/signature/macros.html" import document_signature_placeholder %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {{ get_css_rules_as_string('web/css/pdfs/fonts.css')|safe }}
      {{ get_css_rules_as_string('web/css/pdfs/constants.css')|safe }}
      {{ get_css_rules_as_string("web/css/pdfs/com-certificate-style.css")|safe }}
			{% if preview %}
				{{ get_css_rules_as_string("web/css/pdfs/preview.css")|safe }}
      {% endif %}
    </style>
    <title>{% block page_title %}{{ page_title }}{% endblock %}</title>
  </head>

  <body>
    <div class="main-content">
      <div class="blank-page"></div>
      <div class="certificate-header flex-row">
        <div class="flex-column two-third">
          {{ dbt_logo(classes="large-header-logo") }}
        </div>
        <div class="flex-column thirty_width certificate-reference">
          <p class="reference {{ 'preview-orange' if preview }}">{{ reference }}</p>
        </div>
      </div>
      <div class="content">
        <p class="issue-date">{{ issue_date }}</p>
        <p class="title-line">TO WHOM IT MAY CONCERN</p>
        <ol start="1">
          <li>
            The Department for Business and Trade ("The Department") confirms that,
            {{ exporter_name }}, of, {{ exporter_address }} ("The Company") are manufacturers of the following:
          </li>
        </ol>
        <div class="com-item">
          <p><strong>PRODUCT NAME:</strong></p>
          <p>{{ product_name }}</p>
        </div>
        <div class="com-item">
          <p><strong>CHEMICAL NAME:</strong></p>
          <p>{{ chemical_name }}</p>
        </div>
        <div class="com-item">
          <p><strong>MANUFACTURING PROCESS:</strong></p>
          {% for line in manufacturing_process_list %}
            <p>{{ line }}</p>
          {% endfor %}
        </div>
        <ol class="statements" start="2">
          <li>
            This letter is issued by the Department solely for the purpose of registration of
            <strong>{{ product_name }}</strong> in <strong>{{ country }}</strong> and is entirely
            based on information supplied by the Company to the Department.
          </li>
          <li>
            The Department makes no representation as to the legal rights or obligations of
            whatever nature attaching to the above product, or, concerning the right of the
            Company to manufacture it.
          </li>
        </ol>
      </div>
      <footer>
        <div class="signature-block flex-row">
          <div class="flex-column third">
            {% if preview %}
              {{ not_signed_image(classes="footer_signature") }}
            {% else %}
              {{ document_signature_placeholder(signature_file, signature.content_type, signature.signatory)  }}
            {% endif %}
          </div>
          <div class="flex-column third align-centre">
            {% if preview %}
              <span class="qr-code">[[QR Code Placeholder]]</span>
            {% else %}
              <div class="qr-code">
                <img class="qr-img" src="data:image/png;base64, {{ qr_img_base64 }}"/>
              </div>
            {% endif %}
          </div>
          <div class="flex-column third">
            <span class="qr-text">
              Scan this QR code to check this certificate's validity.
              <strong>Certificate Code:</strong>
              <p class="{{ 'preview-orange' if preview }} mb-0 mt-0">
                <strong>{{ certificate_code }}</strong>
              </p>
                Alternatively you can go to <strong class="avoid-break">{{ qr_check_url }}</strong> and enter the certificate reference and
                code.
            </span>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
