{% extends "pdf/shared/certificate-base.html" %}

{% block stylesheet %}
<style>
    {{ get_css_rules_as_string("web/css/pdfs/gmp-certificate-style.css")|safe }}
</style>
{% endblock %}

{% block certificate_statement %}
  <p class="centre">
    This certificate is issued to {{ brand_name }} by the UK Department for Business and Trade on behalf of
    the Office for Product Safety and Standards within the UK Department for Business, Energy and Industrial Strategy.
  </p>
  <p class="statement centre">
    {% if is_ni %}
        This is to certify that all cosmetic products {{ manufacturer_name }} at {{ manufacturer_address }}
        are manufactured in compliance with Good Manufacturing Practice referred to in either Regulation (EC) No 1223/2009
        of the European Parliament and of the Council of 30 November 2009 on cosmetic products as applicable in {{ manufacturer_country }}
        or the Brand Reputation Compliance Global Standard (BRCGS) for Consumer Products.
    {% else %}
        This is to certify that all cosmetic products manufactured by {{ manufacturer_name }} at {{ manufacturer_address }}
        are manufactured in compliance with Good Manufacturing Practice referred to in the Cosmetic Regulation No 1223/2009
        as amended by the Product Safety and Metrology etc. (Amendment etc.) (EU Exit) Regulations 2019 as applicable in
        {{ manufacturer_country }} or the Brand Reputation Compliance Global Standard (BRCGS) for Consumer Products.
    {% endif %}
  </p>
  <p class="centre"><strong>This certificate expires on {{ expiry_date }}</strong></p>
{% endblock %}

