{% extends "govuk_frontend_jinja/template.html" %}
{# The above template has been created from this: #}
{# https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/template.njk #}

{# https://design-system.service.gov.uk/components/ #}
{# include all available govukXXX components #}
{% import "gds/components.html" as gds %}

{% block head %}
  <link rel="stylesheet" href="{{ static("govuk-frontend.min.css") }}">
  <link rel="stylesheet" href="{{ static("css/accessible-autocomplete.min.css") }}">
  <link rel="stylesheet" href="{{ static("css/uktrade-list-with-actions.css") }}">
{% endblock %}

{% block header %}
  {{ gds.govukHeader({ "productName": request.site.name }) }}
{% endblock %}

{% block beforeContent %}
  {{
    gds.govukPhaseBanner({
      "tag": {"text": "Alpha"},
      "html": 'This is a new service. Your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
    })
  }}
  {% if back_link_kwargs %}
    {{ gds.govukBackLink(back_link_kwargs) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{{ ecil_content_width_class|default('govuk-grid-column-two-thirds-from-desktop') }}">
      {# Entry point for child template content #}
      {% block ecil_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ gds.govukFooter({
        "meta": {
          "items": [
            {"href": "#", "text": "Help"},
            {"href": "#", "text": "Privacy"},
            {"href": "#", "text": "Cookies"},
            {"href": "#", "text": "Accessibility statement"},
            {"href": "#", "text": "Contact"},
            {"href": "#", "text": "Terms and conditions"},
            {"href": "#", "text": "Government Digital Services"},
          ]
        }
    }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ static("govuk-frontend.min.js") }}"></script>
  <script type="module" nonce="{{ request.csp_nonce }}">
      import {initAll} from '/assets/govuk-frontend.min.js';

      initAll();
  </script>
  <script type="module" src="{{ static("js/accessible-autocomplete.min.js") }}"></script>
{% endblock %}
