{% extends "web/domains/case/applicant-base.html" %}

{% block main_content %}
  {% include "partial/case/save-info-box.html" %}
  <h4>Goods</h4>
  {% if goods_list %}
    <table class="setoutList">
      <thead>
        <tr>
          <th>Commodity Code</th>
          <th>Goods Description</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Actions</th>
        </tr>
      </thead>

      {% for row in goods_list %}
        <tr class="result-row">
          <td>{{ row.commodity }}</td>
          <td>{{ row.goods_description }}</td>
          {% if row.unlimited_quantity %}
            <td>Unlimited</td>
          {% else %}
            <td>{{ row.quantity_amount }}</td>
          {% endif %}
          <td>{{ row.quantity_unit }}</td>
          <td>
            <a class="link-button button icon-pencil" data-input_action="edit"
               href="{{ icms_url('import:nuclear:edit-goods', kwargs={'application_pk': process.pk, 'goods_pk': row.pk}) }}">
              Edit
            </a>

            <form action="{{ icms_url('import:nuclear:delete-goods', kwargs={'application_pk': process.pk, 'goods_pk': row.pk}) }}" method="POST">
              {{ csrf_input }}
              <button type="submit" class="link-button icon-bin button tooltipstered" aria-label="Delete" data-confirm="Are you sure you want to delete this record?">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <div class="info-box info-box-info">
      There are no goods attached
    </div>
  {% endif %}
  <a class="button small-button" href="{{ icms_url('import:nuclear:add-goods', kwargs={'application_pk': process.pk}) }}">Add Goods</a>
{% endblock main_content %}
