{% extends "flow/task-base.html" %}
 {% import "forms/forms.html" as forms %}
 {% import "forms/fields.html" as fields %}

 {% block sidebar %}
     {% include "partial/case/import/opt/sidebar.html" %}
 {% endblock %}

 {% block main_content %}
   {% block task_details %}
     {{ super() }}
   {% endblock %}

   {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
     <h4>Contact</h4>
     {{ fields.field(form.contact) }}

     <h4>Outward Processing Trade</h4>
     {{ fields.field(form.applicant_reference) }}
     {{ fields.field(form.customs_office_name) }}
     {{ fields.field(form.customs_office_address) }}
     {{ fields.field(form.rate_of_yield) }}
     {{ fields.field(form.rate_of_yield_calc_method) }}
     {{ fields.field(form.last_export_day) }}
     {{ fields.field(form.reimport_period) }}
     {{ fields.field(form.nature_process_ops) }}
     {{ fields.field(form.suggested_id) }}

     <h4>Temporary Exported Goods</h4>
     <p>TODO: ICMLST-596 add this section</p>

     <input type="submit" name="action" class="primary-button button" value="Save" />
  {% endcall %}

   <h4>Supporting documents</h4>
   <p class="bold">Please provide any further supporting documents regarding this application.</p>
   <p>This may include invoices, evidence of past trade, or contracts.</p>
   {% with read_only = false %}
     {% include "web/domains/case/import/partials/opt/supporting_documents_list.html" %}
   {% endwith %}

{% endblock %}
