{% extends "web/domains/case/import/opt/edit.html" %}

{% block main_content %}
  {% block task_details %}
    {{ super() }}
  {% endblock %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    <h4>Temporary Exported Goods</h4>
    {{ fields.field(form.teg_origin_country) }}
    {{ fields.field(form.teg_total_quantity) }}
    <div class="row">
      <div class="three columns bold">
        <div class="float-right">Units</div>
      </div>
      <div class="six columns"><p>Kilos</p></div>
      <div class="three columns"></div>
    </div>
    {{ fields.field(form.teg_total_value) }}
    {{ fields.field(form.teg_goods_description) }}
    <h4>Commodities</h4>
    {{ fields.field(form.teg_commodities) }}

    <input type="submit" name="action" class="primary-button button" value="Save"/>
  {% endcall %}

{% endblock %}
