<p role="tooltip" class="helptext">
  <a class="inline-link-button"
     href="https://www.hse.gov.uk/biocides/index.htm" target="_blank"
     rel="noopener noreferrer">Biocides</a> - Please see <a class="inline-link-button pdf"
                                                            href="{{ static('web/docs/CFSBioGuide.pdf') }}"
                                                            target="_blank"
                                                            rel="noopener noreferrer">this</a>
  guide if you require clarification on biocidal claims, biocidal products and the different product types
</p>
