{# Template variables #}
{# products #}
{# is_biocidal #}

<table class="setoutList">
  <thead>
  <tr>
    <th scope="col">Product Name</th>
    {% if is_biocidal %}
      <th scope="col">Product Type Numbers</th>
      <th scope="col">Active Ingredients</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr data-test-id="schedule-product-row-{{ product.id }}">
      <td>{{ product.product_name }}</td>
      {% if is_biocidal %}
        <td>
          <table class="nestedListWithHeader setoutList nestedList">
            <thead>
            <tr>
              <th scope="col">Number</th>
            </tr>
            </thead>
            <tbody>
            {% for product_type in product.product_type_numbers.all() %}
              <tr>
                <td>{{ product_type.product_type_number }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td>
          <table class="nestedListWithHeader setoutList nestedList">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">CAS Number</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in product.active_ingredients.all() %}
              <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.cas_number }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
