<h4>Products</h4>
<div class="info-box info-box-info">
  <p>Please add product information below. A separate line is required for each product.</p>
  <p><strong>
    If any of the information given on this schedule does not apply to all of the products below,
    a separate schedule must be added for the products where the information is different.
  </strong></p>
  <p>
    To upload products in bulk, download and complete the template provided below.
    Once uploaded the products list will be filled out automatically.
  </p>
</div>
<div class="info-box info-box-warning">
  Uploaded spreadsheets must be .xlsx files. If using the spreadhseet uploader, please download and use the template provided.
</div>


{% if not read_only %}
  <div class="container setoutForm">
    <div class="row">
      <div class="two columns"></div>
      <div class="six columns">
        <a class="icon icon-download button"
          href="{{ download_product_spreadsheet_url }}">
          Download Template Spreadsheet
        </a>
      </div>
      <div class="four columns"></div>
    </div>
    <br>
    <div class="row">
      <div class="two columns">
        <label class="prompt west">Upload Spreadsheet<span class="mand-label">optional</span></label>
      </div>
      <div class="six columns input-group">
        <form action="{{ upload_product_spreadsheet_url }}" method="post" enctype="multipart/form-data" id="id_upload-product-data">
          {{ csrf_input }}
          {{ product_upload_form.file }}
          <button type="submit" class="button link-button inline-link-button icon-upload" form="id_upload-product-data">Upload</button>
        </form>
      </div>
      <div class="four columns"></div>
    </div>
  </div>
{% endif %}

{% if products %}
  {% include "web/domains/case/export/partials/cfs/schedule-product-list.html" %}
{% endif %}

{% if not read_only %}
  <a href="{{ manage_schedule_products_url }}" class="button small-button icon-plus">Manage Products</a>
{% endif %}
