{# Template variables #}
{# products #}
{# read_only #}
{# is_biocidal #}

{% macro get_edit_schedule_product_url(process, schedule_pk, product_pk) -%}
  {# process is either an application or a cfs_template instance #}
  {% if is_cfs_cat|default(False) %}
    {% set edit_url = icms_url('cat:cfs-schedule-product-update', kwargs={'cat_pk': process.template.pk, 'schedule_template_pk': schedule_pk, 'product_template_pk': product_pk }) %}
  {% else %}
    {% set edit_url = icms_url('export:cfs-schedule-edit-product', kwargs={'application_pk': process.pk, 'schedule_pk': schedule_pk, 'product_pk': product_pk }) %}
  {% endif %}
  {{ edit_url }}
{%- endmacro %}

{% macro get_delete_schedule_product_url(process, schedule_pk, product_pk) -%}
  {# process is either an application or a cfs_template instance #}
  {% if is_cfs_cat|default(False) %}
    {% set delete_url = icms_url('cat:cfs-schedule-product-delete', kwargs={'cat_pk': process.template.pk, 'schedule_template_pk': schedule_pk, 'product_template_pk': product_pk }) %}
  {% else %}
    {% set delete_url = icms_url('export:cfs-schedule-delete-product', kwargs={'application_pk': process.pk, 'schedule_pk': schedule_pk, 'product_pk': product_pk }) %}
  {% endif %}
  {{ delete_url }}
{%- endmacro %}

<table class="setoutList">
  <thead>
  <tr>
    <th scope="col">Product Name</th>
    {% if is_biocidal %}
      <th scope="col">Product Type Numbers</th>
      <th scope="col">Active Ingredients</th>
    {% endif %}
    {% if not read_only %}
      <th scope="col">Actions</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr data-test-id="schedule-product-row-{{ product.id }}">
      <td>{{ product.product_name }}</td>
      {% if is_biocidal %}
        <td>
          <table class="nestedListWithHeader setoutList nestedList">
            <thead>
            <tr>
              <th scope="col">Number</th>
            </tr>
            </thead>
            <tbody>
            {% for product_type in product.product_type_numbers.all() %}
              <tr>
                <td>{{ product_type.product_type_number }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td>
          <table class="nestedListWithHeader setoutList nestedList">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">CAS Number</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in product.active_ingredients.all() %}
              <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.cas_number }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      {% endif %}
      {% if not read_only %}
        <td>
          <ul class="menu-out">
            <li>
              <a
                href="{{ get_edit_schedule_product_url(process, schedule.pk, product.pk) }}"
                class="button link-button icon-pencil">
                Edit
              </a>
            </li>
            <li>
              <form
                method="post"
                action="{{ get_delete_schedule_product_url(process, schedule.pk, product.pk) }}"
                class="form-inline">
                {{ csrf_input }}
                <button type="submit" class="button link-button icon-bin">
                  Delete
                </button>
              </form>
            </li>
          </ul>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
