{% set file = file or {} %}
<tr class="{% if file.error_message %}has-error{% endif %} {% if not file.is_active %}deleted-file{% endif %}">
    {% if file.pk %}
      <input type="hidden" name="files" value="{{file.pk}}">
    {% endif %}
    <td>
        <a
            role="filename"
            class="fileInfo readonly downloadLink"
            href="{{ file_url }}"
        >
            {{ file.filename }}
        </a>
        <span role="filesize" class="filesize" >{{ file.file_size }}</span>
    </td>
    <td>
        <span role="username">{{ file.created_by }}</span>
        <span role="date" class="filesize">{{ file.created_datetime }}</span>
    </td>
    <td role="actions">
      {% if not readonly %}
        {% if  file.is_active %}
            <a href="" role="file-delete" x-file-id="{{ file.pk }}">Delete</a>
        {% else %}
            <a href="" role="file-restore" x-file-id="{{ file.pk }}">Restore</a>
        {% endif %}
      {% endif %}
    </td>
</tr>
{% if file.error_message %}
    <tr class="error {% if not file.is_active %}deleted-file{% endif %} ">
        <td colspan="3" class="uploadError errorMessage">
            {{ file.error_message }}
        </td>
    </tr>
{% endif %}
</script>
