<style>
.uploadlinknopadding td { padding : 0 !important; }
</style>

<table>
  <tbody>
    <tr>
      <td class="uploadlinknopadding">
        <div class="individual-input input-group">
          <div class="eleven-column-input">
            <div class="fileUpload modal">
              <div class="fileUploadInputContainer">
                <span style="display: table-cell">

                  <input 
                    type="file" 
                    id="id_input_upload" 
                    name="uploaded_file" 
                    tabindex="-1" 
                    aria-labelledby="id_lbl_upload" 
                    role="link" 
                    class="uploadControl fileUploadInput"/>

                  <label 
                    id="id_lbl_upload" 
                    for="id_input_upload" 
                    x-file-upload-template="#file-upload-row-template"  
                    role="file-upload" 
                    class="fileUploadLabel fileUploadLink">
                    Upload New File
                  </label>

                </span>
              </div>
            </div>

            <div class="input-group-addon hint-addon">
              <div id="hint168-content" role="tooltip" class="hint-content">
                <div class="screen-reader-only">This item has hint text,</div>
                The following file extensions are not allowed: bat, bin, com, dll, exe, htm, html, msc, msi, msp, ocx, scr, wsc, wsf, wsh</div><div id="hint168" aria-describedby="hint168-content" class="hint icon-info tooltipstered">
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>

      </td>
    </tr>
  </tbody></table>
