{% extends "web/domains/case/applicant-base.html" %}

{% block main_content %}
  <h4>Goods - Licence for</h4>
  <p>
    <a
      href="{{ icms_url('import:fa-sil:choose-goods-section', kwargs={'application_pk': process.pk}) }}"
      class="button small-button">
      Add Goods Item
    </a>
  </p>
  {% with read_only = False %}
    {% include "web/domains/case/import/fa-sil/goods/section1-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section2-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section5-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section582-obsolete-boxes.html" %}
    {% include "web/domains/case/import/fa-sil/goods/section582-other-boxes.html" %}
  {% endwith %}
{% endblock main_content %}
