{% for section in process.goods_section5.filter(is_active=True) %}
  <div class="container setoutForm">
    <h5>Section 5 - {{ section.description }}</h5>

    {% if not read_only %}

      <a
        href="{{ icms_url('import:fa-sil:edit-section', kwargs={'application_pk': process.pk, 'sil_section_type': 'section5', 'section_pk': section.pk}) }}"
        class="link-button icon-pencil button">
        Edit
      </a>
      <form
        method="POST"
        action="{{ icms_url('import:fa-sil:delete-section', kwargs={'application_pk': process.pk, 'sil_section_type': 'section5', 'section_pk': section.pk}) }}"
        class="form-inline">
        {{ csrf_input }}
        <button
          type="submit"
          class="button link-button icon-bin">
          Remove
        </button>
      </form>
    {% endif %}

    <div class="row">
      <div class="three columns">
        <label class="prompt west">Licence for</label>
      </div>
      <div class="six columns">
        <span class="text-widget ">Section 5</span>
      </div>
      <div class="three columns"></div>
    </div>
    <div class="row">
      <div class="three columns">
        <label class="prompt west">Section 5 subsection</label>
      </div>
      <div class="six columns">
        <span class="text-widget ">{{ section.section_5_clause.clause }} {{ section.section_5_clause.description }}</span>
      </div>
      <div class="three columns"></div>
    </div>
    <div class="row">
      <div class="three columns">
        <label class="prompt west">Was the firearm manufactured before 1900?</label>
      </div>
      <div class="six columns">
        <span class="text-widget ">{{ 'Yes' if section.manufacture else 'No' }}</span>
      </div>
      <div class="three columns"></div>
    </div>
    <div class="row">
      <div class="three columns">
        <label class="prompt west">Quantity</label>
      </div>
      <div class="six columns">
        <span class="text-widget ">
          {% if section.unlimited_quantity %}
            Unlimited
          {% else %}
            {{ section.quantity }}
          {% endif %}
        </span>
      </div>
      <div class="three columns"></div>
    </div>
  </div>
  <hr />
{% endfor %}
