{% extends "layout/sidebar.html" %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        {% block content_actions_link %}
          <a href="{{ icms_url('workbasket') }}" class="prev-link">
            Workbasket
          </a>
        {% endblock %}
      </li>
    </ul>
  </div>

  <form
    method="post"
    action="{{ icms_url('export:release-ownership', args=[process.pk]) }}"
    class="form-inline">
      {{ csrf_input }}
      <input type="submit" class="button" value="Release Ownership" />
  </form>
  <a href="#" class="button">Reassign</a>
  <a href="#" class="button primary-button" disabled=disabled>Quick Issue</a>
{% endblock %}

{% block sidebar %}
  {% with object = process %}
    {% include 'partial/case/export/sidebar.html' %}
  {% endwith %}
{% endblock %}
