{% extends 'layout/sidebar.html' %}
{% import 'forms/forms.html' as forms %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
{% endblock %}

{% block main_content %}
  {% block task_details %}
    <h3>{{task.task_type}}</h3>
    <div class="container" >
      <div class="row">
        <div class="nine columns" ></div>
        <div class="three columns" >
        </div>
      </div>
      <div class="row">
        <div class="three columns" >
          <label class="prompt west">Status</label>
        </div>
        <div class="six columns">
          <div class="status">
            <div class="individual-input"><span class="text-widget ">Active</span></div>
          </div>
        </div>
        <div class="three columns"></div>
      </div>
      <div class="row">
        <div class="three columns" >
          <label class="prompt west">Assigned To</label>
        </div>
        <div class="six columns">
          <span>{{task.owner or 'Not yet assigned' }}</span>
        </div>
        <div class="three columns"></div>
      </div>
    </div>
  {% endblock %}


  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}

    {% block form_content %}{% endblock %}

    <div class="list-actions">
      <div class="container">
        <div class="row">
          <div class="eight columns">
            <ul class="menu-out flow-across">
              {% block task_actions %}
              {% endblock %}
            </ul>
          </div>
          <div class="four columns"></div>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
