{% extends "layout/sidebar.html" %}


{% block extra_header %}
  <div class="container contextHeaderGrid">
    {% include process_template %}
  </div>
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        {% block content_actions_link %}
          <a href="{{ icms_url('workbasket') }}" class="prev-link">
            Workbasket
          </a>
        {% endblock %}
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'partial/case/access/sidebar.html' %}
{% endblock %}
