{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{# Renders password update form for changing password and setting it after registration #}
{% macro password_update(_form, action, csrf_input, container_class='') -%}
  {% call forms.form(action=action, method='post', csrf_input=csrf_input) -%}
    {{fields.field(_form.new_password1)}}
    {{fields.field(_form.new_password2)}}
    {{fields.field(_form.old_password)}}
    {{fields.field(_form.security_question)}}
    {{fields.field(_form.security_answer)}}

    <div class="clearBoth"></div>
    <div class="container">
      <div class="row">
        <div class="four columns"></div>
        <div class="six columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" class="primary-button button">
                Set password
              </button>
            </li>
          </ul>
        </div>
        <div class="two columns"></div>
      </div>
    </div>
  {%- endcall %}
{%- endmacro %}
