{% extends "layout/public.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
<div id="header">
    <h1>Welcome to ICMS</h1>
    <p class="subheading">
        The DIT Import Licensing Branch's Import Case Management System for the issue of import licences and Certificates of Free Sale (CFS) for exporters
    </p>
</div>
<div class="clearBoth"> </div>

<div class="clearBoth"> </div>
<p class="lead">
    <strong>Before registering on ICMS please read the "Do I need an import licence?" or "ICMS registration and guidance on import licence and Certificates of Free Sale applications" guide to see if you need to register. Requests that do not follow the registration guidance will be refused.</strong>
</p>

<div class="half-width-box">
    <h2>Log in to ICMS</h2>

    <div class="row">
      <div class="three columns"></div>
      <div class="nine columns">
        {% if form.non_field_errors() %}
        <div id="login-error">
            {% if form.error_status == 'blocked' %}
                User account has been blocked.
            {% elif form.error_status == 'suspended' %}
                User account has been suspended.
            {% elif form.error_status == 'cancelled' %}
                User account has been cancelled.
            {% else %}
                Invalid username or password.<br/>N.B passwords are case sensitive
            {% endif %}
        </div>
        {% endif %}
        {% if next %}
        <div id="login-error">
          {% if request.user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>


    {% call forms.form(action=icms_url('login'),
                       method='post',
                       container_class='login-form',
                       csrf_input=csrf_input)  -%}
      {{fields.field(form.username, input_cols='nine')}}
      {{fields.field(form.password, input_cols='nine')}}

      {% if next %}
      <input type="hidden" name="next" value="{{next}}">
      {% endif %}

      <div class="clearBoth"></div>
      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li>
                <button type="submit" value="save" class="primary-button button">
                  Sign in
                </button>
              </li>
              <li>
                <a href="{{ icms_url('reset-password')}}" class="button link-button">
                  Forgot your password?
                </a>
              </li>
            </ul>
          </div>
          <div class="one columns"></div>
        </div>
      </div>
    {%- endcall %}

</div>

<div class="half-width-box right-box">
    <h2 class="grey">Contact Us</h2>
    <p>
        Please read the guidance below on using ICMS. Email <a href="mailto:enquiries.ilb@trade.gov.uk">enquiries.ilb@trade.gov.uk</a> with your name and telephone number if you have a problem and we will contact you as quickly as possible.
    </p>
</div>
<div class="clearBoth"> </div>
<h2>Registration and Guidance</h2>
<p>
    Detailed guidance on when and how to apply for import licences and Certificates of Free Sale for export can be found in the documents below.
</p>
<div class="half-width-box">
    <ul class="file-list">
        <li>
            <a href="{{ static('web/docs/DoINeedAnImportLicence.pdf') }}" class="pdf" target="_blank">Do I Need an Import Licence?</a>
        </li>
        <li>
            <a href="{{ static('web/docs/ApplicationGuidance.pdf') }}" class="pdf" target="_blank">ICMS registration and guidance on import licence and Certificates of Free Sale applications</a>
        </li>
    </ul>
</div>
<div class="half-width-box right-box">
    <ul class="file-list">
        <li>
            <a href="{{ static('web/docs/UsingPopups.pdf') }}" class="pdf" target="_blank">Advice on Popups & Downloads</a>
        </li>
        <li>
            <a href="{{ static('web/docs/ValidateDigSigs.pdf') }}" class="pdf" target="_blank">Validating Digital Signatures</a>
        </li>
    </ul>
</div>
<div class="clearBoth"> </div>
<a  href="{{ icms_url('register') }}" class="primary-button button">
    Register </a>
{% endblock %}
