<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ static('web/img/favicon.png') }}" type="image/png">

    {%- if page_title %}
      {% set title=page_title %}
    {% else %}
      {% set title='Import Case Management System' %}
    {% endif -%}
    <title>{% block page_title %}{{title}}{% endblock %} - ICMS</title>

    <script src="{{ static('3rdparty/jquery/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ static('3rdparty/jquery-ui-dist/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ static('3rdparty/html5shiv/html5shiv.min.js') }}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ static('web/css/OpenSans/OpenSans.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/icomoon/icomoon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/icomoon/icomoon-png.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/fox.css') }}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ static('web/css/fox-ie8.css') }}"><![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/fox_default_layout.css') }}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ static('web/css/fox_default_layout_ie8.css') }}"><![endif]-->

    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'partial/flash-messages.html' %}

    <div id="skiplinks">
        <p>Skip To:</p>
        <ul>
            <li><a href="#main">Main content</a></li>
        </ul>
    </div>
    <iframe id="iframe-wrapper" src="javascript:'';" style="border: none; overflow: hidden; visibility: hidden; display: none;">&nbsp;</iframe>

    <!-- <div class="environment-uat" id="environment-indicator"> -->
    <!-- UAT -->
    <!-- </div> -->

    <div id="wrapper">
        {% block header %}{% endblock %}
        <main class="clearfix">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>


    {% block js %}
        {% compress js file main %}
        <script src="{{ static('web/js/fox_default_layout.js') }}" type="text/javascript"></script>
        <script src="{{ static('3rdparty/jquery.formset/jquery.formset.js') }}" type="text/javascript"></script>
        <script src="{{ static('web/js/main.js') }}" type="text/javascript"></script>
        <script src="{{ static('web/js/core-footer.js') }}" type="text/javascript"></script>
        <script src="{{ static('web/js/dialogues.js') }}" type="text/javascript"></script>
        <script src="{{ static('web/js/messages.js') }}" type="text/javascript"></script>
        <script src="{{ static('web/js/file-actions.js') }}" type="text/javascript"></script>
        <script src="{{ static('web/js/action-buttons.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                FOXjs.init(function() {});
            });
        </script>
        {% endcompress %}
    {% endblock %}

    {% block page_js %}{% endblock %}

</body>

</html>
