<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ static('web/img/favicon.png') }}" type="image/png">

    {% if config and config.title %}
      {% set title=config.title %}
    {% else %}
      {% set title='ICMS - Import Case Management System' %}
    {%endif %}

    <title>{{title}}</title>
    <script src="{{ static('web/js/core-header.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/OpenSans/OpenSans.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/icomoon/icomoon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/icomoon/icomoon-png.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/fox.css') }}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ static('web/css/fox-ie8.css') }}"><![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ static('web/css/fox_default_layout.css') }}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ static('web/css/fox_default_layout_ie8.css') }}"><![endif]-->

    {% block css %}
    {% endblock %}
</head>

<body>

    {% include 'partial/flash-messages.html' %}

    <div id="skiplinks">
        <p>Skip To:</p>
        <ul>
            <li><a href="#main">Main content</a></li>
        </ul>
    </div>
    <iframe id="iframe-wrapper" src="javascript:'';" style="border: none; overflow: hidden; visibility: hidden; display: none;">&nbsp;</iframe>

    <!-- <div class="environment-uat" id="environment-indicator"> -->
    <!-- UAT -->
    <!-- </div> -->

    <div id="wrapper">
        {% block header %}{% endblock %}
        <main class="clearfix">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
    <script src="{{ static('web/js/fox_default_layout.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/jquery.formset.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/core-footer.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/dialogs.js') }}" type="text/javascript"></script>
    <script src="{{ static('web/js/messages.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            FOXjs.init(function() {});
        });
    </script>

</body>

</html>
