{% extends "layout/public.html" %}

{% block main_content %}
  <style>
      a#login-link {
          text-decoration: none;
          color: white;
      }

      a#login-link:link, a:visited {
          color: white;
      }
  </style>

  <div id="header">
    <h1>GOV.UK</h1>
    <p class="subheading">{{ service_title }}</p>
  </div>
  <div class="clearBoth"></div>
  <p>{{ service_description }}</p>
  <button class="positive-button"><a id="login-link" href="{{ auth_login_url }}">Start Now</a>
  </button>
  {% if show_one_login_msg %}
    <p class="mt-1">‘Start now’ will take you to GOV.UK One Login.</p>
    <p>Existing users need to sign up to GOV.UK One Login with the same email address used for ICMS. Your existing data will then be moved over.</p>
    <p>Get in touch with <a href="mailto:{{ ilb_contact_email }}">{{ ilb_contact_email }}</a> if you need help.</p>
  {% endif %}
{% endblock %}
