{% if importer.is_agent() %}
  <div class="info-box info-box-info">
    This importer is an agent of importer '{{ importer.main_importer.display_name }}'.
  </div>
{% endif %}

<h3>{{ importer.get_type_display() }}</h3>

{% if importer.is_organisation() %}
  <dl>
    <dt class="bold">Organisation Name</dt>
    <dd>{{ importer.name }}</dd>
    <dt class="bold">Registered Number</dt>
    <dd>{{ importer.registered_number|default("", True) }}</dd>
    <dt class="bold">Importer EORI Number</dt>
    <dd>{{ importer.eori_number|default("N/A", True) }}</dd>
    <dt class="bold">Importer Region Origin</dt>
    <dd>{{ importer.get_region_origin_display()|default("N/A", True) }}</dd>
    <dt class="bold">Comments</dt>
    <dd>{{ importer.comments|default("", True)|nl2br }}</dd>
  </dl>
{% else %}
  <dl>
    <dt class="bold">Title</dt>
    <dd>{{ importer.user.title }}</dd>
    <dt class="bold">Forename</dt>
    <dd>{{ importer.user.first_name }}</dd>
    <dt class="bold">Surname</dt>
    <dd>{{ importer.user.last_name }}</dd>
    <dt class="bold">Email Address</dt>
    <dd>{{ importer.user.email }}</dd>
    <dt class="bold">Telephone No</dt>
    <dd>
      {% with numbers=importer.user.phone_numbers.all() %}
        {% for number in numbers %}
          {{ number.get_type_display() }}: {{ number.phone }}
          {% if not loop.last %}<br/>{% endif %}
        {% else %}
          N/A
        {% endfor %}
      {% endwith %}
    </dd>
    <dt class="bold">Importer EORI Number</dt>
    <dd>{{ importer.eori_number|default("N/A", True) }}</dd>
    <dt class="bold">Importer Region Origin</dt>
    <dd>{{ importer.get_region_origin_display()|default("N/A", True) }}</dd>
    <dt class="bold">Comments</dt>
    <dd>{{ importer.comments|default("N/A", True) }}</dd>
  </dl>
{% endif %}
