{% extends "web/domains/case/applicant-base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "display/fields.html" as display %}


 {% block main_content %}
   {% call forms.form(action='', method='post', csrf_input=csrf_input, class="prevent-data-loss") -%}
     {% include "partial/case/save-info-box.html" %}
     {% include "partial/case/application-contact-details.html" %}

     <h4>Wood (Quota)</h4>
     {{ fields.field(form.applicant_reference) }}
     {{ fields.field(form.shipping_year) }}

     <h4>Exporter details</h4>
     {{ fields.field(form.exporter_name) }}
     {{ fields.field(form.exporter_address) }}
     {{ fields.field(form.exporter_vat_nr) }}

     <h4>Goods</h4>
     {{ fields.field(form.commodity, mark_safe=True) }}
     {{ fields.field(form.goods_description) }}
     {{ fields.field(form.goods_qty) }}
     {{ fields.field(form.goods_unit) }}

     <h4>Misc</h4>
     {{ fields.field(form.additional_comments) }}

     <input type="submit" name="action" class="primary-button button" value="Save" />
  {% endcall %}

   <h4>Contract/pre-contract</h4>
   <p>Please fill in the details of all relevant contracts or pre-contracts
   between the importer and exporter, and upload the contract/pre-contract,
   below.</p>
   {% with read_only = false %}
    {% include "web/domains/case/import/wood/partials/contract_documents_list.html" %}
   {% endwith %}

   <h4>Supporting documents</h4>
   <p class="bold">Please provide any further supporting documents regarding this application.</p>
   <p>This may include invoices, evidence of past trade, or contracts.</p>
   {% with read_only = false %}
    {% include "web/domains/case/import/wood/partials/supporting_documents_list.html" %}
   {% endwith %}

{% endblock %}
