{% extends "web/domains/case/view_case.html" %}

{% block main_content %}
  {% block application_contact %}
    {{ super() }}
  {% endblock %}

  {% call application_section("Wood (Quota)") %}
    {{ application_field(process.applicant_reference, "Application Reference", "N/a") }}
    {{ application_field(process.shipping_year, "Shipping Year") }}
  {% endcall %}

  {% call application_section("Exporter Details") %}
    {{ application_field(process.exporter_name, "Exporter Name") }}
    {{ application_field(process.exporter_address, "Exporter Address") }}
    {{ application_field(process.exporter_vat_nr, "Exporter VAT Number") }}
  {% endcall %}

  {% call application_section("Goods") %}
    {{ application_field(process.commodity_code, "Commodity Code") }}
    {{ application_field(process.goods_description, "Goods Description") }}
    {{ application_field(process.goods_qty, "Quantity") }}
    {{ application_field(process.goods_unit, "Unit") }}
  {% endcall %}

  <h4>Contract/Pre-Contract</h4>
  {% with read_only = true %}
    {% include "web/domains/case/import/partials/wood/contract_documents_list.html" %}
  {% endwith %}

  <h4>Supporting Documents</h4>
  {% with read_only = true %}
    {% include "web/domains/case/import/partials/wood/supporting_documents_list.html" %}
  {% endwith %}

  {% call application_section("Misc") %}
    {{ application_field(process.additional_comments, "Additional Comments") }}
  {% endcall %}

{% endblock %}
