{% load static %}

<h1>
    <img alt="Department of International Trade" src="{% static 'web/img/dit-horizontal-white-logo.png' %}">
</h1>
<input type="checkbox" id="top-nav-toggle">
<label for="top-nav-toggle" id="top-nav-toggle-label" class="icon-menu">
    <span class="screen-reader-only">Show menu</span>
</label>

<ul class="dropdown-menu" id="top-menu">

  <li class="top-menu-dropdown">
    <a class="dropdown-label" href="#">Admin</a>
    <ul class="menu-out flow-down top-menu-subcategory-list">
      <li class="top-menu-subcategory">
        <ul class="top-menu-subcategory-actions">
          <li class="top-menu-subcategory-action">
            <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-navbar&quot;,&quot;ctxt&quot;:&quot;4B0CD9E04A54A5C9AEDADF06D92F562A&quot;}, this);">Portal Dashboard</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

    <li class="icon-user" id="user-info">

        <a class="dropdown-label" href="#">{{request.user.title}} {{request.user.first_name}} {{request.user.last_name}}</a>
        <ul class="menu-out flow-down top-menu-subcategory-list">

            <li>
                <ul class="menu-out">
                    <li> <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-edit-user-details&quot;,&quot;ctxt&quot;:&quot;s7we5q_plretrQph&quot;}, this);">My details</a></li>
                    <li> <a href="{% url 'logout' %}">Log out</a></li>
                </ul>
            </li>
        </ul>

    </li>
</ul>
