{% extends 'layout/sidebar.html' %}

{% set page_title=(activation.process ~ ' - ' ~ activation.task.flow_task ) %}

{% import 'viewflow/links.html' as links with context %}

{% block main_content %}
  {% block process_details %}
    {% with process=activation.process %}
      {% include activation.process.flow_class.process_template  %}
    {% endwith %}
  {% endblock %}

  {% block task_details %}
    <h3>Review</h3>
    <div class="container setoutForm noBottomMargin" >
      <div class="row">
        <div class="three columns" >
          <label class="prompt west">Status</label>
        </div>
        <div class="six columns">
          <div class="status {{activation.task.status|lower}}">
            <div class="individual-input"><span class="text-widget ">{{activation.task.status}}</span></div>
          </div>
        </div>
        <div class="three columns"></div>
      </div>
        <div class="row">
          <div class="three columns" >
            <label class="prompt west">Assigned To</label>
          </div>
          <div class="six columns">
            <span>{{activation.task.owner}}</span>
          </div>
          <div class="three columns"></div>
        </div>
    </div>
  {% endblock %}
{% endblock %}
