{% extends 'viewflow/base/task_detail.html' %}
{% import 'forms/forms.html' as forms %}

{% block main_content %}
  {{super()}}


  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}

    {% block form_content %}{% endblock %}

    <div class="list-actions">
      <div class="container">
        <div class="row">
          <div class="eight columns">
            <ul class="menu-out flow-across">
              {% block task_actions %}
              {% endblock %}
            </ul>
          </div>
          <div class="four columns"></div>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
