{% extends "layout/no-sidebar.html" %}

{% block main_content %}
  <ul class="tabs">
    {{ icms_link(request, icms_url('chief:pending-licences'), 'Waiting on HRMC response') }}
    {{ icms_link(request, icms_url('chief:failed-licences'), 'Failed Licences') }}
    <span class="label small-label red-label">{{ failed_licences_count }}</span>
  </ul>
  {% block main_chief %}{% endblock %}
{% endblock main_content %}

{% block page_js %}
  <script type="text/javascript">
    // Add the current-tab to the link with the current-page class.
    const active_link = document.querySelector("li.current-page");

    if (active_link !== null) {
        active_link.classList.add("current-tab");
    }
  </script>
{% endblock %}
