{% extends "web/domains/chief/_base.html" %}

{% block main_chief %}

  <h4>Pending Licences</h4>
  <div class="extra-info">
    These licences are either waiting for a response from HMRC or are in a queue waiting to be sent to HMRC.
  </div>
  {% if pending_licences_count %}
    <table class="setoutList">
      <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for app in pending_licences %}
        {% set cr = app.chief_references.latest("pk") %}
        <tr>
          <td>
            <span class="text-widget">{{ app.reference }}</span>
          </td>
          <td>
            <span class="text-widget label small-label white-label">PENDING</span>
          </td>
          <td>
            <ul class="menu-out">
              <li>
                <a href="{{ icms_url('case:manage', kwargs={'application_pk': app.pk, 'case_type': "import"}) }}"
                   target="_blank" rel="noopener noreferrer" class="button link-button icon-eye">
                  View Case
                </a>
              </li>
              <li>
                <a href="{{ icms_url('chief:request-data', kwargs={'litehmrcchiefrequest_id': cr.pk}) }}"
                   target="_blank" rel="noopener noreferrer" class="button link-button icon-download">
                  View Request Data
                </a>
              </li>
              <li>
                <a href="{{ icms_url('importer-edit', kwargs={'pk': app.importer.pk}) }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="button link-button icon-pencil">
                  Update importer details
                </a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="info-box info-box-success">There are no pending licences</div>
  {% endif %}

{% endblock %}
