{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
  {{ super() }}
  {{ form.media.css }}
{% endblock %}

{% block sidebar %}
  {% include "partial/case/import/sidebar.html" %}
{% endblock %}

{% block main_content %}
  {% call forms.form(method='post', csrf_input=csrf_input) -%}
    <h3>Open Individual Licence (OIL)</h3>
    <div class="info-box info-box-warning">
      <p>
        You must have domestic authority to possess the firearms you are requesting an import
        licence for.
      </p>
      <p>
        Open Individual Import Licences are not valid for Section 5 items. Please see guidance
        if you have any other questions.
      </p>
    </div>
    {% for field in form %}
      {{fields.field(field)}}
    {% endfor %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                name="action"
                class="primary-button button"
                value="Create" />
            </li>
          </ul>
        </div>
      </div>
    </div>

  {%- endcall %}
{% endblock %}

{% block page_js %}
  {{ super() }}
  {{ form.media.js }}
{% endblock %}
