{% extends "flow/task-base.html" %}


{% block sidebar %}
  {% include "partial/case/import/oil/sidebar.html" %}
{% endblock %}

{% block main_content %}
  <h3>Validation Summary</h3>
  {% if process.commodity_group and certificates and know_bought_from %}
    The application is valid. Please press submit the application.
  {% else %}
    <p>
      The following table lists the errors or incomplete information contained within
      your application. All required fields must be completed before you can submit your
      application. Click on the error description below to return to the appropriate
      item in the application.
    </p>

    <table class="setoutList">
      <thead>
        <tr>
          <th>Item</th>
          <th>Error Message</th>
        </tr>
      </thead>
      <tbody>
        {% if not process.commodity_group %}
          <tr>
            <td>
              <a href="{{ icms_url('import:edit-oil', kwargs={'pk': process.pk}) }}">
                Commodity Code
              </a>
            </td>
            <td>
              You must enter this item.
            </td>
          </tr>
        {% endif %}
        {% if not certificates %}
          <tr>
            <td>
              <a href="{{ icms_url('import:list-user-import-certificates', kwargs={'pk': process.pk}) }}">
                Certificate
              </a>
            </td>
            <td>
              You must enter this item.
            </td>
          </tr>
        {% endif %}
        {% if not process.know_bought_from %}
          <tr>
            <td>
              <a href="{{ icms_url('import:edit-oil', kwargs={'pk': process.pk}) }}">
                Do you know who you plan to buy/obtain these items from?
              </a>
            </td>
            <td>
              You must enter this item.
            </td>
          </tr>
        {% endif %}
        {% if process.know_bought_from == 'yes' and not process.importcontact_set.exists() %}
          <tr>
            <td>
              <a href="{{ icms_url('import:list-import-contacts', kwargs={'pk': process.pk}) }}">
                Do you know who you plan to buy/obtain these items from?
              </a>
            </td>
            <td>
              You must enter this item.
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
