{% extends "web/commodity/edit.html" %}
{% import "messages/message.html" as messages %}

{% block main_content %}
    {% set info_message %}
        <b>Commodity codes may begin with the following:</b>
        <br/>
        <br/>
        Firearms and Ammunition
        <br/>
        93, 97
        <br/>
        <br/>
        Iron, Steel and Aluminium
        <br/>
        72, 73, 76
        <br/>
        <br/>
        Oil and Petrochemicals
        <br/>
        2707, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2812, 2814, 2901, 2902, 2903, 2905, 2907, 2909, 2910, 2914, 2917, 2926, 2929, 3901
        <br/>
        <br/>
        Precious Metals and Stones
        <br/>
        71
        <br/>
        <br/>
        Textiles
        <br/>
        50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 9619
        <br/>
        <br/>
        Vehicles
        <br/>
        87
        <br/>
        <br/>
        Wood
        <br/>
        4403
        <br/>
        <br/>
        Wood Charcoal
        <br/>
        4402
    {% endset %}
    {{messages.info(info_message|safe)}}
    {{super()}}
{% endblock %}
