{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {{fields.field(form.commodity_code)}}
    {{fields.field(form.validity_start_date)}}
    {{fields.field(form.validity_end_date)}}
    {{fields.field(form.sigl_product_type, field_description="Mandatory for Iron, Steel, Aluminium and Textile commodities.")}}

    {% if not config.readonly %}
    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" class="primary-button button">
                Save
              </button>
            </li>
            <li>
              <a href="{{url('commodity-list')}}" class="button link-button">
                Cancel
              </a>
            </li>
          </ul>
        </div>
        <div class="one columns"></div>
      </div>
    </div>
    {% endif %}
  {%- endcall %}

{% endblock %}
