{% if contract_documents %}
  <table class="setoutList">
    <thead>
    <tr>
      <th>Reference No.</th>
      <th>Date</th>
      <th>Uploaded by</th>
      <th>File (size)</th>
      {% if not read_only %}
        <th>Actions</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for doc in contract_documents %}
      <tr>
        <td>{{ doc.reference }}</td>
        <td>{{ doc.contract_date.strftime('%d-%b-%Y') }}</td>
        <td>
          {{ doc.created_by.full_name }}<br>
          {{ doc.created_datetime.strftime('%d-%b-%Y %H:%M') }}
        </td>
        <td><a
          href="{{ icms_url('import:wood:view-contract-document', kwargs={'application_pk': process.pk, 'document_pk': doc.pk}) }}">
          {{ doc.filename }}</a> {{ doc.human_readable_file_size() }}
        </td>
        {% if not read_only %}
          <td>
            <form method="post"
                  action="{{ icms_url('import:wood:delete-contract-document', kwargs={'application_pk': process.pk, 'document_pk': doc.pk}) }}">
              {{ csrf_input }}
              <button type="submit" class="link-button icon-bin button">Delete</button>
            </form>

            <p>
              <a
                href="{{ icms_url('import:wood:edit-contract-document', kwargs={'application_pk': process.pk, 'document_pk': doc.pk}) }}"
                class="link-button icon-pencil button">
                Edit</a>
            </p>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="info-box info-box-info">
    There are no contract/pre-contract documents attached
  </div>
{% endif %}

{% if not read_only %}
  <a class="button small-button" href="{{ icms_url('import:wood:add-contract-document', kwargs={'pk': process.pk}) }}">Add
    contract</a>
{% endif %}
