<tr>
  <td>
    {{process.id}}
  </td>
  <td>
    {# TODO: do something better (process.get_summary()?) #}
    {{process.process_type}}
  </td>
  <td>
    {{process.submitted_by}} ({{process.submitted_by.email}})
    <br/>
    {{process.organisation_name}} 
    <br/>
    {{process.organisation_address}}
  </td>
  <td>
    {{process.get_status_display()}}
    <br>
    {{process.created.strftime('%d-%b-%Y %H:%M:%S')}}
  </td>
  <td>
    {% if process.further_information_requests.active() %}
      Access Request, Further Information Requested
    {% else %}
      Access Request
    {% endif %}
  </td>
  <td>
    {# NOTE: process.tasks has been filtered by is_active=True already #}
    {% for task in process.tasks.all() %}
      {% include 'web/domains/workbasket/partials/workbasket-item.html' %}
    {% endfor %}
  </td>
</tr>
