<!-- TODO: ICMSLST-701 adapt to new workbasket -->
<tr>
  <td>
    {{process.id}}
  </td>
  <td>
    {# TODO: do something better (process.get_summary()?) #}
    {{process.process_type}}
  </td>
  <td>
    {{process.submitted_by}} ({{process.submitted_by.email}})
    <br/>
    {{process.organisation_name}}
    <br/>
    {{process.organisation_address}}
  </td>
  <td>
    {{process.get_status_display()}}
    <br>
    {{process.created.strftime('%d-%b-%Y %H:%M:%S')}}
  </td>
  <td>
      Access Request
    {% if process.further_information_requests.open() %}
      <br />
      Further Information Requested
    {% endif %}
    {% with approval = process.approval_requests.filter(is_active=True) %}
      {% if approval and request.user.has_perm("web.reference_data_access") %}
        <br />
        Approval Requested
      {% endif %}
    {% endwith %}
  </td>
  <td>
    {# NOTE: process.tasks has been filtered by is_active=True already #}
    {% for task in process.tasks.all() %}
      {% if request.user.has_perm("web.reference_data_access") %}
        {% include 'web/domains/workbasket/partials/workbasket-item.html' %}
      {% endif %}

      {% if task.owner == request.user %}
        {% include 'web/domains/workbasket/partials/workbasket-item-user.html' %}
      {% endif %}

    {% endfor %}
  </td>
</tr>
