<!-- TODO: ICMSLST-702 adapt to new workbasket-->
<tr>
  <td>
    {{process.id}}
  </td>
  <td>
    {# TODO: do something better (process.get_summary()?) #}
    {{process.process_type}}
  </td>
  <td>
    {{process.access_request.submitted_by}} ({{process.access_request.submitted_by.email}})
    <br />
    {{process.access_request.organisation_name}}
    <br/>
    {{process.access_request.organisation_address}}
  </td>
  <td>
    {{process.status}}
    <br>
    {{process.created.strftime('%d-%b-%Y %H:%M:%S')}}
  </td>
  <td>
    Approval Request
  </td>
  <td>
    {% for task in process.tasks.all() %}
      {% include 'web/domains/workbasket/partials/workbasket-item-user.html' %}
    {% endfor %}
  </td>
</tr>
