{% if process.process_type == "ImporterAccessRequest" %}
  <a href="{{ icms_url('access:case-view', args=[process.pk, 'importer']) }}">View</a>
  {% for fir in process.further_information_requests.open() %}
    <br/>
    <a href="{{ icms_url('access:respond-fir', args=[process.pk, fir.pk]) }}">
      Respond FIR
    </a>
  {% endfor %}

{% elif process.process_type == "ExporterAccessRequest" %}
  <a href="{{ icms_url('access:case-view', args=[process.pk, 'exporter']) }}">View</a>
  {% for fir in process.further_information_requests.open() %}
    <br/>
    <a href="{{ icms_url('access:respond-fir', args=[process.pk, fir.pk]) }}">
      Respond FIR
    </a>
  {% endfor %}

{% elif process.process_type == "ImporterApprovalRequest" %}
  {% if not process.requested_from %}
    <form method="post" action="{{ icms_url('access:case-approval-take-ownership', args=[process.pk, 'importer']) }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <button type="submit" class="button link-button-no-padding">Take Ownership</button>
    </form>
  {% else %}
    <a href="{{ icms_url('access:case-approval-respond', args=[process.access_request.importeraccessrequest.pk, 'importer', object.pk]) }}">Manage</a>
  {% endif %}

{% elif process.process_type == "ExporterApprovalRequest" %}
  {% if not process.requested_from %}
    <form method="post" action="{{ icms_url('access:case-approval-take-ownership', args=[process.pk, 'exporter']) }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <button type="submit" class="button link-button-no-padding">Take Ownership</button>
    </form>
  {% else %}
    <a href="{{ icms_url('access:case-approval-respond', args=[process.access_request.exporteraccessrequest.pk, 'exporter', process.pk]) }}">Manage</a>
  {% endif %}

{% elif process.process_type in ["OpenIndividualLicenceApplication", "WoodQuotaApplication", "SanctionsAndAdhocApplication"] %}
  {% if process.status == "SUBMITTED" %}
    <a href="{{ icms_url('import:view-case', args=[process.pk]) }}">View</a>
    <br/>
    <a href="{{ icms_url('import:withdraw-case', args=[process.pk]) }}">Withdraw</a>
    <br />
    {% for fir in process.further_information_requests.open() %}
      <br/>
      <a href="{{ icms_url('import:respond-fir', args=[process.pk, fir.pk]) }}">
        Respond FIR
      </a>
    {% endfor %}
  {% elif process.status == "WITHDRAWN" %}
    <a href="{{ icms_url('import:view-case', args=[process.pk]) }}">View</a>
    <br/>
    <a href="{{ icms_url('import:withdraw-case', args=[process.pk]) }}">Pending Withdrawal</a>
  {% elif process.status == "IN_PROGRESS" %}
    <a href="{{ icms_url('import:firearms:edit-oil', args=[process.pk]) }}">Resume</a>
  {% endif %}
{% endif %}
