{% if process.process_type == "CertificateOfManufactureApplication" and process.status == "SUBMITTED" and request.user.is_export_case_officer() %}
  {% if not process.case_owner %}
    <form method="post" action="{{ url('export:case-take-ownership', args=[process.pk]) }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <button type="submit" class="button link-button-no-padding">Take Ownership</button>
    </form>
  {% elif process.case_owner == request.user %}
    <a href="{{ url('export:case-management', args=[process.pk]) }}">Manage</a>
  {% endif %}

{% elif process.process_type == "OpenIndividualLicenceApplication" %}
  {# TODO implement take ownership and manage #}
  {% if not process.case_owner %}
    <form method="post" action="#">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <button type="submit" class="button link-button-no-padding">Take Ownership</button>
    </form>
  {% elif process.case_owner == request.user %}
    <a href="#">Manage</a>
  {% endif %}

{% elif process.process_type == "ExporterAccessRequest" %}
  {% if request.user.has_perm("web.reference_data_access") %}
    <a href="{{ url('access:case-management', args=[process.pk, 'exporter']) }}">Manage</a>
  {% endif %}

{% elif process.process_type == "ImporterAccessRequest" %}
  {% if request.user.has_perm("web.reference_data_access") %}
    <a href="{{ url('access:case-management', args=[process.pk, 'importer']) }}">Manage</a>
  {% endif %}
{% endif %}
