{% if process.process_type == "ImporterAccessRequest" %}
  <a href="{{ url('access:case-view', args=[process.pk, 'importer']) }}">View</a>
  {% for fir in process.further_information_requests.open() %}
    <br/>
    <a href="{{ url('access:case-fir-respond', args=[process.pk, 'importer', fir.pk]) }}">
      Respond FIR
    </a>
  {% endfor %}
{% elif process.process_type == "ExporterAccessRequest" %}
  <a href="{{ url('access:case-view', args=[process.pk, 'exporter']) }}">View</a>
  {% for fir in process.further_information_requests.open() %}
    <br/>
    <a href="{{ url('access:case-fir-respond', args=[process.pk, 'exporter', fir.pk]) }}">
      Respond FIR
    </a>
  {% endfor %}
{% endif %}
