{% if process.process_type == "ImporterAccessRequest" %}
  <a href="{{ url('access:case-view', args=[process.pk, 'importer']) }}">View</a>
  {% for fir in process.further_information_requests.open() %}
    <br/>
    <a href="{{ url('access:case-fir-respond', args=[process.pk, 'importer', fir.pk]) }}">
      Respond FIR
    </a>
  {% endfor %}

{% elif process.process_type == "ExporterAccessRequest" %}
  <a href="{{ url('access:case-view', args=[process.pk, 'exporter']) }}">View</a>
  {% for fir in process.further_information_requests.open() %}
    <br/>
    <a href="{{ url('access:case-fir-respond', args=[process.pk, 'exporter', fir.pk]) }}">
      Respond FIR
    </a>
  {% endfor %}

{% elif process.process_type == "ImporterApprovalRequest" %}
  {% if not process.requested_from %}
    <form method="post" action="{{ url('access:case-approval-take-ownership', args=[process.pk, 'importer']) }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <button type="submit" class="button link-button-no-padding">Take Ownership</button>
    </form>
  {% else %}
    <a href="{{ url('access:case-approval-respond', args=[process.access_request.importeraccessrequest.pk, 'importer', object.pk]) }}">Manage</a>
  {% endif %}

{% elif process.process_type == "ExporterApprovalRequest" %}
  {% if not process.requested_from %}
    <form method="post" action="{{ url('access:case-approval-take-ownership', args=[process.pk, 'exporter']) }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      <button type="submit" class="button link-button-no-padding">Take Ownership</button>
    </form>
  {% else %}
    <a href="{{ url('access:case-approval-respond', args=[process.access_request.exporteraccessrequest.pk, 'exporter', process.pk]) }}">Manage</a>
  {% endif %}

{% elif process.process_type == "OpenIndividualLicenceApplication" %}
  {# TODO implement view/Withdraw application #}
  <a href="#">View</a>
  <br/>
  <a href="#">Withdraw</a>
{% endif %}
