{% if process.process_type in [
    "OpenIndividualLicenceApplication",
    "WoodQuotaApplication",
    "SanctionsAndAdhocApplication",
    "DerogationsApplication",
    "CertificateOfManufactureApplication",
    ] %}
  {% if process.status in ["SUBMITTED", "WITHDRAWN"] %}
    {% if not process.case_owner %}
      <form method="post" action="{{ icms_url(case_type + ':take-ownership', args=[process.pk]) }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <button type="submit" class="button link-button-no-padding">Take Ownership</button>
      </form>
      {# TODO: FIX in ICMSLST-669 #}
      <a href="{{ icms_url('import:view-case', args=[process.pk]) }}">View</a>
    {% elif process.case_owner == request.user and task.task_type == "process" %}
      <a href="{{ icms_url(case_type + ':case-management', args=[process.pk]) }}">Manage</a>
    {% else %}
      {# TODO: FIX in ICMSLST-669 #}
      <a href="{{ icms_url('import:view-case', args=[process.pk]) }}">View</a>
    {% endif %}
  {% elif process.status == "PROCESSING" %}
    <a href="#TODO">Authorise Documents</a>
    <form method="post" action="{{ icms_url(case_type + ':cancel-authorisation', args=[process.pk]) }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
      <button type="submit" class="button link-button-no-padding">Cancel Authorisation</button>
    </form>
    {# TODO: FIX in ICMSLST-669 #}
    <a href="{{ icms_url('import:view-case', args=[process.pk]) }}">View</a>
  {% endif %}

{% elif process.process_type == "ExporterAccessRequest" %}
  {% if request.user.has_perm("web.reference_data_access") %}
    <a href="{{ icms_url('access:case-management', args=[process.pk, 'exporter']) }}">Manage</a>
  {% endif %}

{% elif process.process_type == "ImporterAccessRequest" %}
  {% if request.user.has_perm("web.reference_data_access") %}
    <a href="{{ icms_url('access:case-management', args=[process.pk, 'importer']) }}">Manage</a>
  {% endif %}
{% endif %}
