{% for agent in agent_list %}
    <tr>
        <td>
            <span class="text-widget ">
              {% if is_importer is defined and is_importer %}
                {% if read_only is defined and read_only %}
                    {{ agent.display_name }}
                {% else %}
                  <a href="{{ icms_url(agent_edit_url_name, args=[agent.id]) }}">
                    {{ agent.display_name }}
                  </a>
                {% endif %}
              {% else %}
                {% if read_only is defined and read_only %}
                    {{ agent.name }}
                {% else %}
                  <a href="{{ icms_url(agent_edit_url_name, args=[agent.id]) }}">
                    {{ agent.name }}
                  </a>
                {% endif %}
              {% endif %}
              {% if is_importer is defined and is_importer and agent.entity_type %}
                  <br>{{ agent.entity_type }}
              {% endif %}
            </span>
        </td>
        {% if is_importer is defined and is_importer %}
          <td>
              <span class="text-widget ">Care Of Importer</span>
          </td>
        {% endif %}
        <td>
            <span class="text-widget ">
                {# there should only ever be one active office for an agent #}
                {% with office = agent.offices.filter(is_active=True).first() %}
                    {{ office|default('', true)|nl2br }}
                {% endwith %}
            </span>
        </td>
        {% if read_only is defined and not read_only  %}
          <td>
            {% if agent.is_active %}
              <a class="button small-button icon-pencil"
                 href="{{ icms_url(agent_edit_url_name, args=[agent.pk]) }}">
                Edit
              </a>
              {% if is_ilb_admin %}
                <form method="post" action="{{ icms_url(agent_archive_url_name, args=[agent.pk]) }}" class="form-inline">
                  {{ csrf_input }}
                  <button type="submit" class="button small-button icon-bin">Archive</button>
                </form>
              {% endif %}
            {% else %}
              {% if is_ilb_admin %}
                <form method="post" action="{{ icms_url(agent_unarchive_url_name, args=[agent.pk]) }}">
                  {{ csrf_input }}
                  <button type="submit" class="button small-button icon-undo">Restore</button>
                </form>
              {% endif %}
            {% endif %}
          </td>
        {% endif %}
    </tr>
{% else %}
    <tr>
        <td colspan="3"><p>There are no agents</p></td>
    </tr>
{% endfor %}
