{% extends "icms/base.html" %}
{% load static %}

{% block title %}{% block page-title %}{% endblock %} - ICMS{% endblock %}

{% block content %}

    <div id="skiplinks">
        <p>Skip To:</p>
        <ul>
            <li><a href="#main">Main content</a></li>
        </ul>
    </div>
    <iframe id="iframe-wrapper" src="javascript:'';" style="border: none; overflow: hidden; visibility: hidden; display: none;">&nbsp;</iframe>
    <!-- <form method="post" name="mainForm" action="/icmsfox5uat/fox/icms/" onSubmit="javascript: return false;" accept-charset="UTF-8"><input type="hidden" name="thread_id" id="thread_id" value="13bvspn8rni9l8pqgb5j1314bsr5rnjfrcqo4ep1itdhoeku7tu7hqlesiu0jf653llpthinlum9vthfqop2k68fi50k4nq9v477" /> -->

      <!-- <div class="environment-uat" id="environment-indicator"> -->
      <!-- UAT -->
      <!-- </div> -->

        <div id="wrapper">
            <header id="menu-bar">
                <h1>
                    <img alt="Department of International Trade" src="{% static 'icms/img/dit-horizontal-white-logo.png' %}">
                </h1>
                <input type="checkbox" id="top-nav-toggle">
                <label for="top-nav-toggle" id="top-nav-toggle-label" class="icon-menu">
                    <span class="screen-reader-only">Show menu</span>
                </label>

                <ul class="dropdown-menu" id="top-menu">

                  <!-- <li class="top-menu-dropdown"> -->
                  <!-- <a class="dropdown-label" href="#">Admin</a> -->
                  <!-- <ul class="menu-out flow-down top-menu-subcategory-list"> -->
                  <!-- <li class="top-menu-subcategory"> -->
                  <!-- <ul class="top-menu-subcategory-actions"> -->
                  <!-- <li class="top-menu-subcategory-action"> -->
                  <!-- <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-navbar&quot;,&quot;ctxt&quot;:&quot;4B0CD9E04A54A5C9AEDADF06D92F562A&quot;}, this);">Portal Dashboard</a> -->
                  <!-- </li> -->
                  <!-- </ul> -->
                  <!-- </li> -->
                  <!-- </ul> -->
                  <!-- </li> -->

                    <li class="icon-user" id="user-info">

                        <a class="dropdown-label" href="#">{{request.user.title}} {{request.user.first_name}} {{request.user.last_name}}</a>
                        <ul class="menu-out flow-down top-menu-subcategory-list">

                            <li>
                                <ul class="menu-out">
                                    <li> <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-edit-user-details&quot;,&quot;ctxt&quot;:&quot;s7we5q_plretrQph&quot;}, this);">My details</a></li>
                                    <li> <a href="{% url 'logout' %}">Log out</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                </ul>

            </header>
            <div class="" id="context-header">
                <h2>
                    {% block context-header %} {% endblock %}
                </h2>

            </div>
            <main class="clearfix">

              <a id="main" class="skipTarget" tabindex="-1">Main content</a></li>
            {% block main-content %} {% endblock %}

            </main>
            <footer> </footer>
        </div>
        <!-- <script src="{% static 'icms/js/fox_default_layout.js' %}" type="text/javascript"></script> -->
    </form>

{% endblock %}
