{% extends "icms/public/base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block main-content %}

<div id="header">
    <h1> Set password </h1>
    <p class="subheading">Import Case Management System</p>
</div>
<div class="clearBoth"> </div>
<p>Thank you for registering, {{user.first_name}}. We've sent you an email with a temporary password. Once you've received this email you can activate your account by setting a new password below.</p>
<p>If you don't want to activate your account yet, you can close this page. When you next log in with your temporary password, you'll be asked to set your new password.</p>
<div class="info-box info-box-info">
    <p>Passwords are case sensitive. They must be at least 8 characters long and contain at least one number. You can't reuse a password you've used before.</p>
</div>
<div class="container setoutForm" data-xfid="f8">

    <form method="post" name="changePasswordForm" action="{% url 'change_password' %}" autocomplete="off" accept-charset="UTF-8" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="four columns">
                <label for="{{ field.id_for_label }}" class="prompt west">
                    {{field.label}}
                </label>
            </div>
            <div class="four columns {% if field.errors %}input-error{% endif %}">
                <!-- <input id="{{ field.id_for_label}}" name="{{ field.html_name}}" type="{{field.field.widget.input_type}}" value="" size="80" aria-required="{{field.field.required|lower}}" /> -->
                {{ field }}
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="error-message">{{error}}</div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="four columns"></div>
        </div>
        {% endfor %}

        <div class="row">
            <div class="four columns"></div>
            <div class="four columns" data-xfid="g14">
                <ul class="menu-out flow-across">
                    <li> <button id="g15" name="g15" type="submit" class="primary-button button">
                            Set password </button></li>
                </ul>
            </div>
            <div class="four columns"></div>
        </div>
    </form>
</div>

{% endblock %}
