{% extends "email/base.html" %}

{% block message %}
  {# TODO ICMSLST-2040 Licence extension flag to be investigated #}
  {% if is_extension %}
    <p>
      The requested extension to case reference {{ case_reference }} has been approved.
      The licence will be available for use for a further four months from the original expiry date.
    </p>
  {% elif is_variation %}
    <p>The requested variation on case reference {{ case_reference }} has been approved by ILB.</p>
  {% else %}
    <p>Your application, case reference {{ case_reference }}, has been approved by ILB.</p>
  {% endif %}

  {# TODO ICMSLST-697 Add url for digital signature guidance message #}
  <p>
    You will be receiving documents through ICMS which will be digitally signed.
    If you see a ''validity unknown'' message on the document please follow the steps listed in the
    <a href="#">Validating Digital Signatures Guidance</a> to resolve the problem.
  </p>
{% endblock %}
