<a href="#" class="fileUploadLink uploadControl" aria-label=": Upload New File">
    Upload New File
</a>

<input type="file" tabindex="-1" class="uploadControl fileUploadInput">

<div class="input-group-addon hint-addon" style="display: inline-block;">
    <div aria-describedby="hint95-content" class="hint icon-info tooltipstered"></div>
    <div id="hint95-content" role="tooltip" class="hint-content">The
        following file extensions are not allowed: bat, bin, com, dll, exe, htm, html, msc,
        msi, msp, ocx, scr, wsc, wsf, wsh</div>
</div>
