<h3>Contacts</h3>

{% if not object.is_agent() %}
  <div class="info-box info-box-info"><div class="screen-reader-only">Information box,</div>
  <p>Individuals who work for agents must not be added to the main contacts and must be added to the associated agent record instead.</p>
  <p>If no agent record exists then the agent must register and submit an agent access request.</p>
  </div>
{% endif %}

<div id="team-members" class="tab-content big-tabs" aria-hidden="false">
  {% if not contacts %}
    <div class="info-box info-box-info">There are no contacts attached</div>
  {% else %}
    <table class="setoutList">
      <thead>
      <tr>
        <th>Central Contact Details</th>

        {% for (permission, header_label) in object_permissions %}
          <th>
            <div class="individual-input input-group">
              <div class="eleven-column-input">
                <span class="text-widget tight-field">{{ header_label }}</span>
                <span class="helptext" style="display:block; margin: 0;">{{ permission.label }}</span>
              </div>
            </div>
          </th>
        {% endfor %}

        {% if can_manage_contacts %}
          <th>Actions</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>

      {# Get the correct url to route to when editing user permissions #}
      {% set edit_user_org_perms = "edit-user-importer-permissions" if org_type == "importer" else "edit-user-exporter-permissions" %}

      {% for user in contacts %}
        {% set user_obj_perms_checker = get_user_obj_perms(user) %}

        <tr>
          <td style="white-space: nowrap">
            <div class="container setoutForm">
              <div class="row">
                <div class="twelve columns bold"><span class="text-widget ">{{ user }}</span></div>
              </div>
              <div class="row">
                <div class="twelve columns">
                <span class="text-widget ">{{ user.email or 'email' }}
                  <br/> {{ user.organisation or 'organisation' }}
                  <br/> {{ user.department or 'department' }}
                  <br/> {{ user.job_title or 'job_title' }}
                  <br> {{ user.phone_numbers.first() or 'phone_number' }}
                </span>
                </div>
              </div>
            </div>
          </td>

          {% for (permission, _) in object_permissions %}
            <td>
              <div class="individual-input">
                <div class="container" role="group" aria-labelledby="pg259">
                  {{ ("&#9989;" if user_obj_perms_checker.has_perm(permission, object) else "&#10060;")|safe }}
                </div>
              </div>
            </td>
          {% endfor %}

          {% if can_manage_contacts %}
            <td>
              <div class="row">
                <div class="twelve columns">
                  <a
                    href="{{ icms_url(edit_user_org_perms, kwargs={'org_pk': object.pk, 'user_pk': user.pk}) }}"
                    class="button small-button icon-pencil">
                    Edit
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="twelve columns">
                  <form method="post" action="{{ icms_url('contacts:delete', kwargs={'org_type': org_type, 'org_pk': object.pk, 'contact_pk': user.pk}) }}">
                    {{ csrf_input }}
                    <button type="submit" class="button small-button icon-bin">Delete</button>
                  </form>
                </div>
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}

      </tbody>
    </table>

  {% endif %}
  {% if not read_only and can_manage_contacts %}
    <form method="post" action="{{ icms_url('contacts:add', kwargs={'org_type': org_type, 'org_pk': object.pk}) }}">
      {{ csrf_input }}
      <div class="container setoutForm">
        <div class="row">
          <div class="four columns">
            {{ contact_form.as_p() }}
          </div>
          <div class="two columns">
            <button type="submit" class="button small-button icon-add">Add contact</button>
          </div>
          <div class="six columns"></div>
        </div>
      </div>
    </form>
  {% endif %}
</div>
