{% extends "layout/no-sidebar.html" %}
{% import "forms/form.html" as forms %}
{% import "forms/list.html" as lists %}

{% block page_title %}Portal Dashboard{% endblock %}

{% block context_header %}Portal Dashboard{% endblock %}

{% block main_content %}

<ul class="tabs">

    <li class="current-tab">

        <a href="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-DASH001X-navigate-to-tab&quot;,&quot;ctxt&quot;:&quot;sO4Ad_plrnqWp1W&quot;}, this);">Outbound Emails</a>

    </li>

</ul>
<div class="section-break"></div>

{% call forms.filter(filter, filters=['to_name','to_email','subject']) -%}
    <div class="row">
        {{forms.label(filter.form.sent_from, opts=filter.config)}}
        <div class="six columns" >
            <div class="container cellmates">
                <div class="row">
                    {{forms.input(filter.form.sent_from, opts=dict_merge(filter.config,{'input':{'cols':'three'}}))}}
                    <div class="one columns">
                        <label id="pg30" for="g30" class="prompt west">To
                        </label>
                    </div>
                    {{forms.input(filter.form.to, opts=filter.config)}}
                    <div class="five columns"></div>
                </div>
            </div>
        </div>
        <div class="three columns"></div>
    </div>
    {{forms.field(filter.form.status, opts=filter.config)}}
{%- endcall %}


<div class="list-actions">
    <ul class="menu-out small-menu-out flow-across">
        <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-select-all&quot;,&quot;ctxt&quot;:&quot;sO568_plrnqWp1W&quot;}, this);" class="icon-checkbox-checked button">
                Select All </button></li>
        <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-select-none&quot;,&quot;ctxt&quot;:&quot;sO568_plrnqWp1W&quot;}, this);" class="icon-checkbox-unchecked button">
                Select None </button></li>
        <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-resend&quot;,&quot;ctxt&quot;:&quot;sO568_plrnqWp1W&quot;}, this);" class="icon-mail2 button">
                Resend Selected </button></li>
        <li> <button type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-update-resend&quot;,&quot;ctxt&quot;:&quot;sO568_plrnqWp1W&quot;}, this);" class="icon-pencil button">
                Update Recipient and Resend Selected </button></li>
    </ul>
</div>


{% set actions %}
<div class="container setoutForm" >
    <div class="row">
        <div class="twelve columns" > <a href="">View</a></div>
    </div>
    <div class="row">
        <div class="twelve columns" > <a href="">View Body</a></div>
    </div>
</div>
{% endset %}
{{lists.filter_results(filter, actions=actions)}}

<div class="content-actions"></div>

{% endblock %}
