<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Permission Test Harness</title>
</head>
<body>

{% macro _object_permissions(checker, obj, perms) %}
  <p style="font-weight: bold">Object permissions - {{ obj }}</p>
  <ul>
    {% for perm in perms %}
      <li>{{ perm }}: {{ checker.has_perm(perm, obj) }}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro importer_object_permissions(obj_perm_checker, imp) %}
  {% set perms = ["web.is_contact_of_importer", "web.is_agent_of_importer"] %}
  {{ _object_permissions(obj_perm_checker, imp, perms) }}
{% endmacro %}

{% macro exporter_object_permissions(obj_perm_checker, exp) %}
  {% set perms = ["web.is_contact_of_exporter", "web.is_agent_of_exporter"] %}
  {{ _object_permissions(obj_perm_checker, exp, perms) }}
{% endmacro %}

<h1>Permission Test Harness</h1>

<hr>
<h2>System permissions (Django) for request user {{ request.user }}</h2>
<ul>
  {% for perm in ["web.importer_access", "web.exporter_access", "web.ilb_admin", "web.mailshot_access"] %}
    <li>{{ perm }} in user system perms: {{ perm in perms }}</li>
  {% endfor %}
</ul>
<br>

<hr>
<h2>Object permissions (Django Guardian) for request user {{ request.user }}</h2>

{% for importer in importers %}
  {{ importer_object_permissions(user_obj_perms, importer) }}
{% endfor %}

{% for exporter in exporters %}
  {{ exporter_object_permissions(user_obj_perms, exporter) }}
{% endfor %}

{% for user in users %}
  {% set user_obj_perms_checker = get_user_obj_perms(user) %}
  <hr>
  <h2>Object permissions for user {{ user.full_name }}</h2>
  {% for importer in importers %}
    {{ importer_object_permissions(user_obj_perms_checker, importer) }}
  {% endfor %}

  {% for exporter in exporters %}
    {{ exporter_object_permissions(user_obj_perms_checker, exporter) }}
  {% endfor %}
{% endfor %}

</body>
</html>
