{% with process=process.approval_request %}
  {% include "web/domains/case/access/partials/process.html" %}
{% endwith %}
{% set approval_request=process.approval_request %}
{% set type=process.approval_request.access_request.requester_type %}

<h4>
  {{type}} Approval Request
</h4>

<div class="container" >

  <div class="row">
    <div class="three columns">
      <label>Status</label>
    </div>
    <div class="six columns">
      <div class="status {{process.status|lower}}">
        <div><span class="text-widget ">{{ process.status}}</span></div>
      </div>
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns" >
      <label class="prompt west">Sent By</label>
    </div>
    <div class="three columns" >
      <span class="text-widget ">{{ approval_request.requested_by }}</span>
    </div>
    <div class="three columns" >
      <label>Approval Request Date</label>
    </div>
    <div class="three columns" >
      <span>{{ approval_request.request_date}}</span>
    </div>
  </div>

  <div class="row">
    <div class="three columns" >
      <label class="capitalize">{{type}} Contact</label>
    </div>
    <div class="six columns" >
      <span>{{ approval_request.requested_from or 'All' }}</span>
    </div>
    <div class="three columns"></div>
  </div>
</div>

