{% import "messages/message.html" as message %}
{% macro filter_results(
    filter,
    actions=None,
    csrf_input=None,
    hide_empty_message=False,
    empty_message="There aren't any records that match your search") -%}


    {% set qs=filter.qs %}  {# avoid reading qs multiple times as it will query the db earch time #}

    {% set count =  qs.count() %}

    {% if count > 0 %}
    {% set conf=qs.model.Display %}
    {% set has_actions = conf.edit or conf.view or conf.archive %}
    <table responsiveList class="setoutList">
        <thead>
            <tr>
                {% if conf.select %}
                    <th scope="col">Select</th>
                {% endif %}
                {% for header in conf.labels %}
                    <th scope="col">
                        {% set tooltip = conf.help_texts and conf.help_texts[header] %}
                        {% set header_id = (header|replace(" ","-")) %}
                        {{header}}
                        {% if tooltip %}
                        <div id="hint{{header_id}}-content"  class="hint-content" role="tooltup" aria-hidden="true">
                            {{tooltip}}
                        </div>
                        <div id="hint{{header_id}}" aria_describedby="hint{{header_id}}-content" class="hint icon-info tooltipstered"></div>
                        {% endif %}

                    </th>
                {% endfor %}
                {% if has_actions %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>
        {% for item in qs %}
        <tr>
            {% if conf.select %}
                <td>
                    <label for="id_select_item" class="radio-label">
                        <input name="selected_items" type="checkbox" class="item_selector" value="{{item.id}}"/>
                    </label>
                </td>
            {% endif %}
            {% for field in conf.display %}
                <td>
                {% if field is not string %}
                    {% for f in field  %}
                        {% if loop.first and conf.view %}
                            <a href="{{item.id}}">{{item[f] or ''}}</a>
                        {% else %}
                            {{item[f] or ''}}
                        {% endif %}
                        <br/>
                    {% endfor %}
                {% else %}
                        {% if loop.first and conf.view %}
                            <a href="{{item.id}}">{{item[field]}}</a>
                        {% else %}
                            {{item[field]}}
                        {% endif %}
                {% endif %}
                {% if loop.first %}
                    {% if conf.archive and  not item.is_active %}
                        <br/>
                        <span class="text-widget" style="font-weight:bold">(ARCHIVED)</span>
                    {% endif %}
                {% else %}
                {% endif %}
                </td>
            {% endfor %}
            {% if has_actions %}
                <td data-title="Actions">
                    <ul class="menu-out grouped flow-across">
                            {% if conf.edit %}
                                <li>
                                    <a href="{{item.id}}/edit/"
                                    class="link-button icon-pencil button no-prompt-action tooltipstered"
                                    aria-describedby="edit-hint"
                                    aria-label="Edit">
                                    </a>
                                    <div id="edit-hint" role="tooltip" class="hint-content" aria-hidden="true">Edit</div>
                                </li>
                            {% endif %}
                            {% if conf.sort and not loop.first %}
                                <li>
                                    <form method="post" action="">
                                        <button type="submit"
                                                name="action"
                                                value="move_up"
                                                class="link-button icon-arrow-up2 button no-prompt-action tooltipstered"
                                                aria-describedby="move-up-hint"
                                                aria-label="Move Up">
                                            {{csrf_input}}
                                            <input type="hidden" name="item" value="{{item.id}}" />
                                            <input type="hidden" name="prev_item" value="{{loop.previtem.id}}" />
                                        </button>
                                        <div id="move-up-hint" role="tooltip" class="hint-content">Move Up</div>
                                    </form>
                                </li>
                            {% endif %}
                            {% if conf.sort and not loop.last %}
                                <li>
                                    <form method="post" action="">
                                        <button type="submit"
                                                name="action"
                                                value="move_down"
                                                class="link-button icon-arrow-down2 button no-prompt-action tooltipstered"
                                                aria-describedby="move-down-hint"
                                                aria-label="Move Down">
                                            {{csrf_input}}
                                            <input type="hidden" name="item" value="{{item.id}}" />
                                            <input type="hidden" name="next_item" value="{{loop.nextitem.id}}" />
                                        </button>
                                        <div id="move-down-hint" role="tooltip" class="hint-content">Move Down</div>
                                    </form>
                                </li>
                            {% endif %}
                            {% if item.is_active %}
                            {% if conf.archive %}
                                <li>
                                    <form method="post" action="">
                                        <button type="submit"
                                                name="action"
                                                value="archive"
                                                class="link-button icon-bin button no-prompt-action tooltipstered"
                                                aria-describedby="archive-hint"
                                                aria-label="Archive">
                                            {{csrf_input}}
                                            <input type="hidden" name="item" value="{{item.id}}" />
                                        </button>
                                        <div id="archive-hint" role="tooltip" class="hint-content">Archive</div>
                                    </form>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if conf.archive %}
                                <li>
                                    <form method="post" action="">
                                        <button type="submit"
                                                name="action"
                                                value="unarchive"
                                                class="link-button icon-undo2 button no-prompt-action tooltipstered"
                                                aria-describedby="unarchive-hint"
                                                aria-label="Unarchive">
                                            {{csrf_input}}
                                            <input type="hidden" name="item" value="{{item.id}}" />
                                        </button>
                                        <div id="unarchive-hint" role="tooltip" class="hint-content">Unarchive</div>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <div class="result-count">
        {{count}} {{qs.model.__name__|lower}}{%if count > 1 %}s{% endif %} found
    </div>
    {% else %}    {# count=0, no results #}
        {% if not hide_empty_message %}
            {{message.warning(empty_message)}}
        {% endif %}
    {% endif %}

{%- endmacro %}
