{% extends "model/edit.html" %}

{% import "forms/fields.html" as fields %}

{% block actions %}
<li>
  <button type="submit" data-confirm="Are you sure you want to publish this mailshot?" class="primary-button button">
    Publish
  </button>
</li>
{% if form.instance.status == 'DRAFT' %}
<li>
  <button type="submit" name='action' value='save_draft' class="secondary-button button">
    Save Draft
  </button>
</li>
<li>
  <button type="submit" data-confirm="Are you sure you want to cancel this mailshot?" name='action' value='cancel' class="secondary-button button">
    Cancel Draft
  </button>
</li>
{% endif %}
{% endblock %}
