{% extends "web/domains/case/import/fa-oil/certificates/create.html" %}


{% block main_content %}

  <div class="row">
    <div class="three columns">
      <label class="prompt west">Filename</label>
    </div>
    <div class="six columns">
      <p>{{ form.instance.filename }}</p>
    </div>
    <div class="three columns"></div>
  </div>

   {% call forms.form(action='', method='post', csrf_input=csrf_input, enctype='multipart/form-data') -%}
    {% for field in form %}
      {% if field.name != "document" %}
        {{fields.field(field)}}
      {% endif %}
    {% endfor %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input type="submit" name="action" class="primary-button button" value="Save" />
            </li>
          </ul>
        </div>
      </div>
    </div>

  {%- endcall %}
{% endblock %}
