{% extends "web/domains/case/applicant-base.html" %}


{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url(process.get_edit_view_name(), kwargs={'application_pk': process.pk}) }}"
           class="prev-link">
          Main Application
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% include "partial/case/save-info-box.html" %}
  <h4>Certificates/Documents</h4>
  {% include "partial/certificates/list-verified.html" %}

  <h6>Other Certificates</h6>
  {% include "partial/certificates/list.html" %}

  {# Application specific certificates #}
  {% if process.process_type == "SILApplication" and process.section5 %}
      <h4>Section 5 Authorities</h4>
      {% with read_only = False %}
        {% include "web/domains/case/import/partials/fa-sil/verified-section5-authorities.html" %}
      {% endwith %}

      <p class="bold">Please upload any Section 5 Authority Document(s) below</p>
      {% with read_only = False %}
        {% include "web/domains/case/import/partials/fa-sil/user-section5-authorities.html" %}
      {% endwith %}
  {% endif %}
{% endblock %}
