{% extends "flow/task-base.html" %}


{% block content_actions %}
<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
        <a href="{{ icms_url(process.get_edit_view_name(), kwargs={'application_pk': process.pk}) }}"
          class="prev-link">
          Main Application
        </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
  <h3>Certificates/Documents</h3>
  {% include "partial/certificates/list-verified.html" %}

  <h3>Other Certificates</h3>
  {% include "partial/certificates/list.html" %}
{% endblock %}
