{% macro tab_group(name) -%}
{% set tab_context=namespace(tabs=[]) %}
<ul class="tabs -tabs " data-tab-group="{{name}}" role="tablist">
    {% for tab in tab_context.tabs %}
      <li id="{{name}}_{{key}}" 
        class="{{tab_class}}" 
        aria-selected="{{tab_selected}}" 
        data-tab-key="{{key}}" 
        role="tab" 
        aria-hidden="{{!tab_selected}}"
        aria-controls="{{tab.id}}">
         <a href="">{{tab.title}}</a>
       </li>
    {% endfor %}
 </ul>
{%- endmacro %}

{% macro tab(name, title) -%}

 <div arial-labelledby="{{tab.id}}" class="tab-content" style="" data-tab-group="{{name}}" data-tab-key="CURRENT" aria-hidden="false">
        {% if caller %}{{caller()}}{% endif %}
 </div>
 {%- endmacro %}


