{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('sanction-emails:list') }}" class="prev-link">
          Maintain Sanction Emails
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block sidebar %}
<ul class="menu-out">
    <li>
      <a href="{{ icms_url('sanction-emails:list') }}">
        Manage Sanction Emails
      </a>
    </li>
    <li>
      <a href="{{ icms_url('sanction-emails:create')}}">
        New Sanction Email
      </a>
    </li>
</ul>
{% endblock %}


{% block main_content %}
  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% for field in form %}
      {{ fields.field(field) }}
    {% endfor %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                class="primary-button button"
                value="{% block submit_button %}Create{% endblock %}" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
