<div class="date-input-container" >
  <input
    type="text"
    name="{{ widget.name }}"
    class="date-input"
    {% if widget.required %}
    aria-required="true"
    {% else %}
    aria-required="false"
    {% endif %}
    {% if widget.value != None %}
    value="{{widget.value}}"
    {% endif %}
    {% include "django/forms/widgets/attrs.html" %}>
    {% if not widget.attrs.get('disabled') %}
    <div class="date-icon icon-calendar" id="icon{{widget.attrs.get('id')}}" aria-label="Click here to pop up the date picker"></div>
    {% endif %}
</div>
