{% extends "layout/sidebar.html" %}
{% import "forms/form.html" as forms %}
{% import "forms/list.html" as lists %}

{% block page_title %}Maintain Commodity Groups{% endblock %}
{% block context_header %}Maintain Commodity Groups{% endblock %}

{% block sidebar %}
<ul class="menu-out">
    <li>
        <a href="{{ url('commodity-group-new') }}">New Group</a>
    </li>
</ul>
<ul class="menu-out">
    <li>
        <a href="{{ url('commodity-list') }}">Maintain Commodities</a>
    </li>
</ul>
{% endblock %}

{% block main_content %}

{{forms.filter(filter, filters=filter.filters)}}
{{lists.filter_results(filter, csrf_input=csrf_input, no_results_message="There aren't any commodity groups that match your search")}}

<div class="content-actions"></div>

{% endblock %}
