{% extends "layout/sidebar.html" %}

{% block sidebar %}
{% endblock %}

{% block content_actions %}
  {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
      <div class="info-box info-box-info">
        <p><strong>Not all applications could be displayed.</strong></p>
        <p>Your workbasket returned {{ page_obj.paginator.count }} applications. Only {{ page_obj.paginator.per_page }} applications have been displayed.</p>

        <span class="step-links">
          {% if page_obj.has_previous() %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number() }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next() %}
            <a href="?page={{ page_obj.next_page_number() }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>

      </div>
    </div>
  {% endif %}
{% endblock %}

{% block main_content %}

  <table class="setoutList">
    <thead>
    <tr>
      <th>
        <div class="container"><label>Transaction / Ref</label></div>
      </th>
      <th>
        <div class="container"><label>Subject / Topic</label></div>
      </th>
      <th>
        <div class="container"><label>Company</label></div>
      </th>
      <th>
        <div class="container"><label>Status / Date</label></div>
      </th>
      <th>
        <div class="container">
          <div class="row">
            <div class="six columns break-word">Information</div>
            <div class="six columns">Actions</div>
          </div>
        </div>
      </th>
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
      <tr data-test-id="workbasket-row-{{ row.id }}">
        <td>{{ row.reference }}</td>

        <td>{{ row.subject|nl2br }}</td>

        <td>
          {{ row.company|nl2br }}
          {% if row.company_agent %}
            {{ row.company_agent|nl2br }}
          {% endif %}
        </td>

        <td>
          {{ row.status }}<br>{{ row.timestamp.strftime('%d-%b-%Y %H:%M') }}
        </td>

        <td>
          <div class="container">
            {% for action_block in row.sections %}
              <div class="row">
                {# Information section #}
                <div class="six columns break-word">
                  <div class="individual-input"><span class="text-widget ">{{ action_block.information|nl2br }}</span></div>
                </div>

                {# Actions section #}
                <div class="six columns">
                  <table class="nestedList setoutList">
                    <thead>
                    <tr>
                      <th scope="col"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for action in action_block.actions %}
                      <tr>
                        <td>
                          {% if action.is_post %}
                            <form method="post" action="{{ action.url }}">
                              {{ csrf_input }}
                              <button type="submit" class="button link-button-no-padding"
                                {% if action.confirm %} data-confirm="{{ action.confirm }}" {% endif %}
                              >
                                {{ action.name }}
                              </button>
                            </form>
                          {% else %}
                            <a href="{{ action.url }}" data-is-ajax="{{ 1 if action.is_ajax else 0 }}">{{ action.name }}</a>
                          {% endif %}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span class="text-widget "></span></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="result-count">
    {{ rows|length }} workbasket items
  </div>

  <div class="content-actions"></div>
{% endblock %}

{% block page_js %}
  {{ super() }}
  <script src="{{ static('web/js/pages/workbasket.js') }}" type="text/javascript"></script>
{% endblock %}
