{% extends "layout/sidebar.html" %}

{% block page_title %}Workbasket{% endblock %}

{% block sidebar %}
    <h4>
        Filter
    </h4>

    <div class="container setoutForm tightForm" >
        <div class="row">
            <div class="twelve columns" ><label id="pg26" for="g26" class="prompt north">Transaction / Ref
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><input   type="text" value="" size="10" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" ><label id="pg27" for="g27" class="prompt north">Subject
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><select   class="tightForm" aria-required="false">
                    <option value="g27/__FX_N" selected="selected">All</option>
                    <option value="g27/0">Account successfully created</option>
                    <option value="g27/1">Certificate Application</option>
                    <option value="g27/2">Exporter Access Request</option>
                    <option value="g27/3">Importer Access Request</option>
                </select></div>
        </div>
        <div class="row">
            <div class="twelve columns" ><label id="pg28" for="g28" class="prompt north">Topic
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><input   type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" ><label id="pg29" for="g29" class="prompt north">Company
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><input   type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" ><label id="pg30" for="g30" class="prompt north">Status
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><input   type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" ><label id="pg31" for="g31" class="prompt north">Information
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><input   type="text" value="" size="8" class="tightForm" aria-required="false" /></div>
        </div>
        <div class="row">
            <div class="twelve columns" ><label id="pg32" for="g32" class="prompt north">Filter Tag
                </label>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" ><select   class="tightForm" aria-required="true">
                    <option value="g32/0">All</option>
                    <option value="g32/1" selected="selected">For Attention</option>
                </select></div>
        </div>
    </div>
    <ul class="menu-out flow-across">
        <li>
            <button role="action-button" type="button" data-action="action-filter-workbasket" class="primary-button small-button button"> Apply Filter </button>
        </li>
        <li>
            <button role="action-button" type="button" data-action="action-reset-filter" class="small-button link-button button"> Clear Filter </button>
        </li>
    </ul>

{% endblock %}

{% block main_content %}

        <div class="list-secondary-actions">
            <ul class="menu-out grouped small-menu-out flow-across">
                <li>
                    <button role="action-button" type="button" data-action="action-sort-wb-asc" class="icon-sort-alpha-asc button no-prompt-action" aria-describedby="hint159-content" aria-label="Sort by selected column, ascending"> </button>
                    <div id="hint159-content" role="tooltip" class="hint-content">Sorts the workbasket by the selected column in ascending order</div>
                </li>
                <li>
                    <button role="action-button" type="button" data-action="action-sort-wb-desc" class="icon-sort-alpha-desc button no-prompt-action" aria-describedby="hint160-content" aria-label="Sort by selected column, descending"> </button>
                    <div id="hint160-content" role="tooltip" class="hint-content">Sorts the workbasket by the selected column in descending order</div>
                </li>
                <li>
                    <button role="action-button" type="button" data-action="action-clear-sort" class="icon-loop2 button no-prompt-action" aria-describedby="hint161-content" aria-label="Clear sorting"> </button>
                    <div id="hint161-content" role="tooltip" class="hint-content">Clear sorting</div>
                </li>
            </ul>
        </div>
        <table class="setoutList">
            <thead>


                <tr>
                    <th>
                        Transaction <label id="pg45/0" for="g45/0" class="radio-label"><input id="g45/0"  value="g45/0" type="radio" /> </label> /
                        Ref
                        <label id="pg47/0" for="g47/0" class="radio-label"><input id="g47/0"  value="g47/0" type="radio" /> </label>
                    </th>
                    <th>
                        Subject <label id="pg48/0" for="g48/0" class="radio-label"><input id="g48/0"  value="g48/0" type="radio" /> </label> /
                        Topic <label id="pg49/0" for="g49/0" class="radio-label"><input id="g49/0"  value="g49/0" type="radio" /> </label>
                    </th>
                    <th>
                        Company <label id="pg50/0" for="g50/0" class="radio-label"><input id="g50/0"  value="g50/0" type="radio" /> </label>
                    </th>
                    <th>
                        Status <label id="pg51/0" for="g51/0" class="radio-label"><input id="g51/0"  value="g51/0" type="radio" /> </label> /
                        Date <label id="pg52/0" for="g52/0" class="radio-label"><input id="g52/0"  value="g52/0" type="radio" /> </label>
                    </th>
                    <th>
                      Information
                    </th>
                    <th>
                      Actions
                    </th>
                </tr>


            </thead>

            {% for row in rows %}
              <tr>
                <td>{{ row.reference }}</td>

                <td>{{ row.subject }}</td>

                <td>{{ row.company }}</td>

                <td>
                  {{ row.status }}
                  <br>
                  {{ row.timestamp.strftime('%d-%b-%Y %H:%M') }}
                </td>

                <td>{{ row.information }}</td>

                <td>
                  {% for action_block in row.actions %}
                    {% for action in action_block %}
                      {% if action.is_post %}
                        <form method="post" action="{{ action.url }}">
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                          <button type="submit" class="button link-button-no-padding">{{ action.name }}</button>
                        </form>
                      {% else %}
                        <a href="{{ action.url }}">{{ action.name }}</a>

                        {% if not loop.last %}
                          <br>
                        {% endif %}
                      {% endif %}

                    {% endfor %}

                    {% if not loop.last %}
                      <hr>
                    {% endif %}
                  {% endfor %}
                  </td>
              </tr>
            {% endfor %}

        </table>

        <div class="result-count">
            {{ rows|length }} workbasket items
        </div>

        <div class="content-actions"></div>

{% endblock %}
