<fieldset>
  <legend class="bold">Email</legend>

  {% if not readonly_view %}
    {% if object.is_draft %}

      <ul class="menu-out flow-across">
        <li>
          <a
            class="button small-button icon-pencil"
            href="{{ icms_url('case:edit-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}) }}">
            Edit
          </a>
        </li>
        <li>
          <form
            method="post"
            action="{{ icms_url('case:archive-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}) }}">
            {{ csrf_input }}
            <button type="submit" class="button small-button icon-bin">
              Delete
            </button>
          </form>
        </li>
      </ul>
    {% else %}
      <a
        class="button small-button icon-pencil"
        href="{{ icms_url('case:add-response-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}) }}">
        Record Response
      </a>
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Status
      </label>
    </div>
    <div class="six columns">
      <div class="status {{ object.status.lower() }}">
        <div>
          <span class="text-widget">{{ object.status }}</span>
        </div>
      </div>
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        To
      </label>
    </div>
    <div class="six columns">
      {{ object.to or '' }}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Cc
      </label>
    </div>
    <div class="six columns">
      {% if object.cc_address_list %}
        {%- for email in object.cc_address_list %}
          {{ email }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Subject
      </label>
    </div>
    <div class="six columns">
      {{ object.subject }}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Attachments
      </label>
    </div>
    <div class="six columns">
      {% with attachments = object.attachments.all() %}
        {% if not attachments %}
          There is no document attached to this email.
        {% else %}
          <table class="setoutList">
            <thead>
              <tr>
                <th>File</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {% for attachment in attachments %}
                <tr>
                  <td>
                    <a
                      href="{{ icms_url('import:sanctions:view-supporting-document', kwargs={'application_pk': process.pk, 'document_pk': attachment.pk}) }}">
                      {{ attachment.filename }}
                    </a>
                    {{ attachment.human_readable_file_size() }}
                  </td>
                  <td>
                    Supporting Document
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endwith %}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Body
      </label>
    </div>
    <div class="six columns">
      {{ object.body|nl2br }}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Sent Date
      </label>
    </div>
    <div class="six columns">
      {% if object.sent_datetime %}
        {{ object.sent_datetime.strftime("%d-%b-%Y") }}
      {% endif %}
    </div>
    <div class="three columns"></div>
  </div>

  {% if object.response %}
    <div class="row">
      <div class="three columns">
        <label class="prompt west">
          Response
        </label>
      </div>
      <div class="six columns">
          {{ object.response|nl2br }}
      </div>
      <div class="three columns"></div>
    </div>
  {% endif %}

  <div class="row">
    <div class="three columns">
      <label class="prompt west">
        Closed Date
      </label>
    </div>
    <div class="six columns">
      {% if object.closed_datetime %}
        {{ object.closed_datetime.strftime("%d-%b-%Y") }}
      {% endif %}
    </div>
    <div class="three columns"></div>
  </div>
</fieldset>
