<fieldset>
  <legend class="bold">Email {{ object.email_num or "" }}</legend>
  {% if not readonly_view %}
    {% if object.is_draft %}

      <ul class="menu-out flow-across">
        <li>
          <a
            class="button small-button icon-pencil"
            href="{{ icms_url('case:edit-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}) }}">
            Edit
          </a>
        </li>
        <li>
          <form
            method="post"
            action="{{ icms_url('case:archive-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}) }}">
            {{ csrf_input }}
            <button type="submit" class="button small-button icon-bin" data-confirm="Are you sure you want to delete this email?">
              Delete
            </button>
          </form>
        </li>
      </ul>
    {% endif %}
  {% endif %}

  <div class="row mt-1">
    <div class="three columns">
      <label class="prompt west">
        Status
      </label>
    </div>
    <div class="six columns">
      <div class="status {{ object.status.lower() }}">
        <div>
          <span class="text-widget">{{ object.status }}</span>
        </div>
      </div>
    </div>
    <div class="three columns"></div>
  </div>

  {% if object.sent_datetime %}
    <div class="row mt-1">
      <div class="three columns">
        <label class="prompt west">
          Sent Date
        </label>
      </div>
      <div class="six columns">
        {{ object.sent_datetime|datetime_format }}
      </div>
      <div class="three columns"></div>
    </div>
  {% endif %}
  {% if object.sent_by %}
    <div class="row mt-1">
      <div class="three columns">
        <label class="prompt west">
          Sent By
        </label>
      </div>
      <div class="six columns">
        {{ object.sent_by.full_name }}
      </div>
      <div class="three columns"></div>
    </div>
  {% endif %}

  <div class="row mt-1">
    <div class="three columns">
      <label class="prompt west">
        To
      </label>
    </div>
    <div class="six columns">
      {{ object.to or '' }}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row mt-1">
    <div class="three columns">
      <label class="prompt west">
        Cc
      </label>
    </div>
    <div class="six columns">
      {% if object.cc_address_list %}
        {%- for email in object.cc_address_list %}
          {{ email }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row mt-1">
    <div class="three columns">
      <label class="prompt west">
        Subject
      </label>
    </div>
    <div class="six columns">
      {{ object.subject }}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row mt-1">
    <div class="three columns">
      <label class="prompt west">
        Attachments
      </label>
    </div>
    <div class="six columns">
      {% with attachments = object.attachments.all() %}
        {% if not attachments %}
          There is no document attached to this email.
        {% else %}

          {% if is_firearms_application %}
            <table class="setoutList">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Title</th>
                  <th>Certificate Reference</th>
                  <th>Certificate Type</th>
                  <th>Issuing Constabulary</th>
                </tr>
              </thead>
              <tbody>
              {% for file in attachments %}
                {% set metadata = file_metadata[file.pk] %}
                <tr>
                  <td>
                    <a href="{{ metadata["url"] }}">{{ file.filename }}</a>
                    <span class="filesize">{{ file.human_readable_file_size() }}</span>
                  </td>
                  <td>{{ metadata["title"] }}</td>
                  <td>{{ metadata["reference"] }}</td>
                  <td>{{ metadata["certificate_type"] }}</td>
                  <td>{{ metadata["issuing_constabulary"] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <table class="setoutList">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                {% for file in attachments %}
                  {% set metadata = file_metadata[file.pk] %}
                  <tr>
                    <td>
                      <a href="{{ metadata["url"] }}">{{ file.filename }}</a>
                      <span class="filesize">{{ file.human_readable_file_size() }}</span>
                    </td>
                    <td>{{ metadata["file_type"] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="three columns"></div>
  </div>

  <div class="row mt-1">
    <div class="three columns">
      <label class="prompt west">
        Body
      </label>
    </div>
    <div class="six columns">
      {{ object.body|nl2br }}
    </div>
    <div class="three columns"></div>
  </div>

  {% if object.response %}
    <div class="row mt-1">
      <div class="three columns">
        <label class="prompt west">
          Response
        </label>
      </div>
      <div class="six columns">
          {{ object.response|nl2br }}
      </div>
      <div class="three columns"></div>
    </div>
    <div class="row mt-1">
      <div class="three columns">
        <label class="prompt west">
          Closed Date
        </label>
      </div>
      <div class="six columns">
        {% if object.closed_datetime %}
          {{ object.closed_datetime|datetime_format }}
        {% endif %}
      </div>
      <div class="three columns"></div>
    </div>
    {% if object.closed_by %}
      <div class="row mt-1">
        <div class="three columns">
          <label class="prompt west">
            Closed By
          </label>
        </div>
        <div class="six columns">
          {{ object.closed_by.full_name }}
        </div>
        <div class="three columns"></div>
      </div>
    {% endif %}
  {% endif %}

  {% if not readonly_view %}
    {% if object.response %}
      <div class="row mt-1">
        <div class="three columns">
        </div>
        <div class="six columns">
          <a
            class="button small-button icon-pencil"
            href="{{ icms_url('case:add-response-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}) }}">
            Edit Response
          </a>
        </div>
        <div class="three columns"></div>
      </div>
    {% endif %}
    {% if object.status == object.Status.OPEN %}
      {% call forms.form(action=icms_url('case:add-response-case-email', kwargs={'application_pk': process.pk, 'case_email_pk': object.pk, 'case_type': case_type}), method='post', csrf_input=csrf_input) -%}
        {% for field in record_response_form %}
          {{ fields.field(field) }}
        {% endfor %}
        <div class="row">
          <div class="three columns"></div>
          <div class="six columns">
            <ul class="menu-out flow-across">
              <li>
                <input
                    type="submit"
                    value="Close"
                    class="primary-button button"
                    data-confirm="Are you sure you want to close this email?"
                />
              </li>
            </ul>
          </div>
          <div class="three columns">
          </div>
        </div>
      {% endcall %}
    {% endif %}
  {% endif %}
</fieldset>
