{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block content_actions_link %}
  <a href="{{ icms_url('case:manage', kwargs={'application_pk': process.pk, 'case_type': 'import'}) }}" class="prev-link">
    Application
  </a>
{% endblock %}

{% block main_content %}
  <h3>Emails</h3>

  {% if info_email %}
  <div class="info-box info-box-info">
    {{ info_email }}
  </div>
  {% endif %}

  {% if not readonly_view %}
    <hr />
    <form
      method="post"
      action="{{ icms_url('case:create-case-email', kwargs={'application_pk': process.pk, 'case_type': case_type}) }}">
      {{ csrf_input }}
      <button type="submit" class="button small-button icon-plus">New Email</button>
    </form>
  {% endif %}

  <hr />

  {% for object in case_emails %}
    {% include 'web/domains/case/manage/case-email-box.html' %}
  {% endfor %}
{% endblock %}
