<h3>Document Packs</h3>
<table class="setoutList">
  <thead>
  <tr>
    <th>Pack Title</th>
    <th>Recipients</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              <a href="{{ icms_url('case:document-packs', kwargs={'application_pk': process.pk, 'case_type': case_type}) }}">
                  {{ process.get_reference() }} Response Documents
              </a>
          </td>
          <td>
              <table class="setoutList nestedList">
                  <tbody>
                      <tr>
                          <td class="bold">Primary Recipients</td>
                          <td>
                            <ul class="menu-out">
                              {% for contact in primary_recipients %}
                                <li>{{ contact.full_name }}</li>
                              {% endfor %}
                            </ul>
                          </td>
                      </tr>
                      {% if copy_recipients %}
                        <tr>
                          <td class="bold">Copy Recipients</td>
                          <td>
                            <ul class="menu-out">
                              {% for contact in copy_recipients %}
                                <li>{{ contact.full_name }}</li>
                              {% endfor %}
                            </ul>
                          </td>
                        </tr>
                      {% endif %}
                      </tr>
                  </tbody>
              </table>
          </td>
      </tr>
  </tbody>
</table>
