{% extends "web/domains/case/manage/base.html" %}


{% block main_content %}
  <h3>Further Information Requests</h3>

  {% if show_firs %}
    {% include "partial/case/firs.html" %}
  {% else %}
    {% if process.process_type == "ExporterAccessRequest" %}
      <div class="info-box info-box-info">
        You must first <a href=" {{ icms_url(case_type + ':case-management', args=[process.pk, 'exporter']) }}">
        link an exporter</a> to the access request if you wish to start exporter access approval.
      </div>
    {% else %}
      <div class="info-box info-box-info">
        You must first <a href=" {{ icms_url(case_type + ':case-management', args=[process.pk, 'importer']) }}">
        link an importer</a> to the access request if you wish to start importer access approval.
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
