{% extends base_template %}


{% block main_content %}
  <h3>Case Notes</h3>
  <div class="info-box info-box-info">
    <p>This screen is used to create case notes that can be seen by all managers
    working on a case. A case note contains free text and any number of uploaded
    documents.</p>
  </div>

  <ul class="tabs -tabs " data-tab-group="tg-notes" role="tablist">
      <li id="tg-notes-CURRENT" class="current-tab" aria-selected="true" data-tab-key="CURRENT" role="tab" aria-controls="tg-notes-CURRENT">
          <a href="javascript:FOXtabs.switchTab('tg-notes', 'CURRENT')">Current</a>
      </li>
      <li id="tg-notes-ARCHIVED" class="disabled-tab" aria-selected="false" data-tab-key="ARCHIVED" role="tab" aria-controls="tg-notes-archived">
          <a href="javascript:FOXtabs.switchTab('tg-notes', 'ARCHIVED')">Deleted</a>
      </li>
  </ul>

  <div class="list-actions">
    <ul class="menu-out flow-across">
      {% if url_namespace == "export" %}
        <form method="post" action="{{ icms_url('export:add-note', args=[process.pk]) }}" class="form-inline">
      {% else %}
        <form method="post" action="{{ icms_url('import:add-note', args=[process.pk]) }}" class="form-inline">
      {% endif %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button type="submit" class="small-button icon-plus">New Case note</button>
      </form>
    </ul>
  </div>

  <div aria-labelledby="notes-current" class="tab-content " style="" data-tab-group="tg-notes" data-tab-key="CURRENT" aria-hidden="false">
    {% for note in notes.active() %}
      {% include 'partial/case/case-note-box.html' %}
    {% endfor %}
  </div>
  <div id="tcs1Kzx6n_plrnqVW43-tg-notesARCHIVED" aria-labelledby="tks1Kzx6n_plrnqVW43-tg-notesARCHIVED" class="tab-content " style="display: none;" data-tab-group="tg-notes" data-tab-key="ARCHIVED" aria-hidden="true">
    {% for note in notes.inactive() %}
      {% include 'partial/case/case-note-box.html' %}
    {% endfor %}
  </div>
{% endblock %}
