{% extends "web/domains/case/manage/base.html" %}
{% import "forms/fields.html" as fields %}
{% import "forms/fieldsets.html" as fieldsets %}
{% import "forms/forms.html" as forms %}


{% block main_content %}
  <h3>Application Updates</h3>
  <div class="info-box info-box-info">
    <p>
      This screen is used to send a request to the applicant for an application update.
    </p>
    <p>
      An email will be sent to the members of the importer/agent team who submitted the application. One of these members will need to log in and supply more details. When they submit their response the case owner will be notified via email.
    </p>
  </div>

  {% if not update_request %}
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
      {% for field in form %}
        {{ fields.field(field) }}
      {% endfor %}

      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              <li>
                <input
                  type="submit"
                  name="action"
                  class="primary-button button"
                  value="Send Request" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endcall %}

  {% else %}
    {% call fieldsets.fieldset("Application Update") %}
      {% include "partial/update-request-info.html" %}
      <div class="row">
        <div class="three columns"></div>
        <div class="six columns">
          <br />
          <form
            method="POST"
            action="{{ icms_url('case:close-update-request', kwargs={'application_pk': process.pk, 'update_request_pk': update_request.pk, 'case_type': case_type}) }}">
            {{ csrf_input }}
            <input type="submit" class="button primary-button" value="Close Request">
          </form>
        </div>
        <div class="three columns"></div>
      </div>
    {% endcall %}

  {% endif %}

  {% for update_request in previous_update_requests %}
    {% call fieldsets.fieldset("Application Update") %}
      {% include "partial/update-request-info.html" %}
    {% endcall %}
  {% endfor %}

{% endblock %}
