{% extends "layout/no-sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block css %}
  {{ form.media.css }}
  {{ super() }}
{% endblock %}

{% block main_content %}
  <h4>Gov.UK One Login test user account setup</h4>
  <br>
  <p>This view can be used to create test accounts for different types of users.</p>
  <div class="info-box info-box-warning">
    <p>Before submitting this form please create an account on Gov.UK One Login and login with your real email address.</p>
  </div>
  <div class="row">
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
      {% for field in form %}
        {{ fields.field(field, label_cols='three', padding='zero', input_cols='six') }}
      {% endfor %}
      {{ forms.form_errors(form) }}
      {{ forms.submit_button(padding_cols="two", btn_label="Submit") }}
    {% endcall %}
  </div>
{% endblock %}

{% block page_js %}
  {{ form.media.js }}
{% endblock %}
