{% extends "layout/no-sidebar.html" %}

{% block main_content %}
  <h4>Main user email:</h4>
  <p class="bold">User: {{ one_login_user.email }}</p>

  <h4>Linked email addresses:</h4>
  <div class="info-box info-box-warning">
    <p>You will still need to create GOV.UK One Login accounts with the following email addresses.</p>
    <p>Once created they will already be linked to the organisations selected in the previous form.</p>
  </div>
  {% for u in linked_one_login_users %}
    <p class="bold">{{ u.email }}</p>
  {% endfor %}
{% endblock %}
