{% extends "layout/no-sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as form_fields %}

{% block main_content %}
  <h4>Welcome to {{ request.site.name }}.</h4>
  <br>
  <p>Enter your contact details. You will then be asked to submit an access request.</p>
  <div class="info-box info-box-info">
    If you are an existing user and you have used a different email address to create your GOV.UK One login account than the one you used in ICMS, go to the “Link your existing account” page.
  </div>
  <div class="row">
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
      {% for field in form %}
        {{ form_fields.field(field, label_cols='one', padding='zero', input_cols='six') }}
      {% endfor %}
      {{ forms.form_errors(form) }}
      {{ forms.submit_button(padding_cols="one", btn_label="Submit") }}
    {% endcall %}
  </div>
{% endblock %}
