{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
        {% for field in form %}
            {{fields.field(field)}}
        {% endfor %}

        <div class="section-break"></div>
        {% block additional_content %}{% endblock %}
        <div class="section-break"></div>

        <div class="container">
            <div class="row">
                <div class="three columns"></div>
                <div class="eight columns">
                    <ul class="menu-out flow-across">
                        {% block actions %}
                            <li>
                                <button type="submit" class="primary-button button">Save</button>
                            </li>
                            <li>
                                <a href="{{view.cancel_url}}" class="button link-button">Cancel</a>
                            </li>
                            {% endblock %}
                        </ul>
                </div>
                <div class="one columns"></div>
            </div>
    </div>

    {% endcall %}
{% endblock %}
