{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
        {% for field in form %}
            {{fields.field(field, show_errors=show_errors )}}
        {% endfor %}

        <div class="section-break"></div>
        {% block additional_content %}{% endblock %}
        <div class="section-break"></div>

        <div class="container">
            <div class="row">
                <div class="three columns"></div>
                <div class="eight columns">
                    <ul class="menu-out flow-across">
                        {% block actions %}
                            <li>
                                <button type="submit" class="primary-button button">Save</button>
                            </li>
                            <li>
                                <a href="{{view.cancel_url}}" class="button link-button">Cancel</a>
                            </li>
                            {% endblock %}
                        </ul>
                </div>
                <div class="one columns"></div>
            </div>
    </div>

    {% endcall %}
{% endblock %}

{% block js %}
    {{ super() }}

    {# @todo: signup to tinymce cloud to remove the "This domain is not registered with Tiny Cloud" message #}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

     <script>
        tinymce.init({
            selector: 'textarea[lang=html]'
        });
    </script>
{% endblock js%}