{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% import "tables/tables.html" as tables %}
{% import "messages/banners.html" as banners %}

{% set empty_message %}
  {% block empty_message %}
      There aren't any records that match your search
  {% endblock %}
{% endset %}

{% block main_content %}

  {% block filters %}

    {% call forms.form() -%}
      {% for field in filter.form.fields %}
        {{fields.field(filter.form[field], show_optional_indicator=False)}}
      {% endfor %}

      <div class="clearBoth"></div>
      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="six columns">
            <ul class="menu-out flow-across">
              <button id="btn-submit-search" type="submit" name="" value="" class="primary-button button">
                Search
              </button>
              </li>
            </ul>
          </div>
          <div class="three columns"></div>
        </div>
      </div>

    {%- endcall %}

  {% endblock %}

  {% if (page is defined and page and page.object_list) or (results is defined and results) %}

    {% if page is defined and page %}
      {% include "partial/paginator.html" %}
    {% endif %}

    {% block results %}

      <table responsiveList class="setoutList" id="tbl-search-results">
        <thead>
          <tr>
            {{tables.headers(display)}}

            {% if display.actions %}
              <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>

        {% for item in (page.object_list if page is defined and page else results) %}
          <tr class="result-row">
            {{tables.fields(item, display)}}

            {% if display.actions %}
              <td>
                {% for action in display.actions %}
                  {% if action.display(item) %}
                    {% if activation is defined and activation %}
                      {{action.as_html(item, csrf_token, activation=activation)}}
                    {% else %}
                      {{action.as_html(item, csrf_token)}}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>

    {% endblock %}

    {% if page is defined and page %}
      {% include "partial/paginator.html" %}
    {% endif %}

  {% else %}
    {{banners.warning(empty_message)}}
  {% endif %}

<div class=content-actions></div>

{% endblock %}
