{% extends "layout/sidebar.html" %}
{% import "forms/fields.html" as fields %}

{% block main_content %}

    {% block fields %}
		{% for field in form %}
			<div class="row">
				{{ fields.label(field) }} {# three colums markup added by macro #}
				<div class="eight columns">{{ field.value()|safe|nl2br if field.value() is not none}}</div>
				<div class="one columns"></div>
			</div>
      	{% endfor %}
    {% endblock %}

    <div class="section-break"></div>

    {% block additional_content %}
    {% endblock %}

    <div class="section-break"></div>

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across actions">
          {% block actions %}
          <li>
            <a href="{{view.cancel_url}}" class="button link-button">
              Back
            </a>
          </li>
          {% endblock %}
          </ul>
        </div>
        <div class="one columns"></div>
      </div>
    </div>


{% endblock %}

