{% extends "layout/sidebar.html" %}
{% import "forms/fields.html" as fields %}

{% block main_content %}

    {% block fields %}
      {% include "partial/view-form-fields.html" %}
    {% endblock %}

    <div class="section-break"></div>

    {% block additional_content %}
    {% endblock %}

    <div class="section-break"></div>

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across actions">
          {% block actions %}
          <li>
            <a href="{{view.cancel_url or view.get_cancel_url()}}" class="button link-button">
              Back
            </a>
          </li>
          {% endblock %}
          </ul>
        </div>
        <div class="one columns"></div>
      </div>
    </div>


{% endblock %}
