{% extends "web/support/index.html" %}

{% block context_header %}{{ request.site.name }} accessibility statement{% endblock %}

{% block page_title %}{{ request.site.name }} accessibility statement{% endblock %}

{% block main_content %}

      <div class="row">
        <p>This accessibility statement applies to the service {{ request.site.name }}.</p>
        <p>The Department for Business and Trade (DBT) wants to make the service accessible for all and must do so to comply with rules set out by The Equality and Human Rights Commission (EHRC), responsible for enforcing the Public Sector Bodies Accessibility Regulations 2018.</p>
        <p>Users should be able to:</p>
        <ul>
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen </li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          <li>understand the content.</li>
        </ul>
        <p><a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability. </p>
        <h4>Inaccessible areas of the service </h4>
        <p>There are areas of the service that are not yet full accessible. These are:</p>
        <ul>
          <li>the text will not reflow in a single column when you change the size of the browser window</li>
          <li>you cannot modify the line height or spacing of text</li>
          <li>most older PDF documents are not fully accessible to screen readers</li>
          <li>some of the online forms are difficult to navigate using just a keyboard</li>
          <li>you cannot skip to the main content when using a screen reader</li>
        </ul>
        <h4>Reporting accessibility problems</h4>
        <p>We want to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact <a href="mailto:digital.accessibility@businessandtrade.gov.uk">digital.accessibility@businessandtrade.gov.uk</a>.</p>
        <h4>Complaints procedure</h4>
        <p>If you’re not happy with how we respond to your complaint, you have the right to contact the <a href="https://www.equalityadvisoryservice.com/" target="_blank">Advisory and Support Service (EASS).</a></p>
        <h4>Compliance status</h4>
        <p>This website is not compliant with the <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.1</a> (WCAG) AA standard. DBT is aware of the accessibility issues that are ‘non-compliances’ and are striving to fix these problems by improving the service.</p>
        <h4>Non-accessible content</h4>
        <p>We are currently overhauling the service to make it completely Government Digital Service and WCAG standard accessible.</p>
        <h4>Preparation of this accessibility statement</h4>
        <p>This statement was prepared on 4th September 2024. It was last reviewed on 1st July 2024.</p>
        <p>This website was last tested on 10th of August 2023. The test was carried out by DAC (Digital Accessibility Centre). </p>
      </div>

{% endblock %}

{% block footer %}{% endblock %}
