{% import "web/domains/case/import/fa/provide-report/buttons.html" as buttons %}

{% if not manual_firearms and not upload_firearms and not no_firearms %}
  <div class="info-box info-box-info">
    {% if read_only %}
      There are no firearm details in this report.
    {% else %}
        How do you want to report the imported firearms?
    {% endif %}
  </div>
  {% if not read_only %}
    <div class="list-actions">
      <ul class="menu-out flow-across">
        <li>
          {{ buttons.manual_add_button(report, report_type, goods=goods, section=section, section_type=section_type) }}
          {{ buttons.upload_document_button(report, report_type, goods=goods, section=section, section_type=section_type) }}
          {{ buttons.no_firearm_button(report, report_type, csrf_input, goods=goods, section=section, section_type=section_type) }}
        </li>
      </ul>
    </div>
  {% endif %}
{% else %}
  {% if read_only or not no_firearms %}
    {% with firearms = manual_firearms %}
      {% include "web/domains/case/import/fa/partials/report-firearm-manual-list.html" %}
    {% endwith %}

    {% with firearms = upload_firearms %}
      {% include "web/domains/case/import/fa/partials/report-firearm-upload-list.html" %}
    {% endwith %}
  {% endif %}

  {% with firearms = no_firearms %}
    {% include "web/domains/case/import/fa/partials/report-firearm-no-firearm-list.html" %}
  {% endwith %}
{% endif %}
