{% if not firearms %}
  <div class="info-box info-box-info">
    {% if is_readonly %}
      There are no firearm details in this report.
    {% else %}
      {% if report_type == 'sil' %}
        There are no firearm details in this goods line.
      {% else %}
        How do you want to report the imported firearms?
      {% endif %}
    {% endif %}
  </div>
{% else %}
  <table class="setoutList">
    <thead>
    <tr>
      {% if is_readonly %}
        <th scope="col">Goods Item</th>
      {% endif %}
      <th scope="col">Serial Number</th>
      <th scope="col">Calibre</th>
      <th scope="col">Make / Model</th>
      <th scope="col">Proofing</th>
      {% if upload %}
        <th scope="col">Upload</th>
      {% endif %}
      {% if not is_readonly %}
        <th scope="col">Actions</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for firearm in firearms %}
      <tr>
        {% if is_readonly %}
          <td>{{ firearm.get_description() }}</td>
        {% endif %}
        <td>{{ firearm.serial_number or "" }}</td>
        <td>{{ firearm.calibre or "" }}</td>
        <td>{{ firearm.model or "" }}</td>
        <td>{{ firearm.proofing or "" }}</td>
        {% if firearm.is_upload %}
          <td>
            <a href="{{ firearm.get_view_upload_url() }}" class="link">
              {{ firearm.document.filename }}
            </a>
          </td>
        {% endif %}
        {% if not is_readonly %}
          <td>
            <ul class="menu-out">
              {% if not firearm.is_upload %}
                <li>
                  <a
                    href="{{ firearm.get_manual_url('edit', section_type) if report_type == 'sil' else firearm.get_manual_url('edit') }}"
                    class="button link-button inline-link-button icon-pencil">
                    Edit
                  </a>
                </li>
              {% endif %}
              <li>
                <form
                  method="post"
                  action="{{ firearm.get_manual_url('delete', section_type) if report_type == 'sil' else firearm.get_manual_url('delete') }}"
                  class="form-inline"
                  id="id_delete-report-fa-{{ firearm.pk }}">
                  {{ csrf_input }}
                  <button type="submit" class="button link-button inline-link-button icon-bin" form="id_delete-report-fa-{{ firearm.pk }}">
                    Delete
                  </button>
                </form>
              </li>
              <li><br/></li>
            </ul>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% if not is_readonly %}
  <div class="list-actions">
    <ul class="menu-out flow-across">
      <li>
        {% if report_type == 'dfl' %}
          <a
            href="{{ report.get_add_firearm_url_manual(goods.pk) }}"
            class="button small-button icon-plus">
            Manual Add Firearm
          </a>
          <a
            href="{{ report.get_add_firearm_url_upload(goods.pk) }}"
            class="button small-button icon-plus">
            Upload Document
          </a>
        {% elif report_type == 'oil' %}
          <a
            href="{{ report.get_add_firearm_url_manual() }}"
            class="button small-button icon-plus">
            Manual Add Firearm
          </a>
          <a
            href="{{ report.get_add_firearm_url_upload() }}"
            class="button small-button icon-plus">
            Upload Document
          </a>
        {% elif report_type == 'sil' %}
          <a
            href="{{ report.get_add_firearm_url_manual(section_type, section.pk) }}"
            class="button small-button icon-plus">
            Manual Add Firearm
          </a>
        {% endif %}
      </li>
    </ul>
  </div>
{% endif %}
