{% if not reports %}
  <div class="info-box info-box-info">
    There are no supplementary reports provided.
  </div>
{% else %}
  {% for report in reports %}
    <h3>
      {{ report.str_title() }}
      <span class="list-secondary-actions">
        <ul class="menu-out flow-across">
          <li>
          <a
            href="{{ icms_url('import:fa:edit-report', kwargs={'application_pk': process.pk, 'report_pk': report.pk}) }}"
            class="link-button icon-pencil button">
            Edit
          </a>
          </li>
          <li>
            <form
              method="post"
              action="{{ icms_url('import:fa:delete-report', kwargs={'application_pk': process.pk, 'report_pk': report.pk}) }}"
              class="form-inline">
              {{ csrf_input }}
              <button
                type="submit"
                class="button link-button icon-bin"
                data-confirm="Are you sure you want to delete the Supplementary Report {{ report }}?">
                Delete
              </button>
            </form>
          </li>
        </ul>
      </span>
    </h3>

    {% with firearms = report.get_report_firearms(), is_readonly = True, upload = report.has_upload() %}
      {% include "web/domains/case/import/fa/partials/report-firearm-list.html" %}
    {% endwith %}

    <div class="section-break"></div>
    <div class="container setOutForm">
      {{ application_field(report.transport | capitalize, 'Transport')}}
      {{ application_field(report.str_date_received(), 'Date Received')}}
      {{ application_field(report.bought_from, 'Bought From')}}
    </div>
  {% endfor %}
{% endif %}

<div class="list-actions">
  <ul class="menu-out flow-across">
    <li>
      <a
        href="{{ icms_url('import:fa:create-report', kwargs={'application_pk': process.pk}) }}"
        class="button small-button icon-plus">
        Add New Supplementary Report
      </a>
    </li>
  </ul>
</div>
