{% extends "layout/simple.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}Importer/Exporter Access Request{% endblock %}
{% block context_header %}Importer/Exporter Access Request{% endblock %}


{% block main_content %}
    <div class="no-sidebar" id="content">
        <div id="content-ie8-float">
{#    {{ view.get_info() }}#}
        APPROVED
            {% call forms.form(method='post', csrf_input=csrf_input) %}
              {{activation.management_form}}
              <div class="clearBoth"></div>
              <div class="container">
                <div class="row">
                  <div class="four columns"> </div>
                  <div class="four columns">
                    <ul class="menu-out flow-across">
                      <li>
                        <button type="submit" class="primary-button button">
                          Save
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="four columns"> </div>
                </div>
              </div>
            {% endcall %}
        </div>
    </div>
{% endblock %}
