 <div class="modal-popover-container hidden">
  <div class="modal-popover regular-popover">
    <div class="modal-popover-content">
      <h2 id="engine-modal-popover-title">Find Company</h2>
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Company Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="body-company">
        </tbody>
      </table>
      <ul class="menu-out modal-popover-actions flow-across">
        <li>
          <button type="button" onclick="$('.modal-popover-container').hide()" class="link-button button">
            Cancel
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
