{% extends "layout/public.html" %}

{% block page_title %}Cookies{% endblock %}

{% block main_content %}
  <div class="clearBoth"></div>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Cookies on ICMS</h2>
        <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to make ICMS work and collect information about how you use our service.</p>

        <h3 class="h3_header mt-1">Essential cookies</h3>
        <p>Essential cookies keep your information secure while you use Notify. We do not need to ask permission to use
          them.</p>
        <table class="setoutList">
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                session_id
              </td>
              <td>
                Used to keep you signed in
              </td>
              <td>
                2 hours
              </td>
            </tr>
            <tr>
              <td>
                csrftoken
              </td>
              <td>
                Used to keep your form submissions secure
              </td>
              <td>
                1 year
              </td>
            </tr>
            <tr>
              <td>
                cookie_preferences_set
              </td>
              <td>
                Saves your cookie consent settings
              </td>
              <td>
                1 year
              </td>
            </tr>
          </tbody>
        </table>

        <h3 class="h3_header mt-1">Analytics cookies (optional)</h3>
        <p>With your permission, we use Google Analytics to collect data about how you use Notify. This information
          helps us to improve our service.</p>
        <p>Google is not allowed to use or share our analytics data with anyone.</p>
        <p>Google Analytics stores anonymised information about:</p>
        <ul class="circleList">
          <li>how you got to the site</li>
          <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
          <li>what you click on while you're visiting the site</li>
        </ul>
        <table class="setoutList">
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                _ga
              </td>
              <td>
                  Checks if you’ve visited ICMS before. This helps us count how many people visit our site.
              </td>
              <td>
                2 years
              </td>
            </tr>
            <tr>
              <td>
                _gid
              </td>
              <td>
                  Checks if you’ve visited ICMS before. This helps us count how many people visit our site.
              </td>
              <td>
                24 hours
              </td>
            </tr>
          </tbody>
        </table>
        {% call forms.form(action='', method='post', csrf_input=csrf_input, class="prevent-data-loss") -%}
          {{ fields.field(form.accept_cookies, show_optional_indicator=False) }}
          <button class="button primary-button" type="submit">Save cookie settings</button>
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock main_content %}
