{% extends "layout/public.html" %}
{% import "forms/form.html" as forms %}

{% block main_content %}
<div id="header">
    <h1>Registration</h1>
    <p class="subheading">Import Case Management System</p>
</div>
<div class="clearBoth"> </div>

<h2>User Details</h2>
<p>You are about to register for an Import Case Management System account. Note that after registering, you will not be able to apply for import licences until you have been granted permission to act as an importer by ILB.</p>
<p>For further information, please refer to the guidance documents on the main login screen.</p>
<p>All fields are mandatory.</p>


{% call forms.form(form, fields=form.fields, action=url('register'), csrf_input=csrf_input) -%}
    <p>Please enter complete security check displayed below. This is to stop automatic registrations.</p>
    {{forms.field(captcha_form.captcha, opts=form.config)}}
    <div class="section-break"></div>
{% endcall %}

{% endblock %}
