{% extends "layout/public.html" %}

{% block main-content %}
<div id="header">
    <h1>

        Registration

    </h1>
    <p class="subheading">Import Case Management System</p>
</div>
<div class="clearBoth"> </div>

<h2>
    User Details
</h2>
<p>You are about to register for an Import Case Management System account. Note that after registering, you will not be able to apply for import licences until you have been granted permission to act as an importer by ILB.</p>
<p>For further information, please refer to the guidance documents on the main login screen.</p>
<p>All fields are mandatory.</p>


<form method="post" name="registrationForm" action="{% url 'register' %}" autocomplete="off" accept-charset="UTF-8" novalidate>
    {% csrf_token %}
    <div class="container setoutForm">


        {% include 'forms/form.html' with label_cols='four' input_cols='six' padding='two' %}

    </div>
    <p>Please enter complete security check displayed below. This is to stop automatic registrations.</p>

    <div class="container setoutForm" data-xfid="f19">
        <div class="row">
            <div class="four columns" data-xfid="g20"><label id="pg20" for="g20" class="prompt west">Security check
                </label>
            </div>
            <div class="six columns {% if form.captcha.errors %}input-error{% endif %}" data-xfid="g20">
                {{captcha_form.captcha}}
                <div class="clearBoth"> </div>
                {% if captcha_form.captcha.errors %}
                {% for error in captcha_form.captcha.errors %}
                <div class="error-message">{{error}}</div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="two columns"></div>
        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="four columns">

            </div>
            <div class="eight columns">

                <ul class="menu-out flow-across">
                    <li> <button id="g23" name="g23" type="submit" class="primary-button button">
                            Register </button></li>
                    <li> <a id="g24" name="g24" href="/" class="link-button button">
                            Cancel </a></li>

                </ul>

            </div>

        </div>

    </div>

</form>

{% endblock %}
