{% extends "layout/sidebar.html" %}
{% block page_title %}Reset Password{% endblock %}
{% block context_header %}Reset Password{% endblock %}

{% block main_content %}
<div class="info-box info-box-info">
    Please enter your Import Case Management System Login ID and complete the security checks
</div>


<div class="container setoutForm noBottomMargin" data-xfid="f23">
    <div class="row">
        <div class="four columns" data-xfid="g24"><label id="pg24" for="g24" class="prompt west">Login ID
            </label>
        </div>
        <div class="four columns" data-xfid="g24"><input id="g24" name="g24" type="text" value="" size="35" aria-required="true" /></div>
        <div class="four columns"></div>
    </div>
</div>


<div class="container setoutForm noBottomMargin" data-xfid="f26">
    <div class="row">
        <div class="four columns" data-xfid="g27"><label id="pg27" for="g27" class="prompt west">Security Image
            </label>
        </div>
        <div class="six columns" data-xfid="g27"><img src="/icmsfox5uat/temp/i4u25gmd8tti2pg7da0rd6f08648e0/captcha.png" alt="If you cannot see this image CAPTCHA please contact the system administrator for advice" /></div>
        <div class="two columns"></div>
    </div>
    <div class="row">
        <div class="four columns"></div>
        <div class="six columns" data-xfid="g28"> <button id="g28" name="g28" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-SECURITY001L-new-security-image&quot;,&quot;ctxt&quot;:&quot;s6Leca_plrnqWp1W&quot;}, this);" class="link-button inline-link-button button">
                The image is unreadable, give me a new one </button></div>
        <div class="two columns"></div>
    </div>
    <div class="row">
        <div class="four columns" data-xfid="g29"><label id="pg29" for="g29" class="prompt west">Enter Security Code
            </label>
        </div>
        <div class="six columns input-group" data-xfid="g29">
            <div class="eleven-column-input"><input id="g29" name="g29" type="text" value="" size="6" maxlength="6" aria-required="true" aria-describedby="hint35-content" /></div>
            <div class="input-group-addon hint-addon">
                <div id="hint35-content" role="tooltip" class="hint-content">Enter the security code shown in the image above</div>
                <div id="hint35" aria-describedby="hint35-content" class="hint icon-info"></div>
            </div>
        </div>
        <div class="two columns"></div>
    </div>
</div>


<div class="container">

    <div class="row">

        <div class="four columns">

        </div>
        <div class="eight columns">
            <ul class="menu-out flow-across">
                <li> <button id="g30" name="g30" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-ACCOUNT001X-confirm-username&quot;,&quot;ctxt&quot;:&quot;s6LeIo_plrnqWp1W&quot;}, this);" class="primary-button button">
                        Next </button></li>
                <li> <button id="g31" name="g31" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-exit&quot;,&quot;ctxt&quot;:&quot;s6LeIo_plrnqWp1W&quot;}, this);" class="link-button button">
                        Cancel </button></li>
            </ul>
        </div>

    </div>

</div>

<div class="section-break"></div>


{%endblock%}
