{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}Importer/Exporter Access Request{% endblock %}
{% block context_header %}Importer/Exporter Access Request{% endblock %}

{% block sidebar%}
    {% with process_id=activation.process.access_request.id,
            task_id=activation.task.id
    %}
        {% include "web/case-fir-sidebar.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    {% set process, task, access_request = activation.process, activation.task, activation.process.access_request %}
    <div class="info-box info-box-info">
        <p>The user specified below has requested access to act as an importer/agent. If you already know that this user should have these access rights you can
            simply add them to the appropriate importer/agent team (note - you may need to create the importer/agent entity first). Use the Link/Maintain link
            below.</p>
        <p>If on the other hand this is a new access request then you can request approval from the main importer using the form below. Note - you will need to
            link the importer on the access request to an importer within the ICMS system first.</p>
        <p>Once the Access Request has been actioned you should close the request using the Close section below. An email will be sent to the requester stating
            the outcome of their request.</p>
    </div>

    {% include "web/access-request/partials/access-request-display.html" %}

    <div class="container setoutForm" >
        <div class="row">
            <div class="twelve columns" >
                <div class="container setoutForm" >
                    {% if access_request.requester_type == 'importer' %}
                        <div class="row">
                            <div class="three columns"></div>
                            <div class="six columns" >
                              {{access_request.linked_importer}}
                              {% call forms.form(method='post', csrf_input=csrf_input) %}
                              <a href="{{url('link-importer', args=(process.id,task.id ))}}?name={{access_request.organisation_name}}&agent_name={{access_request.agent_name or ''}}"
                                        class="link-button inline-link-button button">
                                    Link / Maintain Importer
                                </a>
                              {% endcall %}
                            </div>
                            <div class="three columns"></div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="three columns"></div>
                            <div class="six columns" >
                              {{access_request.linked_exporter}}
                              {% call forms.form(method='post', csrf_input=csrf_input) %}
                              <a href="{{url('link-exporter', args=(process.id,task.id ))}}?exporter_name={{access_request.organisation_name}}&agent_name={{access_request.agent_name or ''}}"
                                        class="link-button inline-link-button button">
                                    Link / Maintain Exporter
                                </a>
                              {% endcall %}
                            </div>
                            <div class="three columns"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="three columns"></div>
                    <div class="six columns" ></div>
                    <div class="three columns"></div>
                </div>
            </div>

            {% call forms.form(method='post', csrf_input=csrf_input) %}
              <input type="hidden" name="_viewflow_activation-started" value="{{ form.datetime_now }}" id="id__viewflow_activation-started">

              {% include "web/access-request/partials/access-request-approval.html" %}

              <h3>Close Access Request</h3>

               <div class="info-box info-box-success">
                {{ fields.field(form.response)}}
                <div class="hidden" id="response-reason-container">{{ fields.field(form.response_reason) }}</div>
                <button type="submit" name="action" value="respond" />Close Access Request</button>
              </div>
            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block page_js %}
    {{ super() }}
    <script src="{{ static('web/js/review-request-access.js') }}" type="text/javascript"></script>
{% endblock %}
