{% extends "layout/public.html" %}
{% import "forms/form.html" as forms %}

{% block title %}Import Case Management System{% endblock %}

{% block main_content %}
<div id="header">
    <h1> Set password </h1>
    <p class="subheading">Import Case Management System</p>
</div>
<div class="clearBoth"> </div>

<p>Thank you for registering, {{request.user.first_name}}. We've sent you an email with a temporary password. Once you've received this email you can activate your account by setting a new password below.</p>
<p>If you don't want to activate your account yet, you can close this page. When you next log in with your temporary password, you'll be asked to set your new password.</p>

<div class="info-box info-box-info">
    <p>Passwords are case sensitive. They must be at least 8 characters long and contain at least one number. You can't reuse a password you've used before.</p>
</div>


{{forms.form(form, fields=form.fields, action=url('set-password'), csrf_input=csrf_input)}}

{% endblock %}
