{% extends "web/domains/offices/create.html" %}

{% block context_header %}
  {% if object.is_agent() %}
    Create Office for Agent '{{ object.display_name }}'
  {% else %}
    Create Office for Importer '{{ object.display_name }}'
  {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "partial/importer/sidebar.html" %}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
          {% if object.is_agent() %}
            <a href="{{ url('importer-agent-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
              Agent {{ object.display_name }}
            </a>
          {% else %}
            <a href="{{ url('importer-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
              Importer {{ object.display_name }}
            </a>
          {% endif %}
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  <div class="info-box info-box-info">
    {% if object.is_agent() %}
      Create Office for Agent '{{ object.display_name }}'
    {% else %}
      Create Office for Importer '{{ object.display_name }}'
    {% endif %}
  </div>
  {{ super() }}
{% endblock %}
