{% extends base_template %}
{% from "display/fields.html" import application_field %}

{% block page_title %}View Importer{% endblock %}

{% block context_header %}
  Section5 Authority '{{ section5.reference }}' for Importer '{{ object.display_name }}'
{% endblock %}

{% block sidebar %}
  {% include "partial/importer/sidebar.html" %}
{% endblock %}

{% block content_actions %}
<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a href="{{ parent_url }}" class="prev-link">
        Importer {{ object.display_name }}
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
  {% block archive %}
  {% endblock %}

  <h3>Reference '{{ section5.reference }}'</h3>
  <div class="container setoutForm">
    {{ application_field(section5.reference, "Reference") }}
    {{ application_field(section5.postcode, "Postcode") }}
    {{ application_field(section5.address|default("", True)|nl2br, "Address") }}
    <div class="row">
      <div class="three columns">
        <label class="prompt west">
          Linked Offices
        </label>
      </div>
      <div class="six columns">
        {% if linked_offices %}
          {% for office in linked_offices %}
            <span class="text-widget">
              <p>{{ office }}</p>
            </span>
          {% endfor %}
        {% else %}
          <span class="text-widget">
            <p>N/A</p>
          </span>
        {% endif %}
      </div>
      <div class="three columns"></div>
    </div>
    {{ application_field(section5.start_date.strftime('%d-%b-%Y'), "Start Date") }}
    {{ application_field(section5.end_date.strftime('%d-%b-%Y'), "End Date") }}
    {{ application_field(section5.further_details|nl2br or "N/A", "Further Details") }}
    <div class="row">
      <div class="three columns">
        <label class="prompt west">Documents</label>
      </div>
      <div class="six columns">
      {% if section5.files.active() %}
        <table class="setoutList">
          <thead>
            <tr>
              <th scope="col">File</th>
              <th scope="col">Created By</th>
            </tr>
          </thead>
          <tbody>
          {% for document in section5.files.active() %}
            <tr>
              <td>
                <a href="{{ icms_url('importer-section5-view-document', kwargs={'section5_pk': section5.pk, 'document_pk': document.pk}) }}">
                  {{ document.filename }}
                </a>
                <br />
                <span class="extra-info">{{ document.file_size }}</span>
              </td>
              <td>
                {{ document.created_by }}<br />
                <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <span class="text-widget">
          <p>N/A</p>
        </span>
      {% endif %}
      </div>
      <div class="three columns"></div>
    </div>
    <div class="row">
      <div class="three columns">
        <label class="prompt west">
          Section 5 Clauses
        </label>
      </div>
      <div class="six columns">
        <table class="setoutList">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
          {% for clause_quantity in section5.clausequantity_set.all() %}
            <tr>
              <td>{{ clause_quantity.section5clause.clause }}</td>
              <td>
                {% if clause_quantity.infinity %}
                  Unlimited
                {% else %}
                  {{ clause_quantity.quantity }}
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="three columns"></div>
    </div>
  </div>
  {% if not section5.is_active %}
    <div class="row">
      <div class="three columns">
        <label class="prompt west">
          Archive Reason
        </label>
      </div>
      <div class="six columns">
        <span class="text-widget">
          {% for reason in section5.archive_reason %}
             <p>{{ reason }}</p>
          {% endfor %}
        </span>
      </div>
      <div class="three columns"></div>
    </div>
    {% if section5.other_archive_reason %}
      <div class="row">
        <div class="three columns">
          <label class="prompt west">
            Other
          </label>
        </div>
        <div class="six columns">
          <span class="text-widget">
              <p>{{ section5.other_archive_reason }}</p>
          </span>
        </div>
        <div class="three columns"></div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
