{% extends "layout/sidebar.html" %}


{% block page_title %}View Importer{% endblock %}

{% block context_header %}
  Section5 Authority '{{ section5_authority.reference }}' for Importer '{{ object.display_name }}'
{% endblock %}

{% block sidebar %}
  {% include "partial/importer/sidebar.html" %}
{% endblock %}

{% block content_actions %}
<div class="content-actions">
  <ul class="menu-out flow-across">
    <li>
      <a href="{{ url('importer-edit', kwargs={'pk': object.pk}) }}" class="prev-link">
        Importer {{ object.display_name }}
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
  <h3>Reference '{{ section5_authority.reference }}'</h3>

  <dl>
    <dt class="bold">
      Reference
    </dt>
    <dd>
      {{ section5_authority.reference }}
    </dd>
    <dt class="bold">
      Postcode
    </dt>
    <dd>
      {{ section5_authority.postcode}}
    </dd>
    <dt class="bold">
      Address
    </dt>
    <dd>
      {{ section5_authority.address|default("", True)|nl2br }}
    </dd>
    <dt class="bold">
      Linked Offices
    </dt>
    <dd>
      {% for office in linked_offices %}
        {{ office }}
        {% if not loop.last %}
          <br />
        {% endif %}
      {% else %}
        N/A
      {% endfor %}
    </dd>
    <dt class="bold">
      Start Date
    </dt>
    <dd>
      {{ section5_authority.start_date.strftime('%d-%b-%Y') }}
    </dd>
    <dt class="bold">
      End Date
    </dt>
    <dd>
      {{ section5_authority.end_date.strftime('%d-%b-%Y') }}
    </dd>
    <dt class="bold">
      Further Details
    </dt>
    <dd>
      {% if section5_authority.further_details %}
        {{ section5_authority.further_details|nl2br }}
      {% else %}
        N/A
      {% endif %}
    </dd>
    <dt class="bold">
      Documents
    </dt>
    <dd>
    {% if section5_authority.files.exists() %}
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Created By</th>
          </tr>
        </thead>
        <tbody>
        {% for document in section5_authority.files.all() %}
          <tr>
            <td>
              {{ document.filename }}<br />
              <span class="extra-info">{{ document.file_size }}</span>
            </td>
            <td>
              {{ document.created_by }}<br />
              <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% else %}
      N/A
    {% endif %}
    </dd>
    <dt class="bold">
      Section 5 Clauses
    </dt>
    <dd>
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for clause_quantity in section5_authority.clausequantity_set.all() %}
            <tr>
              <td>{{ clause_quantity.section5clause.clause }}</td>
              <td>
                {% if clause_quantity.infinity %}
                  Unlimited
                {% else %}
                  {{ clause_quantity.quantity }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </dd>
  </dl>
{% endblock %}
