{% extends "web/domains/importer/create-firearms-authority.html" %}


{% block context_header %}
  Edit Firearms Authority for Importer '{{ object.display_name }}'
{% endblock %}

{% block submit_button %}Save{% endblock %}

{% block firearms_files %}
  {% if firearms_authority.files.exists() %}
    <div class="container">
      <div class="row">
        <div class="three columns">
          <label class="prompt west">
            Documents Uploaded
          </label>
        </div>
        <div class="six columns">
          <table class="setoutList">
            <thead>
              <tr>
                <th scope="col">File</th>
                <th scope="col">Created By</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for document in firearms_authority.files.active() %}
              <tr>
                <td>
                  {{ document.filename }}<br />
                  <span class="extra-info">{{ document.file_size|filesizeformat }}</span>
                </td>
                <td>
                  {{ document.created_by }}<br />
                  <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
                </td>
                <td>
                  <form method="post"
                        action={{ icms_url(
                          'importer-firearms-authorities-file-archive',
                          kwargs={
                            'importer_pk': object.pk,
                            'firearms_authority_pk': firearms_authority.pk,
                            'file_pk': document.pk}) }}>
                    {{ csrf_input }}
                    <button type="submit" class="button link-button-no-padding">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="three columns"></div>
      </div>
    </div>
  {% endif %}
{% endblock %}
