{% extends base_template %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block css %}
  {{ contact_form.media.css }}
  {{ super() }}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li><a href="{{ parent_url }}" class="prev-link">Importers</a></li>
    </ul>
  </div>
{% endblock %}

{% block context_header %}
    Editing Importer '{{ object.display_name }}'
{% endblock %}

{% block sidebar %}
  {% include "partial/importer/sidebar.html" %}
{% endblock %}

{% block main_content %}
  {% include "web/company_list.html" %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input, id='edit-form') -%}
    {% block fields %}
      {% for field in form %}
      {% with lookup = field.name in ['name', 'registered_number'] %}
        {{ fields.field(field, lookup=lookup) }}
      {% endwith %}
      {% endfor %}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <button type="submit" name="action" value="save" class="primary-button button" id="save-button">Save</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}

  {% with
    has_eori = object.is_organisation(),
    offices = object.offices.all(),
    office_create_url_name = 'importer-office-create',
    office_archive_url_name = 'importer-office-archive',
    office_unarchive_url_name = 'importer-office-unarchive',
    office_edit_url_name = 'importer-office-edit' %}

    {% include "partial/offices.html" %}
  {% endwith %}

  {% if show_firearm_authorities %}
    {% with firearms_authorities = object.firearms_authorities.all() %}
      {% include "partial/firearms-authorities.html" %}
    {% endwith %}
  {% endif %}

  {% if show_section5_authorities %}
    {% with section5_authorities = object.section5_authorities.all() %}
      {% include "partial/section5-authorities.html" %}
    {% endwith %}
  {% endif %}

  {% with
    is_importer = True,
    agents = object.agents,
    agent_view_url_name = "importer-view",
    agent_edit_url_name = "importer-agent-edit",
    agent_archive_url_name = "importer-agent-archive",
    agent_unarchive_url_name = "importer-agent-unarchive",
    is_ilb_admin = "web.ilb_admin" in perms
  %}

    {% include "partial/agents.html" %}
  {% endwith %}

  {% with read_only = False %}
    {% include "partial/contacts/contacts.html" %}
  {% endwith %}
{% endblock %}

{% block page_js %}
  {% include "web/search-companies.html" %}

  {{ contact_form.media.js }}
  {{ form.media.js }}
  {{ super() }}
{% endblock %}
