{% extends "model/edit.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block main_content %}

  {% if importer %}
      <div class="info-box info-box-info">
        This importer is an agent of {{importer}}.
      </div>
  {% endif %}

  {{super()}}

{% endblock %}

{% block additional_form_content %}
    {% include "partial/offices.html" %}
    {% include "partial/firearms-authorities.html" %}
    {% include "partial/section5-authorities.html" %}
    {% include "partial/agents.html" %}
    {% include "web/contacts/tabs.html" %}
{% endblock %}
