{% extends "web/domains/importer/create-firearms-authority.html" %}


{% block context_header %}
  Edit Firearms Authority for Importer '{{ object.display_name }}'
{% endblock %}

{% block submit_button %}Save{% endblock %}

{% block firearms_files %}
  {% if firearms_authority.files.active() %}
    <div class="container">
      <div class="row">
        <div class="three columns">
          <label class="prompt west">
            Documents Uploaded
          </label>
        </div>
        <div class="six columns">
          <table class="setoutList">
            <thead>
              <tr>
                <th scope="col">File</th>
                <th scope="col">Created By</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for document in firearms_authority.files.active() %}
              <tr>
                <td>
                  <a href="{{ icms_url('importer-firearms-view-document', kwargs={'firearms_pk': firearms_authority.pk, 'document_pk': document.pk}) }}">
                    {{ document.filename }}
                  </a>
                  <br />
                  <span class="extra-info">{{ document.file_size|filesizeformat }}</span>
                </td>
                <td>
                  {{ document.created_by }}<br />
                  <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
                </td>
                <td>
                  <form method="post"
                        action={{ icms_url(
                          'importer-firearms-delete-document',
                          kwargs={
                            'firearms_pk': firearms_authority.pk,
                            'document_pk': document.pk}) }}>
                    {{ csrf_input }}
                    <button type="submit" class="link-button icon-bin button">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="three columns"></div>
      </div>
    </div>
  {% else %}
    <div class="info-box info-box-info">
        There are no documents attached
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <a class="button small-button" href="{{ icms_url('importer-firearms-add-document', kwargs={'pk': firearms_authority.pk}) }}">
        Add document
      </a>
    </div>
  </div>


{% endblock %}
