{% extends "layout/no-sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}View Importer{% endblock %}
{% block context_header %}
  View Importer '{{ object.display_name }}'
{% endblock %}

{% block content_actions %}
    <div class="content-actions">
        <ul class="menu-out flow-across">
          <li><a href="{{ parent_url }}" class="prev-link">Importers</a></li>
        </ul>
    </div>
{% endblock %}

{% block main_content %}
  {% with
    importer = object,
    importer_url_name = 'regulator-importer-detail' %}
    {% include "partial/importer/detail.html" %}
  {% endwith %}

  {% with
    has_eori = object.is_organisation(),
    offices = object.offices.all(),
    read_only = True %}
    {% include "partial/offices.html" %}
  {% endwith %}

  {% if is_main_importer %}
    {% with
      firearms_authorities = object.firearms_authorities.all(),
      read_only = (not can_edit_firearm_authorities) %}
      {% include "partial/firearms-authorities.html" %}
    {% endwith %}

    {% with
      section5_authorities = object.section5_authorities.all(),
      read_only = (not can_edit_section5_authorities) %}
      {% include "partial/section5-authorities.html" %}
    {% endwith %}
  {% endif %}

  {% if not object.is_agent() %}
    {% with
      agents = object.agents,
      read_only = True,
      is_importer = True,
      is_ilb_admin = False,
      agent_view_url_name = "regulator-importer-detail"
    %}
      {% include "partial/agents.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}
