{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}View Importer{% endblock %}
{% block context_header %}View {{ form.instance }}{% endblock %}

{% block content_actions %}
    <div class="content-actions">
        <ul class="menu-out flow-across">
            <li>  <a href="{{ url('importer-list') }}" class="prev-link">Importers</a></li>
        </ul>
    </div>
{% endblock %}

{% block main_content %}
    {% call forms.form(method='post', csrf_input=csrf_input) %}
        {% with field=form.type %} {% include 'partial/single-field-view-mode.html' %} {% endwith %}
        {% with field=form.name %} {% include 'partial/single-field-view-mode.html' %} {% endwith %}
        {% with field=form.region_origin %} {% include 'partial/single-field-view-mode.html' %} {% endwith %}
        {% with field=form.comments %} {% include 'partial/single-field-view-mode.html' %} {% endwith %}

        {% with offices = form.instance.offices %}
        {% include "partial/offices-display.html" %}
        {% endwith %}
    {% endcall %}
{% endblock %}
