{% extends base_template %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block page_title %}View Importer{% endblock %}
{% block context_header %}
  View Importer '{{ object.display_name }}'
{% endblock %}

{% block content_actions %}
    <div class="content-actions">
        <ul class="menu-out flow-across">
          <li><a href="{{ parent_url }}" class="prev-link">Importers</a></li>
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
  {% include "partial/importer/sidebar.html" %}
{% endblock %}

{% block main_content %}

  {% with
    importer = object,
    importer_url_name = 'importer-view' %}
    {% include "partial/importer/detail.html" %}
  {% endwith %}

  {% with
    offices = object.offices.all(),
    read_only = True %}

    {% include "partial/offices.html" %}
  {% endwith %}

  {% if show_firearm_authorities %}
    {% with
      firearms_authorities = object.firearms_authorities.all(),
      read_only = True %}

      {% include "partial/firearms-authorities.html" %}
    {% endwith %}
  {% endif %}

  {% if show_section5_authorities %}
    {% with
      section5_authorities = object.section5_authorities.all(),
      read_only = True %}

      {% include "partial/section5-authorities.html" %}
    {% endwith %}
  {% endif %}

  {% if not object.is_agent() %}
    {% with
      is_importer = True,
      agents = object.agents,
      read_only = True,
      agent_view_url_name = "importer-view"
    %}
      {% include "partial/agents.html" %}
    {% endwith %}
  {% endif %}

  {% with read_only = True, can_manage_contacts = False %}
    {% include "partial/contacts/contacts.html" %}
  {% endwith %}
{% endblock %}
