{% extends "layout/sidebar.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}
{% from "display/fields.html" import application_field %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ static('web/css/pages/edit_mailshot.css') }}">
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a
          href="{{ icms_url('mailshot-list') }}"
          class="prev-link">
          Mailshots
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
    {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}

    {{ application_field(object.get_reference(), "Reference") }}
      <div class="row">
        <div class="three columns">
          <label class="prompt west">
            Status
          </label>
        </div>
        <div class="six columns">
          <div class="status {{ object.status|lower }}">
            <div>
              <span class="text-widget">{{ object.get_status_display() }}</span>
            </div>
          </div>
        </div>
        <div class="three columns"></div>
      </div>

      {% for field in form %}
          {% if field.name == "is_email" %}
            {{ fields.field(field, checkbox_label="Send emails to recipients") }}
          {% else %}
            {{ fields.field(field) }}
          {% endif %}
      {% endfor %}

      <div class="container">
        <div class="row">
          <div class="three columns"></div>
          <div class="eight columns">
            <ul class="menu-out flow-across">
              {% if form.instance.status == 'DRAFT' %}
                <li>
                  <button type="submit" name='action' value='save_draft' class="secondary-button button">
                    Save Draft
                  </button>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="one columns"></div>
        </div>

        {% if not documents.exists() %}
          <div class="info-box info-box-info">Please upload a document before publishing the mailshot.</div>
        {% endif %}

        {% for error in form.non_field_errors() %}
          <div class="info-box info-box-error">{{ error }}</div>
        {% endfor %}
      </div>

    {% endcall %}

    <h4>Documents</h4>

    {% with read_only = False %}
      {% include "web/domains/mailshot/partials/document_list.html" %}
    {% endwith %}
    <hr>

    <form method="post" action="{{ icms_url('mailshot-publish-draft', kwargs={'mailshot_pk': mailshot.pk}) }}" class="form-inline">
      {{ csrf_input }}
      <button type="submit" data-confirm="Are you sure you want to publish this mailshot?" class="primary-button button"
        {% if not documents.exists() %} disabled {% endif %}
      >
        Publish
      </button>
    </form>

    <form method="post" action="{{ icms_url('mailshot-cancel-draft', kwargs={'mailshot_pk': mailshot.pk}) }}" class="form-inline">
      {{ csrf_input }}
      <button type="submit" data-confirm="Are you sure you want to cancel this mailshot?" class="secondary-button button">
        Cancel Draft
      </button>
    </form>
{% endblock %}
