{% extends "model/edit.html" %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ static('web/css/pages/view_mailshot.css') }}">
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        {% block content_actions_link %}
          <a
            href="{{ icms_url('mailshot-list') }}"
            class="prev-link">
            Mailshots
          </a>
        {% endblock %}
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}

  {% include "web/domains/mailshot/partials/detail.html"%}

  <h3>Retract</h3>

  {{super()}}
{% endblock %}

{% block actions %}
<li>
  <button type="submit" data-confirm="Are you sure you want to retract this mailshot?" class="secondary-button button">
    Retract
  </button>
</li>
<li>
  <a href="{{view.cancel_url}}" class="secondary-button button">
    Cancel
  </a>
</li>
{% endblock %}
