{% extends "layout/sidebar.html" %}

{% block css %}
  {{ super() }}
  <style>
      /** Override styling for multiple select checkbox */
      .radio-label {
        margin: 0 !important;
      }
  </style>
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        {% block content_actions_link %}
          <a
            href="{{ icms_url('mailshot-list') }}"
            class="prev-link">
            Mailshots
          </a>
        {% endblock %}
      </li>
    </ul>
  </div>
{% endblock %}


{% block main_content %}

  {% include "web/domains/mailshot/partials/detail.html" %}

{% endblock %}
