<h1>
    <img alt="Department of International Trade" src="{{ static('web/img/dit-horizontal-white-logo.png') }}"/>
</h1>
<input type="checkbox" id="top-nav-toggle"/>
<label for="top-nav-toggle" id="top-nav-toggle-label" class="icon-menu">
    <span class="screen-reader-only">Show menu</span>
</label>
<ul class="dropdown-menu" id="top-menu">
  {% if not request.user.is_anonymous %}

    {{menu(request)|safe}}

    <li class="icon-user" id="user-info">
      <a class="dropdown-label" href="#">
        {# Include the email in non prod envs as it's useful to see at a glance what user you are logged in as #}
        {{ request.user.full_name }}{% if app_env != "production" %} ({{ request.user.email }}){% endif %}
      </a>
      <ul class="menu-out flow-down top-menu-subcategory-list">
        <li>
          <ul class="menu-out">
            {% if is_importer_site %}
              <li><a href="{{ icms_url('access:importer-request') }}">Request Importer Access</a></li>
            {% endif %}
            {% if is_exporter_site %}
              <li><a href="{{ icms_url('access:exporter-request') }}">Request Exporter Access</a></li>
            {% endif %}
            <li><a href="{{ icms_url('user-edit', kwargs={'user_pk': request.user.pk}) }}">My details</a></li>
            <li>
              <form method="post" action="{{ logout_url }}">
                {{ csrf_input }}
                <button class="button link-button" type="submit" style="color: #333;">Log out</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  {% else %}
    <li class="icon-user" id="user-info">
      <a class="dropdown-label" href="{{ login_url }}">Log in</a>
    </li>
  {% endif %}
</ul>
