-r requirements-base.in

# add packages needed only for development

Pygments==2.15.0
black==24.8.0
boto3-stubs[essential]==1.35.20
botocore-stubs==1.35.20
django-extensions==3.2.3
factory-boy==3.3.1
faker==28.4.1
flake8==7.1.1
freezegun==1.5.1
ipdb==0.13.13
isort==5.13.2
mypy==1.11.2
pip-check
pip-tools==7.4.1
pipdeptree
pre-commit==3.8.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest-base-url==2.1.0
pytest-circleci-parallelized==0.1.0
pytest-cov==5.0.0
pytest-django==4.9.0
pytest-mock==3.14.0
pytest-xdist==3.6.1
pytest==8.3.3
requests-mock==1.10.0
sqlparse==0.5.1
types-Pygments==2.18.0.20240506
types-openpyxl==3.1.5.20240822
types-python-dateutil==2.9.0.20240906
types-pytz==2023.3
types-requests==2.32.0.20240914
types-tqdm==4.66.0.20240417
