{% set file_name = file.filename if file is defined and file.filename is defined else 'FILENAME.PDF' %}
{% set file_size = file.file_size if file is defined and file.file_size is defined else '??KB' %}
{% set created_by = file.created_by.full_name if file is defined and file.created_by is defined else 'MR UNKOWN' %}
{% set created_at = file.date_created_formatted() if file is defined else '1 JAN 1900 00:00:00' %}


<tr>
    <td>
        <a  role="filename" class="fileInfo readonly downloadLink" href="#">{{ file_name }}</a>
        <span role="filesize" class="filesize" >{{ file_size }}</span>
    </td>
    <td>
        <span role="username">{{ created_by }}</span>
        <span role="date" class="filesize">{{ created_at }}</span>
    </td>
    <td role="actions">
        {% if in_edit_action %}
            <a href="">Delete</a>
        {% endif %}

    </td>
</tr>