<div class="row">
    <div class="three columns">
        <label class="prompt west">Documents</label>
    </div>
    <div class="six columns">
        <table class="setoutList">
            <thead>
                <tr>
                    <th scope="col">File </th>
                    <th scope="col">Created By </th>
                    <th scope="col">Actions </th>
                </tr>
            </thead>
            <tbody>
                {# todo: replace with loop through files when we have uploaded files#}
                {% for x in [1,2,3] %}
                    <tr>
                        <td>
                            <a class="fileInfo readonly downloadLink" href="#">filename-{{ x }}.pdf</a>
                            <span class="filesize">21KB</span>
                        </td>
                        <td>
                            Mr Admin Gov<br>02-MAR-2020 14:18:51
                        </td>
                        <td>
                            {% if in_edit_action %}
                                <a href="">Delete</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3">
                        {% if in_edit_action %}
                            {% include "web/access-request/partials/fields/file-upload-button.html" %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="three columns"></div>
</div>