<div class="row">
    <div class="three columns">
        <label class="prompt west">Documents</label>
    </div>
    <div class="six columns">
        <table class="file-list" role="file-list">
            <thead>
                <tr>
                    <th scope="col">File </th>
                    <th scope="col">Created By </th>
                    <th scope="col">Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for file in fir.instance.files.all().filter(is_active=True).order_by('pk').reverse() %}
                    {% include "web/access-request/partials/fir-item-file-upload-row.html" %}
                {% endfor %}

                {% if in_edit_action %}
                    <tr>
                        <td colspan="3">
                            {% include "web/access-request/partials/fields/file-upload-button.html" %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="three columns"></div>
</div>

<script id="file-upload-row-template" type="text/template">
    {% include "web/access-request/partials/fir-item-file-upload-row.html" %}
</script>