{% import "forms/fields.html" as fields %}
{% import "forms/forms.html" as forms %}


<fieldset>
    <a name="{{ fir.instance.id }}"></a>
    <legend><strong>FIR {{ idx }} </strong></legend>

    {% set fir_status = fir.status.value()|lower %}
    {% set form_actions_config = fir.Meta.actions %}
    {% set in_edit_action = False if fir.requested_datetime else True %}
    {% set container_class = " ".join([fir_status, "edit" if in_edit_action else "display"]) %}

    {% call forms.form(method='post', action="#%s" % fir.instance.id, csrf_input=csrf_input, container_class=container_class) -%}
        {{ fields.hidden('id', fir.instance.id) }}
        {{ fields.hidden('status', fir.status.value() ) }}

        {% with config=form_actions_config, buttons_list=fir.get_top_buttons(), padding="", class="small-button" %}
            {% include "web/access-request/partials/fields/form-buttons-row.html" %}
        {% endwith %}

        <div class="row">
           {% include "web/access-request/partials/fields/fir-status.html" %}
        </div>

        {% if fir.requested_datetime %}
            {# only shown on display form, edit form does not contain this fields #}
            <div class="row">
                {{ fields.inline_field_with_label(fir.requested_datetime) }}
                {{ fields.inline_field_with_label(fir.requested_by) }}
            </div>
        {% endif %}

        {{ fields.field(fir.request_subject) }}
        {{ fields.field(fir.email_cc_address_list) }}
        {{ fields.field(fir.request_detail) }}

        {% include "web/access-request/partials/fir-item-file-upload.html" %}

        {% with config=form_actions_config, buttons_list=fir.get_bottom_buttons() %}
            {% include "web/access-request/partials/fields/form-buttons-row.html" %}
        {% endwith %}

    {% endcall %}
</fieldset>
