{#
 # TODO: replace placeholder items with real values when we implement reading file data from db
 #}
<tr>
    <td>
        <a  role="filename" class="fileInfo readonly downloadLink" href="#">filename-{{ x }}.pdf</a>
        <span role="filesize" class="filesize" >21KB</span>
    </td>
    <td>
        <span role="username">Mr Admin Gov</span>
        <span role="date" class="filesize">02-MAR-2020 14:18:51</span>
    </td>
    <td role="actions">
        {% if in_edit_action %}
            <a href="">Delete</a>
        {% endif %}

    </td>
</tr>