<div class="row">
    <div class="three columns">
        <label class="prompt west">Documents</label>
    </div>
    <div class="six columns">
        {% if fir.instance.has_deleted_files() and  in_edit_action %}
            <div class="show-deleted-file-container" style="position: relative; clear: both;">
                <label  style="text-align:left; padding-left: 1.1em; float: right">
                    <input type="checkbox" role="deleted-files-control" x-data-id="{{ fir.instance.id }}"> Show deleted files
                </label>
            </div>
        {% endif %}
        <table class="file-list" role="file-list" x-data-id="{{ fir.instance.id }}">
            <thead>
                <tr>
                    <th scope="col">File </th>
                    <th scope="col">Created By </th>
                    <th scope="col">Actions </th>
                </tr>
            </thead>
            <tbody>

                {% for file in fir.instance.files.all().order_by('pk').reverse() %}
                    {% include "web/access-request/partials/fir-item-file-upload-row.html" %}
                {% endfor %}

                {% if in_edit_action %}
                    <tr>
                        <td colspan="3">
                            {% include "web/access-request/partials/fields/file-upload-button.html" %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="three columns"></div>
</div>

<script id="file-upload-row-template" type="text/template">
    {% include "web/access-request/partials/fir-item-file-upload-row.html" %}
</script>