{% import "forms/fields.html" as fields %}
{% import "forms/forms.html" as forms %}


<fieldset>
    <legend><strong>FIR {{ idx }}</strong></legend>

    {% call forms.form(method='post', csrf_input=csrf_input) %}
        <div class="row">
            {{ fields.label(fir.status )}}
            <div class="six columns" data-xfid="g57">
                <div class="status {{ fir.status.value()|lower }}">
                    <div class="individual-input" data-xfid="g59"><span id="g59" class="text-widget ">{{ fir.status.value()|upper }}</span></div>
                </div>
            </div>
            <div class="three columns"></div>
        </div>
        <div class="row">
            {{ fields.inline_field_with_label(fir.requested_datetime) }}
            {{ fields.inline_field_with_label(fir.requested_by) }}
        </div>
        {{ fields.field(fir.request_subject) }}
        {{ fields.field(fir.email_cc_address_list) }}
        {{ fields.field(fir.request_detail) }}
        
        <div class="row">
        <div class="three columns">
            <label for="id_status" class="prompt west">Documents</label>
        </div>
            <div class="six columns">
                {% for file in fir.files %}
                    {{ fields.field(file) }}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="three columns"></div>
            <div class="six columns" data-xfid="g80">
                <ul class="menu-out flow-across">
                    <li> 
                        <button id="g81" name="g81" type="button" onclick="" class="button"> Withdraw Request  </button>
                    </li>
                </ul>
            </div>
            <div class="three columns"></div>
        </div>
    {% endcall %}


</fieldset>



{#
<fieldset>
    <legend><strong>FIR {{ idx }}</strong></legend>
    <div class="container setoutForm" data-xfid="f56">
        <div class="row">
            <div class="three columns" data-xfid="g57">
                <label id="pg57" for="g57" class="prompt west">Status </label>
            </div>
            <div class="six columns" data-xfid="g57">
                <div class="status {{ fir.status|lower }}">
                    <div class="individual-input" data-xfid="g59"><span id="g59" class="text-widget ">{{ fir.status }}</span></div>
                </div>
            </div>
            <div class="three columns"></div>
        </div>
        <div class="row">
            <div class="twelve columns" data-xfid="f60">
                <div class="container setoutForm" data-xfid="f60">
                    <div class="row">
                        <div class="three columns" data-xfid="g61">
                            <label id="pg61" for="g61" class="prompt west">Request Date </label>
                        </div>
                        <div class="two columns" data-xfid="g61">
                            <span id="g61" class="text-widget ">{{ fir.date_created_formatted()|upper }}</span>
                        </div>
                        <div class="two columns" data-xfid="g62">
                            <label id="pg62" for="g62" class="prompt west">Requested By </label>
                        </div>
                        <div class="three columns" data-xfid="g62">
                            <span id="g62" class="text-widget ">{{ fir.requested_by }}</span>
                        </div>
                        <div class="two columns"></div>
                    </div>
                    <div class="row">
                        <div class="three columns" data-xfid="g63">
                            <label id="pg63" for="g63" class="prompt west">Request Subject </label>
                        </div>
                        <div class="six columns" data-xfid="g63">
                            <span id="g63" class="text-widget ">{{ fir.request_subject }}</span>
                        </div>
                        <div class="three columns"></div>
                    </div>
                    <div class="row">
                        <div class="three columns" data-xfid="g64">
                            <label id="pg64" for="g64" class="prompt west">Request CC Email Addresses </label>
                        </div>
                        <div class="six columns input-group" data-xfid="g64">
                            <div class="eleven-column-input">
                                <span id="g64" class="text-widget " aria-describedby="hint137-content">{{ fir.email_cc_address_list.value|default("") }}</span>
                            </div>
                            <div class="input-group-addon hint-addon">
                                <div id="hint137-content" role="tooltip" class="hint-content">You may enter a list of email addresses to CC this email to. Use a semicolon (;) to seperate multiple addresses.<br><br>E.g. john@smith.com; jane@smith.com</div>
                                <div id="hint137" aria-describedby="hint137-content" class="hint icon-info tooltipstered"></div>
                            </div>
                        </div>
                        <div class="three columns"></div>
                    </div>
                    <div class="row">
                        <div class="three columns" data-xfid="g65">
                            <label id="pg65" for="g65" class="prompt west">Request Details </label>
                        </div>
                        <div class="six columns" data-xfid="g65">
                            <span id="g65" class="text-widget ">{{ fir.request_detail|safe }}</span></div>
                        <div class="three columns"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three columns" data-xfid="g66">
            <label id="pg66" for="g66" class="prompt west">Documents </label>
            </div>
            <div class="six columns" data-xfid="g66">

                <style>
                    .uploadlinknopadding td { padding : 0 !important; }
                </style>
                <table>
                    <tbody>
                        <tr>
                            <td class="uploadlinknopadding">

                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>

            </div>
            <div class="three columns"></div>
        </div>
        <div class="row">
            <div class="three columns"></div>
            <div class="six columns" data-xfid="g80">
                <ul class="menu-out flow-across">
                    <li> 
                        <button id="g81" name="g81" type="button" onclick=" class=" button"> Withdraw Request  </button>
                    </li>
                </ul>
            </div>
            <div class="three columns"></div>
        </div>
    </div>
</fieldset>
#}
