{% extends "ecil/base.html" %}

{% block beforeContent %}
  {% if back_link_kwargs %}
    {{ gds.govukBackLink(back_link_kwargs) }}
  {% endif %}
{% endblock %}

{% block ecil_content %}
  <form {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} method="post" action="">
    {{ csrf_input }}
    {{ form }}

    {# TODO: Use preventDoubleClick on all submit buttons #}
    {{ gds.govukButton({
      "text": "Add country",
      "name": "action",
      "value": "add-country",
      "classes": "govuk-button--secondary govuk-!-display-block",
      "type": "submit"
      })
    }}
  </form>

  {% if export_countries %}
    {{ gds.govukTable(govuk_table_kwargs) }}
  {% endif %}

  {# TODO: Link this up to summary view #}
  {{ gds.govukButton({"text": "Continue", "name": "action", "value": "continue"})}}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" nonce="{{ request.csp_nonce }}">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#id_export_countries'),
      menuClasses: "govuk-body",
    })
  </script>
{% endblock %}
