{% extends "ecil/base.html" %}

{% block ecil_content %}
  <form {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} method="post" action="">
    {{ csrf_input }}
    {{ form }}

    {{ gds.govukButton({
      "text": "Add country or territory ",
      "name": "action",
      "value": "add-country",
      "classes": "govuk-button--secondary govuk-!-display-block",
      "type": "submit",
      "preventDoubleClick": True,
      })
    }}
    {% if not export_countries %}
      {# If there are no export countries show a fake continue button to submit the main form #}
      {# This ensures the error message is shown to populate the form #}
      {{ gds.govukButton({"text": "Continue", "preventDoubleClick": True})}}
    {% endif %}
  </form>

  {# When export countries have been selected show a real button to the summary page. #}
  {% if export_countries %}
    {{ gds.govukTable(govuk_table_kwargs) }}
    {{ gds.govukButton({"text": "Continue", "href": summary_url})}}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" nonce="{{ request.csp_nonce }}">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#id_export_countries'),
      menuClasses: "govuk-body",
    })
  </script>
{% endblock %}
