{% extends "ecil/base.html" %}

{% block ecil_content %}
  <h1 class="govuk-heading-l">{{ request.site.name }}</h1>
  <p class="govuk-body">Before you can apply for an export certificate, you need to request access and provide some basic information.</p>
  <p class="govuk-body">You should use your company email address to create an account or sign in to GOV.UK One Login.</p>
  <h2 class="govuk-heading-m">Before you start</h2>
  <p class="govuk-body">You will need to tell us:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>which certificate you need</li>
    <li>your details</li>
    <li>company details</li>
    <li>the type of products you want to export</li>
    <li>where you want to export to</li>
  </ul>
  {{ gds.govukButton({ "text": "Start", "isStartButton": True, "href": auth_login_url }) }}
{% endblock %}
