{%- macro _action_button(ref, label, url_name="guess", action_trigger="run_action", back_url="") %}
  {% set url = flowurl(request, ref, url_name=url_name) %}
  {% if url %}
    <li>
      <form method="post" action="{{url}}{% if back_url %}?back={{back_url}}{% endif %}">
        {{csrf_input}}
        <button 
          type="submit"
          class="secondary-button button"
          name="{{action_trigger}}">
          {{label}}
        </button>
      </form>
    </li>
  {% endif %}
{% endmacro -%}

{%- macro task_assign(task, back_url="") %}
  {{_action_button(task, label='Take Ownership', url_name="assign", back_url=back_url)}}
{% endmacro -%}

{%- macro task_unassign(task, back_url="") %}
  {{_action_button(task, label='Release Ownership', url_name="unassign", back_url=back_url)}}
{% endmacro -%}

{%- macro task_cancel(task, back_url="") %}
  {{_action_button(task, label='Cancel', url_name="cancel", back_url=back_url)}}
{% endmacro -%}

{%- macro process_cancel(process, back_url="") %}
  {% if process.status != 'CANCELED' %}
    {{_action_button(process, label='Cancel', url_name="action_cancel", action_trigger="_cancel_process", back_url=back_url)}}
  {% endif %}
{% endmacro -%}
