{%- macro _task_action_link(task, label, url_name="guess") %}
  {% set url = flowurl(request, task, url_name=url_name) %}
  {% if url %}
    <ul class="menu-out">
      <li>
        <a href="{{url}}">
            {{label}}
        </a>
      </li>
    </ul>
  {% endif %}
{% endmacro -%}

{%- macro _task_action_button_link(task, label, url_name="guess") %}
  {% set url = flowurl(request, task, url_name=url_name) %}
  {% if url %}
    <li>
      <a href="{{url}}" class="secondary-button button">
          {{label}}
      </a>
    </li>
  {% endif %}
{% endmacro -%}

{%- macro task_detail(task) %}
  {{_task_action_link(task, label='Manage', url_name="detail")}}
{% endmacro -%}

{%- macro task_execute(task) %}
  {{_task_action_link(task, label=task.flow_task, url_name="execute")}}
{% endmacro -%}

{%- macro task_reassign(task) %}
  {{_task_action_button_link(task, label='Reassign', url_name="reassign")}}
{%  endmacro -%}

