<table class="setoutList">
  <thead>
    <tr>
      <th scope="col">Template Name</th>
      <th scope="col">Template Description</th>
      <th scope="col">Application Type</th>
      <th scope="col">Sharing</th>
      <th scope="col">Owner</th>
      <th scope="col">Created</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for template in templates %}
    <tr data-test-id="cat-results-row-{{ template.pk }}">
      <td><a href="{{ icms_url('cat:view', kwargs={'cat_pk': template.pk}) }}">{{ template.name }}</a></td>
      <td>{{ template.description|nl2br }}</td>
      <td>{{ template.application_type }}</td>
      <td>{{ template.get_sharing_display() }}</td>
      <td>{{ template.owner }}</td>
      <td>{{ template.created_datetime.strftime('%d-%b-%Y %H:%M') }}</td>
      <td>{{ template.last_updated_datetime.strftime('%d-%b-%Y %H:%M') }}</td>
      <td>
        {% if template.is_active %}
          <a
            href="{{ icms_url('export:create-application-from-template', kwargs={'type_code': template.application_type|lower, "template_pk": template.pk }) }}"
            class="link-button button icon-magic-wand" title="Create Application">
            Create Application
          </a>
          {% if template.owner == request.user or template.sharing|lower == "edit" %}
            <a href="{{ icms_url('cat:edit', kwargs={'cat_pk': template.pk}) }}" class="link-button button icon-pencil" title="Edit Template">Edit</a>
            <form method="POST" action="{{ icms_url('cat:archive', kwargs={'cat_pk': template.pk}) }}">
              {{ csrf_input }}
              <button type="submit" class="link-button button icon-bin" title="Archive Template">Archive</button>
            </form>
          {% endif %}
        {% else %}
          {% if template.owner == request.user or template.sharing|lower == "edit" %}
            <form method="POST" action="{{ icms_url('cat:restore', kwargs={'cat_pk': template.pk}) }}">
              {{ csrf_input }}
              <button type="submit" class="link-button button icon-undo2" title="Restore Template">Restore</button>
            </form>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
