<ul class="menu-out">
  <h5>Digital Signatures</h5>
  <li>
    <a href="{{ icms_url('support:validate-signature') }}">How to validate a signature on a digitally signed document</a>
  </li>
  <h5>Useful Links</h5>
  <li>
    <a href="{{ icms_url('support:accessibility-statement') }}">Accessibility Statement</a>
  </li>
  <li>
    <a href="{{ static('web/docs/PrivacyNotice.pdf') }}" class="pdf" target="_blank" rel="noopener noreferrer">Fair Processing Notice</a>
  </li>
  <li>
      <a href="{{ static('web/docs/DIT-DBT-NameChangeNotification.pdf') }}" target="_blank" rel="noopener noreferrer">DIT to DBT Notification Document</a>
  </li>
  <li>
    <a href="{{ icms_url('cookie-consent') }}?referrer_url={{ request.path }}">Cookies</a>
  </li>
</ul>
