{% extends "layout/sidebar.html" %}
{% import "forms/form.html" as forms %}

{% block page_title %}Maintain Templates{% endblock %}

{% block context_header %}Maintain Templates{% endblock %}

{% block main_content %}


{{forms.form(
  filter.form,
  method='get',
  action='',
  button_label='Search',
  label_cols='three',
  input_cols='six',
  padding='three',
  show_optional_indicators=False
)}}



<table responsiveList class="setoutList">
    <thead>
        <tr>
            <th scope="col">Template Name
            </th>
            <th scope="col">Template Type
            </th>
            <th scope="col">Application Domain
            </th>
            <th scope="col">Template Status
            </th>
            <th scope="col">Actions
            </th>
        </tr>
    </thead>
    {% for template in filter.qs %}
    <tr data-xfid="f52">
        <td data-title="Template Name" data-xfid="g53"> <a href="">{{template.template_name}}</a></td>
        <td data-title="Template Type" data-xfid="g54"><span id="g54" class="text-widget ">{{template.template_type_verbose}}</span></td>
        <td data-title="Application Domain" data-xfid="g55"><span id="g55" class="text-widget ">{{template.application_domain_verbose}}</span></td>
        <td data-title="Template Status" data-xfid="g56"><span id="g56" class="text-widget ">{% if template.is_active %}Active{%else%}Archived{% endif %}</span></td>
        <td data-title="Actions" data-xfid="g57">
            <ul class="menu-out grouped flow-across">
                <li> <button id="g59" name="g59" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-edit-template&quot;,&quot;ctxt&quot;:&quot;suRcmW_plrnqVW43&quot;}, this);" class="link-button icon-pencil button no-prompt-action" aria-describedby="hint632-content" aria-label="Edit">
                    </button>
                    <div id="hint632-content" role="tooltip" class="hint-content">Edit</div>
                </li>
                <li> <button id="g58" name="g58" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-archive-template&quot;,&quot;ctxt&quot;:&quot;suRcmW_plrnqVW43&quot;}, this);" class="link-button icon-bin button no-prompt-action" aria-describedby="hint633-content" aria-label="Archive">
                    </button>
                    <div id="hint633-content" role="tooltip" class="hint-content">Archive</div>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}

</table>
<div class="result-count">
    {{filter.qs.count()}} templates found
</div>
<div class="content-actions"></div>
</div>
</div>

{% endblock %}
