.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-centre {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    flex: 100% 0 0;
}

.two-third {
    flex: 67% 0 0;
}

.half {
    flex: 50% 0 0;
}

.third {
    flex: 33% 0 0;
}

.thirty_width {
    flex: 30% 0 0;
}

.quarter {
    flex: 25% 0 0;
}

.bordered {
    border: 1px solid #000;
    box-decoration-break: clone;
}

.b-left {
    border-left: 1px solid #000;
}

.b-right {
    border-right: 1px solid #000;
}

.b-top {
    border-top: 1px solid #000;
}

.b-bottom {
    border-bottom: 1px solid #000;
}

.black {
    color: black;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-0-5 {
    margin-bottom: 0.5em !important;
}

.mb-1 {
    margin-bottom: 1em !important;
}

.mb-2 {
    margin-bottom: 2em;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1em;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.no-print-break {
    break-inside: avoid;
}

.preview-orange {
    color: darkorange !important;
}

.preview-green {
    color: #0B8433;
}

.pl-0 {
    padding-left: 0;
}

.pl-0-5 {
    padding-left: 0.5em;
}

.pl-1 {
    padding-left: 1em;
}

.pr-0-5 {
    padding-right: 0.5em;
}

.pr-1 {
    padding-right: 1em;
}

.avoid-break {
    break-inside: avoid;
}

.centre {
    text-align: center;
}
