<div class="container setoutForm">
    <div class="row">
        <div class="twelve columns">
            <button
                role="action-button"
                class="link-button button no-prompt-action tooltipstered {% if icon %}{{icon}}{% endif %}"
                aria-label="{{label}}"
                data-action="{{ action }}"
                data-csrf="{{ csrf_token }}"
                {% if confirm %} data-confirm="{{confirm_message}}" {% endif %}
            >
                {{ label }}
            </button>
        </div>
    </div>
</div>