<fieldset>
  <legend class="bold">
    Case Note created by {{ note.created_by }} on {{ note.create_datetime.strftime('%d-%b-%Y %H:%M:%S') }}
  </legend>

  {% if url_namespace == "export" %}
    <a href="{{ icms_url('export:edit-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk }) }}"
      class="button small-button icon-pencil">
      Edit
    </a>
  {% else %}
    <a href="{{ icms_url('import:edit-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk }) }}"
      class="button small-button icon-pencil">
      Edit
    </a>
  {% endif %}
  {% if note.status != 'DELETED' %}
    {% if url_namespace == "export" %}
      <form method="post"
            action="{{ icms_url('export:archive-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk }) }}"
            class="form-inline">
    {% else %}
      <form method="post"
            action="{{ icms_url('import:archive-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk }) }}"
            class="form-inline">
    {% endif %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button type="submit" class="small-button icon-bin">Delete</button>
    </form>
  {% endif %}
  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
      <dl>
        <dt class="bold">Status</dt>
        <dd class="status {{ note.status.lower() }}"><span class="text-widget">{{ note.get_status_display() }}</span></dd>
        <dt class="bold">Case Note</dt>
        <dd>{{ note.note|default('N/A', true) }}</dd>
        <dt class="bold">Documents</dt>
        <dd>
          {% if note.files.exists() %}
            <table class="setoutList">
              <thead>
                <tr>
                  <th scope="col">File</th>
                  <th scope="col">Created By</th>
                </tr>
              </thead>
              <tbody>
              {% for document in note.files.all() %}
                <tr>
                  <td>
                    {{ document.filename }}<br />
                    <span class="extra-info">{{ document.file_size }}</span>
                  </td>
                  <td>
                    {{ document.created_by }}<br />
                    <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            N/A
          {% endif %}
        </dd>
      </dl>
    </div>
    <div class="two columns"></div>
  </div>
</fieldset>
