<fieldset>
  <legend class="bold">Case Note: {{ note.create_datetime.date()|localize }}</legend>
  <div class="extra-info case-item-extra-info">
      Created by {{ note.created_by }} on {{ note.create_datetime|localize }} {% if note.updated_by %}(Last updated by {{ note.updated_by }} on {{ note.updated_at|localize }}){% endif %}
  </div>
  <br>

  {% if not readonly_view %}
    {% if note.is_active %}
      <a
        href="{{ icms_url('case:edit-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk, 'case_type': case_type}) }}"
        class="button small-button icon-pencil">
        Edit
      </a>
    {% endif %}
    {% if note.is_active %}
      <form method="post"
        action="{{ icms_url('case:archive-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk, 'case_type': case_type }) }}"
        class="form-inline">
        {{ csrf_input }}
        <button type="submit" class="small-button icon-bin">Delete</button>
      </form>
    {% elif not note.is_active %}
      <form method="post"
        action="{{ icms_url('case:unarchive-note', kwargs={'application_pk': process.pk, 'note_pk': note.pk, 'case_type': case_type }) }}"
        class="form-inline">
        {{ csrf_input }}
        <button type="submit" class="small-button icon-undo">Restore</button>
      </form>
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
      <dl>
        <dt class="bold">Case Note</dt>
        <dd>{{ note.note|default('N/A', true) }}</dd>
        <dt class="bold">Documents</dt>
        <dd>
          {% if note.files.active() %}
            <table class="setoutList">
              <thead>
                <tr>
                  <th scope="col">File</th>
                  <th scope="col">Created By</th>
                </tr>
              </thead>
              <tbody>
              {% for document in note.files.active() %}
                <tr>
                  <td>
                    <a href="{{ icms_url('case:view-note-document', kwargs={'application_pk': process.pk, 'note_pk': note.pk, 'file_pk': document.pk, 'case_type': case_type}) }}">
                      {{ document.filename }}
                    </a>
                    <br />
                    <span class="extra-info">{{ document.file_size }}</span>
                  </td>
                  <td>
                    {{ document.created_by }}<br />
                    <span class="extra-info">{{ document.created_datetime|datetime_format }}</span>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            N/A
          {% endif %}
        </dd>
      </dl>
    </div>
    <div class="two columns"></div>
  </div>
</fieldset>
