{% extends "partial/case/fir.html" %}

{% block fir_action %}
  {% if fir.status == 'DRAFT' %}
    <a href="{{ url(
                  'access:case-management-fir-edit',
                  kwargs={'application_pk': object.pk, 'entity': entity, 'fir_pk': fir.pk }) }}"
      class="button small-button icon-pencil">
      Edit
    </a>
  {% elif fir.status == 'OPEN' %}
    <form method="post"
          action="{{ url(
                       'access:case-management-fir-withdraw',
                       kwargs={'application_pk': object.pk, 'entity': entity, 'fir_pk': fir.pk }) }}"
          class="form-inline">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button type="submit" class="small-button icon-undo2">Withdraw Request</button>
    </form>
    <form method="post"
          action="{{ url(
                       'access:case-management-fir-close',
                       kwargs={'application_pk': object.pk, 'entity': entity, 'fir_pk': fir.pk }) }}"
          class="form-inline">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button type="submit" class="small-button">Close</button>
    </form>
  {% elif fir.status == 'RESPONDED' %}
    <form method="post"
          action="{{ url(
                       'access:case-management-fir-close',
                       kwargs={'application_pk': object.pk, 'entity': entity, 'fir_pk': fir.pk }) }}"
          class="form-inline">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button type="submit" class="small-button">Close</button>
    </form>
  {% endif %}

  {% if fir.status in ['DRAFT', 'OPEN'] %}
    <form method="post"
          action="{{ url(
                       'access:case-management-fir-archive',
                       kwargs={'application_pk': object.pk, 'entity': entity, 'fir_pk': fir.pk }) }}"
          class="form-inline">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button type="submit" class="small-button icon-bin">Delete</button>
    </form>
  {% endif %}
{% endblock %}
