{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


<p>Use the button below to stop (cancel) this case. No response will be recorded for this case if stopped.</p>
{% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
  {{ fields.field(form.send_email, checkbox_label="Inform applicants that the case has been stopped") }}

  <div class="container">
    <div class="row">
      <div class="three columns"></div>
      <div class="eight columns">
        <ul class="menu-out flow-across">
          <li>
            <input type="submit" class="primary-button button" value="Stop Case" />
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endcall %}
