{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

<fieldset>
  <legend class="bold">
    FIR requested by {{ fir.requested_by }} on {{ fir.requested_datetime|datetime_format }}
  </legend>

  {% if fir.status == "DRAFT" %}
  <form
    method="post"
    action="{{ icms_url(
                 'case:delete-fir',
                 kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'case_type': case_type }) }}"
    class="form-inline">
      {{ csrf_input }}
      <button type="submit" class="small-button icon-bin">Delete</button>
    </form>
  {% endif %}

<div class="container setoutForm">
  <div class="row">
    <div class="nine columns">
      <form method="post"
            action="{{ icms_url(
                         'case:edit-fir',
                         kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'case_type': case_type}) }}"
            enctype="multipart/form-data"
            novalidate
            id="edit-fir-form"
      >
        {{ csrf_input }}
        {% for field in form %}
            {{fields.field(field, mark_safe=True)}}
        {% endfor %}
        <button type="button" id="send-fir-request-button" class="button primary-button">Send Request</button>
        <button type="button" id="save-fir-request-button" class="button primary-button">Save</button>
      </form>
      <br>
      <p><label>Documents</label></p>
      {% if fir.files.active().exists() %}
      <table class="setoutList">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Created By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for document in fir.files.active() %}
          <tr>
            <td>
              <a
                href="{{ icms_url('case:view-fir-file', kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'file_pk': document.pk, 'case_type': case_type}) }}">
                {{ document.filename }}
              </a>
              <br>{{ document.human_readable_file_size() }}
            </td>
            <td>
              {{ document.created_by }}<br />
              <span class="extra-info">{{ document.created_datetime|datetime_format }}</span>
            </td>
            <td>
              <form method="post"
                    action={{ icms_url(
                              'case:delete-fir-file',
                              kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'file_pk': document.pk, 'case_type': case_type}) }}>
                {{ csrf_input }}
                <button type="submit" class="button link-button-no-padding">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="info-box info-box-info">
          There are no documents attached
        </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <a class="button small-button" href="{{ icms_url('case:add-fir-file', kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'case_type': case_type}) }}">
            Add document
          </a>
        </div>
      </div>
    </div>
    <div class="three columns"></div>
  </div>
</div>
</fieldset>
