<fieldset>
  <legend class="bold">
    FIR requested by {{ fir.requested_by }} on {{ fir.requested_datetime.strftime('%d-%b-%Y %H:%M:%S') }}
  </legend>

  {% block fir_action %}
  {% endblock %}

  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
      <dl>
        <dt class="bold">Status</dt>
        <dd class="status {{ fir.status.lower() }}">
          <span class="text-widget">{{ fir.get_status_display() }}</span>
        </dd>
        <dt class="bold">Requested</dt>
        <dd>{{ fir.requested_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</dd>
        <dt class="bold">Requested by</dt>
        <dd>{{ fir.requested_by }}</dd>
        <dt class="bold">Request Subject</dt>
        <dd>{{ fir.request_subject|default('N/A', true) }}</dd>
        <dt class="bold">Request CC Email Addresses</dt>
        <dd>{{ fir.email_cc_address_list|default('N/A', true) }}</dd>
        <dt class="bold">Request Details</dt>
        <dd>{{ fir.request_detail|default('N/A', true)|nl2br }}</dd>
        <dt class="bold">Documents</dt>
        <dd>
          {% if fir.files.active().exists() %}
            <table class="setoutList">
              <thead>
                <tr>
                  <th scope="col">File</th>
                  <th scope="col">Created By</th>
                </tr>
              </thead>
              <tbody>
              {% for document in fir.files.active() %}
                <tr>
                  <td>
                    <a
                      href="{{ icms_url('case:view-fir-file', kwargs={'application_pk': process.pk, 'fir_pk': fir.pk, 'file_pk': document.pk, 'case_type': case_type}) }}">
                      {{ document.filename }}
                    </a>
                    <br />{{ document.human_readable_file_size() }}
                  </td>
                  <td>
                    {{ document.created_by }}<br />
                    <span class="extra-info">{{ document.created_datetime.strftime('%d-%b-%Y %H:%M:%S') }}</span>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            N/A
          {% endif %}
        </dd>
        <dt class="bold">Response Date</dt>
        <dd>
          {% if fir.response_datetime %}
            {{ fir.response_datetime.strftime('%d-%b-%Y %H:%M:%S') }}
          {% else %}
            N/A
          {% endif %}
        </dd>
        <dt class="bold">Responded By</dt>
        <dd>{{ fir.response_by|default('N/A', true) }}</dd>
        <dt class="bold">Response Detail</dt>
        <dd>{{ fir.response_detail|default('N/A', true) }}</dd>
      </dl>
    </div>
    <div class="two columns"></div>
  </div>
</fieldset>
