<div class="info-box info-box-info">
    <p>This screen is used to send a request to the applicant for further information.</p>
    <p>
      An email will be sent to the members of the importer/agent team who submitted
      the application. One of these members will need to log in and supply further
      information. When they submit their response the case owner will be notified
      via email.
    </p>
</div>

<div class="list-actions">
  {% if not readonly_view %}
    <ul class="menu-out flow-across">
      <form
        method="post"
        action="{{ icms_url('case:add-fir', kwargs={'application_pk': process.pk, 'case_type': case_type}) }}"
        class="form-inline">

        {{ csrf_input }}
        <button type="submit" class="small-button icon-plus">New FIR</button>
      </form>
    </ul>
  {% endif %}
</div>

{% for fir in firs.all() %}
  {% include 'partial/case/case-fir-box.html' %}
{% else %}
  <div class="info-box info-box-info">There aren't any further information requests.</div>
{% endfor %}
