{% extends "flow/task-manage-import.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block main_content %}
  <h3>{{ process.reference or process.pk }}</h3>

  <h4>Case Stopping</h4>

  <p>Use the button below to stop (cancel) this case. No response will be recorded for this case if stopped.</p>

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {{ fields.field(form.send_email, checkbox_label="Inform applicants that the case has been stopped") }}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                class="primary-button button"
                value="Stop Case" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}

  <h4>SIGL</h4>
  {# TODO: check what is displayed when `process.application_type.sigl_flag` is True.
     Currently application_type where sigl_flag is True doesn't display anything else
     in ICMSv1 #}

  {% if process.process_type == "WoodQuotaApplication" %}
    <div class="info-box info-box-info">
      <p>This case type needs to be logged manually in the EC SIGLWood system. Please login using the following
        link:</p>
      <p><a href="https://webgate.ec.europa.eu/siglwood" target="_blank">https://webgate.ec.europa.eu/siglwood</a></p>
    </div>
  {% else %}
    <p>This case type does not need to be sent to SIGL.</p>
  {% endif %}

{% endblock %}
