{% extends "web/domains/case/manage/prepare-response.html" %}


{% block goods_content %}
  <h4>Goods</h4>
  <div class="container">
    <div class="row">
      <div class="three column">
        <span class="prompt west">
          Category
        </span>
      </div>
      <div class="six column">
        ex Chapter 93
      </div>
      <div class="three column">
      </div>
    </div>
  </div>

  <table class="setoutList">
    <thead>
      <tr>
        <th>Goods Description </th>
        <th>Quantity </th>
        <th>Unit </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="individual-input">
            <span class="text-widget">
              Firearms, component parts thereof, or ammunition of any applicable commodity code,
              other than those falling under Section 5 of the Firearms Act 1968 as amended.
            </span>
          </div>
        </td>
        <td>
          <div class="individual-input">
            <span class="text-widget">Unlimited</span>
          </div>
        </td>
        <td>
          <div class="individual-input">
            <span class="text-widget">units</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}
