{% extends "web/domains/case/manage/prepare-response.html" %}


{% block goods_content %}
  <h4>Goods</h4>
  <table class="setoutList">
    <thead>
      <tr>
        <th>Commodity Code</th>
        <th>Goods Description</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Value (GBP CIF)</th>
        {% if not readonly_view %}<th>Action</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for goods_item in goods %}
        <tr>
          <td>
            {{ commodity_link(goods_item.commodity) }}
          </td>
          <td>
            {{ goods_item.goods_description }}
          </td>
          <td>
            {{ goods_item.quantity_amount }}
          </td>
          <td>{{ goods_item.unit_description }}</td>
          <td>
            {{ goods_item.value}}
          </td>
          {% if not readonly_view %}
            <td>
              <a
                href={{ icms_url('import:sanctions:edit-goods-licence', args=[process.pk, goods_item.pk]) }}>
                Edit
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
