{% extends "web/domains/case/manage/prepare-response.html" %}


{% block goods_content %}
  <h4>Goods</h4>
  <table class="setoutList">
    <thead>
      <tr>
        <th>Commodity Code</th>
        <th>Goods Description</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Value</th>
        {% if not readonly_view and not variation_refused %}<th>Action</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ commodity_link(process.commodity) }}
        </td>
        <td>
          {{ process.goods_description }}
        </td>
        <td>
          {{ process.quantity }}
        </td>
        <td>
          {{ process.unit }}
        </td>
        <td>
          {{ process.value}}
        </td>
        {% if not readonly_view and not variation_refused %}
          <td>
            <a
              href={{ icms_url('import:derogations:edit-goods-licence', kwargs={'application_pk': process.pk}) }}>
              Edit
            </a>
          </td>
        {% endif %}
      </tr>
    </tbody>
  </table>
{% endblock %}
