{% extends "web/domains/case/manage/prepare-response.html" %}

{% macro edit_goods_link(process, goods, section) %}
  <a class="link-button button icon-pencil" data-input_action="edit"
      href="{{ icms_url('import:fa-sil:response-prep-edit-goods', kwargs={'application_pk': process.pk, 'section_pk': goods.pk, "sil_section_type": section}) }}"
  >Edit</a>
{% endmacro %}

{% macro reset_data_button(process, goods, section) %}
  {% if goods.description != goods.description_original or goods.quantity != goods.quantity_original %}
    <form
      method="post"
      action="{{ icms_url('import:fa-sil:response-prep-reset-goods', kwargs={'application_pk': process.pk, 'section_pk': goods.pk, "sil_section_type": section}) }}"
      class="form-inline">
      {{ csrf_input }}
      <button
        type="submit"
        class="link-button button icon-undo2"
        aria-label="Reset Data"
        data-confirm="Are you sure you want to reset the goods data? Any changes you have made will be lost.">Reset Data
      </button>
    </form>
  {% endif %}
{% endmacro %}

{% block cover_letter_actions %}
  {% if not readonly_view and not variation_refused %}
    <a
      href="{{ icms_url('import:fa-sil:set-cover-letter', kwargs={'application_pk': process.pk}) }}"
      class="button small-button">
      Set Cover Letter
    </a>
  {% endif %}
{% endblock %}

{% block goods_content %}
  <h4>Goods</h4>
  <div class="container">
    <div class="row">
      <div class="three column">
        <span class="prompt west">
          Category
        </span>
      </div>
      <div class="six column">
        {{ process.commodity_code }}
      </div>
      <div class="three column">
      </div>
    </div>
  </div>

  {% if has_goods %}
    <table class="setoutList">
      <thead>
      <tr>
        <th>Goods Description</th>
        <th>Obsolete Calibre</th>
        <th>Quantity</th>
        <th>Units</th>
        {% if not readonly_view and not variation_refused%}<th colspan="2">Actions</th>{% endif %}
      </tr>
      </thead>

      {# Section 1 goods #}
      {% for row in goods_section_1 %}
        <tr class="result-row">
          <td>{{ row.description }}</td>
          <td></td>
          <td>
            {% if row.unlimited_quantity %}
              Unlimited
            {% else %}
              {{ row.quantity }}
            {% endif %}
          </td>
          <td>units</td>
          {% if not readonly_view and not variation_refused %}
            <td>
              {{ edit_goods_link(process, row, "section1") }}
            </td>
            <td>
              {{ reset_data_button(process, row, "section1") }}
            </td>
          {% endif %}
        </tr>
      {% endfor %}

      {# Section 2 goods #}
      {% for row in goods_section_2 %}
        <tr class="result-row">
          <td>{{ row.description }}</td>
          <td></td>
          <td>
            {% if row.unlimited_quantity %}
              Unlimited
            {% else %}
              {{ row.quantity }}
            {% endif %}
          </td>
          <td>units</td>
          {% if not readonly_view and not variation_refused %}
            <td>
              {{ edit_goods_link(process, row, "section2") }}
            </td>
            <td>
              {{ reset_data_button(process, row, "section2") }}
            </td>
          {% endif %}
        </tr>
      {% endfor %}

      {# Section 5 goods #}
      {% for row in goods_section_5 %}
        <tr class="result-row">
          <td>{{ row.description }}</td>
          <td></td>
          <td>
            {% if row.unlimited_quantity %}
              Unlimited
            {% else %}
              {{ row.quantity }}
            {% endif %}
          </td>
          <td>units</td>
          {% if not readonly_view and not variation_refused %}
            <td>
              {{ edit_goods_link(process, row, "section5") }}
            </td>
            <td>
              {{ reset_data_button(process, row, "section5") }}
            </td>
          {% endif %}
        </tr>
      {% endfor %}

      {# Section 58 goods #}
      {% for row in goods_section_58 %}
        <tr class="result-row">
          <td>{{ row.description }}</td>
          <td>{{ row.obsolete_calibre }}</td>
          <td>{{ row.quantity }}</td>
          <td>units</td>
          {% if not readonly_view and not variation_refused %}
            <td>
              {{ edit_goods_link(process, row, "section582-obsolete") }}
            </td>
            <td>
              {{ reset_data_button(process, row, "section582-obsolete") }}
            </td>
          {% endif %}
        </tr>
      {% endfor %}

      {# Section 58 other goods #}
      {% for row in goods_section_58_other %}
        <tr class="result-row">
          <td>{{ row.description }}</td>
          <td></td>
          <td>{{ row.quantity }}</td>
          <td>units</td>
          {% if not readonly_view and not variation_refused %}
            <td>
              {{ edit_goods_link(process, row, "section582-other") }}
            </td>
            <td>
              {{ reset_data_button(process, row, "section582-other") }}
            </td>
          {% endif %}
        </tr>
      {% endfor %}

      {% for row in section_legacy %}
        <tr class="result-row">
          <td>{{ row.description }}</td>
          <td></td>
          <td>
            {% if row.unlimited_quantity %}
              Unlimited
            {% else %}
              {{ row.quantity }}
            {% endif %}
          </td>
          <td>units</td>
          <td></td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <div class="info-box info-box-info">There are no goods attached</div>
  {% endif %}

{% endblock %}
