{% extends "web/domains/case/manage/base.html" %}
{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}


{% block main_content %}
  <h3>Response Preparation</h3>
  {% if process.application_approved %}
    {% if cover_letter_flag %}
      <a
        href="{{ icms_url('import:preview-cover-letter', kwargs={'application_pk': process.pk}) }}"
        target="blank"
        class="button">
        Preview Cover Letter
      </a>
    {% endif %}

    {% if electronic_licence_flag %}
      <a
        href="{{ icms_url('import:preview-licence', args=[process.pk]) }}"
        target="blank"
        class="button">
        Preview Licence
      </a>
    {% endif %}
  {% endif %}

  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% for field in form %}
      {{ fields.field(field, show_optional_indicator=False) }}
    {% endfor %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                class="primary-button button"
                value="Save" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}


  {% if process.application_approved %}

    {% block goods_content %}{% endblock %}

    {% if cover_letter_flag %}
      <h4>Cover Letter</h4>

      <hr />
      {{ process.cover_letter|safe }}
      <hr />

      <a
        href="{{ icms_url('import:edit-cover-letter', kwargs={'application_pk': process.pk}) }}"
        class="button small-button">
        Edit Cover Letter
      </a>
    {% endif %}

    <h4>Licence</h4>
    <table class="setoutList">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Issue paper licence only?</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {% if process.licence_start_date %}
              {{ process.licence_start_date.strftime('%d-%b-%Y') }}
            {% endif %}
          </td>
          <td>
            {% if process.licence_end_date %}
              {{ process.licence_end_date.strftime('%d-%b-%Y') }}
            {% endif %}
          </td>
          <td>
            No
          </td>
          <td>
            <a
              href="{{ icms_url('import:edit-licence', args=[process.pk]) }}">
              Edit
            </a>
        </tr>
      </tbody>
    </table>

    <h4>Endorsement</h4>
    <table class="setoutList">
      <thead>
        <tr>
          <th>Endorsement</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for endorsement in process.endorsements.all() %}
          <tr>
            <td>
              {{ endorsement.content|nl2br }}
            </td>
            <td>
              <a
                href="{{ icms_url('import:edit-endorsement', kwargs={'application_pk': process.pk, 'endorsement_pk': endorsement.pk}) }}"
                class="button small-button">
                Edit
              </a>
              <form
                method="post"
                action="{{ icms_url('import:delete-endorsement', kwargs={'application_pk': process.pk, 'endorsement_pk': endorsement.pk}) }}"
                class="form-inline">
                {{ csrf_input }}
                <input type="submit" class="button small-button" value="Remove" />
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="list-actions">
      <a
        href="{{ icms_url('import:add-endorsement', kwargs={'application_pk': process.pk}) }}"
        class="button small-button icon-plus">
        Add Endorsement
      </a>
      <a
        href="{{ icms_url('import:add-custom-endorsement', kwargs={'application_pk': process.pk}) }}"
        class="button small-button icon-plus">
        Add Custom Endorsement
      </a>
    </div>
  {% endif %}

{% endblock %}

{% block page_js %}
  {{super()}}
  <script src="{{ static('web/js/pages/approval-response.js') }}" type="text/javascript"></script>
{% endblock %}
