{% macro _field(field, tooltip=None, checkbox_label=None, field_description=None, show_errors=True) -%}
  {% set field_markup %}

    {% if field_description %}
      <div class="fieldDescription north">{{field_description}}</div>
    {% endif %}


    {% if checkbox_label %}
    <label for="{{field.id}}" class="radio-label">
      {{ field }}
      {{checkbox_label}}
    </label>
    {% else %}
      {{ field }}
    {% endif %}

    {% if show_errors and field.errors %}
      {% for error in field.errors %}
        <div class="error-message">{{error}}</div>
      {% endfor %}
    {% endif %}
  {% endset %}

  {% if field.help_text or tooltip %}
    <div class="eleven-column-input">
      {{field_markup}}
    </div>
    <div class="input-group-addon hint-addon">
      {% if tooltip %}
      {{tooltip}}
      {% else %}
      <div id="{{field.html_name}}-hint-content" role="tooltip" class="hint-content">
        {{tooltip or field.help_text|safe}}
      </div>
      <div aria-describedby="{{field.html_name}}-hint-content" class="hint icon-info tooltipstered"></div>
      {% endif %}
      </div>
  {% else %}
    {{field_markup}}
  {% endif %}
{%- endmacro %}

{# Renders a single form field with icms styling #}
{% macro field(field, tooltip=None, checkbox_label=None, field_description=None, show_errors=True) -%}
  <div class="row" >
    {{ inline_field_with_label(field, tooltip, checkbox_label, field_description, show_errors) }}
  </div>
{%- endmacro %}

{# Renders a single INLINE form field with icms styling #}
{% macro inline_field_with_label(field, tooltip=None, checkbox_label=None, field_description=None, show_errors=True) -%}
  {% set config=field.field.config %}

  {{ label(field) }}

  <div class="{{config.input.cols}} columns input-group {% if show_errors and field.errors %}input-error{% endif %}">
    {{_field(field, tooltip=tooltip, checkbox_label=checkbox_label, field_description=field_description, show_errors=show_errors)}}
  </div>
  {% if config.padding and config.padding.right %}
    <div class="{{config.padding.right}} columns"> </div>
  {% endif %}
{% endmacro %}

{% macro label(field) %}
  {% set config=field.field.config %}

    <div class="{{config.label.cols}} columns">
    <label for="{{ field.id_for_label }}" class="prompt {{config.label.prompt}}">
      {{field.label}}
      {% if config.show_optional_indicator and not field.field.required %}
        <span class="mand-label">optional</span>
      {% endif %}
    </label>
  </div>

{% endmacro %}

{% macro hidden(name, value) -%}
  <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endmacro %}

{# Renders a single inline form field with icms styling #}
{% macro inline_field(field) -%}
  <td {% if field.errors %}class="input-error"{% endif %}>
    {{_field(field)}}
  </td>
{%- endmacro %}

{% macro field_as_text(field) %}

  {% if field.field.choices %}
    {{ field }}
  {% else %}
     {{ field.value() }}
  {% endif %}


{% endmacro %}