{% macro _field(field, tooltip=None, checkbox_label=None, field_description=None, show_errors=True, lookup=False, mark_safe=False) -%}
  {% set field_markup %}

    {% if field_description %}
      <div class="fieldDescription north">{{field_description}}</div>
    {% endif %}


    {% if checkbox_label %}
    <label for="id_{{ field.name }}" class="radio-label">
      {{ field }}
      {{checkbox_label}}
    </label>
    {% else %}
      {{ field }}
    {% endif %}

    {% if show_errors and field.errors %}
      {% for error in field.errors %}
        <div class="error-message">{{error}}</div>
      {% endfor %}
    {% endif %}
  {% endset %}

  {% if field.help_text or tooltip %}
    {{ field_markup }}

    {% if tooltip %}
      {{ tooltip }}
    {% else %}
      {% if mark_safe %}
        <p class="helptext">{{ field.help_text|safe }}</p>
      {% else %}
        <p class="helptext">{{ field.help_text }}</p>
      {% endif %}
    {% endif %}
  {% elif lookup %}
    <div class="nine-column-input">
      {{field_markup}}
    </div>
    <div class="input-group-addon hint-addon">
      <button
        type="button"
        class="link-button icon-search button no-prompt-action"
      /></button>
    </div>
  {% else %}
    {{field_markup}}
  {% endif %}
{%- endmacro %}

{# Renders a single form field with icms styling #}
{% macro field(field, tooltip=None, checkbox_label=None, field_description=None, show_errors=True, show_optional_indicator=True, prompt='west', padding='three', input_cols='six', label_cols='three', lookup=False, mark_safe=False) -%}
  <div class="row row_{{ field.id_for_label  }}" >
    {{ inline_field_with_label(field, tooltip, checkbox_label, field_description, show_errors, show_optional_indicator, prompt, padding, input_cols, label_cols, lookup, mark_safe) }}
  </div>
{%- endmacro %}

{# Renders a single INLINE form field with icms styling #}
{% macro inline_field_with_label(field, tooltip=None, checkbox_label=None, field_description=None, show_errors=True, show_optional_indicator=True, prompt='west', padding='three', input_cols='six', label_cols='three', lookup=False, mark_safe=False) -%}
  {% set config=field.field.config %}

  {{ label(field, show_optional_indicator, prompt, label_cols) }}

  <div class="{{ input_cols }} columns input-group {% if show_errors and field.errors %}input-error{% endif %}">
    {{_field(field, tooltip=tooltip, checkbox_label=checkbox_label, field_description=field_description, show_errors=show_errors, lookup=lookup, mark_safe=mark_safe)}}
  </div>
  {% if padding %}
    <div class="{{ padding }} columns"> </div>
  {% endif %}
{% endmacro %}

{% macro label(field, show_optional_indicator=True, prompt='west', label_cols='three') %}
  {% set config=field.field.config %}

    <div class="{{ label_cols }} columns">
    {% if 'HiddenInput' not in field.field.widget.__class__.__name__ %}
      {# do not render the label on hidden fields #}
      <label for="{{ field.id_for_label }}" class="prompt {{ prompt }}">
        {{field.label}}
        {% if show_optional_indicator and not field.field.required %}
          <span class="mand-label">optional</span>
        {% endif %}
      </label>
    {% endif %}
  </div>

{% endmacro %}

{% macro hidden(name, value) -%}
  <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endmacro %}

{# Renders a single inline form field with icms styling #}
{% macro inline_field(field, lookup=False) -%}
  <td {% if field.errors %}class="input-error"{% endif %}>
    {{_field(field, lookup=lookup)}}
  </td>
{%- endmacro %}

{% macro field_as_text(field) -%}
    {% if field.field.widget.__class__.__name__ in ['TextInput', 'EmailInput', 'Textarea', 'DateInput', 'NumberInput'] %}
        {{ field.value()|safe|nl2br }}

    {% elif field.field.widget.__class__.__name__ in ['Select'] %}
        {% for value, text in field.field.choices %}
            {% if value == field.value() %}
                {{ text }}
            {% endif %}
        {% endfor %}

    {% else %}
        {{ field }}

    {% endif %}
{% endmacro %}

{% macro address_fields(form, name_field, address_type_field, postcode_field, address_field, id=None) %}
  <div name="address_entry_form">
    <div name="name_field">
      {{ field(form[name_field]) }}
    </div>
    <div name="address_type_field">
      {{ field(form[address_type_field]) }}
    </div>
    <div name="postcode_field">
      {{ field(form[postcode_field]) }}
    </div>
    <div class="row" id="row_id_available_addresses{{'_' + id if id else ''}}" name="row_available_addresses" style="display: none">
      <div class="three columns">
        <label for="id_available_addresses{{'_' + id if id else ''}}" class="prompt west">Please choose an address:</label>
      </div>
      <div class="six columns input-group ">
        <select id="id_available_addresses{{'_' + id if id else ''}}" name="available_addresses"></select>
      </div>
      <div class="three columns"></div>
    </div>
    <div name="address_field">
      {{ field(form[address_field]) }}
    </div>
  </div>
{% endmacro %}
