{% macro uploader(files, field=None, label="Documents", readonly=False) -%}
  {# 
    A file uploader which can be used in forms to upload files
    for different models

    Uses field's configuration (see web.form.mixins.FormFieldConfigMixin)
    for responsive styling
  #}

  {% if field %}
    {% set config = field.config %}
    {% set label_cols = config.label.cols %}
    {% set label_prompt = config.label.prompt %}
    {% set input_cols = config.input.cols %}
    {% set padding_right = config.padding.right %}
  {% else %}
    {% set label_cols = 'three' %}
    {% set label_prompt = 'west' %}
    {% set input_cols = 'six' %}
    {% set padding_right = 'three' %}
  {% endif %}

  <div class="row">
    <div class="{{label_cols}} columns">
      <label class="prompt {{label_prompt}}">{{label}}</label>
    </div>
    <div class="{{input_cols}} columns">

      {% include "forms/partials/deleted-files-toggle.html" %}

      <table class="file-list" role="file-list">
        <thead>
          <tr>
            <th scope="col">File </th>
            <th scope="col">Created By </th>
            {% if not readonly %}
              <th scope="col">Actions </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for file in files %}
              {% include "forms/partials/file-upload-row.html" %}
            {% endfor %}
        </tbody>
      </table>

      {% if not readonly %}
        {% include "forms/partials/file-upload-button.html" %}
      {% endif %}
    </div>
    <div class="{{padding_right}} columns"></div>
  </div>

  <script id="file-upload-row-template" type="text/template">
    {% include "forms/partials/file-upload-row.html" %}
  </script>

{% endmacro %}
