{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% macro inline_formset(formset, title=None, delete=True) -%}

  {% if title %}
    <h3>{{title}}</h3>
  {% endif %}

  {{forms.errors(formset)}}

  <table id="{{formset.prefix}}_table" responsiveList class="setoutList">
    <thead>
        <tr>
          {% for field in formset.fields %}
            <th scope="col">{{field.label}}</th>
          {% endfor %}
          {% if delete %}
            <th scope="col"/>
          {% endif %}
        </tr>
    </thead>
    <tbody>

      {% if formset.total_form_count() == 0 %}

      {% else %}
        {% for form in formset %}
          <tr {% if hide %} style="display:none" {%endif%}>
            {% for field in form.fields %}
              {{fields.inline_field(field)}}
            {% endfor %}
            {% if delete and form.instance.pk %}
              <td>
                {{ form.DELETE }}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
</table> 

{{ formset.management_form }}

<script type="text/javascript">
    $(function() {
      $('#{{formset.prefix}}_table tbody tr').formset({
          prefix: '{{ formset.prefix }}',
          formCssClass: '{{formset.prefix}}-form',
          addCssClass: 'icon-phone small-button button',
          addText: 'Add Telephone Number',
          deleteText: 'Remove',
      });
    })
</script>

{%- endmacro %}
