{% import "forms/fields.html" as fields %}

{# Renders a form with a form container within with icms styling #}
{% macro form(action='', method='get', container_class='', csrf_input=None, enctype='application/x-www-form-urlencoded', id='', inline=False, class="") -%}
  <form
    method="{{ method }}"
    action="{{ action }}"
    autocomplete="off"
    accept-charset="UTF-8"
    enctype="{{ enctype }}"
    {% if id %}id="{{ id }}"{% endif %}
    {% if class %} class="{{ class }}"{% endif %}
    novalidate>
      {% if csrf_input %}{{csrf_input}}{% endif %}
      <div class="container {{ 'setoutForm' if not inline else '' }} {{ container_class }}">
          {% if caller %}{{caller()}}{% endif %}
      </div>
  </form>
{%- endmacro %}

{# this is for forms #}
{% macro form_errors(form) %}
  {% if form.non_field_errors() %}
    <div class="input-error">
    {% for error in form.non_field_errors() %}
      <div class="error-message">
        {{error}}
      </div>
    {% endfor%}
    </div>
  {% endif %}
{% endmacro %}

{% macro formset_errors(form) -%}
  {% if form.non_form_errors() %}
    <div class="input-error">
    {% for error in form.non_form_errors() %}
      <div class="error-message">
        {{error}}
      </div>
    {% endfor%}
    </div>
  {% endif %}
{%- endmacro %}

{% macro submit_button(padding_cols="three", field_cols="six", btn_label="Create", data_confirm="") %}
  <div class="row">
    <div class="{{ padding_cols }} columns"></div>
    <div class="{{ field_cols }} columns">
      <ul class="menu-out flow-across">
        <li>
          <button
            type="submit"
            class="primary-button button"
            {% if data_confirm %} data-confirm="{{ data_confirm }}"{% endif %}
          >
            {{ btn_label }}
          </button>
        </li>
      </ul>
    </div>
    {# Required to ensure column padding works correctly. #}
    <div class="zero columns"></div>
  </div>
{% endmacro %}
