{% import "forms/fields.html" as fields %}

{# Renders a form with a form container within with icms styling #}
{% macro form(action='', method='get', container_class='', csrf_input=None, enctype='application/x-www-form-urlencoded', id='') -%}
  <form
    method="{{ method }}"
    action="{{ action }}"
    autocomplete="off"
    accept-charset="UTF-8"
    enctype="{{ enctype }}"
    {% if id %}id="{{ id }}"{% endif %}
    novalidate>
      {% if csrf_input %}{{csrf_input}}{% endif %}
      <div class="container setoutForm {{container_class}}">
          {% if caller %}{{caller()}}{% endif %}
      </div>
  </form>
{%- endmacro %}

{# this is for forms #}
{% macro form_errors(form) %}
  {% if form.non_field_errors() %}
    <div class="input-error">
    {% for error in form.non_field_errors() %}
      <div class="error-message">
        {{error}}
      </div>
    {% endfor%}
    </div>
  {% endif %}
{% endmacro %}

{# this is for formsets #}
{% macro errors(form) -%}
  {% if form.non_form_errors() %}
    <div class="input-error">
    {% for error in form.non_form_errors() %}
      <div class="error-message">
        {{error}}
      </div>
    {% endfor%}
    </div>
  {% endif %}
{%- endmacro %}
