{% extends "layout/no-sidebar.html" %}
{% import "forms/form.html" as forms %}
{% import "forms/list.html" as lists %}
{% import "messages/message.html" as messages %}

{% block page_title %}Editing {{form.instance.name}}{% endblock %}
{% block context_header %}Editing {{form.instance.name}}{% endblock %}

{% block main_content %}
{% call forms.form(form, fields=form.fields, csrf_input=csrf_input) -%}
<ul class="tabs -tabs big-tabs" data-tab-group="sS0Ri8_plrnqVW43/tabs-DEC043L-grid-list-switch" role="tablist">
    <li class="current-tab" aria-selected="true" data-tab-key="GRID" role="tab" aria-controls="tcsS0Ri8_plrnqVW43-tabs-DEC043L-grid-list-switchGRID">
        <a href="javascript:FOXjs.action({ref:'fssS0nz8_plrnqVW43/sS0nA6_plrnqVW43'})">Grid view</a>
    </li>
    <li id="tksS0Ri8_plrnqVW43-tabs-DEC043L-grid-list-switchLIST" class="" aria-selected="false" data-tab-key="LIST" role="tab" aria-controls="tcsS0Ri8_plrnqVW43-tabs-DEC043L-grid-list-switchLIST">
        <a href="javascript:FOXjs.action({ref:'fssS0nz8_plrnqVW43/sS0nA7_plrnqVW43'})">List view</a>
    </li>
</ul>
<div id="tcsS0Ri8_plrnqVW43-tabs-DEC043L-grid-list-switchGRID" arial-labelledby="tksS0Ri8_plrnqVW43-tabs-DEC043L-grid-list-switchGRID" class="tab-content big-tabs" style="" data-tab-group="sS0Ri8_plrnqVW43/tabs-DEC043L-grid-list-switch" data-tab-key="GRID" aria-hidden="false">
    <table class="setoutList">
        <thead>
            <tr>
                <th>Central Contact Details</th>
                <th>
                    <div class="individual-input input-group" data-xfid="g48">
                        <div class="eleven-column-input"><span id="g48" class="text-widget tight-field" aria-describedby="hint171-content">Team Coordinator</span></div>
                        <div class="input-group-addon hint-addon">
                            <div id="hint171-content" role="tooltip" class="hint-content">Only users in this list may change entries to this contact-list/team.</div>
                            <div id="hint171" aria-describedby="hint171-content" class="hint icon-info"></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="individual-input input-group" data-xfid="g49">
                        <div class="eleven-column-input"><span id="g49" class="text-widget tight-field" aria-describedby="hint172-content">Country Set Super User</span></div>
                        <div class="input-group-addon hint-addon">
                            <div id="hint172-content" role="tooltip" class="hint-content">Users in this list are able to create online forms applications.</div>
                            <div id="hint172" aria-describedby="hint172-content" class="hint icon-info"></div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for user in members %}
            <tr>
                <input type="hidden" name="team_members" value="{{user.id}}"/>
                <td style="white-space: nowrap">
                    <div class="container setoutForm">
                        <div class="row">
                            <div class="twelve columns bold">
                                <span class="text-widget ">{{user.first_name}} {{user.last_name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <span id="g153" class="text-widget ">{{user.email or ''}}
                                    <br/>
                                    {{user.organisation}}
                                    <br/>
                                    {{user.department or ''}}
                                    <br>
                                    {{user.job_title or ''}}
                                    <br>
                                    {{user.phone_number or ''}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns"><span class="text-widget "></span></div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <span id="g155" class="text-widget ">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <button type="button" class="icon-user-minus link-button inline-link-button button no-prompt-action" aria-describedby="remove_from_team_hint" aria-label="Remove">
                                </button>
                                <div id="remove_from_team_hint" role="tooltip" class="hint-content">Remove from this team</div>
                            </div>
                        </div>
                    </div>

                </td>
                {# <td> #}
                {#     <div class="individual-input" data-xfid="g157"><label id="pg157/0" for="g157/0" class="radio-label"><input id="g157/0" name="g157" value="g157/0" type="checkbox" checked="checked" /></label></div> #}
                {# </td> #}
                {# <td> #}
                {#     <div class="individual-input" data-xfid="g159"><label id="pg159/0" for="g159/0" class="radio-label"><input id="g159/0" name="g159" value="g159/0" type="checkbox" checked="checked" /></label></div> #}
                {# </td> #}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="list-actions">
        <ul class="menu-out flow-across">
            <li>
                <button name="action" type="submit" value="add_member" class="small-button icon-user-plus button">
                    Add someone to this team </button>
            </li>
        </ul>
    </div>
</div>

{%- endcall %}


<div class="content-actions">
    <ul class="menu-out flow-across">
        <li> <a href="{{url('team-list')}}" class="prev-link">Maintain Teams</a></li>
    </ul>
</div>
{% endblock %}
