{% extends "layout/no-sidebar.html" %}
{% import "forms/form.html" as forms %}
{% import "forms/list.html" as lists %}
{% import "messages/message.html" as messages %}

{% block page_title %}Editing {{form.instance.name}}{% endblock %}
{% block context_header %}Editing {{form.instance.name}}{% endblock %}

{% block main_content %}
{% call forms.form(form, fields=form.fields, csrf_input=csrf_input) -%}
    {% include "web/contacts/tabs.html" %}
{%- endcall %}


<div class="content-actions">
    <ul class="menu-out flow-across">
        <li> <a href="{{url('team-list')}}" class="prev-link">Maintain Teams</a></li>
    </ul>
</div>
{% endblock %}
