{% extends "web/domains/case/manage/prepare-response.html" %}

{% block main_content %}
  {{ super() }}
  
  <div class="info-box info-box-info">
    <h4>Document Preview</h4>

    <p>Click below if you wish to preview documents before issuing.</p>

    <ul>
    {% for country in countries %}
      <li>
        {# TODO: Revisit when we can generate an export certificate: #}
        {# https://uktrade.atlassian.net/browse/ICMSLST-1406 #}
        {# https://uktrade.atlassian.net/browse/ICMSLST-1407 #}
        {# https://uktrade.atlassian.net/browse/ICMSLST-1408 #}
        <a href="#">Certificate of Free Sale ({{ country.name }})</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
