<!DOCTYPE html>

{% load static %}

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'icms/img/favicon.png' %}" type="image/png">

    <title>ICMS - Import Case Management System</title>

    <!-- <script src="{% static 'icms/js/boomerang.js' %}" type="text/javascript"></script> -->
    <!-- <script> -->
    <!-- BOOMR.init({ -->
    <!-- beacon_url: '/icms/handle/!BOOM', -->
    <!-- log: null -->
    <!-- }); -->
    <!-- BOOMR.addVar('request_id', 's1wSOUn_plrkCVnta'); -->
    <!-- </script> -->
    <!-- <script src="{% static 'icms/js/core-header.js' %}" type="text/javascript"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/OpenSans/OpenSans.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/icomoon/icomoon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/icomoon/icomoon-png.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/icms.css' %}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{% static 'icms/css/icms-ie8.css' %}"><![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/icms-login-style' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/icms-login-fonts' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icms/css/fox_default_layout' %}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{% static 'icms/css/fox_default_layout_ie8' %}"><![endif]-->
</head>

<body><iframe id="iframe-wrapper" src="javascript:'';" style="border: none; overflow: hidden; visibility: hidden; display: none;">&nbsp;</iframe>
    <form method="post" name="mainForm" action="login" autocomplete="off" accept-charset="UTF-8"><input type="hidden" name="thread_id" id="thread_id" value="voabqvau2fgc6rqp01ip2vsgdih9bmi486g99d44knrj5isaukoqt4k3i9tlmo7ghba1gbm5e2ciraml4oib3mn1v2rj24lk13eu" />
       {% csrf_token %}
        <input type="hidden" name="app_mnem" id="app_mnem" value="icms" />
        <input type="hidden" name="field_set" id="field_set" value="fss1xmFzo_plrkCVnta" />
        <input type="hidden" name="scroll_position" id="scroll_position" value="0" />
        <input type="hidden" name="current-call-id" id="current-call-id" value="s1xmFzl_plrkCVnta" />
        <input type="hidden" name="action_name" id="action_name" />
        <input type="hidden" name="context_ref" id="context_ref" />
        <input type="hidden" name="action_params" id="action_params" value="" />
        <div class="content">
            <img alt="DIT Logo" width="21%" id="logo" src="{% static 'icms/img/dit_logo.png' %}">
            <div id="header">
                <h1>

                    Welcome to ICMS

                </h1>
                <p class="subheading">The DIT Import Licensing Branch's Import Case Management System for the issue of import licences and Certificates of Free Sale (CFS) for exporters</p>
            </div>
            <div class="clearBoth"> </div>

            <div class="clearBoth"> </div>
            <p class="lead">
                <strong>Before registering on ICMS please read the "Do I need an import licence?" or "ICMS registration and guidance on import licence and Certificates of Free Sale applications" guide to see if you need to register. Requests that do not follow the registration guidance will be refused.</strong>
            </p>

            <div class="half-width-box">
                <h2>
                    Log in to ICMS
                </h2>


                {% if login_error %}
                <div id="login-error">
                  Invalid username or password.<br /> N.B. passwords are case sensitive
                </div>
                {% endif %}

                <div class="container setoutForm login-form" data-xfid="f5">
                    <div class="row">
                        <div class="three columns" data-xfid="g9"><label id="pg9" for="g9" class="prompt west">Username
                            </label>
                        </div>
                        <div class="nine columns" data-xfid="g9"><input id="g9" name="username" type="text" value="" size="20" aria-required="true" /></div>
                    </div>
                    <div class="row">
                        <div class="three columns" data-xfid="g10"><label id="pg10" for="g10" class="prompt west">Password
                            </label>
                        </div>
                        <div class="nine columns" data-xfid="g10"><input id="g10" name="password" type="password" value="" size="20" aria-required="true" /></div>
                    </div>
                    <div class="row">
                        <div class="three columns"></div>
                        <div class="nine columns" data-xfid="g6">
                            <ul class="menu-out flow-across">
                                <li> <button id="g8" name="g8" type="submit" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-login&quot;,&quot;ctxt&quot;:&quot;s1xnISS_plrkCVnta&quot;}, this);" class="primary-button button">
                                        Sign in </button></li>
                                <li> <button id="g7" name="g7" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-forgot-password&quot;,&quot;ctxt&quot;:&quot;s1xnISS_plrkCVnta&quot;}, this);" class="link-button button">
                                        Forgot your password? </button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="half-width-box right-box">
                <h2 class="grey">
                    Contact Us
                </h2>
                <p>
                    Please read the guidance below on using ICMS. Email <a href="mailto:enquiries.ilb@trade.gov.uk">enquiries.ilb@trade.gov.uk</a> with your name and telephone number if you have a problem and we will contact you as quickly as possible.
                </p>
            </div>
            <div class="clearBoth"> </div>
            <h2>
                Registration and Guidance
            </h2>
            <p>
                Detailed guidance on when and how to apply for import licences and Certificates of Free Sale for export can be found in the documents below.
            </p>
            <div class="half-width-box">
                <ul class="file-list">
                    <li>
                        <a href="/docs/DoINeedAnImportLicence.pdf" class="pdf" target="_blank">Do I Need an Import Licence?</a>
                    </li>
                    <li>
                        <a href="/docs/ApplicationGuidance.pdf" class="pdf" target="_blank">ICMS registration and guidance on import licence and Certificates of Free Sale applications</a>
                    </li>
                </ul>
            </div>
            <div class="half-width-box right-box">
                <ul class="file-list">
                    <li>
                        <a href="/docs/UsingPopups.pdf" class="pdf" target="_blank">Advice on Popups & Downloads</a>
                    </li>
                    <li>
                        <a href="/docs/ValidateDigSigs.pdf" class="pdf" target="_blank">Validating Digital Signatures</a>
                    </li>
                </ul>
            </div>
            <div class="clearBoth"> </div>
            <button id="g11" name="g11" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-register&quot;,&quot;ctxt&quot;:&quot;s1xnJp6_plrkCVnta&quot;}, this);" class="primary-button button">
                Register </button>

        </div>
        <div id="footer">
            <div id="footer-content">
                © <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">Crown Copyright</a>. All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated. <a href="https://www.ilb.trade.gov.uk/docs/DIT_DDaT_Fair_Processing_Notice_ICMS.pdf">Fair Processing Notice</a>
            </div>
        </div>
    </form>
    <!-- <script src="{% static 'icms/js/core-footer.js' %}" type="text/javascript"></script> -->
    <!-- <script type="text/javascript"> -->
    <!-- $(document).ready(function() { -->
    <!-- FOXjs.init(function() { -->
    <!-- FOXjs.focus('g9', -9999); -->
    <!-- }); -->
    <!-- }); -->
    <!-- </script> -->
</body>

</html>
