{% extends "icms/base.html" %}

{% block title %}ICMS - Import Case Management System{% endblock %}

{% block content %}
{% load static %}
<img alt="DIT Logo" width="21%" id="logo" src="{% static 'icms/img/dit_logo.png' %}">
<div id="header">
    <h1>

        Welcome to ICMS

    </h1>
    <p class="subheading">The DIT Import Licensing Branch's Import Case Management System for the issue of import licences and Certificates of Free Sale (CFS) for exporters</p>
</div>
<div class="clearBoth"> </div>

<div class="clearBoth"> </div>
<p class="lead">
    <strong>Before registering on ICMS please read the "Do I need an import licence?" or "ICMS registration and guidance on import licence and Certificates of Free Sale applications" guide to see if you need to register. Requests that do not follow the registration guidance will be refused.</strong>
</p>

<div class="half-width-box">
    <h2>
        Log in to ICMS
    </h2>


    {% if form.non_field_errors %}
    <div id="login-error">
        Invalid username or password.<br /> N.B. passwords are case sensitive
    </div>
    {% endif %}

    {% if next %}
    <div id="login-error">
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
    </div>
    {% endif %}


    <form method="post" name="mainForm" action="{% url 'login' %}" autocomplete="off" accept-charset="UTF-8">
        {% csrf_token %}
        <div class="container setoutForm login-form" data-xfid="f5">
            <div class="row">
                <div class="three columns" data-xfid="g9"><label id="pg9" for="g9" class="prompt west">Username
                    </label>
                </div>
                <div class="nine columns" data-xfid="g9"><input id="g9" name="username" type="text" value="" size="20" aria-required="true" /></div>
            </div>
            <div class="row">
                <div class="three columns" data-xfid="g10"><label id="pg10" for="g10" class="prompt west">Password
                    </label>
                </div>
                <div class="nine columns" data-xfid="g10"><input id="g10" name="password" type="password" value="" size="20" aria-required="true" /></div>
            </div>
            <div class="row">
                <div class="three columns"></div>
                <div class="nine columns" data-xfid="g6">
                    <ul class="menu-out flow-across">
                        <li> <button id="g8" name="g8" type="submit" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-login&quot;,&quot;ctxt&quot;:&quot;s1xnISS_plrkCVnta&quot;}, this);" class="primary-button button">
                                Sign in </button></li>
                        <li> <button id="g7" name="g7" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-forgot-password&quot;,&quot;ctxt&quot;:&quot;s1xnISS_plrkCVnta&quot;}, this);" class="link-button button">
                                Forgot your password? </button></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="half-width-box right-box">
    <h2 class="grey">
        Contact Us
    </h2>
    <p>
        Please read the guidance below on using ICMS. Email <a href="mailto:enquiries.ilb@trade.gov.uk">enquiries.ilb@trade.gov.uk</a> with your name and telephone number if you have a problem and we will contact you as quickly as possible.
    </p>
</div>
<div class="clearBoth"> </div>
<h2>
    Registration and Guidance
</h2>
<p>
    Detailed guidance on when and how to apply for import licences and Certificates of Free Sale for export can be found in the documents below.
</p>
<div class="half-width-box">
    <ul class="file-list">
        <li>
            <a href="{% static '/icms/docs/DoINeedAnImportLicence.pdf' %}" class="pdf" target="_blank">Do I Need an Import Licence?</a>
        </li>
        <li>
            <a href="{% static 'icms/docs/ApplicationGuidance.pdf' %}" class="pdf" target="_blank">ICMS registration and guidance on import licence and Certificates of Free Sale applications</a>
        </li>
    </ul>
</div>
<div class="half-width-box right-box">
    <ul class="file-list">
        <li>
            <a href="{% static 'icms/docs/UsingPopups.pdf' %}" class="pdf" target="_blank">Advice on Popups & Downloads</a>
        </li>
        <li>
            <a href="{% static 'icms/docs/ValidateDigSigs.pdf' %}" class="pdf" target="_blank">Validating Digital Signatures</a>
        </li>
    </ul>
</div>
<div class="clearBoth"> </div>
<button id="g11" name="g11" type="button" onclick="javascript:FOXjs.action({&quot;ref&quot;:&quot;action-register&quot;,&quot;ctxt&quot;:&quot;s1xnJp6_plrkCVnta&quot;}, this);" class="primary-button button">
    Register </button>
{% endblock %}
