@page {
    size: A4;
    margin-top: 40px;
    margin-right: 65px;
    margin-bottom: 20px;
    margin-left: 65px;

    @top-right {
        content: "Page " counter(page) " of " counter(pages) " ";
        font-family: Helvetica;
        font-size: 13px;
        width: fit-content;
        height: fit-content;
        text-align: right;
        padding-top: 78px;
        padding-right: 10px;
        padding-bottom: 14px;
    }

    @top-left {
        padding-top: 78px;
        padding-left: 10px;
        padding-bottom: 14px;
        content: element(header);
    }
}

body {
    font-family: Helvetica;
}

header {
    position: running(header);
}

.reference {
    font-size: 13px;
}

#dbt-logo {
    width: 210px;
    margin: -30px 0 15px 64px;
    display: inline-block;
    vertical-align: top;
}

hr {
    border-top: 2px solid black;
    border-bottom: none;
}

.title-page {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    height: 815px;
    align-content: space-between;
}

.title-block {
    flex: 100% 0 0;
}

.title-footer {
    display: block;
    flex: 100% 0 0;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
}

.title {
    font-size: 16px;
    color: black;
    margin-bottom: 60px;
}

.title-line {
    margin-bottom: 19px;
}

.country {
    font-size: 20px;
    margin-bottom: 38px;
}

p {
    line-height: 1.2em;
}

.signature-block {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

.signature,
.qr-text-block {
    display: block;
    flex: 31% 0 0;
}

.qr-code {
    flex: 38% 0 0;
    flex-direction: column;
}

.qr-img {
    width: 110px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

.qr-placeholder {
    display: block;
    text-align: center;
    margin-top: 24px;
}

.qr-text-block {
    padding-top: 12px;
}

.qr-text {
    font-size: 11px;
    margin: 0;
}

.date-block {
    margin-top: 24px;
}

.date-block>span {
    display: block;
    font-size: 16px;
}

.centre {
    text-align: center;
}

.title-line {
    font-weight: bold;
}

.dbt_logo_watermark {
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(100%) opacity(0.1);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 20px;
    margin-right: 5px;
}

.above_watermark {
    z-index: 2;
}
