@page {
    size: A4;
    margin-top: 40px;
    margin-right: 65px;
    margin-bottom: 20px;
    margin-left: 65px;
}

.reference {
    font-size: 15px;
}

.header-logo {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 200px;
    margin-left: 8px;
}

hr {
    border-top: 0.15em solid black;
    border-bottom: none;
}

.title-page {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    height: 815px;
    align-content: space-between;
}

.title-block {
    flex: 100% 0 0;
}

.title-footer {
    display: block;
    flex: 100% 0 0;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
}

.title {
    font-size: 16px;
    color: black;
    margin-bottom: 60px;
}

.title-line {
    margin-bottom: 25px;
}

.country {
    font-size: 20px;
    margin-bottom: 38px;
    font-weight: bold;
}

p {
    line-height: 1.3em;
}

.signature-block {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

.signature,
.qr-text-block {
    display: block;
    flex: 31% 0 0;
}

.qr-code {
    flex: 38% 0 0;
    flex-direction: column;
}

.qr-img {
    width: 140px;
    height: 140px;
    display: block;
    margin: 0 auto;
}

.qr-placeholder {
    display: block;
    text-align: center;
    margin-top: 24px;
}

.qr-text-block {
    padding-top: 12px;
}

.qr-text {
    font-size: 11px;
    margin: 0;
}

.date-block {
    margin-top: 24px;
}

.date-block>span {
    display: block;
    font-size: 16px;
}

.centre {
    text-align: center;
}

.dbt_logo_watermark {
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(100%) opacity(0.1);
    z-index: 1;
    width: 100%;
    height: 70%;
    position: absolute;
    margin-top: 20px;
    margin-right: 5px;
    page-break-inside: avoid;
    page-break-after: avoid;
}

.above_watermark {
    z-index: 2;
}
