@page {
    @bottom-left {
        content: element(footer);
    }
}

@page:first {
    @bottom-left {
        content: none;
    }
}

.schedule-block {
    page-break-after: always;
    page-break-before: always;
}

.schedule-index {
    font-size: 13px;
    margin-right: 0;
    margin-top: -2px;
    text-align: right;
}

.schedule-header {
    margin-top: 80px;
}

.product-header {
    margin-bottom: 2px;
}

.product-name {
    margin-top: 2px;
    margin-bottom: 2px;
}

.schedule-block {
    height: 100vh;
    position: relative;
}

.schedule-block .schedule_only_valid_block{
    position: absolute;
    bottom: 0;
    left: 0;
}
