@page {
    size: A4;
    margin: 80px 85px 220px 86px !important;

    @bottom-center {
        content: element(footer);
    }
}

footer {
    position: running(footer);
    margin-bottom: 85px;
}

.signature-block {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

.signature,
.qr-code,
.qr-text {
    display: block;
    flex: 33% 0 0;
}

.qr-text {
    font-size: 8px;
}

body {
    font-family: Helvetica;
    counter-reset: li-counter;
}

p {
    line-height: 1.2em;
}

#dbt-logo {
    width: 330px;
    margin-top: -50px;
    margin-left: -45px;
    display: inline-block;
    vertical-align: top;
}

.reference {
    font-size: 13px;
    margin-left: 210px;
}

.reference.preview-orange {
    margin-left: 124px;
}

.issue-date {
    margin-top: -6px;
    margin-bottom: 18px;
}

.title-line {
    margin-bottom: 12px;
}


ol {
    list-style: none;
}

ol:first-of-type {
    margin-bottom: 40px;
}

ol li {
    counter-increment: li-counter;
}

ol li::before {
    content: counter(li-counter) ". ";
    position: absolute;
    left: 8px;
}

ol li:not(:last-child) {
    margin-bottom: 12px;
 }

div.com-item p {
    margin: 0;
}

.com-item {
    margin-bottom: 12px;
}

.statements {
    margin-top: 40px;
}
