@page {
    size: A4;
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
    @bottom-center {
        content: element(footer);
    }
}

.signature-block {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

.signature,
.qr-code,
.qr-text {
    display: block;
    flex: 33% 0 0;
}

.qr-text {
    font-size: 12px;
}

body {
    counter-reset: li-counter;
}

#dbt-logo {
    width: 330px;
    margin-top: -50px;
    margin-left: -45px;
    display: inline-block;
    vertical-align: top;
}


.issue-date {
    margin-bottom: 18px;
}

.title-line {
    margin-bottom: 12px;
}


ol:first-of-type {
    margin-bottom: 40px;
}

ol li {
    counter-increment: li-counter;
}

ol li:not(:last-child) {
    margin-bottom: 12px;
 }

div.com-item p {
    margin: 0;
}

.com-item {
    margin-bottom: 12px;
}

.statements {
    margin-top: 40px;
}


ol li {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}
