* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

@page {
    size: A4;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align_centre {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    flex: 100% 0 0;
}

.two-third {
    flex: 67% 0 0;
}

.half {
    flex: 50% 0 0;
}

.third {
    flex: 33% 0 0;
}

.thirty_width {
    flex: 30% 0 0;
}

.quarter {
    flex: 25% 0 0;
}

.bordered {
    border: 1px solid #000;
    box-decoration-break: clone;
}

.b-left {
    border-left: 1px solid #000;
}

.b-right {
    border-right: 1px solid #000;
}

.b-top {
    border-top: 1px solid #000;
}

.b-bottom {
    border-bottom: 1px solid #000;
}

* {
    color: black;
    -webkit-print-color-adjust: exact;
}

.small-text{
    font-size: 10px;
}

.header-block {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 160px;

}

ul, ol {
    list-style-position: outside;
}

.additional-remarks {
    color: #0B8433;
}

.preview-orange {
    color: darkorange;
}

.preview-green {
    color: #0B8433;
}

.align_bottom_footer {
    position: absolute;
    bottom: 0;
}

p, li {
    font-weight: 5;
}

strong {
    font-weight: bold;
}

.certificate-header {
    margin-bottom: 40px;
}

.black {
    color: black;
}

.no_print_break {
    break-inside: avoid;
}

.ml-1 {
    margin-left: 1em;
}
