* {
    color: black;
}

@page {
    size: A4;
    margin: 48px 36px 60px 72px;


    @top-left {
        content: element(header);
    }

}


header {
    font-size: 10px;
    position: running(header);
    margin-bottom: 15px;
}

footer {
    position: fixed;
    left: -172.8px;
    top: 206px;
    transform: rotate(270deg);

}

main {
    box-decoration-break: clone;
}


p {
    font-size: 14px;
    margin: 2px;
}

.holders {
    padding: 10px 103px 11px 135px;
    font-size: 14px;
}

.holder-number {
    padding: 4px 9px 20px 8px;
    height: 20px;
    width: 18px;
    position: fixed;
    left: -28px;
    text-align: center;
}

.holder-number-first {
    top: 8px;
}

.holder-number-last {
    top: 376px;
}

.content-block {
    padding: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.details-text {
    font-size: 10px;
}

.issue-number, .port {
    flex-basis: 50px;
    padding-top: 0;
}

.authority {
    flex: 100px 0 0;
    padding-top: 0;
}

.manufacture, .shipment, .validity {
    padding-top: 0;
}

.endorsements {
    min-height: 150px;
}

#dbt-logo {
    width: 330px;
    margin: -40px 0 -35px -40px;
}

@media print {
    .break_endorsement {
        page-break-after: always;
        border-bottom: 1px solid black;
        margin-left: -8px;
        margin-right: -8px;
    }

    .break_endorsement_after {
        border-top: 1px solid black;
        margin-left: -8px;
        margin-right: -8px;
    }
}

