:root {
    font-family: Helvetica;
}

@page {
    size: A4;
    margin: 60px 40px 60px 80px;


    @top-center {
        content: element(header);
        width: 100%;
    }

}

p {
    font-size: 10px;
    margin: 1px;
}

header {
    font-size: 10px;
    position: running(header);
}

header > div {
    align-content: flex-end;
    margin-top: 24px;
}

header > div > p {
    font-size: 12px;
}

.eu {
    padding-left: 16px;
}

.quota {
    padding-left: 24px;
}

footer {
    position: fixed;
    left: -172.8px;
    top: 206px;
    transform: rotate(270deg);

}

main {
    box-decoration-break: clone;
}

.holders {
    padding: 10px 103px 11px 135px;
    font-size: 14px;
}

.holder-number {
    padding: 4px 9px 20px 8px;
    height: 20px;
    width: 18px;
    position: fixed;
    left: -28px;
    text-align: center;
}

.holder-number-first {
    top: 8px;
}

.holder-number-last {
    top: 376px;
}

.content-block {
    padding: 8px;
    min-height: 40px;
}

.details-text {
    font-size: 10px;
}

.commodity-code {
    min-height: 60px;
}

.quantity {
    margin-top: -32px;
}

.goods, .endorsements {
    min-height: 150px;
}

#dbt-logo {
    width: 330px;
    margin: -40px 0 -35px -40px;
}
