{% extends "layout/sidebar.html" %}

{% import "forms/forms.html" as forms %}
{% import "forms/fields.html" as fields %}

{% block context_header %}
  Create Commodity
{% endblock %}

{% block sidebar %}
    {% include "partial/commodity/sidebar.html" %}
{% endblock %}

{% block content_actions %}
  <div class="content-actions">
    <ul class="menu-out flow-across">
      <li>
        <a href="{{ icms_url('commodity-list') }}" class="prev-link">
          Maintain Commodities
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}
  {% include "web/domains/commodity/commodity-help-text.html" %}
  {% call forms.form(action='', method='post', csrf_input=csrf_input) -%}
    {% block fields %}
      {% for field in form %}
        {{ fields.field(field) }}
      {% endfor %}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="three columns"></div>
        <div class="eight columns">
          <ul class="menu-out flow-across">
            <li>
              <input
                type="submit"
                name="action"
                class="primary-button button"
                value="Create" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endcall %}

{% endblock %}
